<plugin>
	<nom>Twitstream</nom>
	<slogan>Afficher des recherches dans Twitter par hashtag</slogan>
	<auteur>cyp</auteur>
    <licence>GNU/GPL - (c) 2010</licence>
	<version>0.1.0</version>
	<version_base>0.1</version_base>
	<etat>stable</etat>
	<description>
Twitstream vous permet d'extraire des gazouillis par recherche de hashtag sur vos pages web
_ Jquery propos&#233; par [->http://kjc-designs.com/TwitStream] de [@noah_cooper->http://twitter.com/#!/noah_cooper]
	</description>
	<lien>http://contrib.spip.net/Twitstream</lien>
	<prefix>twitstream</prefix>
	<icon>img_pack/twitstream-64.png</icon>
	<pipeline>
		<nom>insert_head_css</nom>
		<inclure>twitstream_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>twitstream_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.1.0;2.1.99]" />
	<categorie>communication</categorie>
</plugin>