<plugin>
	<nom>jQuery pour SPIP 1.9.2</nom>
	<auteur>Patrice Vanneufville, Librairie javascript : John Resig pour [jquery.js->http://jquery.com]</auteur>
	<version>1.2.0</version>
	<etat>stable</etat>
	<description>
D&#233;sactive l'ancienne librairie {jQuery} distribu&#233;e avec SPIP 1.92x ({{jquery.js v1.1.1}}) et ajoute un appel &#224; {{jquery.js v1.2.6}} utilis&#233; par SPIP 2.0.x dans l'ent&#234;te publique (fonctionne sur les squelettes disposant de la balise <code>#INSERT_HEAD</code>).

Ce plugin vous permet donc de b&#233;n&#233;ficier d'une version r&#233;cente de {jQuery} pour vos squelettes, tout en gardant en partie priv&#233;e la version originale. Si vous avez install&#233; le plugin {{CFG}}, choisissez la version de {jQuery} &#224; utiliser : {{v1.1.1}}, {{v1.2.6}} ou {{v1.3.2}}.

Ajout au passage du pipeline {jquery_plugins} et des plugins {jquery.form}, {jquery.cookie} et {ajaxCallback}.

{{Important}} : ce plugin ne concerne que les versions 1.9.2x de SPIP.
	</description>
	<lien></lien> <!-- URI de documentation -->
	<prefix>
	JQuery192
	</prefix>
	<options> <!-- fichier charge a chaque hit -->
	jquery_192_options.php
	</options>
	<necessite id="SPIP" version="[1.9.2;1.9.2]" />
	<categorie>outil</categorie>
</plugin>