
.materialicons { display:inline-block; width:50px; height:50px; }
.materialicons svg { width: 100%; height: 100%; }
.materialicons svg path { fill:#944db7; }
.materialicons svg path#🔹-Secondary-Color { fill:#d4b3e5; }
