#conteneur {
	margin-top : 15pt; 
	font-size: 8pt;
	width:750px;
}

#menu{
	float:left;
	width:150pt;
	text-align: left;
	margin:0 10px 0 0;
}

.raccourcis ul,.legend ul{
	list-style-type:none;
	padding-left:30px;
}
.raccourcis li{
	margin-top:5px
}
 
#principal {
	margin:0%;
}

#tetiere{margin:10px}

#adherent input, #adherent select, #adherent textarea{
	width:200px;
}

sup {font-size:60%}

.search_field{
	width:100px
}
#case{
	width:120px
}

#principal table.cadre-r {padding:5px;}
#principal tr, #droite tr { background-color : #E0E0E0 ;}
#principal tr.row { background:#FFF8DC; }
#principal tr.even { background:#AFF5DF; }

#principal td, #droite td {padding:3px;text-align:center}

.cadre-info {margin-bottom:10px}