/*
html, body, .hentry, #skrollr-body, .remplir_vertical,  .remplir_vertical .interieur {
	height: 100%;
}
*/
.remplir_vertical {
	height: 600px;
	height: 100vh;
}
.remplir_vertical .interieur {
	overflow: auto;
   display: flex;
   align-items: center;
}
.proportions_image.avec_fond {
	position: relative;
}
.proportions_image.avec_fond .image_fond picture {
	display: block;
}
@media (min-width: 741px) {
	.proportions_image.avec_fond .fonds_contenu {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
	}
}
.proportions_image.avec_fond .centrer {
	background: none !important;
}

.remplir_vertical .interieur .fonds_contenu {
	width: 100%;
}
.avec_fond {
	overflow: hidden;
}
.avec_fond_fonce, .avec_fond_fonce a {
	color: white;
}
.avec_fond_clair, .avec_fond_clair a {
	color: black;
}
.avec_fond > .interieur {
	position: relative;
	background-attachment: fixed;
	
	@media (max-width: 1024px) {
		background-attachment: scroll;
	}
}
.avec_fond div.fonds_fond_haut, 
.avec_fond div.fonds_fond_bas {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 1;
}
.avec_fond div.fonds_svg {
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.avec_fond div.fonds_img_bas, 
.avec_fond div.fonds_img_haut {
	display: block;
	position: relative;
}
.avec_fond div.fonds_fond_haut {
	top: 0;
}
.avec_fond div.fonds_fond_bas {
	bottom: 0;
}
.avec_fond div.fonds_credit_haut, 
.avec_fond div.fonds_credit_bas {
	position: relative;
	z-index: 2;
	padding: 0em 2em;
	font-size: 13px;
	z-index: 2;
	opacity: 1;
	text-align: right;
}
.avec_fond div.fonds_credit_haut > span, 
.avec_fond div.fonds_credit_bas > span {
	padding: 3px 5px;
}
.avec_fond div.fonds_credit_haut {
	top: 5px;
}
.avec_fond div.fonds_credit_bas {
	bottom: 5px;
}
.avec_fond div.fonds_contenu {
	position: relative;
	z-index: 2;
}
.avec_fond div.fonds_fond_bas .conteneur_image_responsive_h img {
	top: auto;
	bottom: 0;
	position: absolute;
}
.avec_fond div.fonds_fond_haut .conteneur_image_responsive_h,
.avec_fond div.fonds_fond_bas .conteneur_image_responsive_h,
.avec_fond div.fonds_img_haut .conteneur_image_responsive_h,
.avec_fond div.fonds_img_bas .conteneur_image_responsive_h {
	display: block;
}