<plugin>
	<nom> <!-- Nom du plugin -->
		Marque-pages
	</nom>
	<auteur>	<!-- Auteur du plugin -->
 		RastaPopoulos - Distribu&eacute; sous licence GPL
	</auteur>
	<version> <!-- Version du plugin -->
		0.2
	</version>
	<etat> <!-- Etat du plugin, au choix : dev (developpement), test, stable, experimental -->
		dev
	</etat>
	<description>
Des outils pour d&eacute;velopper un syst&egrave;me de marque-pages en ligne, du style Scuttle.

N&eacute;cessite les plugins crayons et tag-machine.
	</description>
	<lien></lien> <!-- URI de documentation -->
	<prefix> 
		marquepages
	</prefix>
	<icon>
		images/marquepages.png
	</icon>
	<options> 
		marquepages_options.php
	</options>
	<fonctions>
		marquepages_fonctions.php
	</fonctions>
	<pipeline>
		<nom>insert_head</nom> 
		<inclure>marquepages_pipelines.php</inclure>
	</pipeline>
	
	<necessite id='etiquettes' version='[0.2;)' />
</plugin>
