/* boutonstexte.css */
.boutonstexte {
	float : right;
}
.boutonstexte button {
	position:relative;
	top: -10px;
	padding: 0;
	border: 1px transparent solid;
	background-color: transparent;
}
.textsizeup, .textsizedown, .textonly {
	cursor: pointer;
}
.boutonstexte button:hover {
	border: 1px red solid;
}
.boutonstexte button img {
	behavior:url(win_png.htc);
}

div.onlytext {
/* je sais pas comment on fait rtl/ltr */
	text-align: left;
}
