/* boutonstexte.css */
.boutonstexte {
	float : right;
}
.boutonstexte button {
	position:relative;
	top: -10px;
	padding: 0;
	border: 1px transparent solid;
	background-color: transparent;
}
.textsizeup, .textsizedown, .textonly {
	cursor: pointer;
}
.boutonstexte button:hover {
	border: 1px red solid;
}
.boutonstexte button img {
	behavior:url(win_png.htc);
}

div.onlytext {
	text-align: left;
	margin:0 auto!important;
	width:19cm!important;
}

div.onlytext p {
	padding-bottom:1em;
}
