<plugin>
	<nom>OpenSearch</nom>
	<auteur>b_b</auteur>
	<version>0.1.1</version>
	<etat>stable</etat>
	<prefix>opensearch</prefix>
	<description>
		<multi>
			[fr]Plugin qui permet de proposer aux visiteurs de votre site d'ajouter un moteur de recherche personnalis&#233;e &#224; leur navigateur.
			[en]Plugin which enables to offer the users to add a custom search engine related to your website on their browser.
		</multi>
	</description>
	<lien></lien>
	<licence>GNU/GPL</licence>
	<icon>images/opensearch-64.png</icon>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>opensearch_pipelines.php</inclure>
	</pipeline>
	<utilise id="saisies" version="[1.1;]" />
	<utilise id="cfg" version="[1.13.0;]" />
	<categorie>navigation</categorie>
</plugin>
