<plugin>
	<nom>
		<multi>
		[fr]ACTIvit&#233; du JOUR
		[es]ACTIvidad del D&#205;A
		[en]Daily ACTivity
		</multi>
	</nom>
	<icon>img_pack/activ_jour.gif</icon>
	<auteur>[Scoty->scoty@koakidi.com], ordilibre@yahoo.fr</auteur>
	<version>2.1.0</version>
	<etat>dev</etat>
	<slogan>
		<multi>
		[fr]Statistiques de l'activit&#233; &#233;ditoriale du jour et de la veille
		</multi>
	</slogan>
	<description>
		<multi>
		[fr]Activit&eacute; du jour et de la veille : Visites, petitions, referers...
		[es]Actividad del d&iacute;a y de la v&iacute;spera: visitas, peticiones, referers...
		[en]Daily activity of today and the eve: visits, petitions, referers...
		</multi>
	</description>
	<prefix>actijour</prefix>
	<lien>http://www.koakidi.com/spip.php?article205</lien>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>actijour_pipe.php</inclure>
	</pipeline>
	<bouton id="actijour_pg20" parent="statistiques_visites">
		<icone>img_pack/activ_jour.gif</icone>
		<titre>acjr:activite_du_jour</titre>
		<url>actijour_pg</url>
	</bouton>
	<bouton id="actijour21" parent="bando_reactions">
		<titre>acjr:activite_du_jour</titre>
		<icone>img_pack/activ_jour-16.png</icone>
		<url>actijour_pg</url>
	</bouton>
	<categorie>statistique</categorie>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
</plugin>