div.portfolio_galerie {
	background: #000000;
	padding: 0;
	color: #ffffff;
	margin-top: 10px;
}

div.portfolio_galerie h3,
div.portfolio_galerie h3 .ahah_surligne_1,
div.portfolio_galerie h3 .ahah_surligne_2,
div.portfolio_galerie h3 .ahah_surligne_3 {
	background: #191919;
	text-align: center;
	font: small-caps bold small 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	color: #ffffff;
}
.portfolio_galerie .ahah_surligne_1 { background: #4c4c4c; }
.portfolio_galerie .ahah_surligne_2 { background: #333333; }
.portfolio_galerie .ahah_surligne_3 { background: #191919; }

div.portfolio_galerie .pagination_portfolio {
	display: block;
}

div.portfolio_galerie .pagination_portfolio img {
	border: 1px solid #b3b3b3;
	margin: 5px;
	padding: 5px;
	background: #ffffff;
	width: 60px;
	height: 60px;
}

div.portfolio_galerie .pagination_portfolio .imagette {
	float: left;
	display: block;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: -3px;
}

div.portfolio_galerie .pagination_portfolio a img {
	border: 1px solid #ff6fcf;
	filter: alpha(opacity=60);
	opacity: 0.6;
	-moz-opacity: 0.6;
}

div.portfolio_galerie .pagination_portfolio a:hover img {
	border: 1px solid #ff0080;
	filter: alpha(opacity=100);
	opacity: 1.0;
	-moz-opacity: 1.0;
}

div.portfolio_galerie .pagination_galerie {
	clear: left;
	padding: 10px;
	display: block;
}

.pagination {
	text-align: center;
	font: bold x-small 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	color: #ffffff;
	height: 20px;
	background: #000000;
}

.pagination a {
	text-decoration: none;
	color: #ffffff;
}
.pagination .on {
	text-decoration: none;
	color: #888888;
}

.pagination a:hover {
	text-decoration: none;
	color: #ff0080;
}

div.portfolio_galerie .ahah_surligne_1,
div.portfolio_document .ahah_surligne_1 {
	background: #4c4c4c;
}

div.portfolio_galerie .ahah_surligne_2,
div.portfolio_document .ahah_surligne_2 {
	background: #333333;
}

div.portfolio_galerie .ahah_surligne_3,
div.portfolio_document .ahah_surligne_3 {
	background: #191919;
}

#document_actif {
	background: #191919;
}

.image img {
	border: 1px solid #b3b3b3;
	margin: 10px;
	padding: 5px;
	background: #ffffff;
}

/* style plugins ahah */
.ahah_searching_left{
	width: 16px;
	height: 16px;
	background: url(searching.gif) top left no-repeat;
	text-align: center;
}
.ahah_searching_right{
	width: 16px;
	height: 16px;
	background: url(searching.gif) top left no-repeat;
	text-align: center;
}
