<plugin>
	<nom>D&#233;finitions et FAQ</nom>
	<slogan>Mettre en valeur les d&#233;finitions et Foire aux Questions</slogan>
	<auteur>[romy.tetue.net->http://romy.tetue.net]</auteur>
	<icon>themes/spip/images/faq-32.png</icon>
	<licence>(c) 2009 GPL</licence>
	<version>1.0.1</version>
	<etat>stable</etat>
	<description>Ce petit plugin valorise les termes d&#233;finis (<code>dfn</code>) et les listes de d&#233;finitions (<code>dl</code>, <code>dt</code>, <code>dd</code>). Il transforme les listes de d&#233;finitions marqu&#233;es &#171;<code>faq</code>&#187; en <abbr title="Foire Aux Questions">FAQ</abbr> d&#233;pliable.</description>
	<lien>http://www.spip-contrib.net/?rubrique891</lien>
	<prefix>faq</prefix>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>faq_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head_css</nom>
		<inclure>faq_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.0.0;3.0.0]" />
	<categorie>navigation</categorie>
</plugin>