.autocompleter
{
	border: 1px solid #444;
	min-width: 250px;
	background-color: #ccc;
}
.autocompleter ul li
{
	padding: 2px 10px;
	white-space: nowrap;
	font-size: 11px;
}
.selectAutocompleter
{
	background-color:#8B6F92;
	color:white;
}

.autocomplete-message {
	color: orange;
}