.zotspip_item {
	margin-bottom: 5px;
}
.zotspip_item .liens {
	float: right;
	margin-left: 0.5em;
	text-align: center;
	width: 16px;
}
.zotspip_item .details {
	font-size:90%;
}

.zotspip_item p {
	margin:0;
	padding:0;
}

.zotspip_item .sousitem div.note {
	border: solid 1px #ccc;
	margin-bottom: 0.5em;
}

.formulaire_spip .zotspip_itemField input.text {
	width: 99%;
}

.formulaire_spip .editer_tag_zotero input.text {
	width: 90%;
}


.formulaire_spip .editer_creator input.firstName,
.formulaire_spip .editer_creator input.lastName,
.formulaire_spip .editer_creator select.creatorType
 {
	width: 30%;
}

.formulaire_spip .remove_creator img,
.formulaire_spip .remove_tag img {
	vertical-align: middle;
}

.zotspip_select_ref {
	float: right;
	margin-top: 3px;
	margin-left: 10px;
}