

fieldset.co_vcard {width:28%; display:inline-block; min-height:130px; vertical-align:top;}
fieldset.co_vcard dl {overflow:hidden;}
fieldset.co_vcard dt {font-size:0.7em; font-variant:small-caps;}
fieldset.co_vcard dd {font-size:0.7em; margin-left:1em; }