.formidable_tablesorter .largeur {
	width:auto;
	margin-left:1em;
	margin-right:1em;
}
.formidable_tablesorter #conteneur, .formidable_tablesorter #contenu{
	width:100%;
}
.formidable_tablesorter #navigation {
	display:none;
}
.formidable_tablesorter .boutons{
	text-align:left;
}
.formidable_tablesorter .boutons label {
	box-sizing:border-box;
	padding:4px;
}
.formidable_tablesorter #columnSelectorButton{
	display:inline-block;
}
.formidable_tablesorter #columnSelector label{
	display:block;
}


