.formidable_tablesorter .largeur {
	width:auto;
	margin-left:1em;
	margin-right:1em;
}
.formidable_tablesorter #conteneur, .formidable_tablesorter #contenu{
	width:100%;
}
.formidable_tablesorter #navigation {
	display:none;
}
.formidable_tablesorter .boutons{
	text-align:left;
}
.formidable_tablesorter #tablesorter_boutons {
	max-width:1024px;
}
.formidable_tablesorter .boutons label {
	box-sizing:border-box;
	padding:4px;
}
.formidable_tablesorter #columnSelectorButton{
	display:inline-block;
}
.formidable_tablesorter #columnSelector {
	display: grid;
	grid-template-columns: max-content max-content;
}
.formidable_tablesorter #columnSelector label{
	display:block;
}
.formidable_tablesorter #columnSelectorCheckAll {
	grid-column-end: span 2;
}
.tablesorter-ignoreRow th {
	text-align:center;
	font-size:1.25em;
	padding-top:1em;
	padding-bottom:1em;
}
.tablesorter tr > *{
	border:1px black solid;
}
.tablesorter-sticky-wrapper caption {
	margin: 0;
}
