/** Réglages généraux de la page **/
.formidable_tablesorter .largeur {
	width:auto;
	margin-left:1em;
	margin-right:1em;
}
.formidable_tablesorter #conteneur, .formidable_tablesorter #contenu{
	width:100%;
}
.formidable_tablesorter #navigation {
	display:none;
}
/** Réglages de la table, v
 * éviter les debordement,
 * inspiré de https://mottie.github.io/tablesorter/docs/example-widget-resizable.html
**/
.formidable_tablesorter-wrapper {
	max-width:100%;
	width:100%;
	overflow-x:scroll;
}
.formidable_tablesorter-wrapper table {
  width: auto;
}
.formidable_tablesorter-wrapper .tablesorter td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 10px;
}
.formidable_tablesorter-wrapper .tablesorter .tablesorter th {
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 10px;
}
/** Styles cellules et entetes divers **/
.tablesorter-ignoreRow th {
	text-align:center;
	font-size:1.25em;
	padding-bottom:1em;
}
.tablesorter .move-arrows {
	display: flex;
	justify-content: space-between;
	margin-left:0.5em;
	margin-right:0.5em;
}
.tablesorter .move-arrows.first{
	justify-content:end;
}
.tablesorter tr > *{
	border:1px black solid;
}
.tablesorter-sticky-wrapper caption {
	margin: 0;
}
/** Le bloc d'action et d'aide**/
.formidable_tablesorter-preambule {
	display:flex;
	justify-content:space-around;
}
.formidable_tablesorter-preambule > *{
	width:45%;
	max-width:1024px;
	height:min-content;
}
.formidable_tablesorter-preambule .aide {
	padding:1ex;
}
.formidable_tablesorter-preambule .boutons{
	text-align:left;
}
.formidable_tablesorter-preambule .boutons label {
	padding:4px;
}
.formidable_tablesorter #columnSelectorButton{
	display:inline-block;
}
.formidable_tablesorter #columnSelector {
	display: flex;
	flex-wrap:wrap;
}
.formidable_tablesorter #columnSelector label {
	width:50%;
	padding:0px;
}
