<plugin>
	<nom>iCalendar
	</nom>
	<auteur>
	Fil
	</auteur>
	<licence>
		&#169; 2010 - GNU/GPL
	</licence>
	<version>
	0.1
	</version>
	<etat>
	dev
	</etat>
	<description>
	Faire des boucles iCalendar (format ics)
	</description>
	<prefix>
	icalendar
	</prefix>
	<chemin dir='' />
	<categorie>divers</categorie>
	<necessite id="SPIP" version="[2.2.0;]" />
</plugin>
