.formulaire_spip textarea {
width:96%; /* reduire la taille par defaut des formulaires spip */
}


/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/

.markItUpHeader a,
.markItUpTabs a,
.markItUpFooter a {
	color:#000;
	text-decoration:none;
}
.markItUp  {
	margin:5px 0 5px 0;
	clear:both;
}
.markItUpContainer  {
	margin:0px; padding:0px;
}
.markItUpEditor {
	padding:5px;
	height:320px; /* la hauteur est calculee par SPIP */
	clear:both; display:block;
	overflow:auto;
}
.markItUpPreviewFrame {
}
.markItUpFooter {
	margin:0px; padding:0px;
	width:100%;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/handle.png);
	cursor:n-resize;
}

/***************************/
/* tabs */
.markItUpTabs {
	text-align:right; margin-bottom:3px; padding:0px 1px;
	border-bottom:1px solid #888; overflow:auto; 
	width:auto; float:right; clear:both;}
.markItUpTabs a {
	display:block; float:right; border:1px solid #888; margin:0px 1px; border-bottom:none;
	padding:3px 4px 2px 4px; background:#f0f0f0;
	-moz-border-radius:5px 5px 0 0;}
.markItUpTabs a.on {background:#fff; }
.markItUpTabs a:hover {background:#fff;}

/***************************/
/* previsu */
.markItUpPreview {
	clear:both;
	border:1px solid #888;
	background:#fff;
	overflow:auto;
	padding:1em;
}

/* correction des styles spip_formulaires appliques par defaut (grr) */
.preview p {margin-bottom:1em !important;}
.preview ul {margin-bottom:1em; margin-top:0.5em;}
.preview li {border:none;}


/***************************************************************************************/
/* first row of buttons */
.markItUpHeader {clear:both; margin:0px; padding:0px;}
.markItUpHeader ul li {
	list-style:none;
	float:left;
	position:relative;
	clear:none;
	border:0;
	margin:0 0 2px 0;
	padding:0;
	overflow:visible;
}
.markItUpHeader ul li:first-child { /* annuler un reglage des forms prive */
	padding-top:0; 
}

.markItUpHeader ul .markItUpDropMenu {
	/*background:inherit url(images/menu.png) no-repeat 100% 80%;
	padding-right:10px;*/
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:24px; left:0px;	
	padding-top:2px;
	/*width:130px;*/
	width:110px;
}
.markItUpHeader ul ul li {
	float:left;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#F5F5F5 url(images/submenu.png) no-repeat 50% 50%;
}
.markItUpHeader ul .markItUpSeparator {
	margin:0 6px;
	width:0px;
	height:16px;
	overflow:hidden;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}

.markItUpHeader ul a {
	display:block;
	width:16px; height:16px;
	text-indent:-10000px;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-color:#f5f5f5;
	border:1px solid #ccc;
	padding:3px;
	margin-right:1px;
}
.markItUpHeader ul a:hover{border:1px solid #888; background-color:#fff;}


