em.crayon-img-changed {
	display: none;
}
.crayon-changed em.crayon-img-changed {
	display: block;
}
.crayon-changed em.crayon-crayon {
	display: none;
}
em.crayon-edit, em.crayon-crayon {
	display: none;
}
.crayon-boutons, .crayon-searching {
	float: right;
}
.crayon-boutons {
	width: 40px;
}
.crayon-boutons a {
	cursor: pointer;
}
.crayon-icones {
	float: right;
	width: 20px;
	text-align: right;
	position: relative;
	top:0; left:0;
	z-index:4999;
}
.crayon-icones span,.crayon-icones em {
	position:absolute;
	left:0px;
}
em.crayon-edit, em.crayon-crayon, em.crayon-img-changed {
	cursor: pointer;
	border:0;
} 

/* definition des icones */
.crayon-icones em.crayon-crayon {
	background: url(images/crayon20.png) no-repeat;
	height: 20px;
	width: 20px;
}
.crayon-icones em.crayon-searching {
	background: url(images/searching.gif) no-repeat;
	height: 13px;
	width: 13px;
}
.crayon-icones em.crayon-edit {
	background: url(images/edit.png) no-repeat;
	height: 20px;
	width: 20px;
}
.crayon-icones em.crayon-img-changed {
	background: url(images/changed.png) no-repeat;
	height: 20px;
	width: 20px;
}


.formulaire_crayon .crayon-active {
	padding: 1px;
	border: 1px inset;
	font: inherit;
}
.crayon-html .formulaire_crayon {
	max-width: 703px;
}
.crayon-html textarea {
	overflow: auto;
	font: inherit;
}
.crayon-html {
	z-index:5000;
}
.crayon-html .crayon-boutons {
	position:absolute;
	right:0px;
}

/* resizer */
.resizehandle {
	background:transparent url("images/resizer.png") no-repeat scroll 45%;
	cursor:s-resize;
	font-size:0.1em;
}
