img.crayon-img-changed {
    display: none;
}
.crayon-changed img.crayon-img-changed {
    display: inline;
}
img.crayon-edit, img.crayon-pencil {
    visibility: hidden;
}
.crayon-autorise:hover img.crayon-edit, .crayon-hover img.crayon-edit,
.crayon-autorise:hover img.crayon-pencil, .crayon-hover img.crayon-pencil {
    visibility: visible;
	padding: 2px;
	border: 2px solid #999;
	border-left: 0;
	background-color: #FFF;
}
.crayon-autorise:hover, .crayon-hover {
	border: 1px solid red;
	margin: -1px!important;
}
* html .crayon-hover {
	height: 0;
}
*+html .crayon-hover {
	height: auto;
	zoom: 1;
}
.crayon-boutons, .crayon-searching {
    float: right;
}
.crayon-boutons {
    width: 40px;
    display: none;
}
.crayon-boutons div {
	position: absolute;
}
.crayon-boutons a {
	cursor: pointer;
}
.crayon-icones {
    float: right;
}
.crayon-icones span {
    position:absolute;
}
.crayon-edit, .crayon-pencil {
	cursor: pointer;
}
