img.crayon-img-changed {
	display: none;
}
.crayon-changed img.crayon-img-changed {
	display: inline;
}
.crayon-changed img.crayon-crayon {
	display: none;
}
img.crayon-edit, img.crayon-crayon {
	visibility: hidden;
}
.crayon-autorise:hover > span > span > img.crayon-edit, .crayon-hover > span > span > img.crayon-edit,
.crayon-autorise:hover > span > span > img.crayon-crayon, .crayon-hover > span > span > img.crayon-crayon {
	visibility: visible;
}
.crayon-autorise:hover, .crayon-hover {
}
.crayon-boutons, .crayon-searching {
	float: right;
}
.crayon-boutons {
	width: 40px;
}
.crayon-boutons a {
	cursor: pointer;
}
.crayon-icones {
	float: right;
	width: 65px;
	position: relative;
}
.crayon-icones span {
	position:absolute;
	right:0px;
	z-index:4999;
}
.crayon-edit, .crayon-crayon, .crayon-img-changed {
	cursor: pointer;
} 
.formulaire_spip .crayon-active {
	padding: 1px;
	border: 1px inset;
}
.crayon-html .formulaire_spip {
	max-width: 703px;
}
.crayon-html textarea {
	overflow: auto;
}
.crayon-html {
	z-index:5000;
}
.crayon-html .crayon-boutons {
	position:absolute;
	right:0px;
}

/* resizer */
.resizehandle {
	background:transparent url("images/resizer.png") no-repeat scroll 45%;
	cursor:s-resize;
	font-size:0.1em;
	height:16px;
	width:100%;
}
