<plugin>
	<prefix>imapdepart</prefix>
	<nom>Image map des d&#233;partements</nom>
	<slogan>Mod&#233;le pour afficher une imagemap des d&#233;partements fran&#231;ais</slogan>
	<auteur>cy_altern</auteur>
	<licence>GNU/GPL - (c) 2010</licence>
	<version>0.2.0</version>
	<etat>dev</etat>
	<description>
	    Propose un mod&#233;le pour afficher une carte de France avec une imagemap des d&#233;partements:
_ &lt;departements|lien_base=truc&gt; ou &#91;(#MODELE&#123;departements&#125;&#123;lien_base=truc&#125;)&#93;
qui accepte les param&#232;tres suivants:
-* |redim= : le facteur de redimensionnement de la carte (par d&#233;faut = 1, ce qui correspond &#224; une carte de 479x434 pixels)
-* |lien_base= : l'url des liens sur les d&#233;partements (par d&#233;faut #SELF donc la page en cours)
-* |lien_param= : le param&#232;tre de l'url pour passer le num&#233;ro de d&#233;partement (par d&#233;faut "depart" : ...?depart=...)
-* |param=nom : pour passer le nom du d&#233;partement &#224; la place de son num&#233;ro comme valeur du param&#232;tre |lien_param
-* |mono=1 si on souhaite la carte en monoteinte
-* |aff_region=1 si on souhaite afficher la r&#233;gion en plus du nom du d&#233;partement dans l'info-bulle au survol
-* |bullehtml=1 si on pr&#233;fere l'info-bulle native HTML &#224; celle g&#233;n&#233;r&#233;e en javascript (non-accessible lors de la navigation au clavier...)

Cr&#233;dits:
-* Source de la carte [Lionel Delvarre->http://www.lion1906.com/]
	</description>
	<lien>http://contrib.spip.net/Plugin-image-map-des-departements</lien>
	<icon>imapdepart.png</icon>
	<install>base/imapdepart_install.php</install>
	<options>imapdepart_options.php</options><!-- gere l'appel de base/imapdepart_base.php -->
	<fonctions>imapdepart_fonctions.php</fonctions>
	<categorie>divers</categorie>
	<necessite id="spip" version="[2.0.0;3.0.99]" />
</plugin>