/* **************** GRIDS ***************** */
.line, .lastUnit {overflow: hidden;_overflow:visible;_zoom:1; }
.unit{float:left;_zoom:1;}
.unitExt{float:right;}
.size100{float:none;}
.size90{width:90%;}
.size80{width:80%;}
.size70{width:70%;}
.size60{width:60%;}
.size50{width:50%;}
.size40{width:40%;}
.size30{width:30%;}
.size25{width:25%;}
.size20{width:20%;}
.size15{width:15%;}
.size10{width:10%;}
.size5{width:5%;}
.lastUnit {float:none;_position:relative; _left:-3px; _margin-right: -3px;width:auto;}
/* extending grids to allow a unit that takes the width of its content */
.media{width:auto;}
/* **************** PAGE PLUGIN ***************** */
.telecharger { position: relative; display: inline-block; float: right; width: auto; padding: 5px 1em 6px; overflow: visible; cursor: pointer;
background-color: #888; box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
border: 0; border-bottom: 1px solid rgba(0,0,0,0.25); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
font-size: 100%; line-height: 1; font-weight: bold; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
* html .telecharger { background-image: none; border: none; color: #FFF !important; } /*IE6*/
.telecharger,.telecharger:visited,.telecharger * { background-color: #888; text-decoration: none; }
.telecharger:hover { background-color: #777; color: #FFF; text-decoration: none; }
span .telecharger { float:right; }

.paquet {margin-bottom: 30px;}
.paquet .bloc_infos { margin-bottom: 15px; margin-left: 30px; padding-left: 0; padding-bottom: 5px; border-bottom: 1px dotted #ddd; }