/* **************** PAGE PLUGIN ***************** */
.liste.branches {float: right;}
.branches .liste-items {border-top: 0;}
.branches .liste-items .item {padding: 0 0 0 22px; border-bottom: 0; font-weight: bold; background: url("prive/themes/spip/images/branche_ok-16.gif") no-repeat left center;}
.branches .liste-items .item:hover {background-color: transparent;}

.paquet {margin-top: 30px; float: left; width: 100%;}

.liste.actions {float: right;}
.actions .liste-items {border-top: 0;}
.actions .liste-items .item {padding: 0; border-bottom: 0;}
.actions .liste-items .item:hover {background-color: transparent;}
