/* CSS Document */
td { font-size: 8pt; }
td.pair { background:#DCF3F4; }
td.impair { background:#F0DCF4; }
td.valide { background:#AFF5DF; }
td.sortie { background:#E6EAC9; }
td.prospect { background:#FFF8DC; } 

