<plugin>
<nom> <!-- Nom du plugin -->
Smooth Slideshow
</nom>
<auteur>	<!-- Auteur du plugin -->
Yvan d'apr&#232;s IZO, James et le plugin [lecteur multimedia->http://spip-zone.info/spip.php?article18]
_ portage de [->http://smoothslideshow.jondesign.net/]
_ Distribu&#233; sous licence GNU/GPL
</auteur>
<version>
0.1
</version>
<etat>
test
</etat>
<description>
<multi>
[fr]

3 mod&#232;les joints :
- slideshow des logos des articles d'une rubrique
- slideshow des images d'un article
- slideshow des images d'une rubrique

&#224; ins&#233;rer dans les squelettes par <code>#MODELE{nom_du_modele}</code>
</multi>
</description>
<lien> [Exemple->http://mamoud.free.fr/spip_svn/spip.php?article1]</lien>
<fonctions> <!-- fichier charge a chaque recalul de page -->
smooth_fonctions.php
</fonctions>
<!-- classe d'implementation : espace de nommage qui prefixera les appels de fonction
sur le mode Rien::
ainsi les fonctions hors espace de nommage ne peuvent etre appelees
ce parametre est obligatoire et doit etre non vide
-->
<prefix> 
smooth
</prefix>
<pipeline>
<nom>insert_head</nom>
</pipeline>
</plugin>
