.onglets_traduction{
	width:100%;height : 30px;
	vertical-align: baseline;
}
#wysiwyg .rubriques{

 clear:left;
}


.onglets_traduction div.options{
	margin :0;
	padding:0; 
}

.onglets_traduction div.onglet, .changer div.onglet{
	vertical-align: text-bottom;
	 margin-right:2px; float:left;
	  -moz-border-radius: 5px;
	 -webkit-border-radius :5px;
	 -khtml-border-radius :5px; 
	 border-radius: 5px;
}

.changer div.onglet{background:#F2F2F2; font-style:italic;}

.onglets_traduction div.options a {
	text-align:center;
	padding:0;
	margin:0;
}

.onglets_traduction div.options a:hover span{
	display:block;
	width:72px;
	text-align:center;
	background:#ffffff;
	height :auto;
}

div.non_traduit{
	background-color: #EEEEEE ;
	font-style:italic;
}

.pagination{
	text-align:left;
}

.onglets_traduction .danger{
	background: #ffffff ;	
}

.bouton_options{float:right; margin-right:5px}

.nettoyeur{clear:both;}

.delier{height:100px;float:left,margin :0 5px;float:left}

.danger, a.cellule-h-texte {background: repeat scroll 0 0 white;}

.lang{ margin-right:5px;}

.changer{float:left;margin:10px 0 20px 0; padding:5px;position: relative;width:98%;
}
.defaut{width:98%}
.liste-elements table.spip tr.trads{background:#dfdfdf}

.ajouter_trads{float:left;}

.changer .icone_delier_traduction {
    border-left: 0px dotted #888888;
    margin-bottom: 1em;
    padding-left: 10px;
    width:75px;   
}

.changer .formulaire_spip .boutons {
    background-color: transparent;
	;}
	
div.ref{float:right; margin:-3px -2px 0 0;cursor:help

	}	
div.ref span {display:none;}

.rubriques div.ref :hover span {display:block;position:absolute;color: #000000;
	margin-top:-43px;	
	} 
.rubriques .fiche_objet div.nettoyeur{clear:left;}
