<plugin>
	<nom>
	XMP PHP
	</nom>
	<auteur>kent1</auteur>
	<licence>© 2011 - GNU/GPL v3</licence>
	<icon>images/xmpphp-64.png</icon>
	<version>0.1</version>
	<version_base>0.1</version_base>
	<etat>dev</etat>
	<description>
		<multi>
			[fr]Récupération des données XMP des documents
			[en]Retrieval of documents XMP datas
		</multi>
	</description>
	<prefix>xmpphp</prefix>
	<install>base/xmpphp_upgrade.php</install>
	<pipeline>
		<nom>editer_contenu_objet</nom>
		<inclure>xmp_php_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>document_desc_actions</nom>
		<inclure>xmp_php_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/xmpphp.php</inclure>
	</pipeline>
	<categorie>edition</categorie>
</plugin>