<plugin>
	<nom>SPIP-Album</nom>
	<slogan>Afficher d'une galerie de photo</slogan>
	<auteur>[Xavier BUROT->mailto:xebiaut@free.fr] &#224; partir d&#039;une ide&#233;es de [Matthieu->http://www.plugandspip.com/?article17]</auteur>
	<licence>&#169; 2006-2009 GNU/GPL</licence>
	<lien>http://xebiaut.free.fr/?article287</lien>
	<version>2.5.0</version>
	<etat>test</etat>
	<description>Ce plugin permet l'affichage d'une galerie de photo en utilisant le plugin [jQuery ImageBox->http://interface.eyecon.ro/docs/imagebox]</description>
	<prefix>album</prefix>
	<icon>img_pack/album.png</icon>
	<options>inc/album_options.php</options>
	<fonctions>inc/album_fonctions.php</fonctions>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>album_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>album_pipeline.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[1.9.0;1.9.2]" />
	<categorie>multimedia</categorie>
</plugin>
