<plugin>
	<nom>Rainette</nom>
	<auteur>Cedric Morin, Eric Lupinacci, Emmanuel Saint-James, Anne-lise Martenot</auteur>
	<version>1.5.3</version>
	<etat>stable</etat>
	<licence>GNU/GPL</licence>
	<slogan>La m&#233;t&#233;o au quotidien</slogan>
	<description>
Ce plugin permet d'afficher des conditions et des pr&#233;visions m&#233;t&#233;orologiques obtenues en interrogeant le site weather.com&reg;.
Le plugin ne stocke aucune information en base de donn&#233;es, ni ne g&egrave;re le code météorologique des villes, qu'il faut préalablement retrouver par l'URL http://wxdata.weather.com/wxdata/search/search?where=X où X est le nom de la ville.

Les donn&#233;es m&#233;t&#233;orologiques sont affichées principalement vi des mod&egrave;les dans les squelettes. Le plugin propose des 
mod&egrave;les par d&#233;faut comme {{rainette_previsions}} et {{rainette_conditions}}. Il est possible aussi d'afficher les informations sur la ville choisie soit via le mod&egrave;le {{rainette_infos}},
soit via la balise {{RAINETTE_INFOS}}. Tous les affichages propos&#233;s par Rainette sont personnalisables (ic&ocirc;nes, libell&#233;s, unit&#233;s, pr&#233;sentation...).

Une page &#171; Meteo &#187; compatible avec les squelettes Z est disponible : elle propose les conditions et pr&#233;visions &agrave; 10 jours d'une ville donn&#233;ee.

Essayez la page de d&#233;mo {demo/rainette.html} pour des exemples d'utilisation.
	</description>
	<lien>http://contrib.spip.net/article3133</lien>
	<prefix>rainette</prefix>
	<icon>rainette-64.png</icon>
	<fonctions>rainette_fonctions.php</fonctions>
	<options>rainette_options.php</options>
	<pipeline>
		<nom>insert_head_css</nom>
		<inclure>rainette_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head</nom>
		<action>insert_head_css</action>
		<inclure>rainette_pipelines.php</inclure>
	</pipeline>
	<categorie>divers</categorie>
	<necessite id="SPIP" version="[1.9.0;3.0.99]" />
	<traduire gestionnaire="salvatore" module="rainette" reference="fr" />
</plugin>
