<?xml version="1.0" encoding="utf-8"?>
<plugin>
	<nom>Facteur</nom>
	<auteur>[Art&#233;go->http://www.artego.fr]</auteur>
	<version>1.1</version>
	<etat>stable</etat>
	<licence>[GPLv3->http://www.gnu.org/licenses/gpl-3.0.html]</licence>
	<description>Facteur s'occupe de la livraison des notifications au format HTML, texte ou mixte ; via SMTP ou non</description>
 	<necessite id="SPIP" version="[2.0.3;]" />
	<install>base/facteur.php</install>
	<icon>prive/images/facteur-48.png</icon>
	<options>facteur_options.php</options>
	<prefix>facteur</prefix>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>inc/facteur_autorisations.php</inclure>
	</pipeline>
	<onglet id="facteur" parent="configuration">
		<icone>prive/images/facteur-24.png</icone>
		<titre>facteur:configuration_facteur</titre>
	</onglet>
	<bouton id='config_facteur' parent="bando_configuration">
		<icone>images/facteur-16.png</icone>
		<titre>facteur:configuration_facteur</titre>		
		<url>facteur</url>
	</bouton>
</plugin>
