<?xml version="1.0" encoding="utf-8"?>
<plugin>
	<nom>
		<multi>
			[fr]Facteur
			[en]Postman
		</multi>
	</nom>
	<auteur>Collectif SPIP</auteur>
	<version>1.6.1</version>
	<version_base>1.1</version_base>
	<etat>stable</etat>
	<licence>[GPLv3->http://www.gnu.org/licenses/gpl-3.0.html]</licence>
	<description>
		<multi>
			[fr]Facteur s'occupe de la distribution des courriels au format HTML, texte ou mixte ; via SMTP ou non
			[en]Postman delivers emails in HTML, text or mixed format; via SMTP or not
		</multi>
	</description>
	<lien>http://www.spip-contrib.net/Facteur</lien>
 	<necessite id="SPIP" version="[2.0.3;]" />
	<utilise id="bando" version="[;]" />
	<install>base/facteur.php</install>
	<icon>prive/images/facteur-48.png</icon>
	<prefix>facteur</prefix>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>inc/facteur_autorisations.php</inclure>
	</pipeline>
	<pipeline>
		<nom>facteur_pre_envoi</nom>
		<inclure>inc/envoyer_mail.php</inclure>
	</pipeline>
	<pipeline>
		<nom>ieconfig_metas</nom>
		<inclure>facteur_ieconfig_metas.php</inclure>
	</pipeline>
	<onglet id="facteur" parent="configuration">
		<icone>prive/images/facteur-24.png</icone>
		<titre>facteur:configuration_facteur</titre>
	</onglet>
	<bouton id='config_facteur' parent="bando_configuration">
		<icone>images/facteur-16.png</icone>
		<titre>facteur:configuration_facteur</titre>		
		<url>facteur</url>
	</bouton>
	<categorie>communication</categorie>
</plugin>
