<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin>
	<!--  

	// barrac plugin.xml

	// $LastChangedRevision$
	// $LastChangedBy$
	// $LastChangedDate$
	 -->
	<nom>BarrAc</nom>
	<slogan>Barre d'accessibilit&#233;</slogan>
	<auteur>cpaulus@quesaco.org</auteur>
	<version>1.3.1</version>
	<version_base>0.01</version_base>

	<etat>stable</etat>

	<icon>images/barrac-02-64.png</icon>

	<description>Ce plugin installe une barre d'accessibilit&#233; en espace public. Cette barre d'accessibilit&#233; permet :
-* de placer le curseur graphique en d&#233;but de texte (le contenu)
-* de modifier la taille des caract&#233;res
-* d'espacer les liens (url) inclus dans le texte
-* d'encadrer le texte
-* d'inverser les couleurs de la page
-* de d&#233;colorer la page

Ces actions peuvent &#234;tre effectu&#233;es automatiquement (par d&#233;faut) ou personnalis&#233;es via une feuille de style CSS adapt&#233;e (conseill&#233;)
	</description>

	<lien>http://www.quesaco.org/Barre-d-accessibilite-pour-SPIP</lien>
	
	<prefix>barrac</prefix>

	<options>barrac_mes_options.php</options>
	
	<install>base/barrac_install.php</install>

	<pipeline>
		<!-- insère les css du plugin dans l'espace privé -->
		<nom>header_prive</nom>
		<inclure>inc/barrac_pipeline_header_prive.php</inclure>
	</pipeline>

	<pipeline>
		<!-- insère les css et js de la barre d'accessibilité dans l'espace public -->
		<nom>insert_head</nom>
		<inclure>inc/barrac_pipeline_insert_head.php</inclure>
	</pipeline>

	<pipeline>
		<!-- insère la barre d'accessibilité dans l'espace public -->
		<nom>affichage_final</nom>
		<inclure>inc/barrac_pipeline_affichage_final.php</inclure>
	</pipeline>

	<pipeline>
		<!-- insère les onglets de configuration l'espace privé -->
		<nom>ajouter_onglets</nom>
		<inclure>inc/barrac_pipeline_ajouter_onglets.php</inclure>
	</pipeline>

	<chemin dir='' />
	<necessite id="SPIP" version="[1.9.0;1.9.2]" />
	<categorie>navigation</categorie>
</plugin>
