.error {
    color: #cc0000;
    font-weight: bold;
}

.noerror {
    color: #00cc00;
    font-weight: bold;
}

h4 {
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 12px;
}

.liste_lettres {
  border: 1px solid #000000;
  width: 100%;
  border-collapse: collapse;
}

.liste_lettres th, .liste_lettres td {
  padding: 0.3em;
  border: 1px dotted #ccc;
  vertical-align: top;
}

.liste_lettres thead th {
  background-color: #ccc;
}

.liste_lettres ul {
  list-style-type: none;
  padding-left: 0;
}

