.transaction_ok { display:block; padding:20px 20px 20px 150px; }
.cheque { color: #000; font-weight: normal; font-size: 12px; background: url('../images/cheque.png') no-repeat top left; }
.virement { color: #000; font-weight: normal; font-size: 12px; background: url('../images/virement.png') no-repeat top left; }
.cmcic { color: #000; font-weight: normal; font-size: 12px; background: url('../paiement/cmcic/logo.png') no-repeat top left; }
.paypal { color: #000; font-weight: normal; font-size: 12px; background: url('../paiement/paypal/logo.png') no-repeat top left; }
.transaction_info { font-size: 0.6em; }
.transaction_erreur { color: red; }
a.valider { background: url(../images/button.png) no-repeat; display: block; color: green; font-weight: bold; height: 35px; line-height: 32px; margin-bottom: 14px; text-decoration: none; }
a:hover.valider { color: #0066CC; }
a.valider span { background: transparent url(../images/paiement_cb.png) 0 2px no-repeat; text-indent: 73px; display: block; }
