<plugin>
	<!--  

	// $LastChangedBy$
	// $LastChangedDate$
	
	 -->
	<nom>Site Archive (SiA)</nom>
	<slogan>Archiver tout ou partie de son site Spip</slogan>
	<auteur>[Christian Paulus->http://www.quesaco.org/]</auteur>
	<licence>&#169; 2010 GNU/GPL 3</licence>

	<description>
		Maintenance d&#39;archives de rubriques ou d&#39;articles 
		pour une consultation hors connexion.<br />
		Principe de fonctionnement : vous ajoutez un nouvel article dans lequel
		vous proposez au visiteur de t&#233;l&#233;charger l&#8217;archive
		d&#8217;une rubrique de votre site afin qu&#8217;il puisse la consulter
		hors connexion Internet.<br />
		N&#233;cessite les commandes syst&#232;mes batch, wget, zip.
	</description>
	<icon>images/sia-64.png</icon>
	
	<!-- documentation -->
	<lien>http://www.quesaco.org/Archive-de-site-Website-archiver</lien>
	
	<version>0.3.1</version>
	<etat>test</etat>
	
	<!-- espace de nommage -->
	<prefix>sia</prefix>
	
	<install>sia_install.php</install>
	
	<fonctions>sia_fonctions.php</fonctions>
	
	<necessite id='SPIP' version='[2.1.2;2.1.99]' />
	
	<utilise id="cfg" version="[1.15.0;]" />
	
	<categorie>navigation</categorie>
	
</plugin>