
 .calendario a{
	font-weight:bold;
	text-decoration:none;
	color:green;
}
/****************/
div.multievent {
		margin: 0;
		padding: 0;
			margin-top:-2px;
			margin-left:-1px;

	/*border: dashed;
	width:14px;
	height:14px;*/
}

div.multievent ul {
	margin: 0;
	padding: 0;
	border: none;
	/*width: 14em;background: black;*/

}
/* elementi menu normali level 1*/
div.multievent li.level1>a, div.multievent li.level1 {
	position: relative;
	list-style: none;

	padding:0;
	margin: 0;
	border: none;
	/*height: auto;
	background: black;
	color: #f26522;background: #cfcfcf ;grigino */
}
/* elementi menu Hover level 1*/
div.multievent li.level1:hover, div.multievent li.level1:hover>a {
	color: #f26522;
	background: blue;/*#cfcfcf grigino */
}

/* elementi menu level 2*/
div.multievent ul.level2, div.multievent ul.level3 {
	background: white ;
}

div.multievent li.level2, div.multievent li.level3 {
	position: relative;
	color: black;
	background-color: none;/**/
}

/* elementi menu Hover level 2*/
div.multievent li.level2:hover, div.multievent li.level3:hover, div.multievent li.level2:hover>a, div.multievent li.level3:hover>a{
	background: silver;
	color: red;
	white-space: nowrap;
}

div.multievent li a {
	display: block;
	white-space: nowrap;
	text-decoration: none;
	/*width: auto;
	height: auto;
	color: white;padding: 0.25em 0 0.25em 0.5em;*/
}

div.multievent ul.level2 {
	position: absolute;
	top: 0;
	left: 20px;
	/*width: 15em;*/
	display: none;
	margin-top: -1px;
	background-color: none;
	font-weight: normal;
	border-top: 1px #4f4f4f solid;
	border-right: 1px black solid;
}
div.multievent ul.level3 {
	position: absolute; top: 0; left: 15em;
	width: 15em; display: none; margin-left: -1px; margin-top: -1px; background-color: none; font-weight: normal; border-top: 1px black solid; border-right: 1px black solid;}
div.multievent ul ul li {
	border-bottom:
		1px black solid;
		border-left: 1px black solid;
}
div.multievent ul.level1 li.level1:hover ul.level2 {display:block;}
div.multievent ul.level2 li.level2:hover ul.level3 {display:block;}
