<plugin>
	<nom>Traductions entre rubriques</nom>
	<slogan>Gestion de liens de traduction entre les rubriques</slogan>
	<auteur>Stephane Laurent (Bill)</auteur>
	<categorie>edition</categorie>
	<version>1.9.2</version>
	<etat>stable</etat>
	<description>Ce plugin rajoute un syst&#232;me inspir&#233; par celui des traductions des articles : il ajoute un champ id_trad &#224; la table rubriques et lie ainsi les traductions des rubriques.</description>
	<prefix>tradrub</prefix>
	<necessite id="SPIP" version="[1.9.2;1.9.2]" />
</plugin>
