<plugin>
	<nom>Boucles XML</nom>
	<slogan>Parser du xml avec les boucles SPIP</slogan>
	<auteur>[C&#233;dric MORIN->http://notre-ville.net]</auteur>
	<licence>&#169; 2006 Licence GPL</licence>
	<version>0.10.0</version>
	<etat>test</etat>
	<description>
	Le plugin introduit un type de boucle XML qui permet de parcourir l'arborescence d'un fichier au format
xml au moyen des boucles spip. Les crit&#232;res disponibles sont
-* <code>{xml=fichier.xml}</code> pour aller chercher fichier.xml dans le path
-* <code>{xpath}</code> pour acc&#233;der &#224; un noeud par son chemin &#224; partir de la racine (fini par un /}
-* <code>{racine}</code>
-* <code>{id_parent}</code>
-* <code>{statut=noeud} {statut=feuille}</code>
-* <code>{noeud=MonElement}</code> pour acc&#233;der directement &#224; un noeud ind&#233;pendamment de son arborescence
-* <code>{attributs==monAttr=['"]truc['"]}</code> pour acc&#233;der directement &#224; un noeud dont l'attribut monAttr vaut truc
-* NIY <code>{id_enfant}</code>

Les balises utilis&#233;es sont #XPATH, #NOEUD, #ATTRIBUTS (sur laquelle on utilisera le filtre <code>|extraire{}</code>), et #TEXTE pour les feuilles (vide pour les noeuds)
	</description>
	<lien></lien>
	<options>xml_options.php</options>
	<fonctions>xml_fonctions.php</fonctions>
	<prefix>xml</prefix>

	<necessite id="SPIP" version="[1.9.0;2.0.99]" />
	<categorie>outil</categorie>
</plugin>