 #minipres {
	background-repeat: non-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;

	box-shadow: 0 0 0;
	font-size: 16px;
	color: white;
	border:0;
	padding: 0;
	border-radius: 0px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100%;
	font-family: arial, helvetica, sans;
	background-color: transparent !important;
}
 #minipres #var_lang_ecrire {
	position: absolute;
	top: 10px;
	right: 10px;
	border: 0;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 12px;
	-webkit-appearance: none;
}
 #minipres .formulaire_menu_lang {
	position: absolute;
	top: 15px;
	right: 5%;
	width: 200px;
}
 #minipres .formulaire_login, #minipres .formulaire_spip.pass {
	width: 90%;
	max-width: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#minipres .formulaire_spip fieldset {
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;
	line-height: 130%;
	border: 0;
}
#minipres .formulaire_spip fieldset legend {
	display: none;
}
#minipres .formulaire_spip fieldset p {
	margin-bottom: 1em;
}
 #minipres h1,  #minipres h3 {
	display: none;
}
.editer_password {
	position: relative;
}
 #pass_securise {
	position: absolute;
	top: 0;
	right: 0;
}
 #minipres h1 {
	margin-left: -1.5em;
}
 #minipres h1,  #minipres label {
	font-size: 0.9em;
	padding-bottom: 0.2em;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
 #minipres h1,  #minipres input.text {
	width: 100%;
	box-sizing: border-box;
	border: 0px;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	transition: 0.2s background-color;
}
 #minipres h1,  input.text:hover,
 #minipres h1,  input.text:focus{
	background-color: white;
}

 #minipres h1, #minipres #spip_logo_auteur {
	float: none;
	position: absolute;
	top: -130px;
	left: 50%;
	margin-left: -70px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
}
 #minipres h1 {
	font-size: 85%;
	text-align: right;
	padding-top: 5px;
	padding-right: 30px;
}
p.details {
	font-size: 85%;
	text-align: right;
	padding-top: 0.3em;
}
div.choix {
	padding-top: 0.7em;
}
 #minipres h1, #minipres p.details a {
	color: white;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	opacity: 0.7;
}
 #minipres h1, #minipres p.details a:hover {
	opacity: 1;
}
 #minipres h1, #minipres .boutons {
	text-align: right;
	margin-right: 0px;
}
 #minipres h1, #minipres .boutons input.submit {
	font-size: 16px;
	border: 0px;
	padding: 7px 15px;
	background-color: white;
	background-color: rgba(66, 246, 126, 0.7);
	transition: 0.2s background-color;
	border-radius: 4px;
	color: black;
	-webkit-appearance: none;
}
 #minipres h1, #minipres .boutons input.submit:hover,
 #minipres h1, #minipres .boutons input.submit:focus {
	background-color: white;
}

 #minipres h1, #minipres #spip_logo_auteur img {
	position: inline;
	margin: 0 !important;
}
 #minipres p.retour {
	position: absolute;
	left: 20px;
	bottom: 10px;
}
 #minipres p.retour a {
	color: white;
	font-size: 12px;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
 #minipres p.retour a:before {
	content: "⬅︎ ";
}
 #minipres p.generator {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#minipres h1 {
	margin-bottom: 1em;
	font-size: 1.4em;
}