fieldset {
	margin-top: 2em;
	margin-bottom: .5em;
	padding-top: 1em;
	border: 1px solid #666;
}

fieldset legend {
	color: #000;
	background-color: #eee;
	border: 1px solid #666;
	padding: 2px 1em;
}