/** */
.gpMap, div.olMap
{	cursor:default !important;
	font-size:12px;
}

.gpMainDivClass
{	font-size:12px;
}

/** Affichage des palettes */
.gpControlFloating
{	font-size:12px;
}
.gpControlFloating .gpControlFloatingBody label, 
.gpControlFloating .gpControlFloatingBody input, 
.gpControlFloating .gpControlFloatingBody select,
.gpControlFloating .gpControlFloatingBody input[type="button"],
.gpControlLocationUtilityServiceGeoNamesResults,
.gpControlLocationUtilityServiceGeocodeResults
{	font-size:1em;
}
span.gpFormSmall 
{	font-size:0.8em;
}

.gpControlGraphicScale,.gpControlInformation select
{	font-size:9px;
}
.gpControlProjections, .gpControlCopyright,
.gpControlMousePosition input
{	font-size:10px;
}
.gpControlMousePosition
{	font-size:11px;
}
/** */
img.gpGeocodeMatchCodeMatchType
{	position:static;
}

.gpGroupDivClass
{	max-height:350px;
}

.gpControlPanelToggleItemInactive
{	background-image: url("picto_options_off.png") !important;
}
.gpControlPanelToggleItemActive
{	background-image: url("picto_options_on.png") !important;
}

/** Popup sur la carte **/
#popup, .gpPopup
{	font-size:1em;
	/* background: transparent url(popup.png) no-repeat bottom right; */
	background-color:#FFC!important;
	border:0!important;
}
#popup p
{	margin:0;
	padding:0;
}
#popup .titre, .gpPopup .gpPopupContent .gpPopupHead
{	font-size:1em;
	font-weight:bold;
	margin:0;
	background:transparent;
}
#popup .spip_logos
{	margin:0 0.5em 0 0;
	float:left;
}
#popup small
{	color:Maroon;
	padding-left:20px;
}
#popup a
{	color:Navy;
}

#popup .document
{	text-align:center;
}
#popup .document .spip_logos
{	margin:auto;
	float:none;
}

#popup .olPopupCloseBox, .gpPopupCloseBox
{	background:transparent url(close.png) no-repeat scroll 0 0;
	overflow:hidden;
}
#popup .olPopupCloseBox:hover, .gpPopupCloseBox:hover
{	background:transparent url(close.png) no-repeat scroll 0 -17px
}

/** Affichage des images */
#jqDialog.viewer
{	border:0;
}
#jqDialog.viewer .jqCloseButton
{	top:-5px;
	right:-5px;
}
#jqDialog.viewer .jqDialogBlock
{	margin:0!important;
	padding:0!important;
}
#jqDialog.viewer .jqDialogInner
{	border:10px solid white;
	margin:0;
	padding:0;
}
	