<plugin>
	<nom>Simples Logs</nom>
	<auteur>luc.tech@free.fr</auteur>
	<licence>GNU/GLP</licence>
	<version>0.1</version>
	<description>
	Visualisation des logs SPIP
	</description>
	<etat>dev</etat>
	<icon>asuivre-24.gif</icon>
	<prefix>simplog</prefix>
	<bouton id="simplog_bt" parent="configuration">
		<icone>asuivre-24.gif</icone>
		<titre>simplog:logs</titre>   
		<url>simplog</url>   
		<args></args>
	</bouton>
	<necessite id='spip' version='[2.1.0;]' />
	<necessite id='iterateurs'  />
</plugin>