<plugin>
	<nom>spipal</nom>
	<auteur>
 	[Thierry Schmit->http://www.spip-contrib.net/_madbuilder_] (V1)
	[Committo Ergo Sum->http://www.spip-contrib.net/Deesse-A] (V2)
	</auteur>
	<version>2.0.0</version>
	<version_base>1</version_base>
	 <!-- Etat du plugin, au choix : dev (developpement), test, stable, experimental -->
	<etat>dev</etat>
	<categorie>divers</categorie>
	<necessite id="SPIP" version="[2.1.6;]" />
	<meta>spipal_metas</meta>
	<description>
	Paiement via Paypal pour un site sous SPIP.

Une fois le plugin activ&eacute;, cliquer l'icone des outils en face de son nom.
Vous aurez besoin au minimum d'un identifiant d'un compte Paypal (autrement dit une adresse mail) acceptant les paiements.
 
	</description>
	<lien></lien> <!-- URI de documentation -->
	<prefix>spipal</prefix>
	<install>base/spipal_gestion.php</install>
	<options>spipal_options.php</options>
	<pipeline>
		<nom>ajouter_boutons</nom> 
		<inclure>inc/spipal_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_milieu</nom>
		<inclure>inc/spipal_pipelines.php</inclure>
	</pipeline>
</plugin>
