<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin>
	<nom>Mots Partout Spip2</nom>
	<auteur>Pierre Andrews (Mortimer)</auteur>
	<auteur>Stephane Laurent (Bill)</auteur>
	<auteur>Yoann Nogues (Zerax)</auteur>
	<lien>http://www.spip-contrib.net/Des-mots-clefs-partout</lien>
	<version>0.5.1</version>
	<etat>test</etat>
	<necessite id="SPIP" version="[2.0;]" />
	<categorie>navigation</categorie>
	<description>
	  Gestion des mots clefs sur tous les &eacute;l&eacute;ments SPIP.
	  Cette version int&eacute;gre les mots clefs arborescents.

	  La documentation [c'est ici->http://www.spip-contrib.net/Plugin-mots-partout-dev-Groupe-de]
	</description>
	<prefix>MotsPartout</prefix>
	<options>mots_partout_choses.php</options>
	<fonctions>motspartout_fonctions.php</fonctions>

	<install>base/motspartout_install.php</install>

	<bouton id="mots_partout" parent="naviguer">
		<icone>tag.png</icone>
		<titre>motspartout:mots_partout</titre>
	</bouton>

	<pipeline>
		<nom>affiche_milieu</nom>
		<inclure>motspartout_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>libelle_association_mots</nom>
		<inclure>motspartout_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>editer_contenu_objet</nom>
		<inclure>motspartout_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>post_edition</nom>
		<inclure>motspartout_pipeline.php</inclure>
	</pipeline>
		<pipeline>
		<nom>pre_edition</nom>
		<inclure>motspartout_pipeline.php</inclure>
	</pipeline>
</plugin>
