<plugin>
	<nom> <!-- Nom du plugin -->
	<multi>[fr]TableDATA</multi>
	</nom>
    <icon>img_pack/tabledata.gif</icon>
	<auteur>	<!-- Auteur du plugin -->
 	Christophe Boutin - christophe (at) cboutin . net -
    </auteur>
	<licence>_ &#169; 2009 - <multi>[fr]Distribu&#233; sous licence GPL</multi></licence>
	<version>2.2.2</version>
    <etat>stable</etat>
	<description>
	<multi>
	[fr] Gestion des tables extra (tables SQL que vous avez ajout&eacute;es &agrave; SPIP).
_ - liste les tables 'extra' et permet le choix
_ - liste les enregistrement d'une table.
_ - ajouter/supprimer/editer des enregistrements dans une table.
_ - les pages sont dynamiques, elles s'adaptent &#224; la structure de la table.
_ - compatible fonctions sql portables MySQL, PostGreSQL, SQLite
	</multi>
	</description>
	<prefix>tabledata</prefix>
	<bouton id='tabledata' parent='naviguer'>
		<titre>tabledata:tabledata</titre>
		<icone>img_pack/tabledata.gif</icone>
		<url>tabledata</url>
	</bouton>
	<bouton id='tabledata21' parent='bando_administration'>
		<titre>tabledata:tabledata</titre>
		<icone>img_pack/tabledata.gif</icone>
		<url>tabledata</url>
	</bouton>
    <necessite id="SPIP" version='[2.0.0;]' />
</plugin>
