<plugin>
	<nom>Agenda</nom>
	<auteur>Cedric MORIN</auteur>
	<version>0.1.0</version>
	<licence>GPL - (c) 2006</licence>
	<etat>stable</etat>
	<description>Agenda Ev&#233;nementiel</description>
	<lien>http://zone.spip.org/trac/spip-zone/wiki/AgenDa</lien>
	<options>agenda_mes_options.php</options>
	<fonctions>agenda_mes_fonctions.php</fonctions>
	<prefix>Agenda</prefix>
	<pipeline>
		<nom>ajouter_onglets</nom>
		<inclure>agenda.php</inclure>
	</pipeline>
	<pipeline>
		<nom>exec_init</nom>
		<inclure>agenda.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>agenda.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_milieu</nom>
		<inclure>agenda.php</inclure>
	</pipeline>
	<pipeline>
		<nom>agenda_rendu_evenement</nom>
		<action>rendu_evenement</action>
		<inclure>agenda.php</inclure>
	</pipeline>
	<pipeline>
		<nom>taches_generales_cron</nom>
	</pipeline>
	<necessite id="SPIP" version="[1.9.0;1.9.1]" />
	<categorie>date</categorie>
</plugin>