<plugin>
	<nom>Profil public</nom>
	<slogan>Une page profil &#224; la iGoogle</slogan>
	<auteur>cris</auteur>
	<version>0.1.0</version>
	<etat>test</etat>
	<description>
	Le plugin  permet de cr&#233;er une page perso pour les auteurs enregistr&#233;s, rassemblant divers widgets d&#233;placables, r&#233;ductibles et refermables &#224; l'envie. L'appel se fait via la page spip.php?page=profil. Vous pouvez choisir les widgets &#224; afficher avec cfg.
	</description>
	<lien>http://contrib.spip.net/Plugin-profil-public</lien>
	<icon>img/icon.png</icon>
	<prefix>profilpublic</prefix>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>profilpublic.php</inclure>
	</pipeline>
	<necessite id="SPIP" version='[2.1.0;2.1.99]' />
	<necessite id="jqueryui" version="[1.8.5;]" />
	<necessite id="cfg" version="[1.16.0;]" />
	<utilise id="contacts" version="[1.7.0;]"/>
	<utilise id="tagsphere" version="[0.3;]" />
	<utilise id="Splickr" version="[0.4.2;]" />
	<utilise id="messagerie" version="[2.0.1;]" />
	<utilise id="AP" version="[1.3.0;]" />	
	<utilise id="mesfavoris" version="[2.1.2;]" />
	<categorie>divers</categorie>
</plugin>
