<plugin>
	<nom>Profil public</nom>
	<slogan>une page profil &agrave; la iGoogle</slogan>
	<auteur>cris</auteur>
	<version>0.1</version>
	<etat>test</etat>
	
	<description>
	le plugin  permet de cr&#233;er une page perso pour les auteurs enregistr&#233;s, rassemblant divers widgets déplacables &agrave; l'envie
	</description>
	<lien>http://www.spip-contrib.net/spip.php?article3937</lien>
	<icon>img/icon.png</icon>
	<prefix>igooglelike</prefix>
	<pipeline>
	<nom>insert_head</nom>
	<inclure>igooglelike.php</inclure>
	</pipeline>
	<necessite id='SPIP' version='[2.1;]' />
	<necessite id="jqueryui" version="[1.8.5;]" />
	<utilise id="cfg" version="[1.16.0;]" />
	<utilise id="tagshpere" version="[0.3;]" />
	<utilise id="splickrbox" version="[0.4.2;]" />
	<utilise id="messagerie_2_0" version="[2.0.1;]" />
	<utilise id="annonces_publiques" version="[1.3.0;]" />
	<utilise id="contacts_et_organisations" version="[1.13.1;]" />
	<utilise id="mesfavoris_2_0" version="[2.1.2;]" />
	<categorie>multimedia</categorie>
</plugin>
