<plugin>
	<nom>Gestion Projets</nom>
	<auteur>Rainer Müller</auteur>
	<licence>GNU/GLP</licence>
	<version>0.1.7</version>
	<version_base>0.1.7</version_base>	
	<description>
		Gestionnaitre de projet. 
		
		Plugin de base sur le quelles peuvent se greffer d'autre plugins. 
		
		Disponible pour le moment :gestion_projets_timetracker (en dev)
	</description>
	<etat>dev</etat>
	<prefix>gestion_projets</prefix>
	<bouton id="projets" parent="naviguer">
		<icone>img/logo_24.png</icone>
		<titre>Projets</titre>   
		<url>projets</url>   
    	</bouton>
	<icon>img/logo_32.png</icon>
	<install>base/gestion_projets_install.php</install>	
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/gestion_projets_tables_principales.php</inclure>
	</pipeline>
<!--	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/gestion_projets_tables_auxiliaires.php</inclure>
	</pipeline>-->
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/gestion_projets_tables_interfaces.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>gestion_projets_pipelines.php</inclure>
	</pipeline>	
	<pipeline>
		<nom>autoriser</nom>
		<inclure>gestion_projets_autoriser.php</inclure>
	</pipeline>		
	<fonctions>gestion_projets_fonctions.php</fonctions>
	<options>gestion_projets_options.php</options>	
	<necessite id="SPIP" version="[2.0;]" />
	<necessite id="saisies" version="[1.8.12;]" />	
	<necessite id="spip_bonux" version="[2.2.15;]" />		
</plugin>
