<plugin>
	<nom>cURL pour copie_locale</nom>
	<auteur>ARNO*</auteur>
	<version>1.0</version>
	<etat>stable</etat>
	<description>
		Le plugin cURL pour copie_locale utilise l'extension cURL de PHP pour realiser les copies locales.
	</description>
	<lien></lien> <!-- URI de documentation -->
	<prefix>curl_copie_locale</prefix>
	<licence>GPL v3</licence>
	
	<necessite id="SPIP" version="[2.0;]" />
</plugin>