<plugin>
<nom>Galerie Caro</nom>
<prefix>galcaro</prefix>
<icon>icon/galcaro.png</icon>

<categorie>multimedia</categorie>
<slogan>Galerie d'images carr&eacute;es</slogan>
<description>Galerie d'images carr&eacute;es, avec attribut longdesc.</description>
<auteur>Fil, [romy.tetue.net->http://romy.tetue.net]</auteur>
<licence>GPL 2009-2011</licence>

<version>0.2.2</version>
<etat>dev</etat>
<necessite id='SPIP' version='[2.0.0;]' />

<pipeline>
	<nom>insert_head</nom>
	<inclure>galcaro_pipelines.php</inclure>
</pipeline>
</plugin>