div.cs_blocs h4 {
	background:transparent url(rien.gif) no-repeat scroll left center;
	color:black;
	font-size:90%;
	font-weight:normal;
	line-height:1.2em;
	margin-top:4px;
	padding:0pt 0pt 0pt 20px;
	margin-bottom:0.1em;
	clear:left;
}

div.cs_blocs h4:hover {
	cursor:pointer;
	text-decoration:underline;
}

div.cs_blocs h4.blocs_replie {
	background:transparent url(rien.gif) no-repeat scroll left center;
}

div.cs_blocs div.blocs_invisible {
	display:none;
}