div.onglets_print {
	margin:1em;
	padding:0.6em;
	border:thin dashed ;
}

div.onglets_print h4 {
	margin-top:0px;
	margin-bottom:0.6em;
}

div.onglets_bloc {
	position:relative;
	width:100%;
	clear:both;
}

div.onglets_bloc h2.onglets_titre a {
	text-decoration:	none;
	height:18px;
/*	cursor:	inherit;
	color: inherit; */
}

div.onglets_bloc h2.onglets_titre {
	height:				16px;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:6px;
	background-color:#f2f2f2;
	position:		relative;
	top:0;
	display: inline;
	float: left;
	overflow: hidden;
	cursor: pointer;
	margin:			1px -1px 1px 2px;
	padding:		0px 0.6em 2px;
	border:			1px solid rgb( 145, 155, 156 );
/*	border: 0;*/
	
	z-index: 1;
	white-space: nowrap;
	text-align: center;
	font-weight:normal;
	font-size:88%;
}

div.onglets_bloc h2.onglets_titre.selected {
	height: 18px;
	background-color:white;
	border-top: 3px solid #8B6F92;
	z-index: 3;
	top: -3px;
	margin: 1px -3px -3px 0px;
	border-bottom-width: 0;
}

div.onglets_bloc h2.onglets_titre.selected, div.onglets_bloc h2.onglets_titre.selected a {
	cursor: default;
}

div.onglets_bloc h2.onglets_titre, div.onglets_bloc h2.onglets_titre a {
	color: black;
}
div.onglets_bloc h2.hover a {
	color:blue;
}
div.onglets_bloc h2.onglets_titre.selected a {
	color: black;
	height:18px;
}


div.onglets_bloc .onglets_liste {
	z-index:		1;
	white-space:	nowrap;
}

div.onglets_bloc .onglets_contenu {
	display:none;
	clear:			both;
	border:			1px solid rgb( 145, 155, 156 );
	background:		rgb( 252, 252, 254 );
	z-index:		2;
	position:		relative;
	top:			-2px;
	padding:		10px;
}

div.onglets_bloc .onglets_contenu.selected {
	display:block;
}
