<plugin>
	<nom>LESS CSS</nom>
	<slogan>Int&#233;gration de l'impl&#233;mentation php de LESS</slogan>
	<auteur>Jean-Baptiste Bourgoin</auteur>
	<auteur>Cedric Morin</auteur>
	<licence>MIT</licence>
	<version>1.0.7</version>
	<etat>stable</etat>
	<icon>img/lesscss-32.png</icon>
	<description>
LESS est une extension de CSS ajoutant les variables, les classes, les op&#233;rations, les imbrications au langage. Facilitant ainsi
l'&#233;criture de feuilles de style complexes. [->http://lessphp.gpeasy.com/]

Ce plugin compile &#224; la vol&#233;e tous les fichiers .less.css ou .less du squelette qui contient #INSERT_HEAD. Vous pouvez aussi forcer la compilation d'un fichier ou d'une feuille de style calcul&#233;e &#224; l'aide du filtre less_css.
	</description>
	<prefix>lesscss</prefix>
	<lien>http://contrib.spip.net/CSS-facile-avec-LESSpip-Less-CSS</lien>
	<categorie>outil</categorie>
	<fonctions>lesscss_fonctions.php</fonctions>
	<pipeline>
		<nom>insert_head</nom>
	</pipeline>
	<necessite id="SPIP" version="[2.1.0;3.1.99]" />
</plugin>
