.liste-objets.medias table {width: 100%; background-color: white; font-size: 1em;}
.liste-objets.medias table tr {}
.liste-objets.medias table tr td { padding: 3px 5px; border-bottom: 1px solid #cccccc; }

.galerie table td { min-height: auto; }