/* D'apres : http://speckyboy.com/2010/02/15/20-css3-tutorials-and-techiques-for-creating-buttons/
et en particulier Pretty CSS3 buttons : http://papermashup.com/pretty-css3-buttons/ */

.submit, .submit:visited {
background: #222 url(varicelle-overlay.png) repeat-x; border: 0;
display: inline-block; 
padding: 5px 10px 6px; 
color: #fff; 
text-decoration: none;
-moz-border-radius: 6px; 
-webkit-border-radius: 6px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-bottom: 1px solid rgba(0,0,0,0.25);
position: relative;
cursor: pointer
}

.submit:hover { background-color: #111; color: #fff; }
.submit:active { top: 1px; }
.small.submit, .small.submit:visited { font-size: 11px}
.submit, .submit:visited,
.medium.submit, .medium.submit:visited { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }

.large.submit, .large.submit:visited { font-size: 14px; padding: 8px 14px 9px; }
.super.submit, .super.submit:visited { font-size: 34px; padding: 8px 14px 9px; }

.pink.submit, .magenta.submit:visited { background-color: #e22092; }
.pink.submit:hover { background-color: #c81e82; }
.green.submit, .green.submit:visited { background-color: #91bd09; }
.green.submit:hover { background-color: #749a02; }
.red.submit, .red.submit:visited { background-color: #e62727; }
.red.submit:hover { background-color: #cf2525; }
.orange.submit, .orange.submit:visited { background-color: #ff5c00; }
.orange.submit:hover { background-color: #d45500; }
.blue.submit, .blue.submit:visited { background-color: #2981e4; }
.blue.submit:hover { background-color: #2575cf; }
.yellow.submit, .yellow.submit:visited { background-color: #ffb515; }
.yellow.submit:hover { background-color: #fc9200; }

/* end */