.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
.chosen-drop .chosen-results .create-option a {
  color: red;
}
.formulaire_spip {
  overflow: visible !important; /* voir https://github.com/harvesthq/chosen/issues/86 pour le problème */
}
