<plugin>
	<nom> <!-- Nom du plugin -->
	Miroir de syndication
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	fil@rezo.net
_ &copy; 2006 - Distribue sous licence GNU/GPL
	</auteur>
	<version>
	0.2
	</version>
	<etat>
	test
	</etat>
	<description>
Ce plugin recopie les articles syndiques {et publi&eacute;s} de spip_syndic_articles vers spip_articles. Le code est suffisamment simple pour &ecirc;tre modifiable en fonction des besoins.

Les articles sont organis&eacute;s automatiquement selon un rubriquage &laquo;intelligent&raquo;: au d&eacute;part, SPIP positionne l'article dans la rubrique o&ugrave; se trouve le site syndiqu&eacute;. Si l'article &agrave; recopier dispose d'un tag de 'category', SPIP cree la sous-rubrique correspondante (voire, arborescente si le tag s'&eacute;crit sous la forme &laquo;Chemin/Vers/Rubrique&raquo;). S'il n'y a pas de tag de ce type, la sous-rubrique "ann&eacute;e/ann&eacute;e-mois" est cr&eacute;&eacute;e et re&ccedil;oit l'article. (Un param&egrave;tre _MODE_RUBRIQUE_MIROIR permet de supprimer ce comportement, ou de se limiter au tri par mois.)

	</description>
	<prefix> 
	MiroirSyndic
	</prefix>
	<!-- Definitions des fonctions qui s'inserent dans les pipelines -->
	<pipeline>
		<nom>taches_generales_cron</nom>
		<action>ajouter_cron</action>
		<inclure>MiroirSyndic.php</inclure>
	</pipeline>
</plugin>