/*************************************************************/
/*   CSS pour SPIP-Forum type "phpBB-Like" par Miss Mopi     */
/* http://www.spip-contrib.net/rubrique.php3?id_rubrique=43  */
/*************************************************************/

* { zoom:1.0; } /* pur IE - permet de résoudre des bugs d'IE */
/* pour certaines versions de Safari sinon le tableau s'affiche mal */
hr.clr { clear: both; margin:0; padding: 0; height: 0px; visibility: hidden; }
/* définition des styles d'éléments "génériques" */
a { text-decoration: none; }
a:hover { text-decoration: underline; }
h2 { background:none; }
p { margin:0; padding:0; border:0; font-size: 90%; }
img { border: none; margin: 0; }
.moderateurs { clear:left; font-size:90%; text-align:left; font-weight: bold; padding:1em; padding-top:0; margin:0px; }
.nav { float:left; font-weight: bold; margin-bottom: 5px; padding-top:20px;}
body#forumsect p.nouvmsg { float: right; margin-bottom: 5px; }
body#forumsect p.nav { float: left; margin-left:10px }
body#artforum p.nav, body#voirsujet p.nav { float: left; }
form {font-size:1.4em;}

/* Eléments des formulaires & boutons SPIP */
a.spip_barre img, .spip_bouton, .spip_encadrer { background-color: transparent; }

/* Boutons SPIP admin*/
.spip-admin form { display: inline; }
.spip-admin .spip_bouton { font-weight: bold; margin-right: 20px; }


/* Zone de données*/
div#contenant { padding: 3px; margin: 3px; }

/* Définition de l'en-tête */

/* Entête */
div#entete { height: 100px; }
/* Le Logo!!! */
/* la largeur de l'image doit être renseignée sur le width, et sa 
hauteur sur le height, hauteur max 200px, largeur max : bon sens */
/*div.logofor a { height: 100px; }*/

/* Logo */
div.logofor { float: left; margin: 0; padding: 0; }
div.logofor a { background-repeat: no-repeat; }
div.logofor a span { display: none; }

/* Section de titre */ 
div.titrefor { height: 50%; text-align: center; }
div.titrefor h1 { padding-top: 1em; }

/* Zone des actions */
div.actionfor { height: 50%; text-align: center; }
div.actionfor ul { list-style-type: none; margin-top: 0; margin-bottom: 0; margin-right: auto; margin-left: auto; padding-top: 1em; }
div.actionfor ul li { display: inline; }
div.actionfor ul li a { padding-left: 16px; height: 13px; background-repeat: no-repeat; margin-right: 10px; }
li.recherche a { background-image: url(img/icon_mini_search.png); }
li.membre a { background-image: url(img/icon_mini_members.png); }
li.enreg a { background-image: url(img/icon_mini_register.png); }
li.login a { background-image: url(img/icon_mini_login.png); }
li.profil a { background-image: url(img/icon_mini_profile.png); }

/* Corps de la page */

/* Liste d'action des forums */
ul.actionforum { margin: 0.5em; padding: 0; float: left; }
ul.actionforum li { list-style: none; display: inline; margin-right: 3px; }
ul.actionforum li a { padding: 0; margin: 0; padding-left: 88px; background-repeat: no-repeat; font-size: 35px; background-position: center left; }
ul.actionforum li a:hover { text-decoration: none; }
ul.actionforum li a span { display: none; }
li.poster a { background-image: url(img/nouveausujet.png); }
li.repondre a { background-image: url(img/repondre.png); }

/* définition des tableaux */
table.spipforum { width: 98%; margin: auto; border-collapse: collapse; clear: both; }
table.spipforum td, table.spipforum th { padding: 3px; border: 1px solid; text-align: center; }
tr.salon td { margin: 0; padding: 0; padding-left: 3px; text-align: left; }
	table.spipforum h2, table.spipforum h3 { margin: 0; padding: 0; }
td.titre, td.titresuj { text-align: left !important; font-weight: bold; }
td.enligne, td.dernmsg { text-align: left !important; }
td.msgpost, td.msgsuj, td.autpost { width: 75px; }
td.dateaut, td.msgaut, td.statutaut { width: 80px; }
td.etatsuj, td.etatfor, td.etatenligne { width: 50px; height: 25px; }
td.etatsuj span, td.etatfor span, td.etatenligne span  { display: none; }
td.annpost { background-image: url(img/folder_announce.png); background-repeat: no-repeat; background-position: center; }
td.normpost { background-image: url(img/folder.png); background-repeat: no-repeat; background-position: center; }
td.fermpost { background-image: url(img/topic_lock.png); background-repeat: no-repeat; background-position: center; }
td.postitpost { background-image: url(img/folder_sticky.png); background-repeat: no-repeat; background-position: center; }
td.ouvfor { background-image: url(img/folder_big.png); background-repeat: no-repeat; background-position: center; }
td.fermfor { background-image: url(img/folder_lock_big.png); background-repeat: no-repeat; background-position: center; }
td.etatenligne { background-image: url(img/whosonline.png); background-repeat: no-repeat; background-position: center; }
td.dermsg { width: 180px; }
body#nouvmsgfor td.dermsg { background-color: transparent; }
a.adermsg { height: 9px; padding-left: 18px; background-repeat: no-repeat; background-image: url(img/icon_latest_reply.png); }
a.adermsg span { display: none; }
a.adermsg:hover { text-decoration: none; }
td.pm a, td.email a, td.www a { display: block; height: 18px; width: 59px; background-repeat: no-repeat; margin: auto; }
td.pm, td.email, td.www { width: 65px; }
td.pm a, li.pm a { background-image: url(img/icon_pm.png); }
td.email a { background-image: url(img/icon_email.png); }
td.www a, li.www a { background-image: url(img/icon_www.png); }
td.pm a span, td.email a span, td.www a span { display: none; }
td.tabvs { text-align: left; }
ul.titrevs { float: left; margin: 0; padding: 0; padding-left: 14px; background-repeat: no-repeat; background-image: url(img/icon_minipost.png); background-position: 2px;  border: 0 solid #FFFFFF; border-bottom-width: 1px; }
ul.titrevs li { list-style-type: none; display: inline; }
li.ttitrevs { font-style: italic; }
div.txtvs { clear: both; text-align: left; }
td.autvs { width: 180px; }
td.autvs a:hover { text-decoration: none; }
td.autvs p { margin: 0; font-weight: bold; }
td.retourvs { border-right: none; }
td.videvs { border-left: none; }
td.autvs, td.tabvs { vertical-align: top; }
td.titre p, td.salontitre p { font-weight: normal; }

/* liste des actions du tableau des interventions */
ul.actionvs { margin: 0; padding: 0; float: right; margin-bottom: 7px; font-size: 18px; }
ul.actionvs li { list-style: none; display: inline; }
ul.actionvs li a { padding-left: 11px; font-size: 18px; background-repeat: no-repeat; background-position: center; }
ul.actionvs li a:hover { text-decoration: none; }
ul.actionvs li a span { display: none; }
li.citervs a { padding-left: 54px !important; background-image: url(img/icon_quote.png); }
li.effacervs a { background-image: url(img/icon_delete.png); }
li.editervs a { padding-left: 54px !important; background-image: url(img/icon_edit.png); }
li.ipvs a { background-image: url(img/icon_ip.png); }

ul.auteurvs { margin: 0; padding: 0; font-size: 11px; height: 18px; float: left; }
ul.auteurvs li { list-style: none; display: inline;  width: 65px; }

/* Styles de la liste d'actions d'administration */
ul.actionadm { margin: 0; padding: 0; height: 20px; text-align: center; font-weight: bold; clear: both; }
ul.actionadm li { list-style: none; display: inline; }
li.admeffacer a, li.admclore a, li.admbouger a, li.admseparer a { padding-left: 19px; padding-bottom: 7px; height: 18px; background-repeat: no-repeat; }
li.admeffacer a:hover, li.admclore a:hover, li.admbouger a:hover, li.admseparer a:hover { text-decoration: none; }
li.admeffacer a span, li.admclore a span, li.admbouger a span, li.admseparer a span { display: none; }
li.admeffacer a { background-image: url(img/topic_delete.png); }
li.admclore a { background-image: url(img/topic_lock.png); }
li.admbouger a { background-image: url(img/topic_move.png); }
li.admseparer a { background-image: url(img/topic_split.png); }

/* Styles particuliers à la page pour poster */
div.prec { width: 98%; margin: auto; text-align: center; }
div.prec h2, div.prec h3 { margin: 0; padding: 0; padding-top: 3px; border-bottom: 1px solid; }
div.prec a { font-weight: bold; }
div.prec p { margin: 5px; }
td.postsmiley { width: 20%; }
td.postsmiley td, td.postformulaire tr, td.postformulaire td { border: none; }
td.postformulaire td { text-align: left; }
td.postformulaire, td.postformulaire .spip_encadrer { width: 95%; text-align: left !important; vertical-align: top; border: none; }
div.tailformulaire { width: 600px !important; margin: auto; }
/* liste des icones */
div.smileys { width: auto; display: block; margin: auto; padding-top: 15px; }
div.smileys hr { display: none; }
div.icone { width: 27%; float: left; margin: 0 3px; height: 55px; }
div.icone a { vertical-align: bottom; }

/* Styles particuliers à la page de recherche */
div.rechliste { width: 98%; padding: 0; margin: auto; }
ul.recherche { list-style-type: none; margin-top: 0; margin-bottom: 0; margin-right: auto; margin-left: auto; padding: 0; }
ul.recherche li { display: block; }
li.titre { width: 100%; text-align: center; border-top: 1px solid; border-bottom: 1px solid; clear: both; padding-top: 10px; }
li.rechtitre, li.rechoption { width: 49%; margin-left: 3px; }
li.rechtitre { border-right: 1px solid; font-weight: bold; height: 5em; float: left; }
li.rechoption { float: right; padding-top: 1em; }
li.rechtitre span { font-weight: normal; }
div.rechliste p { clear: both; margin: 0; padding: 0; text-align: center; padding-top: 0.5em; border-top: 1px solid; }

/* Sections de la page de membre */

/* section principale */
div#detail { width: 98%; margin: auto; }

/* les différentes sections */
div#information { float: left; width: 75%; border-left: 1px solid; margin-right: -1px; }
div#avatar { float: left; width: 25%; border-right: 1px solid; margin-right: -2px; }
div#communication { clear: both; border-top: 1px solid; }

/* liste des éléments de la page de détails des membres */
div#detail h2, div#detail h3 { margin: 0; padding: 0; text-align: center; border-bottom: 1px solid; }
div#information h3 { margin-right: 1px; }
ul.detmem { list-style-type: none; margin: 0; padding: 0; margin-left: 2em; }
ul.detmem span { font-weight: bold; }
li.pm a { padding-left: 59px; font-size: 18px; background-repeat: no-repeat; background-image: url(img/icon_pm.png); }
li.pm a span { display: none; }
li.bio { font-weight: bold; }
li.bio span { font-weight: normal; }
div#avatar p { text-align: center; }

/* éléments du formulaire spip ecrire_auteur */
div#communication .spip_encadrer { width: 70%; margin: auto; }
div#communication .forml { width: 95%; }

/* Taille et position de la zone de login */
div.login { width: 98%; margin: auto; margin-top: 1em; }
div.login .spip_encadrer { width: 450px; margin: auto; border: none; }
div.login p { margin: 0; padding: 0; padding-top: 3px; padding-left: 0.5em; padding-bottom:5px; text-align: center; border-bottom: 1px solid; color: #FFFFFF; }
div.login .forml { width: 150px; }
div.login p a {color: #FFFFFF; text-decoration:none;}

/*Taille et position de la zone de pagination */
/* et des sections pour le numéro de page et la liste des pages */
div.pagination { width: 98%px; margin-right: auto; margin-left: auto; margin-top: 1em; clear: both; }
div.page { float: left; }
div.navigapage { float: right; text-align: right; }

/* Définition du pied de la page */
/* Taille et position du pied de page */
div.piedpage { width: 100%; text-align: center; }

/* taille et position de la zone spip-admin */
div.piedpage div.spip-admin { margin-top: 35px; }

/*************************************************************/
/* Pour personnaliser les images modifier les images dans    */
/* le répertoire spip-contrib, sauf le logo placé ci-dessous */
/*************************************************************/

/* Personnaliser les couleurs de fond & bordure */
/* Fond de page */
body { background-color: #EDEDED; }
/* Fond de zone de données et contour */
div#contenant { border: 1px solid #999999; background-color: #FFFFFF; }
/* les séparateurs */
hr	{ height: 0; border: 0 solid #FFFFFF; border-top-width: 1px; margin:4px 0 0 0;}
/* Couleur principale des tableaux et assimilés */
table.spipforum, div.prec, div#detail, div.login, td.row1, div.rechliste
{ background-color:#D3E8E8 ; }
/* Couleur secondaire des tableaux et assimilés */
tr.row2, td.titresuj, td.msgpost, td.msgsuj, td.dermsg
{ background-color: #a1e0e0; }
/* Couleur des cellules d'avertissement de cloture */
tr.clos
{ background-color: #cccccc; }
/* Bordure externe des tableaux et assimilés */
table.spipforum, div.prec, div#detail, div#communication .spip_encadrer, div.login, div.rechliste
{ border: 2px solid #006666; }
/* Bordure interne des tableaux et assimilés */
table.spipforum td, table.spipforum th, div.prec h2, div.prec h3,
div#information, div#avatar, div#communication, div.login p
div#detail h2, div#detail h3, li.titre, li.rechtitre, div.rechliste p
{ border-color: #FFFFFF; }
/* Couleur des zones de saisie */
.forml, input { background-color: #FFFFFF; }
/* titre de premier niveau des tableaux et assimilés
Normalement l'image recouvre mais on ne sait jamais */
table.spipforum th, div.prec h2, div#detail h2, div.login p, li.titre
{ background-color: #006666 ;  height: 25px; }
/* titre de deuxième niveau des tableaux et assimilés */
tr.salon td, div#detail h3, div.prec h3
{background-color:#EDEDED ;	height: 25px; }

/*Personnaliser les polices et couleurs */
/* Polices générales */
body { font-size: 11px; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif }
h1, h2 { font-weight: bold; font-size: 22px; font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
		text-decoration: none; color : #666666; line-height: 120%; }
/* Liens */
a:link, a:active, a:visited { color : #336666; }
a:hover { color : #336666; }
/* Liens navigations et tableaux */
.nav a, tr.salon a, td.titre a:link, td.titresuj a:link { color : #336666 !important; }
td.titre a:visited, td.titresuj a:visited { color : #336666; }

/* Boutons SPIP */
.spip_bouton { font-size: 11px; border: 2px solid #000000; }
/* titre de premier niveau des tableaux et assimilés */
table.spipforum th, div.prec h2, div#detail h2, table.spipforum h2, li.titre
{ font-size: 11px; font-weight : bold; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; }
/* titre de deuxième niveau des tableaux et assimilés */
tr.salon td, div#detail h3, div.prec h3, div.login p, table.spipforum h3
{ font-size: 11px; font-weight : bold; font-family: Verdana, Arial, Helvetica, sans-serif; }
/* Cellule d'avertissement de fermeture d'un forum */
body#artforum tr.clos { font-weight: bold; font-size: 12px; }
/* police petite taille */
td.statutaut, td.dermsg, td.enligne, li.rechtitre span
{ font-size: 10px; }
td.enligne { text-align: left; }
/* Copyright et informations de pied de page */
.copyright
{ font-size: 10px; color: #999999; letter-spacing: -1px;}




/*Les Smilleys*/
ul.listes_smileys {
padding: 0;
margin: 0;
min-width: 4em;
}

ul.listes_smileys li.un_smiley {
list-style-type: none;
float: left;
border-bottom: 1px solid white;
width: 3em;
text-align: center;
padding: 5px 3px;
margin: 0px;
}

ul.listes_smileys li.un_smiley  IMG.smiley_image {
vertical-align: middle;
margin: 5px 0 0 1em;
display: block;
align: center;
border: 0;
}


ul.listes_smileys li.un_smiley span.smiley_alt {
display:none;
}

input.post {
	width: 300px; }
