<plugin>
	<nom>Spip Ref Panel</nom>
	<slogan><multi>[fr]Bo&icirc;te &agrave; outils du R&eacute;f&eacute;renceur pour SPIP[en]SEO toolkit for SPIP</multi></slogan>
	<auteur>Loiseau2nuit</auteur>
	<icon>img/srp-128.png</icon>
	<licence>GNU/GPL</licence>
	<version>0.1-dev</version>
	<etat>experimental</etat>
	<description>
		<multi>
			[fr]Ce (meta) plugin g&eacute;n&egrave;re les dépendances &agrave; plusieurs plugins utiles pour le r&eacute;f&eacute;rencement de sites web et offre un jeu de squelettes 'page' ( <code>spip.php?page=panel-articles ; spip.php?page=panel-rubriques ; spip.php?page=panel-mots</code> ) permettant la modifications de masse sur les informations les plus courament manipul&eacute;es par les r&eacute;f&eacute;renceurs (Titles, metas, urls, Titrailles, ...)
		</multi>
	</description>
	<lien>http://nutzme5.loiseau2nuit.net/spip-ref-panel-plugin-seo</lien>
	<prefix>srp</prefix>
	<!-- options>srp_options.php</options -->
	<categorie>outils</categorie>
	<necessite id="SPIP" version="[3.0-dev;[" />
	<necessite id="metas" version="[1.4.0;]" />
	<!-- lib nom="tabFilter" lien="https://github.com/hail2u/jquery.table-filter/archive/master.zip" / -->
	<!-- todo: utilise PIWIK ou GAnalytics -->
</plugin>
