.page_tickets_flux_suivi dl.site {
	display:inline-block;
	width:23%;
	border:1px solid gray;
	-webkit-border-radius: 10px;border-radius: 10px;
	padding:6px;
	vertical-align:top;
}

.page_tickets_flux_suivi dl dt {font-weight:bold;}

.page_tickets_flux_suivi dl.site > dt {
	font-size:1.2em;text-align:center;background-color:gray;color:white;border-top: 1px solid gray;
    border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	margin:-7px;
	margin-bottom:6px;
	line-height:2.2em;}
.page_tickets_flux_suivi dl.site dt a {color:white;}

.page_tickets_flux_suivi dl img.bouton {
	float:right;
	margin-right:12px;
	margin-top:0.5em;}
.page_tickets_flux_suivi dl.ticket dd {margin-left:0}
