/* boutonstexte.css */
.boutonstexte {
	float: right;
}
.boutonstexte button {
	position:relative;
	top: -10px;
	padding: 0;
	border: 1px transparent solid;
	background-color: transparent;
}
.textsizeup, .textsizedown, .textonly {
	cursor: pointer;
}
.boutonstexte button:hover {
	border: 1px red solid;
}
.boutonstexte button.textonly {
	background-repeat: no-repeat;
	height: 17px;
	width: 17px;
}
.boutonstexte button.textsizedown {
    background-repeat: no-repeat;
	height: 17px;
	width: 17px;
}
.boutonstexte button.textsizeup {
    background-repeat: no-repeat;
	height: 17px;
	width: 17px;
}


div.onlytext {
	text-align: left;
	margin:0 auto!important;
	border:0 !important;
	padding:0 !important;
	float: none !important;
	color: black;
	width:19cm!important;
	font-size: 1em;
}

div.onlytext p {
	padding-bottom:0.5em!important;
}

.onlytext_wrapper {
	text-align:center !important;
	font-size: 76%;
	background-color:white;
}

@media print {

/* boutonstexte.css */
.boutonstexte {
	display:none;
}

div.onlytext {
	width:auto!important;
}

}
