<plugin>
	<nom>Groupes</nom>
	<auteur>VincentL</auteur>
	<licence>&copy; 2009 - GNU/LGPL</licence>
	<version>1.0.0</version>
	<version_base>0.63</version_base>
	<etat>dev</etat>
	<slogan>Cr&#233;er des groupes d'auteurs</slogan>
	<description>
		Ce plugin permet de cr&#233;er des groupes d'auteurs et de les associer &#233;ventuellement aux zones du plugin Acc&#232;s restreint.
	</description>
	<lien>http://contrib.spip.net/Gestion-de-Groupes-d-auteurs-2,3135</lien>
	<icon>img_pack/groupes_auteurs.png</icon>
	<prefix>groupes</prefix>
	<install>base/groupes_install.php</install>
	<options>groupes_options.php</options>
	<fonctions>groupes_fonctions.php</fonctions>
	<install>base/groupes_install.php</install>
	<pipeline>
		<nom>listeauteurs</nom>
		<inclure>groupes_pipelines.php</inclure>
	</pipeline>
	<bouton id='groupes_auteurs' parent='auteurs'>
	    <icone>img_pack/groupes_auteurs16png</icone>
	    <titre>groupes_auteurs:groupes d&rsquo;auteurs</titre>
		<url>groupes</url>
	</bouton>
	<bouton id='groupes_auteurs' parent='bando_edition'>
		<icone>img_pack/groupes_auteurs16.png</icone>
	    <titre>groupes_auteurs:groupesd&rsquo;auteurs</titre>
		<url>groupes</url>
	</bouton>
	
	<pipeline>
		<nom>listeliens</nom>
		<inclure>groupes_pipelines.php</inclure>
	</pipeline>
	<pipeline>
        <nom>declarer_tables_principales</nom>
        <inclure>base/groupes_pipelines.php</inclure>
	</pipeline>
	<pipeline>
        <nom>declarer_tables_auxiliaires</nom>
        <inclure>base/groupes_pipelines.php</inclure>
	</pipeline>
	<pipeline>
        <nom>declarer_tables_interfaces</nom>
        <inclure>base/groupes_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.1.0;2.1.99]" />
	<categorie>auteur</categorie>
</plugin>