<plugin>
	<nom>Cumulus</nom>
	<auteur>Adaptation Anne-lise Martenot
_ Licence GNU/GPL
	</auteur>
	<lien>http://contrib.spip.net/</lien>
	<icon>cumulus.png</icon>
	<version>1.1</version>
	<etat>stable</etat>
<description>
Ce plugin permet d'utiliser WP-cumulus voir http://www.roytanck.com/2008/03/15/wp-cumulus-released/
 <a href="/?page=cumulus_exemple">Demo avec nuage version 3.2.1</a>
</description>
	<prefix>cumulus</prefix>
  <fonctions>cumulus_fonctions.php</fonctions>
	<necessite id="SPIP" version="[2.0.6;]" />
	<necessite id="cfg" version="[1.10.2;]" />
	<necessite id="spip_bonux" version="[1.8;]" />
	<necessite id="nuage" version="[1.4;]" />
	<utilise id="palette" version="[1.0;]" />
    <necessite id="lib:swfobject" src="http://swfobject.googlecode.com/files/swfobject_2_2.zip" />
</plugin>