<plugin>
	<nom>Ancres Douces</nom>
	<auteur>SarkASmeL, d'apr&egrave;s une id&eacute;e originale Fil</auteur>
	<version>1.3</version>
	<etat>stable</etat>
	<description>
Ce plugin permet un d&eacute;filement continu de la page lorsque le visiteur clique sur un lien pointant vers une ancre de l'article en cours de lecture.
Cette fonction est aussi pr&eacute;sente dans le plugin Couteau Suisse. Si vous utilisez d&eacute;j&agrave; le Couteau Suisse, vous n'avez donc pas besoin d'Ancres Douces.
	</description>
	<prefix>ancres_douces</prefix>
	<icon>ancres_douces-64.png</icon>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>ancres_douces_pipelines.php</inclure>
	</pipeline>
	<categorie>navigation</categorie>
	<necessite id="SPIP" version="[1.9.0;]" />
</plugin>
