<plugin>
  <nom>Masquer</nom>
  <auteur>Nicolas Hoizey et St&eacute;phanie Caron de [Clever Age->http://www.clever-age.com/]</auteur>
  <licence>GNU/GPL</licence>
  <version>0.4</version>
  <description>Ce plugin permet de masquer sur le site public les contenus qui ont un mot clef dont le titre est « masquer ».
Si une rubrique est masquée, toute sa branche l'est aussi.

Seuls les rubriques et articles sont g&eacute;r&eacute;s dans un premier temps.

Il suffit d'ajouter le critère <code>{tout_voir}</code> aux boucles pour forcer l'affichage des contenus masqu&eacute;s.

Todo :
-* g&eacute;rer les br&egrave;ves, sites, auteurs, etc.    
  </description>
  <etat>test</etat>
  <prefix>masquer</prefix>
  <fonctions>masquer_fonctions.php</fonctions>
  <pipeline>
    <nom>pre_boucle</nom>
    <inclure>masquer_pipelines.php</inclure>
  </pipeline>
  <categorie>navigation</categorie>
</plugin>
