<plugin>
	<nom>Flux RSS configurable</nom>
	<slogan>Personnaliser le flux RSS des articles du site</slogan>
	<auteur>[Joseph->http://www.spip-contrib.net/Joseph]</auteur>
	<icon>prive/themes/spip/images/rssconfig-32.png</icon>
	<licence>GNU/GPL</licence>
	<version>1.4.1</version>
	<etat>stable</etat>
	<description>Ce plugin vous permet de personnaliser le fonctionnement de votre flux RSS &#224; l&#8217;aide d&#8217;un formulaire dans l&#8217;espace priv&#233;.</description>
	<lien>http://www.spip-contrib.net/?article3793</lien>
	<prefix>rssconfig</prefix>
		<bouton id='rssconfig' parent='configuration'>
		<icone>prive/themes/spip/images/rssconfig-24.png</icone>
		<titre>rssconfig:rssconfig</titre>
		<url>configurer_rssconfig</url>
	</bouton>
	<bouton id='rssconfig21' parent='bando_squelette'>
		<icone>prive/themes/spip/images/rssconfig-16.png</icone>
		<titre>rssconfig:rssconfig</titre>
		<url>configurer_rssconfig</url>
	</bouton>
	<pipeline>
		<nom>ieconfig_metas</nom>
		<inclure>rssconfig_ieconfig_metas.php</inclure>
	</pipeline>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.1.0;2.1.99]" />
	<necessite id="Iterateurs" />
	<utilise id="Z" />
	<utilise id="Zdist" />
</plugin>