/* --------------------------------------------------------------

   form.css
   Base pour formulaires
   Cf.: http://www.spip-contrib.net/3820

-------------------------------------------------------------- */

input,textarea,select,button { font-family: inherit; font-size: 100%; font-weight: inherit; line-height: inherit; }

input[type="submit"],input.submit,
input[type="button"],input.button,
input[type="image"],input.image,
button { cursor: pointer; }

.ie fieldset { padding-top: 0; }
.ie textarea { overflow: auto; }
.ie button,
.ie input.submit,
.ie input.button { position:relative; }

/* Success, notice and error boxes */

.error,
.notice,
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }

/* end */