<plugin>
	<nom>	<!-- Nom du plugin -->
		Modération Modérée
	</nom>
	<icon>
		img_pack/icone.png
	</icon>
	<auteur>	<!-- Auteur du plugin -->
		Potter64(Yohann)
	</auteur>
	<version>
		0.99c
	</version>
	<etat>
		dev
	</etat>
	<description>
		Ce plugin permet aux utilisateurs des forums publics étant configurés "à priori" de ne pas avoir à valider leur message depuis l'interface privée {{si ils sont logués sur le site public}}.
		Ceci marche que pour les forums publics {{à priori}}.
		On peut choisir quels types de visiteurs auront droit à la modération modérée.
	</description>
	<lien>
		[Site de l'éditeur->http://www.chambredesecrets.net]
	</lien>
	<prefix>
		moderation
	</prefix>
	<!-- Definitions des fonctions qui s'inserent dans les pipelines -->
    <pipeline>
       	<nom>
			ajouter_boutons
		</nom>
       	<action>
			ajouterBoutons
		</action>
		<inclure>
			inc_moderation.php
		</inclure>
    </pipeline>
</plugin>
