<plugin>
	<nom>
	Format SPIP pour 1.9.2
	</nom>
	<auteur>Joseph LARMARANGE</auteur>
	<version>
	0.1
	</version>
	<etat>
	stable
	</etat>
	<description>
	Ce plugin rajoute, sur la page exec=articles, une bo&icirc;te texte contenant le contenu brut d'un article (avec les raccourcis typographiques SPIP), afin qu'un r&eacute;dacteur puisse copier/coller le contenu d'un article m&ecirc;me s'il n'est pas autoris&eacute; &agrave; &eacute;diter l'article source.
	</description>
	<lien>
	</lien>
	<prefix>
	formatspip
	</prefix>
	<icon>images/formatspip-48.png</icon>
		<pipeline>
		<nom>affiche_milieu</nom>
		<inclure>formatspip_pipelines.php</inclure>
	</pipeline>
	<chemin dir='' type='prive' />
	<necessite id="SPIP" version="[1.9.0;]" />
	<categorie>edition</categorie>
</plugin>
