<plugin>
	<nom> <!-- Nom du plugin -->
	Woopra
	</nom>
	<icon>chart.png</icon>
	<auteur>	<!-- Auteur du plugin -->Jacques Pyrat, [Pyrat.net->http://www.pyrat.net]
_ &#169; 2008 - GPL
	</auteur>
	<version>0.1</version>
	<etat>
	stable
	</etat>
	<description>
	Outil de Statisitique [Woopra->http://www.woopra.com/]
	</description>
	<lien></lien> <!-- URI de documentation -->
	<prefix>woopra</prefix>
	<pipeline>
		<nom>affichage_final</nom>
		<action>affichage_final</action>
		<inclure>woopra_options.php</inclure>
	</pipeline>
	<chemin dir='' />
</plugin>