<plugin>
	<nom> <!-- Nom du plugin -->
	Barre Typo V2 pour 1.9.2 et suivantes
	</nom>
	<auteur><!-- Auteur du plugin -->
-* [Jacques->http://www.spip-contrib.net/_Jacques-PYRAT_]
-* Extensibilit&eacute; : Bill (Stephane LAURENT - spipcarto@gmail.com) : des pipelines pour rajouter des boutons et la possibilit&eacute; de rajouter des traitements dans pre_propre
-* Pr&#233;visualisation : [->http://www.spip-contrib.net/Previsualisation-dynamique-d]
-* Editeur de tableaux : [Christian Quentin->http://www.spip-contrib.net/_quentic_] &#224; partir du travail de [Courcy->http://www.spip-contrib.net/_courcy_] dans l'[article->http://www.spip-contrib.net/Editeur-de-tableau-pour-la-1-7] pour l'&eacute;diteur de tableau
_ Le code initial de Courcy a a &eacute;t&eacute; en grande partie r&eacute;-&eacute;crit pour : 
-** g&eacute;n&eacute;rer une syntaxe de tableau SPIP et non HTML (l'&eacute;diteur de couleur de cellules disparait donc aussi)
-** pour permettre de cr&eacute;er mais aussi de modifier un tableau existant
-** pour int&eacute;grer les &eacute;l&eacute;ments HTML titre et r&eacute;sum&eacute; de tableau
-* Galerie de documents : [SCRIPT ORIGINAL POUR SPIP 1.7.2->http://www.gasteroprod.com/la-galerie-spip-pour-reutiliser-facilement-les-images-et-documents.html]
-* Statistiques : [Joseph->http://www.spip-contrib.net/Joseph] &agrave; partir d'une [contribution de François Schreuer->http://www.spip-contrib.net/Mesurer-la-longueur-d-un-article].
_ ADAPTATION POUR SPIP 1.9.2 par [Coyote->http://www.spip-contrib.net/_Coyote_] (28 mars 2007)

&#169; 2007 - Distribu&#233; sous licence GNU/GPL
	</auteur>
	<lien>[Exemple d'utilisation->http://www.pyrat.net/Raccourcis-Typographiques-de-SPIP.html]</lien>
	<version>
	2.1.3
	</version>
	<etat>
	stable
	</etat>
	<description>
Am&#233;liore la barre typographique de SPIP.

La barre est enrichie de plusieurs barres th&#233;matiques pour:
-* La gestion des liens hypertextes avec gestion des bulles
-* La gestion des tableaux
-* Une fonction chercher/remplacer dans le texte de l'article
-* L'insertion des caract&#232;res sp&#233;ciaux
-* Changer la casse

{Certaines icones proviennent de [FamFamFam->http://www.famfamfam.com/lab/icons/silk/].}
	</description>
	<lien>http://www.spip-contrib.net/Plugin-Barre-Typographique-V2</lien> <!-- URI de documentation -->
	<!-- classe d'implementation : espace de nommage qui prefixera les appels de fonction
	sur le mode Rien::
	ainsi les fonctions hors espace de nommage ne peuvent etre appelees
	ce parametre est obligatoire et doit etre non vide
	-->
	<prefix> 
	BarreTypoEnrichie
	</prefix>
	<options> <!-- fichier charge a chaque hit -->
		typo_options.php
	</options>
	<icon>
	img_pack/moinecopiste.gif
	</icon>
	<!-- Definitions des fonctions qui s'inserent dans les pipelines -->
	<pipeline>
		<nom>header_prive</nom>
		<inclure>barre_enrichie.php</inclure>
	</pipeline>
	<!-- Le parametre action est facultatif : en son absence la methode de la classe portant le nom du pipeline est appelee. Le parametre inclure est facultatif.	-->
</plugin>