@charset "UTF-8";

// On surcharge un peut le CSS pour garder l'espace privé uniforme
.dropzone {
    background: transparent;
    border:none;
    &.dz-drag-hover {
        border: none;
        border-style: none;
    }
}

// Ajouter un style sur les saisies upload de l'admin
.saisie_upload {
	.dropzone {
		background: #f4f4f4;
		border: 1px solid #C5E41C;
	}
}