<plugin>
	<nom> <!-- Nom du plugin -->
	Thickbox v2
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	Thickbox (version 2) par [Cody Lindley->http://codylindley.com/Javascript/257/thickbox-one-box-to-rule-them-all], mis en plugin par Fil, Izo, BoOz
	</auteur>
	<version>
	0.3
	</version>
	<icon>circle_animation.gif</icon>
	<etat>
	test
	</etat>
	<description>
	ajoute un effet [thickbox->http://codylindley.com/Javascript/257/thickbox-one-box-to-rule-them-all] <br />voir surtout [thickbox->http://codylindley.com/Javascript/257/thickbox-one-box-to-rule-them-all]

Ce plugin fonctionne sur les squelettes disposant de la balise <code>#INSERT_HEAD</code>, ainsi que dans l'espace priv#233;.
_ il n#233;cessite l'activation du plugin {{jQuery}}.
	</description>
	<prefix>
	ThickBox2
	</prefix>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>head.php</inclure>
	</pipeline>
	<pipeline>
		<nom>body_prive</nom>
		<action>insert_head</action>
	</pipeline>
</plugin>