<plugin>
	<nom>Stockage S3</nom>
	<auteur>Natxo</auteur>
	<icon>stockageS3.png</icon>
	<version>0.1.0</version>
	<etat>test</etat>
	<description>Stockage des documents sur S3</description>
	<lien></lien> <!-- URI de documentation -->
	<prefix>stockageS3</prefix>
	<pipeline>
		<nom>document_desc_actions</nom>
		<inclure>stockageS3_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>editer_document_actions</nom>
		<inclure>stockageS3_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>formulaire_traiter</nom>
		<inclure>stockageS3_pipeline.php</inclure>
	</pipeline>
	<fonctions>inc/s3.php</fonctions>
	<necessite id="SPIP" version="[2.0.10;]" />
	<necessite id="gestdoc" version="[1.2.0;]" />
	<categorie>maintenance</categorie>
</plugin>