<plugin>
	<nom>
	Accessibilit&#233;
	</nom>
	<auteur>
	Goetsu et RealET &#169; 2011 - GNU/GPL
	</auteur>
	<version>
	0.8.3
	</version>
	<etat>
	dev
	</etat>
	<description>
	Diverses am&#233;liorations d'acessibilit&#233;.
	</description>
	<lien>http://www.spip-contrib.net/?article3547</lien>
	<prefix>
	Accessibilite
	</prefix>
	<icon>img_pack/wcag1AAA.png</icon>
	<pipeline>
		<nom>pre_liens</nom>
		<inclure>accessibilite_pipelines.php</inclure>
	</pipeline>
	
	<chemin dir='' />
	<necessite id="SPIP" version="[2.1.0;]" />
	<utilise id="gestdoc" version="[1.1.2;]" />
	<utilise id="medias" version="[1.5.0;]" />
	<categorie>navigation</categorie>
</plugin>
