<plugin>
	<nom>Plugin Rang</nom>
	<auteur>Camille Lafitte</auteur>
	<licence>GNU/GPL</licence>
	<version>0.1</version>
	<etat>stable</etat>
    <description>
    Gérer les rang des objets SPIP.
	</description>
	<prefix>prang</prefix>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/prang.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/prang.php</inclure>
	</pipeline>
	<install>base/prang_installer.php</install>
</plugin>
