.spip_theme {
  background: #2e2e2e;
  /* Old browsers */

  background-color: #3d3b3c;
  background-image: -moz-linear-gradient(top, #2e2e2e, #544f52);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2e2e2e), to(#544f52));
  background-image: -webkit-linear-gradient(top, #2e2e2e, #544f52);
  background-image: -o-linear-gradient(top, #2e2e2e, #544f52);
  background-image: linear-gradient(to bottom, #2e2e2e, #544f52);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2e2e2e', endColorstr='#ff544f52', GradientType=0);
  -webkit-box-shadow: 0px 3px 5px #aaaaaa;
  -moz-box-shadow: 0px 3px 5px #aaaaaa;
  box-shadow: 0px 3px 5px #aaaaaa;
}
.caret {
  content: "";
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
  margin-right: 10px;
}
.menu_container.spip-theme {
  background: #2e2e2e;
  /* Old browsers */

  background-color: #3d3b3c;
  background-image: -moz-linear-gradient(top, #2e2e2e, #544f52);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2e2e2e), to(#544f52));
  background-image: -webkit-linear-gradient(top, #2e2e2e, #544f52);
  background-image: -o-linear-gradient(top, #2e2e2e, #544f52);
  background-image: linear-gradient(to bottom, #2e2e2e, #544f52);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2e2e2e', endColorstr='#ff544f52', GradientType=0);
  -webkit-box-shadow: 0px 3px 5px #aaaaaa;
  -moz-box-shadow: 0px 3px 5px #aaaaaa;
  box-shadow: 0px 3px 5px #aaaaaa;
  z-index: 99;
}
.menu_container.spip-theme > ul > li a {
  color: #eeeeee;
  font-family: "Georgia,Cambria,Times New Roman,Times,serif";
  font-size: 15px;
}
.menu_container.spip-theme > ul > li a:hover,
.menu_container.spip-theme > ul > li a:active,
.menu_container.spip-theme > ul > li a:focus {
  background: none;
}
.menu_container.spip-theme > ul > li .caret {
  border-bottom-color: #eeeeee;
  border-top-color: #eeeeee;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #eeeeee;
}
.menu_container.spip-theme > ul > li:hover {
  background-color: #544f52;
}
.menu_container.spip-theme > ul > li:hover .caret {
  border-bottom-color: #eeeeee;
  border-top-color: #eeeeee;
  border-top: 4px solid #eeeeee;
}
.menu_container.spip-theme ul.menu_submenu_block li:hover {
  background: none repeat scroll 0% 0% #2e2e2e;
}
.menu_container {
  margin-bottom: 0;
  height: 40px;
  clear: both;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}
.menu_container.full_width {
  width: 100%;
}
.menu_container > ul {
  list-style: none outside none;
  margin: 0px;
  padding: 0px;
  float: left;
  position: relative;
  width: 100%;
  height: inherit;
}
.menu_container > ul > li {
  float: left;
  padding: 0px;
  margin: 0px;
  text-align: left;
  transition: background-color 200ms linear 0s;
}
.menu_container > ul > li > a {
  padding: 0 7px 0 17px ;
  line-height: 40px;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;
  text-shadow: none;
  font-size: 15px;
  font-family: "Georgia,Cambria,Times New Roman,Times,serif";
}
.menu_container > ul > li > a > img {
  margin-right: 10px;
  vertical-align: middle;
}
.menu_container > ul > li.right {
  float: right;
}
.menu_container > ul > li.last > a {
  box-shadow: none;
  border-right: 0px none;
}
.menu_container > ul > li:hover {
  cursor: pointer;
}
.menu_container > ul > li > .menu_dropdown_block {
  visibility: hidden;
  display: none;
  position: absolute;
  border-right: 1px solid #dddddd;
  border-width: 0px 1px 1px;
  border-style: none solid solid;
  border-color: -moz-use-text-color #dddddd #dddddd;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background: none repeat scroll 0% 0% #ffffff;
  top: 100%;
  color: #575757;
  opacity: 0;
  text-align: left;
  transition: opacity 100ms linear 0s;
  -moz-box-sizing: border-box;
  overflow: hidden;
  z-index: 30;
}
.menu_container > ul > li:hover > .menu_dropdown_block,
.menu_container > ul > li:focus > .menu_dropdown_block {
  visibility: visible;
  display: block;
  opacity: 1;
  margin-left: -1px;
}
.menu_container > ul > li > .menu_dropdown_block.full_width {
  left: 0px;
  margin-left: 0px;
}
.menu_container > ul > li > .menu_dropdown_block .ssmenu_container {
  padding: 15px 15px 5px 15px;
}
.menu_container > ul > li > .menu_dropdown_block .ssmenu_container ul.menu_submenu {
  list-style: none outside none;
  padding: 0px;
  margin: 0px 0px 10px;
}
.menu_container > ul > li > .menu_dropdown_block .ssmenu_container ul.menu_submenu li {
  display: block;
}
.menu_container > ul > li > .menu_dropdown_block .ssmenu_container ul.menu_submenu li > a {
  background: transparent;
  display: block;
  padding: 4px 0px;
  text-decoration: none;
  color: #666666;
  font-family: "Georgia,Cambria,Times New Roman,Times,serif";
}
.menu_container > ul > li > .menu_dropdown_block .ssmenu_container ul.menu_submenu li > a:hover {
  color: #111111;
  background: none;
}
.menu_container > ul > li > .menu_dropdown_block .ssmenu_container ul.menu_submenu li > a > img {
  float: left;
  margin-right: 5px;
}
.mobile_collapser {
  display: none ;
}
.mobile_collapser > label {
  display: block;
  height: 22px;
  padding: 12px 25px;
  color: #eeeeee;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 22px;
  font-family: "Georgia,Cambria,Times New Roman,Times,serif";
  text-align: left;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2) inset;
}
.mobile_collapser .mobile_menu_icon {
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  background: url('../images/mobile-menu-icon-black.png') no-repeat scroll 50% 50% transparent;
  margin-right: 10px;
}
#hidden_menu_collapser {
  display: none ;
}
#hidden_menu_collapser:checked + ul {
  height: auto;
  min-height: 40px;
  max-height: 2999px;
}
@media only screen and (max-width: 940px) and (min-width: 640px) {
  .menu_container > ul > li > a {
    padding: 12px 15px;
    font-size: 14px;
  }
  .menu_container > ul > li:hover > a {
    padding-left: 16px;
  }
}
@media only screen and (max-width: 940px) {
  .mobile_collapser {
    background: "none no-repeat #353535";
    display: block;
    height: 46px;
  }
  .menu_container {
    padding: 0px;
    height: auto;
  }
  .menu_container > ul {
    position: relative;
    transition: all 100ms linear 0s;
    height: 0px;
    background: inherit;
    overflow: hidden;
  }
  .menu_container > ul > li {
    position: relative;
    float: none;
    background: inherit;
  }
  .menu_container > ul > li:hover {
    margin-left: 0px;
  }
  .menu_container > ul > li > a {
    box-shadow: none;
    border-right: 0px none;
  }
  .menu_container > ul > li > .menu_dropdown_block {
    visibility: visible;
    position: relative;
    transition: all 100ms linear 0s;
    height: 0px;
    width: 100%;
  }
  .menu_container > ul > li:hover > .menu_dropdown_block {
    height: auto;
    min-height: 40px;
    max-height: 3000px;
  }
  .menu_container > ul > li .right {
    float: none;
  }
  .menu_container > ul > li > .menu_dropdown_block [class^="span"],
  .menu_container > ul > li > .menu_dropdown_block [class*=" span"] {
    float: none;
    width: auto ! important;
  }
}
/*

Selecteur conditionels pour EI
http://romy.tetue.net/selecteurs-conditionnels-pour-ie

*/
html.ie7 .menu_container > ul {
  zoom: 1;
  white-space: nowrap;
  z-index: 1;
}
html.ie7 .menu_container > ul > li > .menu_dropdown_block {
  top: 0;
  position: relative;
}
