<plugin>
	<nom> <!-- Nom du plugin -->
	<multi>[fr]Th&egrave;me fraichdist pour le noisetier</multi>
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	Cent20, Joseph Larmarange, pour la mise en th&egrave;me pour le noisetier <br />
	SPIP pour le code original des squelettes
	<multi>
		[fr]Distribu&#233; sous licence GPL
	</multi>
	</auteur>
	<version>0.1</version>
	<etat>
	dev
	</etat>
	<description>
	<multi>
	[fr] Th&#232;me pour le plugin noisetier. Ce th&egrave;me est bas&eacute; sur la distribution fraichdist livr&eacute;e en standard avec SPIP.
	</multi>
	</description>
	<lien>http://groups.google.com/group/noisetier-dev</lien> <!-- URI de documentation -->
	<prefix> 
	themedist
	</prefix>
	<necessite id="noisetier" version="[0.1;]" />
	<chemin dir='' />
</plugin>
