/* conteneur globaux */
#panel_conteneur { position : absolute; top : 50% ; margin-top:-290px; left : 50% ; margin-left:-475px; 
							  visibility : visible; border:1px solid #DFDFDF; background-color :  #EFEFEF ;}
#panel_relative 	{ width : 100% ; height : 100% ; position : relative}

/*  barre du haut */
#panel_haut 	{ position : absolute; top : 0 ; left : 0 ; width : 100% ; height : 16px ;text-align :right ; background: transparent url(../../../imgs/admin/grip.gif) repeat-x scroll 0 0; border-bottom:1px solid #DFDFDF; cursor:move; font-size:11px; color:#FFF; }
#assoc_haut  span { cursor:pointer;  }

/* zone de recherche */	
#panel_recherche 	{position : absolute; top : 16px ; padding-top:10px; left : 0 ;  border-right:1px solid #DFDFDF; background-color :  #EFEFEF ; }		

/* zone de resultat */
#panel_resultat 	{ position : absolute; top : 16px ; left : 231px ; width : 720px ; height : 445px ; overflow:scroll; background-color : #EFEFEF; font-size:12px; }		


/* zone d'insertion */	
#panel_assoc { position : absolute; top : 300px ; left : 230px ; width : 300px ; height : 180px ; padding:5px 10px; border:1px solid #DFDFDF; }	  