/* css pour l'ensemble des zones dans le panal */
/*
#assoc_panel_conteneur { position : absolute; top : 50% ; margin-top:-290px; left : 50% ; margin-left:-475px; width : 950px ;
							 height : 580px ; visibility : visible; border:1px solid #DFDFDF; background-color :  #EFEFEF ;}
#assoc_panel_conteneur label { font-size:12px;}
#assoc_panel_conteneur input,
#assoc_panel_conteneur select { border:1px solid #DFDFDF; font-size:12px; background-color:#FFF }
/* Ce conteneur ne servira a positionnner que les autres elements en position absolu
#assoc_panel_relative {width : 100% ; height : 100% ; position : relative}
#assoc_panel_bt_haut {position : absolute; top : 0 ; left : 0 ; width : 100% ; height : 30px ;text-align :right ;background-color : #d7e5f4}
#assoc_panel_recherche {position : absolute; top : 30px ; left : 0 ; width : 230px ; height : 640px ; font-size : 10px}
#assoc_panel_onglet {position : absolute; top : 30px ; left : 230px ; width : 720px ; height : 30px ; background-color : #dee8f2 ; font-size : 10px}
#assoc_panel_resultat {position : absolute; top : 60px ; left : 230px ; width : 720px ; height : 430px ; background-color : #b9c7d4 ; font-size : 10px}
#assoc_panel_info  {display : none}

#assoc_panel_assoc {position : absolute; top : 490px ; left : 230px ; width : 720px ; height : 180px ; background-color : #dddedf }

#assoc_panel_bt_bas {position : absolute; top : 670px ; left : 0 ; width : 100% ; height : 30px ; background-color : #d7e5f4 ; text-align : center;}

/* css pour les widgets 
#fermer_panel {background : url(../../../plugins/assoc/img/fermer_panel.png) no-repeat 0 0;width : 20px ; height : 16px; display : inline-block;vertical-align : middle}
#preselect_element 		{margin : 4px 0 0 25px}
.preselect 				{cursor  : pointer}
#recherche_rub 			{width : 200px}
#recherche_rub select		{width : 200px}
#date_debut_assoc 		{width : 190px}
#date_fin_assoc 			{width : 190px}
#assoc_panel_assoc p 	{margin : 1px 0 0 20px}


/* la pagination
#pagination {text-align : center}
#pagination span {display : inline-block; width : 80px ; vertical-align : middle ; cursor : pointer}
#retour5 {background : url(../../../plugins/assoc/img/retour5.png) no-repeat 0 0;width : 32px ; height : 32px;}
#retour1 {background : url(../../../plugins/assoc/img/retour1.png) no-repeat 0 0;width : 32px ; height : 32px;}
#avance1 {background : url(../../../plugins/assoc/img/avance1.png) no-repeat 0 0;width : 32px ; height : 32px;}
#avance5 {background : url(../../../plugins/assoc/img/avance5.png) no-repeat 0 0;width : 32px ; height : 32px;}

/* 
#assoc_panel_onglet #les-onglets {text-align : right;}
#assoc_panel_onglet #les-onglets span {display : block; width : auto ; height : 28px; border-left : 1px solid black ;border-top : 1px solid black ;
			padding : 0 5px ;float : right; background-color : #d5f6e7; cursor :pointer ; }
#assoc_panel_onglet #les-onglets span.selected {background-color : #b9c7d4}			

#assoc_panel_assoc h4 {font-size  : 10px ; margin : 0px}
#assoc_panel_assoc #conteneur {margin : 10px 0 0 25px}
#assoc_panel_resultat .masquer{display : none}
#voir_video .masquer{display : block}*/






