.echoppe_edit_produit{
	font-size: 10px;
}
div.titre_logo{
	font-weight: bold;
	padding-bottom: 10px;
	text-align: center;
}
div.logo{
	text-align: center;
}
div.logo IMG{
	width: 150px;
}
/* par Exibit */
/*.cadre-sous_rub, .cadre-r{
	padding:8px;
}*/
LI.cadre-sous_rub{
	list-style:none;
	
}
ul{
	padding-left:0;
}
h1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:1.4em;
}
ul.chemin{
	margin:0;
}
ul.chemin li{
	list-style:none;
	margin-left:15px;
}
DIV.categorie{
	position:relative;
}
DIV.categorie H1{
	top:-25px;
	left:10px;
	background: transparent url(../images/categorie-24.png) no-repeat scroll 0px 0px;
	padding-left:30px;
}
INPUT.formo{
	float:none;
	min-width:20px;
	margin-right:5px;
	display:inline;
}
DIV.etat {
	height: 10px;
	width: 10px;
}

DIV.prepa{
	background-color: #CCCCCC;
	/*border: 1px #666 solid;*/
}
DIV.propose{
	background-color: orange;
	/*border: 1px #666 solid;*/
}
DIV.poubelle{
	background-color:#FF0000;
	/*border: 1px #666 solid;*/
}
DIV.publie{
	background-color: #9DBA00;
	/*border: 1px #666 solid;*/
}
DIV.boutton_statut A{
	color: black;
}

A.afficher_detail_stock {
	text-align: right;
}

tr.tableau_panier td {
	background: #DDD;
	font-weight: bold;
}

/*div.cadre_padding ul li {
	list-style: none;
	margin: 10px 0px 0px 0px;
	border: 1px #E1E1E1 solid;
}**/
div.cadre_padding ul li dl dt{
	background: #E1E1E1;
	font-weight:bold;
	padding:2px;
}
