<plugin>
	<version>0.0.1</version>
	<nom>spixplorer, quixplorer pour spip</nom>
	<prefix>spixplorer</prefix>
	<description>
G&eacute;rer ses fichiers comme le serveur et plus.

Un fork de [quixplorer->http://quixplorer.sourceforge.net/]

Utilisation: [spip.php?action=spx_list->../?action=spx_list]
	</description>
	<!-- install>
	spixplorer_install.php
	</install>
	<necessite id='chargeur' version='[0.1.0;]' / -->
</plugin>
