<plugin>
	<nom> <!-- Nom du plugin -->
		playtaliste
	</nom>
	<auteur><!-- Auteur du plugin -->
		Bruno Bergot<br />
		Site de d&eacute;monstration : [->http://www.ousopo.org/]
	</auteur>
	<version>
		0.1
	</version>
	<etat>
		dev
	</etat>
	<description>
		<p>Un formulaire <code>#FORMULAIRE_PLAYTALISTE</code> permet aux visiteurs du site d'ajouter des documents &agrave; un playliste enregistr&eacute;e dans un cookie.</p>
		<p>La balise <code>#PLAYTALISTE_LISTE</code> renvoie une cha&icirc;ne utilisable dans une boucle documents avec le crit&egrave;re IN.</p>
	</description>
	<prefix>
		playtaliste
	</prefix>
	<fonctions>
		playtaliste_fonctions.php
	</fonctions>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>playtaliste_fonctions.php</inclure>
	</pipeline>
	<chemin dir='' />
</plugin>
