html { font-size: 100%; } /* Cf.: http://pompage.net/pompe/definir-des-tailles-de-polices-en-CSS/ */
body { font-size: 0.8125em; font-family: "Luxi sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif; color: #333; }

a {
	text-decoration : none;
}

.traducteur{
	width:80%;
	margin:30px auto;
	background-color:#f0f0f0;
}
.traducteur #entete{overflow:auto;background-color:#ccc;}

.traducteur #entete .formulaire_spip{width:45%;float:left;clear:none;}

.traducteur #entete #formulaire_recherche{float:right;}

.tradlang_footer{
	font-size:.8em;
	border-top: 1px solid #ccc;
	padding:5px;
	text-align:right;
	clear:both;
}

.traducteur > div{
	padding:10px;
}

table.liste_traductions{
	font-size:.8em;
	margin:10px 0 15px;
	text-align:left;
	width:100%;
	background-color:#CDCDCD;
}

table.liste_traductions tr{
	border-bottom:1px solid #ccc;
}

table.liste_traductions td {
	background-color:#FFFFFF;
	color:#3D3D3D;
	padding:4px;
	vertical-align:top;
}



table.liste_traductions tr.odd td {
	background-color:#F0F0F6;
}

table.liste_traductions tr.statut_new td.statut,.traducteur #navigation ul.infos p.items_new{
	background-image:url(images/back_new.png);
	background-repeat:no-repeat;
	background-position:2px center;
	padding-left:10px;
}

table.liste_traductions tr.statut_modif td.statut,.traducteur #navigation ul.infos p.items_modif{
	background-image:url(images/back_modify.png);
	background-repeat:no-repeat;
	background-position:2px center;
	padding-left:10px;
}

.traducteur #contenu{
	width:65%;
	float:left;
}

.traducteur #navigation{
	width:28%;
	float:right;
	font-size: .8em;
}

.traducteur #navigation ul.infos{
	padding:0;
	border-top:1px solid #ccc;
}

.traducteur #navigation li.odd,.traducteur #navigation li.even{
	list-style-type:none;
	border:1px solid #ccc;
	border-top:none;
	padding:3px 5px;
}

.traducteur #navigation li.odd{
	background-color:#F0F0F6;
}

.traducteur #navigation li.even{
	background-color:#FFF;
}

.traducteur #navigation ul.infos p{
	padding:3px 0;
	margin:0;
}

.traducteur #navigation p.attention{
	color:#d40000;
}