#entete_tradlang{overflow:auto;}

#entete_tradlang .formulaire_spip{float:left;clear:none;}

#entete_tradlang .entete_recherche{float:right;}
#entete_tradlang .entete_recherche p{clear:both}

.tradlang_footer{
	font-size:.8em;
	border-top: 1px solid #ccc;
	padding:5px;
	text-align:right;
	clear:both;
}

.traducteur > div{
	padding:10px;
}

#bilan_traduction{
	width:100%;
	overflow:auto;
}
.page_traduction table.spip{
	width:100%;
}

table.liste_traductions{
	font-size:.8em;
	margin:10px 0 15px;
	text-align:left;
	width:100%;
	background-color:#CDCDCD;
	table-layout:fixed;
}

table.liste_traductions tr{
	border-bottom:1px solid #ccc;
}

table.liste_traductions td {
	background-color:#FFFFFF;
	color:#3D3D3D;
	padding:4px;
	text-overflow:ellipsis;
	overflow:hidden;
}

table.liste_traductions td.statut{
	width:50px;
	vertical-align:middle;
}
table.liste_traductions tr.odd td {
	background-color:#F0F0F6;
}

table.liste_traductions tr.statut_new td.statut,.traducteur #navigation ul.infos p.items_new{
	background-image:url(images/back_new.png);
	background-repeat:no-repeat;
	background-position:2px center;
	padding-left:10px;
}

table.liste_traductions tr.statut_modif td.statut,.traducteur #navigation ul.infos p.items_modif{
	background-image:url(images/back_modify.png);
	background-repeat:no-repeat;
	background-position:2px center;
	padding-left:10px;
}

.liste-objets .caption{background-repeat:no-repeat;height:24px;display:block;padding-left: 30px;}

.none, .js .none-js, .no-js .none-nojs,.none-js {
	display: none;
}