<plugin>
	<nom>Tickets Kiss, syst&egrave;me de suivi de bugs</nom>
	<auteur>ARNO*</auteur>
	<licence>GPL v3</licence>
	<description>
<i>Tickets Kiss</i> est un outil de suivi de bugs directement int&eacute;gr&eacute; &agrave; l'espace priv&eacute; de SPIP.
Il est con&ccedil;u pour faciliter la phase de d&eacute;veloppement du site (notamment les squelettes du site public).

La version {Kiss} ({Keep it simple, stupid!}) est moins param&eacute;trable que la version {Tickets} disponible par ailleurs. En revanche, elle est imm&eacute;diatement fonctionnelle, sans n&eacute;cessiter l'installation d'autres plugins ni passage par une page de configuration.
	</description>
	<lien></lien> <!-- URI de documentation -->
	<icon>imgs/logo-bugs.png</icon>

	<version>1.6</version>
	<version_base>0.6</version_base>
	<etat>stable</etat>

	<prefix>tickets</prefix>

	<options>tickets_options.php</options>
	<fonctions>tickets_fonctions.php</fonctions>
	<install>base/tickets_upgrade.php</install>

	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/tickets_install.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/tickets_install.php</inclure>
	</pipeline>
	<pipeline>
		<nom>ajouter_boutons</nom>
		<action>ajouterBoutons</action>
		<inclure>tickets_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_droite</nom>
		<action>droite</action>
		<inclure>tickets_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_gauche</nom>
		<action>gauche</action>
		<inclure>tickets_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>inc/tickets_autoriser.php</inclure>
	</pipeline>
	<pipeline>
		<nom>notifications</nom>
		<inclure>tickets_notifications.php</inclure>
	</pipeline>
	<!-- avec plugin champs extras 2 -->
	<pipeline>
		<nom>objets_extensibles</nom>
		<inclure>tickets_pipelines.php</inclure>
	</pipeline>

	<bouton id='tickets' parent='bando_publication'>
		<icone>imgs/bugs.png</icone>
		<titre>tickets:titre</titre>
		<url>tickets</url>
	</bouton>

	<necessite id="SPIP" version="[2.0.0;]" />
	<categorie>divers</categorie>
</plugin>
