<plugin>
	<nom>Diapos</nom>
	<auteur>[speciale->http://luis-speciale.net] [xdjuj->xdjuj@apsulis.com]</auteur>
	<version>0.1</version>
	<etat>stable</etat>
	<icon>diapos.png</icon>
	<description>
		Le plus simple des projecteurs de diapositives
	</description>
	<prefix>diapos</prefix>
	<pipeline>
  		<nom>insert_head</nom>
  		<inclure>diapos_pipelines.php</inclure>
  	</pipeline>
  	<necessite id="saisies" version="[1.6.1;]" />
	<necessite id="cfg" version="[1.10.4;]" />
</plugin>