.bouton_action_post.spip-admin-boutons,.bouton_action_post.spip-admin-boutons div {display:inline;}
.spip-admin-boutons button {border: none;background: none;padding: 0;color:inherit;}
.admin-magnet {margin: 0}
.admin-magnet button {min-height:32px;position: relative;}
.admin-magnet.magnet button i {display:inline-block;width:32px;}
.admin-magnet.magnet button i:after {content:"";display:block;position:absolute;left:0;top:50%;margin-top:-16px;width:32px;height:32px;background:url(img/spt-magnets.png) no-repeat left 0px;}
.admin-magnet.magnet-up,.spip-admin-boutons.magnet-down {padding-left: 0;padding-right: 0;}
.admin-magnet.magnet.magnetized button {}
.admin-magnet.magnet.magnetized:hover button i:after {background-position:left -32px;}
.admin-magnet.magnet.demagnetized button i:after {background-position:left -96px;}
.admin-magnet.magnet.demagnetized:hover button i:after {background-position:left 0;}
.admin-magnet.magnet span {visibility: hidden;}
.admin-magnet.magnet:hover span {visibility: visible;}
.spip-admin.magnets {text-align:right;}
.spip-admin.magnets .bouton_action_post {display:inline-block;vertical-align:middle;}
.spip-admin.magnets .bouton_action_post button {display:block;}
.liste-items .item {position:relative;}
.liste-items .item .spip-admin.magnets {position:absolute;right:0;bottom:0;visibility: hidden;margin: 0}
.liste-items .item:hover .spip-admin.magnets {visibility: visible}
