<plugin>
        <nom> <!-- Nom du plugin -->
        Sauver Configuration
        </nom>
        <auteur>        <!-- Auteur du plugin -->
        [erational->http://www.erational.org]    
        <br />&#169; 2006 - Distribue sous licence GNU/GPL    
        </auteur>
        <version>
        0.1
        </version>
        <etat>
        experimental
        </etat>
        <description>
        Permet de voir et de sauvegarder les paramètres de la configuration dans un simple fichier texte
        </description>
	<lien></lien> <!-- URI de documentation -->
        <prefix>
        Sauverconfig
        </prefix>
        <!-- Definitions des fonctions qui s'inserent dans les pipelines -->
        <pipeline>
        		<nom>ajouter_boutons</nom>
        		<action>ajouterBoutons</action>
        		<inclure>inc_sauverconfig.php</inclure>
        	</pipeline>
        <!-- Le parametre action est facultatif : en son absence la methode de la classe portant le nom du pipeline est appelee. Le parametre inclure est facultatif.        -->
</plugin>
