.onglets_traduction{
	width:100%;height : 30px;
	vertical-align: baseline;
}

.onglets_traduction div.options{
	margin :0;
	padding:0; 
}

.onglets_traduction div.onglet, .changer div.onglet{
	vertical-align: text-bottom;
	 margin-right:2px; float:left;
	  -moz-border-radius: 5px;
	 -webkit-border-radius :5px;
	 -khtml-border-radius :5px; 
	 border-radius: 5px;
}

.changer div.onglet{background:#F2F2F2; font-style:italic;}

.onglets_traduction div.options a {
	text-align:center;
	padding:0;
	margin:0;
}

.onglets_traduction div.options a:hover span{
	display:block;
	width:72px;
	text-align:center;
	background:#ffffff;
	height :auto;
}

div.non_traduit{
	background-color: #EEEEEE ;
}

.pagination{
	text-align:left;
}

.onglets_traduction .danger{
	background: #ffffff ;	
}

.bouton_options{float:right;}

.nettoyeur{clear:both;}

.delier{height:100px;float:left,margin :0 5px;float:left}

.danger, a.cellule-h-texte {background: repeat scroll 0 0 white;}

.lang{ margin-right:5px;}

.changer{float:left;margin-bottom:5px}