<plugin>
	<nom>Titre de la rubrique parente</nom>
	<prefix>titre_parent</prefix>
	<icon>titre_parent.png</icon>

	<slogan>Afficher facilement le titre de la rubrique parente</slogan>
	<description>Affichez le titre de la rubrique parente, sans boucle suppl&#233;mentaire, avec la balise #TITRE_PARENT</description>
	<lien>http://contrib.spip.net/balise-TITRE-PARENT</lien>
	<auteur>James</auteur>
	<version>2.0.0</version>
	<etat>dev</etat>

	<fonctions>titre_parent_fonctions.php</fonctions>

	<necessite id="SPIP" version="[1.9.0;3.0.99]" />
	<categorie>outil</categorie>
</plugin>