<plugin>
	<nom> <!-- Nom du plugin -->
	D&eacute;coration
	</nom>
	<auteur>	<!-- Auteur du plugin -->
 	izo@aucuneid.net  www.aucuneid.com &copy; 2006 - Distribue sous licence GNU/GPL
	</auteur>
		<lien>http://www.aucuneid.com/bones</lien>

	<version>
	0.1
	</version>
	<description>
Le filtre decoration permet aux redacteurs d'un site spip de d'appliquer les styles soulign&eacute;, barr&eacute;, au dessus, blink et fluo &agrave; une phrase, un mot, parapraphe.
-* <code><souligne></code>Lorem ipsum dolor sit amet<code></souligne></code>
-* <code><barre></code>Lorem ipsum dolor sit amet<code></barre></code>
-* <code><blink></code>Lorem ipsum dolor sit amet<code></blink></code>
-* <code><fluo></code>Lorem ipsum dolor sit amet<code></fluo></code>
	</description>
	<!-- classe d'implementation : espace de nommage qui prefixera les appels de fonction
	sur le mode Rien::
	ainsi les fonctions hors espace de nommage ne peuvent etre appelees
	ce parametre est obligatoire et doit etre non vide
	-->
	<class> 
	decoration
	</class>
	<!-- Definitions des fonctions qui s'inserent dans les pipelines -->
	<pipeline>
			<nom>pre_typo</nom>
		<action>pre_typo</action>
		<inclure>decoration.php</inclure>
	</pipeline>
	<!-- Le parametre action est facultatif : en son absence la methode de la classe portant le nom du pipeline est appelee. Le parametre inclure est facultatif.	-->
</plugin>