<plugin>
	<nom>
		<multi>
			[fr]Articles d'accueil
			[en]Home article
		</multi>
	</nom>
	<icon>images/article_accueil-48.png</icon>
	<auteur>
		<multi>
			[fr][Cedric Morin->http://www.yterium.com] pour la contribution originale dans le plugin Compositions, [Joseph->http://www.spip-contrib.net/Joseph] pour la mise en plugin autonome.
			[en][Cedric Morin->http://www.yterium.com] for the original contribution in the plugin Compositions, [Joseph->http://www.spip-contrib.net/Joseph] to create the standalone plugin.
			[es][Cedric Morin->http://www.yterium.com] por la contribuci&#243;n inicial en el plugin Compositions, [Joseph->http://www.spip-contrib.net/Joseph] por transformarlo en un plugin autónomo.
		</multi>
	</auteur>
	<licence>GPL</licence>
	<version>1.0.6</version>
	<version_base>0.1.0</version_base>
	<etat>test</etat>
	<slogan>
		<multi>
			[fr]Attribuer un article d'accueil aux rubriques
			[en]Assign an home article to a section
			[es]Atribuir un artículo de inicio a las secciones
		</multi>
	</slogan>
	<description>
		<multi>
			[fr]Ce plugin vous permet de d'attribuer un article d'accueil aux rubriques. Le champ id_article_accueil peut ensuite &ecirc;tre utilis&eacute; par les squelettes.
			[en]This plugin allows you to assign an article as home of a section. Field "id_article_accueil" can then be used by the skeletons.
			[es]Este plugin te permite atribuir un artículo de inicio a las secciones. De ahí, se puede usar el campo id_article_accueil en los esqueletos.
		</multi>
	</description>
	<lien>http://www.spip-contrib.net/?article3776</lien> <!-- URI de documentation -->
	<install>base/article_accueil.php</install>
	<prefix>article_accueil</prefix>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/article_accueil.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_milieu</nom>
		<inclure>article_accueil_pipeline.php</inclure>
	</pipeline>
 	<necessite id="SPIP" version="[2.0.6;2.1.99]" />
	<necessite id='spip_bonux' version='[1.8.10;]' />
	<categorie>outil</categorie>
</plugin>