table.commande{
	width:100%;
	border-spacing:0;
}

table.commande .montant{
	text-align:right;
}

table.commande thead th, table.commande .detail td{
	padding:0.5em;
	border-bottom:1px solid #ddd;
}

/* Si on ajoute des images dans une description, on centre l'aligement */
table.commande .detail .description img{
	vertical-align:middle;
}

table.commande .total_ttc{
	font-weight:bold;
}
table.commande .total_ttc td{
	padding:1em 0.5em;
}
