<plugin>
	<nom>Nombres de visiteurs connect&eacute;s</nom>
	<auteur>Phil d'apr&egrave;s spip-contrib</auteur>
	<version>0.1</version>
	<etat>stable</etat>
	<description>
		- Affiche le nombre de visiteurs connect&eacute;s sur le site.
		
		- Ajouter <code>[(#INCLURE{fond=inc-visiteurs})]</code> dans vos pages.
	</description>
	<fonctions>visiteurs_fonctions.php</fonctions>
	<prefix>visiteurs_connectes</prefix>
	<lien></lien>	
</plugin>