<plugin>
    <nom>&#192; propos des Plugins actifs</nom>
    <auteur>[Jean-Philippe Guihard->http://www.jp.guihard.net/]</auteur>
    <version>0.2.1</version>
    <etat>stable</etat>
    <slogan>Informer sur la liste des plugins actifs d'un site</slogan>
    <description>
		<multi>
[fr]Liste les plugins actifs et affiche une description sommaire de ceux-ci.
_ Il sert &#224; afficher sur une page de type « &#224; propos du site » un r&#233;capitulatif des plugins actifs, y compris l'ic&#244;ne de ceux-ci.
_ Vous pouvez utiliser la nouvelle balise #APROPOS dans vos squelettes. Cette balise a 4 param&#232;tres : <br />
-* soit vous &#233;crivez :  <code>#APROPOS{liste}</code> pour retourner la liste des plugins, <br />
-* soit vous &#233;crivez :  <code>#APROPOS{nombre}</code> pour n'afficher que le nombre de plugins ET d'extensions actifs.<br />
-* soit vous &#233;crivez :  <code>#APROPOS{plugins}</code> pour n'afficher que le nombre de plugins actifs.<br />
-* soit vous &#233;crivez :  <code>#APROPOS{extensions}</code> pour n'afficher que le nombre d'extensions actives.<br />
_ Pour personnaliser ce qui est affich&#233; avant et apr&#232;s la liste des plugins actifs, modifiez le fichier modeles/apropos_liste.html que vous aurez pr&#233;alablement copi&#233; dans le dossier squelettes/modeles.
_ Pour afficher la liste dans un article, il faut &#233;crire dans l'article <code><apropos|liste></code>.<br />
_ Pour n'afficher que le nombre de plugins ET d'extensions actifs, utilisez <code><apropos|nombre></code>.<br />
_ Pour n'afficher que le nombre de plugins actifs, utilisez <code><apropos|plugins></code>.<br />
_ Pour n'afficher que le nombre d'extensions actives, utilisez <code><apropos|extensions></code>.
[en]Lists the active plugins and displays a brief description of them.
_ It is used to display a page of type "about the site" with a summary of actives plugins, including the icon of these.
_ You can use the new balise #APROPOS into your templates. This balise has 4 parameters:<br />
-* if you wrote: <code>#APROPOS{liste}</code>, you get the list of the actives plugins,
-* if you wrote: <code>#APROPOS{nombre}</code>, you get the number of all the actives plugins AND extensions.
-* if you wrote: <code>#APROPOS{plugins}</code>, you get the number of the actives plugins.
-* if you wrote: <code>#APROPOS{extensions}</code>, you get the number of the actives extensions.
_ To personalize the informations which are displayed before and after the list, modify the file modeles/apropos_liste.html after copying it into your folder squelettes/modeles. 
_ To view the list in an article, you must write <code><apropos|liste></code>. 
_ To display the number of actives plugins AND extensions, write <code><apropos|nombre></code>.
_ To display the number of actives plugins, write <code><apropos|plugins></code>.
_ To display the number of actives extensions, write <code><apropos|extensions></code>.
		</multi>
	</description>
	<lien>http://www.spip-contrib.net/A-propos-des-plugins-actifs</lien>
	<icon>apropos.png</icon>
    <prefix>apropos</prefix>
    <fonctions>apropos_fonctions.php</fonctions>
	<pipeline>
	  <nom>insert_head</nom>
		<action>insert_head</action>
		<inclure>apropos_pipeline.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.1.1;2.1.99]" />
	<categorie>divers</categorie> 
</plugin>