
.formulaire_curator {
    margin:    2em auto;
    padding:   1em;
}

.formulaire_curator .editer {
    margin-bottom: 0.5em;
}

.formulaire_curator label {
    display:       block;
    margin-bottom: 0.3em;
    font-weight:   bold;
}

.formulaire_curator input[type=text],
.formulaire_curator textarea,
.formulaire_curator select {
    font:                  inherit;
    width:                 100%;
    border:                thin solid #cecece;
    background:            #f0f0f0;
    border-radius:         5px;
    box-shadow:            0 0 5px #c4c4c6;
    padding:               2px 5px;
    margin-bottom:         0.3em;
}

.formulaire_curator textarea {
    height: 130px;
    max-width: 100%;
}

.formulaire_curator p.boutons {
    text-align: right;
}

.formulaire_curator img {
    max-width: 100%;
    height:    auto;
}