/* --------------------------------------------------------------

   grid.css
   Faciliter la composition
   Petronille - romy.tetue.net - 2010

-------------------------------------------------------------- */

/* Blocs */
.column { float: left; margin-right: 1.5em; }
.bloc { display: block; margin-bottom: 1.5em; }
.box { display: block; margin-bottom: 1.5em; padding: 1.5em; background: #EEE; }

/* Listes, tableaux et mosaiques */
.first {}
.last { margin-right: 0; }
.odd {}
.even {}
.sep {}

/* clearfix : http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
    content: "\0020";
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
	overflow: hidden;
}
.clearfix { display: inline-table; }

/* Hides from IE-mac \*/
.clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/* Espaceur de blocs */
.clear { clear: both; }
br.clear,.nettoyeur { clear: both; margin: 0; padding: 0; border: 0; height: 0; line-height: 1px; font-size: 1px; }
hr.clear { visibility: hidden; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }
.none { display: none; }