/* --------------------------------------------------------------

   petronille.css
   Importation des feuilles de style annexes
   Petronille - romy.tetue.net - 2010

-------------------------------------------------------------- */

@import url("css/reset.css");
@import url("css/typo.css");
@import url("css/forms.css");
@import url("css/spip.css");
@import url("css/base.css");