<plugin>
	<nom>SPIP-G&#233;oportail</nom>
	<auteur>[Jean-Marc Viglino->http://www.spip-contrib.net/_Viglino-Jean-Marc_]</auteur>
	<slogan>Afficher des objets SPIP sur une carte</slogan>
	<necessite id="SPIP" version="[1.9.0;3.0.99]" />
	<licence>GNU/GPL, BSD pour l'API Geoportail/OpenLayers</licence>
	<version>2.0.3</version>
	<icon>img/geoportail.gif</icon>
	<etat>test</etat>
	<description>
Ce plugin permet, en utilisant l'API G&#233;oportail (Openlayers), le g&#233;or&#233;f&#233;rencement des objets SPIP et leur affichage dans des cartes G&#233;oportail, OpenStreetMap, Google Maps, Yahoo!...
-* cr&#233;ation d'une table de GEOPOSITIONS de position pour les objets SPIP
-* formulaire pour la saisie du geopositionnement des objets SPIP (articles, auteurs, etc.)
-* int&#233;gration de geoservices WMS,WFS,...
-* crit&#232;re geoposition pour jointure avec les tables SPIP

Pour visualiser des exemples d'affichage de carte Geoportail, OSM, Google Maps, Yahoo! ou Bing veuillez vous rendre &#224; l'adresse suivante : [->http://grafreex.free.fr/?-Geoportail-].
	</description>
	<lien>http://www.spip-contrib.net/Plugin-SPIP-Geoportail</lien>
	<prefix>geoportail</prefix>
	<pipeline> <!-- definition des autorisations -->
		<nom>autoriser</nom>
		<inclure>inc/geoportail_autorisations.php</inclure>
	</pipeline>
	<fonctions> <!-- definition des balises -->
		balise/geoportail_balises.php
	</fonctions>
	<fonctions> <!-- fichier charge a chaque recalul de page -->
		public/geoportail_boucles.php
	</fonctions>
	<fonctions> <!-- API pour la gestion de profil -->
		public/geoportail_profils.php
	</fonctions>
	<install> <!-- Installation de la base -->
		base/geoportail_init.php
	</install>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>geoportail_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>geoportail_pipelines.php</inclure>
	</pipeline>
	<!-- Boutons en v1.9 - v2 -->
	<pipeline>
		<nom>ajouter_boutons</nom>
		<action>ajouterBoutons</action>
		<inclure>geoportail.php</inclure>
	</pipeline>
	<!-- Bouton en v3 -->
	<bouton id='geoportail' parent='menu_configuration'>
		<titre>geoportail:geoportail</titre>
		<icone>images/geo-24.png</icone>
		<url>geoportail_config</url>
	</bouton>
	<pipeline>
		<nom>affiche_milieu</nom>
		<inclure>geoportail.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affichage_final</nom>
		<inclure>geoportail_final.php</inclure>
	</pipeline>
	<pipeline>
		<!-- seulement en SPIP v2 -->
		<nom>afficher_contenu_objet</nom>
		<inclure>geoportail.php</inclure>
	</pipeline>
	<pipeline>
		<!-- seulement en SPIP v2 -->
		<nom>document_desc_actions</nom>
		<inclure>geoportail.php</inclure>
	</pipeline>
	<pipeline> <!-- seulement en SPIP v2 -->
		<nom>lister_tables_noexport</nom>
		<inclure>geoportail.php</inclure>
	</pipeline>
	<categorie>divers</categorie>
</plugin>
