<plugin>
	<nom>Google +1</nom>
	<auteur>Phil</auteur>
	<version>0.2</version>
	<etat>stable</etat>
	<description>Ajoute un bouton Google +1</description>
	<icon>images/plusone-32.png</icon>
	<lien>http://www.spip-contrib.net</lien>
	<prefix>googleplus1</prefix>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>googleplus1_insert_head.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.0.10;2.2.0)" />
	<categorie>communication</categorie>
</plugin>
