input, select, textarea {
background-color:#E4E4E4;
background-position:center bottom;
border:1px solid #C0CAD4;
float:none;
font-family:Verdana,Arial,Sans,sans-serif;
font-size:11px;
padding:3px;
}

	.form_abo{}
	.form_abo table{margin-top:20px}
	#ajouter{width:300px;margin:10px 0px}
	#ajouter div {height:30px;padding:5px;clear:right}
	#ajouter label {float:left;width:100px}
	#ajouter input, textarea {float:right;width:180px}
	#ajouter div.textarea {height:auto;padding:5px;}
	#ajouter .valider {width:80px}
	
	#principal tr.prospect { background-color:#FFF8DC; } 
 	#principal tr.abonne { background-color:#AFF5DF; } 
 	#principal tr.relance { background-color:#DDDDFF; } 
 	#principal tr.sorti { background-color:#E6EAC9; } 
 	#principal tr.erreur_bank { background-color:red; } 
 	
 	#statut_abonnement{width:160px}
 	.statut_div{margin:5px 0px;text-align:right}