body{
        padding: 1em 1em 1em 2em;
        text-align: center;
        font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
a img{border:none}
#enregistrer
        {
    width:10em;
    display: block;
    margin-right:auto; 
	border-radius:12px;
	background: #f5f5f5;
	border:none;
	color:#555;
	font:bold 12px Verdana;
	padding:1em;
	box-shadow:1px 1px 3px #999;
	text-decoration:none;
}

div{text-align:left;margin-bottom:0.5em;}
div span{float:left;width:10em}
input{ 
	 display: block; 
     font-size: 16px;
     border: 1px;
     border-color: #CCCCCC;
     border-style: solid;
     border-radius: 2px;
     margin-right: auto;
     box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3) inset;
 }

#ihm{
	border: 1px solid #ddd;
	width: 100%;
	border-collapse: collapse;
}
#ihm td{
  border: 1px solid #eee;
  padding: 0;
  margin: 0;
  width: auto;
  min-height: 10px;
  text-align:center
}
#ihm td td{border:none}
#ihm img{margin:4px}
textarea{ width: calc(100% - 6px);
  height: 100%;
  resize: none;}
.last_l, .last_c {background:#eee}
.first_l, .first_c {background: #e3c58d}
.first_c, .last_c {width:1em;}
