<plugin>
	<nom>AnythingSlider</nom>
	<slogan>Faire d&#233;filer diff&#233;rents types de contenus (image, texte, vid&#233;os) dans vos squelettes</slogan>
	<auteur>[Chris Coyier, Remy Sharp, Doug Neiner, ProLoser->https://github.com/ProLoser/AnythingSlider/wiki/Credits] pour le script AnythingSlider, [Joseph->http://contrib.spip.net/Joseph] pour la mise en plugin SPIP</auteur>
	<icon>images/anythingslider.png</icon>
	<licence>GNU/GPL</licence>
	<version>0.1.3</version>
	<etat>test</etat>
	<description>Permet d'utiliser le plugin jQuery [AnythingSlider->https://github.com/ProLoser/AnythingSlider/wiki] (version 1.5.9) dans les squelettes. Une version plus r&#233;cente du plugin est disponible. Son fonctionnement est l&#233;g&#232;rement diff&#233;rent, notamment pour charger les scripts optionnels et/ou les th&#232;mes additionnels.</description>
	<lien>http://contrib.spip.net/AnythingSlider-version-0-1-x</lien>
	<prefix>anythingslider</prefix>
	<pipeline>
		<nom>anythingslider_charger_fx</nom>
		<inclure>anythingslider_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>anythingslider_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.1.0;2.1.99]" />
	<categorie>multimedia</categorie>
</plugin>