<plugin>
	<nom>
		<multi>
		[fr]Projet Pot de Miel
		[en]Honey Pot Project
		</multi>
	</nom>
	<slogan>
		<multi>
		[fr]Pi&#233;ger les spammeurs
		[en]Trapping the spammers
		</multi>
	</slogan>
	<auteur>Pierre Andrews (mortimer)</auteur>
	<licence>&#169; 2006 - GPL</licence>
	<version>0.4.0</version>
	<etat>test</etat>
	<icon>honeypot.png</icon>
	<description>
		<multi>
		[fr]Ajouter des liens vers votre honeypot dans vos page. Necessite l'installation pr&#233;alable du [Project Honey Pot->http://projecthoneypot.org?rf=41080]. Vous pouvez aussi utiliser ce plugin pour limiter l'acc&#233;s &#224; votre site pour visiteurs ayant &#233;t&#233; classifi&#233;s douteux par le project honeypot.
		[en]Automatically generate trap links to your site honeypot in your SPIP templates. You will first need to install a honeypot from [Project Honey Pot->http://projecthoneypot.org?rf=41080]. You can also use this plugin to limit the access to your site for the visitors that have been classified as suspicious by the P.H.Pot project.
		</multi>
	</description>
	<lien>http://contrib.spip.net/Projet-Pot-de-Miel</lien>
	<prefix>honeypot</prefix>	
	<pipeline>
		<nom>insert_head</nom>
		<inclure>honeypot_pipeline.php</inclure>
	</pipeline>
	<options>honeypot_options.php</options>
	<options>honeypot_httpbl_options.php</options>
	
	<pipeline>
		<nom>affichage_final</nom> 
		<action>affichage_final</action>
		<inclure>httpbl_pipeline.php</inclure>
	</pipeline>	
	<pipeline>
		<nom>taches_generales_cron</nom>
		<inclure>honeypot_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>ajouter_onglets</nom> 
		<action>ajouter_onglets</action>
		<inclure>honeypot_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>ajouter_boutons</nom> 
		<action>ajouter_boutons</action>
		<inclure>honeypot_pipeline.php</inclure>
	</pipeline>

	<install>base/honeypot_upgrade.php</install>

	<categorie>performance</categorie>
	<necessite id="SPIP" version="[1.9.2;1.9.2]" />
	<necessite id='cfg' version='[1.0.8;]' />
	<necessite id="compat" version='[1.9.3;]' />
</plugin>