<plugin>
	<nom>Lilyspip version Codepress</nom>
	<slogan>Ins&#233;rer des notations musicales</slogan>
	<auteur>Christophe Richard (Plugin Spip), Fernando M.A.d.S. and Michael Hurni (Codepress), Valentin Villenave (Lilypond css for Codepress)</auteur>
	<licence>GPL - LGPG</licence>
	<version>1.3.0</version>
	<etat>stable</etat>
	<description>
	Ce plugin permet d'ins&#233;rer des notations musicales dans les articles et les forums en utilisant le logiciel libre [Lilypond->http://lilypond.org/].
	</description>
	<lien>http://contrib.spip.net/Plugin-Lilyspip-version-Codepress</lien>
	<prefix>lilyspip</prefix>
	<install>lilyspip_gestion.php</install>	
	<options>lilyspip_options.php</options>
	<pipeline>
		<nom>ajouter_boutons</nom>
		<action>ajouterBoutons</action>
		<inclure>lilyspip_gestion.php</inclure>
	</pipeline>
	<pipeline>
		<nom>pre_propre</nom>
		<inclure>lilypond.php</inclure>
	</pipeline>

	<necessite id="SPIP" version="[1.9.2;1.9.2]" />
	<categorie>edition</categorie>
</plugin>