<plugin>
	<nom>
	Config
	</nom>
	<auteur>toggg
	_ &copy; 2006 - Distribu&#233; sous licence GNU/LGPL
	</auteur>
	<version>
	0.1.0
	</version>
	<etat>
	dev
	</etat>
	<description>
CE CODE N&#034;EST PAS FONCTIONNEL !
_ VOUS NE DEVEZ PAS L&#034;INSTALLER.
_ Ce plugin permet de g&eacute;rer des config, il est d&eacute;riv&eacute; de la config sms &agrave; formulaires variables.
_ Le stockage existant est juste dans un cran de meta, il sera porté aux gateaux (cookies) et sql.
_ Toute d&eacute;finition vient des fonds/
	</description>
	<lien>
	</lien>
	<prefix>
	cfg
	</prefix>
</plugin>
