<plugin>
	<nom>SpipClear</nom>
	<auteur>La SpipClear Team : James, Ben, Eric Lupinacci et Bruno
_ &#169; 2009 - Licence GNU/GPL</auteur>
	<version>0.2</version>
	<etat>dev</etat>
	<prefix>SpipClear</prefix>
	<description>SpipClear est concu pour transformer un secteur en blog ou carnet web.
Pour cela, il s'inspire de DotClear, un syst&egrave;me de gestion de blog d&eacute;velopp&eacute; en php par Neokraft.net.
Il est n&eacute;cessaire de cr&eacute;er, a minima, les pages sommaire, article-x et rubrique-x pour activer le blog sur le secteur choisi.
<br /><br />SpipClear n&eacute;cessite au minimum Spip 1.9.2 et demande aussi l'activation du plugin minical.
	</description>
	<lien>http://www.spip-contrib.net/SpipClear-2-1</lien>
	<fonctions>spipclear_fonctions.php</fonctions>
	<options>spipclear_fonctions.php</options>
	<pipeline>
		<nom>styliser</nom>
		<inclure>spipclear_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.0.6;]" />
	<necessite id="cfg" version="[1.10.4;]" />
	<necessite id="CalendrierMini" version="[0.3;]" />
	<categorie>squelette</categorie>
</plugin>
