/** Réglages de la table,
 * éviter les debordement,
 * inspiré de https://mottie.github.io/tablesorter/docs/example-widget-resizable.html
**/
.formidable_ts-wrapper {
	max-width:100%;
	width:100%;
	overflow-x:scroll;
}
.formidable_ts-wrapper table {
  width: auto;
}
.formidable_ts-wrapper .tablesorter td {
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 10px;
}
.formidable_ts-wrapper  .tablesorter th {
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 10px;
}
/** Styles cellules et entetes divers **/
.formidable_ts .tablesorter-filter {
	width:100%;
	min-width:1em;
}
.formidable_ts .puce_objet {
	margin-left:1em;
	margin-right:1em;
}
.tablesorter-header {
	cursor:pointer;
}
.tablesorter-header-inner {
	display:inline;
}
.tablesorter-header::after {
	float:right
}
.tablesorter-headerUnSorted::after {
	content: "⬆️⬇️"
}
.tablesorter-headerAsc::after {
	content: "⬆️"
}
.tablesorter-headerDesc::after {
	content: "⬇️"
}
.tablesorter-filter-row {
	background:white;
}
.tablesorter-ignoreRow th {
	text-align:center;
	font-size:1.25em;
	padding-bottom:1em;
}
.tablesorter .move-arrows {
	display: flex;
	justify-content: space-between;
	margin-left:0.5em;
	margin-right:0.5em;
}
.tablesorter .move-arrows.first{
	justify-content:end;
}
.tablesorter tr > *{
	border:1px black solid;
}
.tablesorter-sticky-wrapper caption {
	margin: 0;
}

.filtered {
	display:none;
}
