/** Le bloc d'action et d'aide**/
.formidable_ts-preambule {
	display:flex;
	justify-content:space-around;
}
.formidable_ts-preambule > *{
	width:45%;
	max-width:1024px;
	height:min-content;
}
.formidable_ts-preambule .aide {
	padding:1ex;
}
.formidable_ts-preambule .aide p {
	padding:0px;
	margin:0px;
}
.formidable_ts-preambule .boutons{
	text-align:left;
}
.formidable_ts-preambule .boutons label {
	padding:4px;
}
.formidable_ts #columnSelectorButton{
	display:inline-block;
}
.formidable_ts #columnSelector {
	display: flex;
	flex-wrap:wrap;
}
.formidable_ts #columnSelector label {
	width:50%;
	padding:0px;
}
