/* Pour le mode preview dans l'admin */
#article_preview {
	display:none;
	border:1px solid #F00;
	overflow: auto;
	background-color: #FFF;
	padding: 0 1em;
}

/* Pour les stats dans l'admin */
#article_stats {
	display:none;
	border:1px solid #555;
	background-color: #EEE;
	padding: 0.5em;
	margin-top: 5px;
}