<plugin>
	<nom>Porte Plume Partout</nom>
	<auteur>Pascal M&eacute;chin - Matthieu Marcillaud - Jacques Pyrat</auteur>
	<licence>GPLv3</licence>
	<version>1.0.2</version>
	<icon>images/configure_toolbars-48.png</icon>
	<lien>http://www.spip-contrib.net/Plugin-Porte-plume-partout</lien>

	<description>
		Porte Plume Partout sert &agrave; ajouter la barre
		d'outil aux champs DESCRIPTIF, CHAPO et PS
	</description>
	<etat>test</etat>
	<prefix>ppp</prefix> <!--important, sert de lien au fichier de pipeline et aussi dans la définition de la fonction incluse-->
	<pipeline>
		<nom>header_prive</nom>
		<action>insert_head_prive</action>
		<inclure>ppp_pipelines.php</inclure>
	</pipeline>
	<necessite id='porte_plume' version='[1.6.4;]' />
	<necessite id='spip' version='[2.0.10;]' />
	<necessite id="cfg" version="[1.14.3;]" />
	<necessite id="saisies" version="[1.1;]" />
	<categorie>edition</categorie>
</plugin>
