<plugin>
	<nom>
	Documents Auteurs
	</nom>
	<auteur>
	Quentin Drouet
_ &copy; 2007 - Distribu&eacute; sous licence GPL
	</auteur>
	<version>
	0.1
	</version>
	<etat>
	experimental
	</etat>
	<description>
	Permettre l'ajout de documents aux auteurs...
	</description>
	<lien>http://kent1.sklunk.net</lien> <!-- URI de documentation -->
	<install>base/documents_auteurs_upgrade.php</install>
	<options>
	documents_auteurs_options.php
	</options>
	<prefix>
	documents_auteurs
	</prefix>
	<pipeline>
		<nom>affiche_gauche</nom>
		<inclure>documents_auteurs.php</inclure>
	</pipeline>
	<chemin dir='' />
</plugin>