<plugin>
	<nom>Edition article via tinyMCE</nom>
	<auteur>Christian Lefebvre, Atos Worldline &#169; 2006 - Distribue sous licence GNU/GPL</auteur>
	<version>0.1</version>
	<etat>dev</etat>
	<description>test d'edition d'article avec tinyMCE
	<lien></lien> <!-- URI de documentation -->
	</description>

	<prefix>tinyMCE</prefix>
</plugin>
