/* --------------------------------------------------------------

   spip.css
   Styles associes au code genere par SPIP
   Petronille - romy.tetue.net - 2010

-------------------------------------------------------------- */

/* Logos, documents et images */
.spip_logos { margin: 0; padding: 0; border: none; }
dl.spip_documents,
.spip_documents dt,
.spip_documents dd { margin: 0 auto; padding: 0; background: none; }
.spip_documents { text-align: center; }
.spip_documents_center,
.spip_doc_titre,
.spip_doc_descriptif { margin-right: auto; margin-left: auto; }
.spip_documents.spip_documents_center { clear: both; display: block; width: 100%; }
.spip_documents.spip_documents_left { float: left; margin-right: 1.5em; }
.spip_documents.spip_documents_right { float: right; margin-left: 1.5em; }
.spip_documents.spip_documents_left img,
.spip_documents.spip_documents_right img { vertical-align: text-top; }
.spip_doc_titre {}
.spip_doc_descriptif { clear: both; }

/* Images typographiques (via image_typo), URL a revoir... */
.format_png { behavior: url(win_png.htc); }

/* Modeles par defaut */
.spip_modele { float: right; display: block; width: 25%; border: 1px dotted #666; }

/* Previsu */
.previsu {}

/* Reponses */
.reponse_formulaire { font-size: 120%; }
.reponse_formulaire_erreur,
.erreur_message { color: red; }
.reponse_formulaire_ok { color: green; }

li.erreur input[type="text"], li.erreur input.text,
li.erreur input[type="password"], li.erreur input.password,
li.erreur textarea { border-color: red; }

.spip_surligne { background-color: yellow; }

/* Liens de SPIP */
a.spip_note { font-weight: bold; } /* liens vers notes de bas de page */
a.spip_in {} /* liens internes */
a.spip_mail {}
a.spip_out {} /* liens sortants */
a.spip_url {} /* liens url sortants */
a.spip_glossaire {} /* liens vers encyclopedie */
.on { font-weight: bold; } /* liens exposes */

/* end */