<plugin>
    <nom>Joomla2SPIP</nom>
    <auteur>BoOz booz@rezo.net</auteur>
    <version>0.2</version>
    	<licence>GNU/GPL</licence>
    <etat>experimental</etat>
    <icon>img_pack/icon.png</icon>
    <description>Migration de Joomla vers SPIP</description>
    <lien>[->../?page=joomla2spip]</lien>
    <prefix>joomla2spip</prefix>
    <categorie>maintenance</categorie>
    <fonctions>joomla2spip_fonctions.php</fonctions> 
</plugin>