/* --------------------------------------------------------------

   Styles CSS3
   romy.tetue.net - 2010

-------------------------------------------------------------- */

.border-radius {
-o-border-radius: 10px;
-icab-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

/* end */