.plug-liste{
	text-align: left;
	}
.plug-liste li{
	list-style-type: none;
	height: 42px;
	padding-left: 36px;
	border-bottom: thin solid #d4d4d4;
	padding-bottom: 2px;
	padding-top: 2px;
}
.plug-intro{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	text-align: left;
}
.plug-icon img{
	float: left;
	margin-left: -38px;
}
.plug-nom{
	font-weight: bold;
}
plug-version{
	
}
.plug-etat{
	
}
.plug-short{
	
}
.plug-resume{
	
}