<plugin>
	<nom>pclTar</nom>
	<slogan>
		<multi>
			[fr]pclTar pour SPIP
			[en]pclTar for SPIP
		</multi>
	</slogan>
	<auteur>kent1</auteur>
	<licence>GNU/GPL</licence>
	<version>0.1.0</version>
	<etat>experimental</etat>
	<icon>images/pcltar_logo.png</icon>
	<description>
		<multi>
			[fr]Ajoute la possibilit&#233; d'avoir des libs .tgz, .tar ou .tar.gz en plus du zip par d&#233;faut de SPIP
			[en]Adds the ability to have .tgz, .tar or .tar.gz libraries more than only zip (SPIP default)
		</multi>
	</description>
	<prefix>pcltar</prefix>
	<necessite id="SPIP" version="[2.1.0;2.1.99]" />
	<categorie>outil</categorie>
</plugin>
