<plugin>
	<nom>
		Akismet : antiSpam
	</nom>
  	<auteur>
		Gilles VINCENT, Alex Potsides
_ Cette extension, basé de la classe PHP4 fournie par [Alex Potsides->http://www.achingbrain.net], est distribu&#233; sous licence [GNU/GPL->http://www.gnu.org/licenses/gpl.html]
	</auteur>
	<lien>
	</lien>
	<version>
		0.1
	</version>
	<etat>
    	test
	</etat>
	<description>
		Portage pour SPIP d'[Akismet->http://akismet.com], une extension anti-spam de Wordpress . Cette extension de Spip nécessite l'extension CFG. [ Accédez à la configuration->.?exec=cfg&amp;cfg=akismet]
	</description>
	<lien></lien> <!-- URI de documentation -->
  	<prefix>akismet
	</prefix>
	<options>
		Akismet.class.php
	</options>
</plugin>
