<plugin>
	<nom>Fader</nom>
	<slogan>Images au hasard...</slogan>
	<auteur>christophe vallois</auteur>
	<version>0.1.0</version>
	<etat>stable</etat>
	
	<description>
	Offre trois modele pour afficher des objets spip avec un effet de fade:
	- [(#MODELE{fadaleatoire})]	qui affiche aleatoirement 5 images issues de toutes les images du site
	- [(#MODELE{fadimage})]	qui affiche les images d'un article
	- [(#MODELE{fadbreve})]	qui affiche les breves en fonction d'un mot clef
	
	</description>
	<lien>http://contrib.spip.net/Plugin-fader</lien>
	<icon></icon>
	<prefix>fader</prefix>
	<pipeline>
	<nom>insert_head</nom>
	<inclure>fader.php</inclure>
	</pipeline>
	<necessite id="SPIP" version='[2.1.0;2.1.99]' />
	<categorie>multimedia</categorie>
</plugin>