/*
.jeux_grille td.jeux_noir {
	background-color:#000000;
	color:#000000;
}

table.jeux_grille input, table.jeux_grille th{min-width:1.5em;
width:1.5em;
text-align:center;
vertical-align:middle;
height:1.5em;}
table.jeux_grille td{border:1px solid black;text-align:center}
.jeux_grille td.jeux_coin,table.jeux_grille input,.jeux_grille th{border:0px solid black}
.erreur{float:left;}

table.jeux_grille label{display:none}



.jeux_horizontal ol{list-style-type:upper-alpha}

.jeux_vertical, .jeux_horizontal{float:left;
font-size:90%;
max-width:49%;
width:auto;
margin-right:5%;
margin-left:5%}
//.jeux_horizontal .jeux_vertical {float:left}

form.jeux_grille{float:left;
clear:both;

padding:0;
padding-right:2%;
margin:0; 

width:auto;
}

p.spip {clear:both}

h4.jeux_grille{
	margin:0;
	padding:0;
	font-weight:bold;
}

.jeux_horizontal ol,.jeux_vertical ol{margin:0;
list-style-position:inside;
}
.jeux_horizontal >ol, .jeux_vertical > ol{list-style-position:outside;}


.jeux_grille{margin:0;padding:0}

.solution{clear:both}

*/

table.motscroises0 {
	border:0; 
	padding:0;
	width:100%;
	text-align:left;
}	

.mots_croises {
	float:left;
	width:100%;
}

.jeux_vertical, .jeux_horizontal{
	float:left;
	font-size:90%;
	text-align:left;
	
/*
	min-width:18em;
	width:18em;
	margin-right:0.8em;
	margin-left:0.8em;
*/
	max-width:42%;
	width:42%;
	margin-right:3%;
	margin-left:3%;
}

.jeux_horizontal li{
	list-style-type:upper-alpha; 
}

.jeux_vertical li{
	list-style-type:decimal; 
}

/*.jeux_horizontal .jeux_vertical {float:left}*/


/*
p.spip {
	clear:both
}
*/

h4.jeux_grille{
	margin:0.8em;
	padding:0;
	font-weight:bold
}


.jeux_horizontal ol, .jeux_vertical ol{
	margin:0;
	list-style-position:inside;
}

.jeux_horizontal > ol, .jeux_vertical > ol{
	list-style-position:outside;
}

