/* Mise en forme du jeu de pendu */

table.pendu { 
 text-align:center;
}

table.pendu_clavier, td.pendu_clavier{ 
 text-align:center;
 width:16em;
}

input.pendu_clavier{ 
 font-size: 120%; 
 text-align:center;
 width:1.6em;
 display:inline;
 margin:1px;
}

input.pendu_deviner{ 
 border:0px none;
 font-weight:bold;
 font-size: 120%;
}

input.pendu_reset{ 
 border:0px none;
 color:#333333;
}

img.image_pendu{ 
 border:0px none;
 display:block;
}
