/* Mise en forme des QCM
 */

.qcm
{ 
 text-align:left;
 font-size: 90%;
 font-family: arial, helvetica, sans-serif;
 color: #3F5264;
 font-size: 12;
 border: 1px solid #F78C54;
 padding: 3px; 
 background-color: #FFEADE;
 width:100%;
}

.qcm_titre{ 
 text-align: center;
/* color: #3F5264; */
}

.qcm_proposition{ 
 font-size: 90%; 
 font-size: 10;
/* color: #3F5264;*/
 }

.qcm_reponse{ 
  font-size: 80%;
 font-size: 10;
/* color: #3F5264;*/
 }

.qcm_precision{
 margin-left: 0;
 margin-top: .1em;
 margin-bottom: .5em; 
 margin-right: 0;
 text-align:left;
 font-size: 80%;
 width:90%;
/* font-family: arial, helvetica, sans-serif;
 color: #3F5264;
 font-size: 12;*/
 border: 1px dotted #3F5264;
 padding: .2em; 
}

.qcm_correction_faux{ 
 font-size: 10;
 text-align:center;
 background-color: red;
 color: #FFEADE;
 font-weight: bold; 
 padding-right: 1px;
 padding-left: 1px;
 width:12em;
}

.qcm_correction_juste{ 
 font-size: 10;
 text-align:center;
 background-color: green;
 color: #FFEADE;
 font-weight: bold;
 padding-right: 1px;
 padding-left: 1px;
 width: 11em;
}

.qcm_correction_null{ 
 font-size: 10; 
 font-weight: bold;
}

.qcm_select{ 
 color: #3F5264;
 font-size: 10; 
 background-color: #F3EEEA;
}

.qcm_radio, qcm_cocher{
/* margin:2pt;
 padding:2pt; */
}