
.formulaire_favori {float:right;}
.formulaire_favori form button {cursor: pointer;border:0;background-color:transparent;text-align:right;padding:2px 0;}

/* Icone favoris 32px */
.formulaire_favori form button span {display:block;padding-bottom:5px;width:50px;}
.formulaire_favori form button.ajouter_favori img {visibility: hidden;width:32px;height:32px}
.formulaire_favori form button.ajouter_favori span {visibility:hidden;}
.formulaire_favori form button.ajouter_favori {background: url(images/favoris-grey-add-32.png) no-repeat center right;}
.formulaire_favori form button.ajouter_favori:hover {background-image: url(images/favoris-add-32.png);}
.formulaire_favori form button.ajouter_favori:hover span {visibility:visible;}

.formulaire_favori form button.retirer_favori img {visibility: hidden;width:32px;height:32px}
.formulaire_favori form button.retirer_favori span {visibility:hidden;}
.formulaire_favori form button.retirer_favori {background: url(images/favoris-32.png) no-repeat center right;}
.formulaire_favori form button.retirer_favori:hover {background-image: url(images/favoris-grey-remove-32.png);}
.formulaire_favori form button.retirer_favori:hover span {visibility:visible;}
