button {
	border:1px solid #b7b7b7; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: arial, helvetica, sans-serif; 
	padding: 5px; 
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight: bold; 
	text-align: center; 
	color: #FFFFFF; 
	background-color: #d3d3d3;
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
 	background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
 	background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
 	background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
 	background-image: -o-linear-gradient(top, #d3d3d3, #707070);
 	background-image: linear-gradient(to bottom, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);	
 	float: right;
}

button:hover {
border:1px solid #a0a0a0;
background-color: #bababa;
background-image: -webkit-gradient(linear, left top, left bottom, from(#bababa), top(#575757));
background-image: -webkit-linear-gradient(top, #bababa, #575757);
background-image: -moz-linear-gradient(top, #bababa, #575757);
background-image: -ms-linear-gradient(top, #bababa, #575757);
background-image: -o-linear-gradient(top, #bababa, #575757);
background-image: linear-gradient(to bottom, #bababa, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
}