#bandeautoutsite-container{
	font-size:100%;
	}
#bandeautoutsite,#bandeautoutsite ul {
	float: left;
	width: 14em;
	list-style: none;
	line-height: 1;
	background: white;
	font-weight: bold;
	padding: 0;
	border: solid #eda;
	margin: 0 0 0 0;
	text-align:left;
} 
#bandeautoutsite ul {
	border-width: 1px 0;
}

#bandeautoutsite a {
	display: block;
	width: 13em;
	w\idth: 9em;
	color: #7C6240;
	text-decoration: none;
	padding: 0.25em 2em;
}

/*#bandeautoutsite a.daddy {
	background: url(rightarrow2.gif) center right no-repeat;
}*/

#bandeautoutsite li {
	padding-right: 1em;
	width: 13em
}

#bandeautoutsite li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 14.4em;
	w\idth: 13.9em;
	font-weight: normal;
	border-width: 0.25em;
	margin: 0;
	margin-top: -1.75em;
	margin-left: 10em;
}

#bandeautoutsite li li {
	padding-right: 1em;
	width: 13em
}

#bandeautoutsite li ul a {
	width: 13em;
	w\idth: 9em;
}

#bandeautoutsite li ul ul {
	margin-top: -1.75em;
	margin-left: 10em;
}

#bandeautoutsite li:hover ul ul, #bandeautoutsite li:hover ul ul ul, #bandeautoutsite li:hover ul ul ul ul,
#bandeautoutsite li.sfhover ul ul, #bandeautoutsite li.sfhover ul ul ul, #bandeautoutsite li.sfhover ul ul ul ul
{
	left: -999em;
}


#bandeautoutsite li:hover ul, 
#bandeautoutsite li li:hover ul, 
#bandeautoutsite li li li:hover ul,
#bandeautoutsite li li li li:hover ul
{
	left: auto;
}

#bandeautoutsite li.sfhover ul{
	left:auto;
}
#bandeautoutsite li li.sfhover ul,
#bandeautoutsite li li li.sfhover ul,
#bandeautoutsite li li li li.sfhover ul,
{
	left: auto;
}

#bandeautoutsite li:hover, #bandeautoutsite li.sfhover {
	background: #eda;
}