<plugin>
	<nom>Table des Mati&#232;res</nom>
	<slogan>Cr&#233; le sommaire d'un article</slogan>
	<version>2.0.0</version>
	<prefix>TableMatieres</prefix>
	<fonctions>table_matieres.php</fonctions>
	<auteur>James</auteur>
	<licence>(c)2007 - GNU/GPL</licence>
	<description>Introduit une ancre translitter&#233;e pour chaque intertitre du champ #TEXTE des ARTICLES,
	ainsi qu'une balise #TABLE_MATIERES (facultative) associ&#233;e &#224; placer, bien s&#251;r, dans une boucle ARTICLES.</description>
	<etat>stable</etat>
	<lien>http://www.spip-contrib.net/Table-des-Matieres</lien>
	<categorie>edition</categorie>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>tdm_pipelines.php</inclure>
	</pipeline>
</plugin>
