<plugin>
	<nom>Flux RSS en articles</nom>
	<auteur>[erational->http://www.erational.org]</auteur>
	<icon>img/logo_rss_article.png</icon>
	<version>0.4</version>
	<licence>GNU/GPL v3</licence>
	<etat>test</etat>
	<description>Recopie les flux RSS en articles</description>
	<lien>http://www.spip-contrib.net/Plugin-Flux-RSS-en-articles</lien>
	<install>base/rssarticle_upgrade.php</install>
	<prefix>rssarticle</prefix>
	<categorie>edition</categorie>
	<necessite id="SPIP" version="[2.0;]" />
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/rssarticle.php</inclure>
	</pipeline>
  <options>rssarticle_options.php</options> 
	<pipeline>
		<nom>taches_generales_cron</nom>
		<inclure>rssarticle_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_milieu</nom>
		<inclure>rssarticle_pipelines.php</inclure>
	</pipeline> 
</plugin>
