<plugin>

	<!--  

	// GeoIP Country Code 
	// plugin.xml

/**
 * Copyright (c) 2009 Christian Paulus - http://www.quesaco.org
 * Dual licensed under the MIT and GPL licenses.
 * */
 
	// $LastChangedRevision$
	// $LastChangedBy$
	// $LastChangedDate$
	
	 -->
	 	
	<nom>Localisation du pays du visiteur</nom>
	<slogan>Afficher le code pays du visiteur</slogan>
	<auteur>[Christian Paulus->http://www.quesaco.org]</auteur>

	<description>
	Ce plugin met &#224; disposition des webma&#238;tres une balise SPIP pour leurs squelettes. Cette balise <code>#GEOIP_COUNTRY_CODE</code> ins&#232;re &#224; la compilation le code pays du visiteur via les services [MaxMind->http://www.maxmind.com/]
	</description>
	<lien>http://www.quesaco.org/Localiser-le-pays-du-visiteur</lien>
	
	<version>1.0.0</version>
	<etat>stable</etat>
	
	<icon>images/geoipcc-64.png</icon>
	
	<!-- espace de nommage -->
	<prefix>geoipcc</prefix>
	
	<options>geoipcc_options.php</options>
	<install>geoipcc_options.php</install>

	<pipeline>
		<nom>ajouter_boutons</nom>
		<inclure>inc/geoipcc_pipelines.php</inclure>
	</pipeline>
   <necessite id='SPIP' version='[2.0.0;2.1.99]' />
	<categorie>statistique</categorie>
</plugin>
