/* Noto Regular */
@font-face {
  font-family: 'noto_serif';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/NotoSerif-Regular-webfont.eot);
  src: url(fonts/NotoSerif-Regular-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoSerif-Regular-webfont.woff2) format('woff2'),
       url(fonts/NotoSerif-Regular-webfont.woff) format('woff'),
       url(fonts/NotoSerif-Regular-webfont.ttf) format('truetype');
}
/* Noto Bold */
@font-face {
  font-family: 'noto_serif';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/NotoSerif-Bold-webfont.eot);
  src: url(fonts/NotoSerif-Bold-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoSerif-Bold-webfont.woff2) format('woff2'),
       url(fonts/NotoSerif-Bold-webfont.woff) format('woff'),
       url(fonts/NotoSerif-Bold-webfont.ttf) format('truetype');
}
/* Noto Italic */
@font-face {
  font-family: 'noto_serif';
  font-style: italic;
  font-weight: normal;
  src: url(fonts/NotoSerif-Italic-webfont.eot);
  src: url(fonts/NotoSerif-Italic-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoSerif-Italic-webfont.woff2) format('woff2'),
       url(fonts/NotoSerif-Italic-webfont.woff) format('woff'),
       url(fonts/NotoSerif-Italic-webfont.ttf) format('truetype');
}

/* Noto Bold Italic */
@font-face {
  font-family: 'noto_serif';
  font-style: italic;
  font-weight: 600;
  src: url(fonts/NotoSerif-BoldItalic-webfont.eot);
  src: url(fonts/NotoSerif-BoldItalic-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoSerif-BoldItalic-webfont.woff2) format('woff2'),
       url(fonts/NotoSerif-BoldItalic-webfont.woff) format('woff'),
       url(fonts/NotoSerif-BoldItalic-webfont.ttf) format('truetype');
}

@font-face {
  font-family: 'noto_sans';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/NotoSans-Regular-webfont.eot);
  src: url(fonts/NotoSans-Regular-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoSans-Regular-webfont.woff2) format('woff2'),
       url(fonts/NotoSans-Regular-webfont.woff) format('woff'),
       url(fonts/NotoSans-Regular-webfont.ttf) format('truetype');
}
/* Noto Bold */
@font-face {
  font-family: 'noto_sans';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/NotoSans-Bold-webfont.eot);
  src: url(fonts/NotoSans-Bold-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoSans-Bold-webfont.woff2) format('woff2'),
       url(fonts/NotoSans-Bold-webfont.woff) format('woff'),
       url(fonts/NotoSans-Bold-webfont.ttf) format('truetype');
}
/* Noto Italic */
@font-face {
  font-family: 'noto_sans';
  font-style: italic;
  font-weight: normal;
  src: url(fonts/NotoSans-Italic-webfont.eot);
  src: url(fonts/NotoSans-Italic-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoSans-Italic-webfont.woff2) format('woff2'),
       url(fonts/NotoSans-Italic-webfont.woff) format('woff'),
       url(fonts/NotoSans-Italic-webfont.ttf) format('truetype');
}

/* Noto Bold Italic */
@font-face {
  font-family: 'noto_sans';
  font-style: italic;
  font-weight: 600;
  src: url(fonts/NotoSans-BoldItalic-webfont.eot);
  src: url(fonts/NotoSans-BoldItalic-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoSans-BoldItalic-webfont.woff2) format('woff2'),
       url(fonts/NotoSans-BoldItalic-webfont.woff) format('woff'),
       url(fonts/NotoSans-BoldItalic-webfont.ttf) format('truetype');
}

@font-face {
  font-family: 'noto_kufi';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/NotoKufiArabic-Regular.eot);
  src: url(fonts/NotoKufiArabic-Regular.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoKufiArabic-Regular.woff2) format('woff2'),
       url(fonts/NotoKufiArabic-Regular.woff) format('woff'),
       url(fonts/NotoKufiArabic-Regular.ttf) format('truetype');
}
/* Noto Bold */
@font-face {
  font-family: 'noto_kufi';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/NotoKufiArabic-Bold.eot);
  src: url(fonts/NotoKufiArabic-Bold.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoKufiArabic-Bold.woff2) format('woff2'),
       url(fonts/NotoKufiArabic-Bold.woff) format('woff'),
       url(fonts/NotoKufiArabic-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'noto_naskh';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/NotoNaskhArabic-Regular.eot);
  src: url(fonts/NotoNaskhArabic-Regular.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoNaskhArabic-Regular.woff2) format('woff2'),
       url(fonts/NotoNaskhArabic-Regular.woff) format('woff'),
       url(fonts/NotoNaskhArabic-Regular.ttf) format('truetype');
}
/* Noto Bold */
@font-face {
  font-family: 'noto_naskh';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/NotoNaskhArabic-Bold.eot);
  src: url(fonts/NotoNaskhArabic-Bold.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoNaskhArabic-Bold.woff2) format('woff2'),
       url(fonts/NotoNaskhArabic-Bold.woff) format('woff'),
       url(fonts/NotoNaskhArabic-Bold.ttf) format('truetype');
}

body.page_carte {
	margin:0;
	font-family:"noto_sans", "Helvetica Neue", verdana, sans serif;
}

.ar body.page_carte{
	font-family:"noto_naskh", "Helvetica Neue", verdana, sans serif;
}
.page_carte .page{
	width:100%;
}

.page_carte h1{
	background:#000;
	color:#fff;
	border-bottom:.3em solid #d40000;
	font-weight:normal;
	margin: 0;
	padding: .5em 1em;
	font-size: 1.5em;
	text-align: center;
}

.ar .page_carte h1{
	font-family:"noto_kufi", "Helvetica Neue", verdana, sans serif;
}

.page_carte .texte{
	color:#fff;
	background:#474746;
}

.page_carte .texte p{
	margin:0;
	padding:.7em 1em;
	font-size:.9em;
	text-align:center;
}

.page_carte .map_wrapper{
	width:100%;
	min-height:350px;
}

.page_carte .footer{
	background:#000;
	color:#fff;
	padding:.3em;
	font-size:.8em;
	width:100%;
	box-sizing:border-box;
}

.page_carte .footer a{
	color:#fff;
	text-decoration:none;
}
.page_carte .gauche{
	float:left;
}

.page_carte .gauche *{
	display:inline-block;
	vertical-align:middle;
}
.page_carte .gauche .logo{
	margin-right:1em;
}
.page_carte .droite{
	float:right;
}

.clearfix:before, .clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}

.info.leaflet-popup-content-wrapper{
	width:33vw;
	font-size:1.2em;
	max-width:35em;
}

.info.leaflet-popup-content-wrapper strong{
	color:#d40000;
	font-size:1.4em;
	font-weight:normal;
}

.ar .info.leaflet-popup-content-wrapper strong{
	font-size:1.2em;
}
.carte_gis{
	background:#474747;
}

.country{
	fill:#737473;
	stroke:#737473;
	stroke-width:1;
	fill-opacity:1;
	stroke-opacity:1;
}

.country-sy,.country-iq{
	fill:#b0b0b0;
	stroke-width:2;
	stroke-opacity:1;
}

.popupcountry .leaflet-popup-content-wrapper{
	text-align:center;
}

.leaflet-container {
	font: 12px/1.5 "noto_sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ar .leaflet-container {
	font-family: "noto_naskh", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:1.1em;
}

.ar .leaflet-container strong {
	font-family: "noto_kufi", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.leaflet-label {
	font-family: "noto_kufi", "Helvetica Neue", Arial, Helvetica, sans-serif;
	border-width:1px;
}

.leaflet-label:hover {
	color:#fff;
	background:rgba(0,0,0,.8);
}
.leaflet-label.informatif{
	background:none;
	border:none;
	font: 18px/1.5em "noto_sans", "Helvetica Neue", verdana, sans serif;
	text-shadow:0px 0px .1em white;
	padding:0;
	font-weight:normal;
}

.leaflet-label.informatif{
	font-family: "noto_naskh", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.leaflet-label:before, .leaflet-label:after,
.leaflet-label.informatif:before, .leaflet-label.informatif:after{
	content:none;
}

.leaflet-container a.leaflet-popup-close-button {
	padding-right:4px;
}