<plugin>
<nom>Actes Etat civil</nom>
<slogan>Concevoir des actes en ligne</slogan>
<etat>stable</etat>
<version>1.0.1</version>
<auteur>Dominique Wojylac / Sivu Inforoutes Ard&#232;che</auteur>
<description>
Formulaire multi-&#233;tapes de demande d'acte d'&#233;tat civil en ligne
</description>
<fonctions>actes_etat_civil_fonctions.php</fonctions>
<prefix>actes_etat_civil</prefix>
<pipeline>
	<nom>insert_head</nom>
	<action>inclure_css</action>
	<inclure>actes_etat_civil.php</inclure>
</pipeline>
<necessite id='cvtm' version='[0.2.4;]' />
<necessite id='SPIP' version='[2.1.0;2.1.99]' />
<categorie>communication</categorie>
</plugin>