#bilan_traduction{
	width:100%;
	overflow:auto;
}
.page_traduction table.spip{
	width:100%;
}

table.liste_traductions,table.bilan{
	font-size:.9em;
	margin:10px 0 15px;
	width:100%;
}
table.liste_traductions{
	table-layout:fixed;
}
table.liste_traductions td, table.liste_traductions th{
	text-overflow:ellipsis;
	overflow:hidden;
}
table.liste_traductions .code_langue{
	width:180px;
}
table.liste_traductions .origine,table.liste_traductions .cible{
	width:230px;
}
table.liste_traductions .date{
	width:70px;
}
table.liste_traductions .statut{
	width:50px;
}

.bilan{
	width:100%;
	overflow:auto;
}

.liste-objets .caption{background-repeat:no-repeat;height:24px;display:block;padding-left: 30px;}

.valeur_traduit{
	display:none;
}
div.graph {
    border: 0 none;
    height: 14px;
    position: relative;
}

div.graph[dir="ltr"] div.translated {
	left: 0;
}

.graph div.ok {
	background: #7bd250;
	height: 100%;
	position: absolute;
	top: 2px;
}

.graph div.relire {
	background: #fb9c2b;
	height: 100%;
	position: absolute;
	top: 2px;
}
.graph div.modif {
	background: #2b3ffb;
	height: 100%;
	position: absolute;
	top: 2px;
}

.graph div.new {
	background: #c62b49;
	height: 100%;
	position: absolute;
	top: 2px;
}

.none, .js .none-js, .no-js .none-nojs {
	display: none;
}

.formulaire_spip li.editer_version_originale_choisie{
	width:33%;
	float:left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing:border-box;
}
.formulaire_spip li.editer_valeur_originale{
	width:33%;
	float:left;
	margin-left:1%;
	clear:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing:border-box;
}

.formulaire_spip li.editer_valeur_fichier{
	width:33%;
	float:right;
	clear:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing:border-box;
}
