<plugin>
	<nom>Spip2Spip</nom>
	<slogan>Synchroniser le contenu de plusieurs sites SPIP entre eux</slogan>
	<auteur>[erational.org->http://www.erational.org]</auteur>
	<licence>GNU/GPL</licence>
	<version>2.4.3</version>
	<etat>stable</etat>
	<description>
Permet d'importer et d'exporter des articles avec d'autres sites SPIP en conservant le formatage spip, auteurs, mots-cl&#233;s,...
-* {{importer des articles:}} attribuer les mots-cl&#233;s du groupe d&#233;di&#233; {- spip2spip -} &#224; vos rubriques et inscrire les flux spip2spip de vos sites partenaires 
-* {{diffuser vos articles:}} attribuer les mots-cl&#233;s du groupe d&#233;di&#233; {- spip2spip -} &#224; vos articles et donner votre adresse de flux spip2spip (simple) <code>http://www.domaine.tld/spip.php?page=backend-spip2spip</code> 
et si vous utilisez agenda, <code>http://www.domaine.tld/spip.php?page=backend-spip2spip-agenda</code>
  </description>
	<lien>http://contrib.spip.net/Spip2Spip</lien> 
	<fonctions>spiptospip_filtre.php</fonctions>
	<install>base/spip2spip_upgrade.php</install>
	<categorie>edition</categorie>
	<prefix>spip2spip</prefix>
	<icon>img_pack/icon_spip2spip.png</icon>
	<options>spiptospip_options.php</options>
	<fonctions>spiptospip_fonctions.php</fonctions>
	<bouton id='spip2spip1' parent='naviguer'>
		<titre>spiptospip:titre</titre>
		<icone>img_pack/icon_spip2spip.png</icone>
		<url>spip2spip</url>
	</bouton>
	<bouton id='spip2spip2' parent='bando_edition'>
		<titre>spiptospip:titre</titre>
		<icone>img_pack/icon_spip2spip.png</icone>
		<url>spip2spip</url>
	</bouton>	
	<!-- pipelines -->	
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/spip2spip.php</inclure>
	</pipeline>
	<pipeline>
		<nom>taches_generales_cron</nom>
		<inclure>spiptospip_fonctions.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<necessite id="cfg" version="[1.15;]" />
</plugin>
