/*##############################################################
 * ExportCSV
 * Export des articles / rubriques SPIP en fichiers CSV.
 *
 * Auteur :
 * Stéphanie De Nadaï
 * webdesigneuse.net
 * © 2008 - Distribué sous licence GNU/GPL
 *
##############################################################*/

/*
 * /exec/exportcsv_tous > tableau d'aperçu des données
 */
#exportcsv_tab {
height:60em;
overflow:auto;
padding:4px;
}
#exportcsv_tab table {
border-collapse:collapse;
font-family:arial, sans-serif;
}
#exportcsv_tab td, th {
border:1px solid #888;
font-size:x-small;
vertical-align: top;
}
#exportcsv_tab th {
border:1px solid #333;
font-weight:900;
background:#cde3f1;
text-align:center;
}
/*
 * /exec/exportcsv_tous > extration pétitions
 */
body.exportcsv h3 {
	font-size: 1.5em;
}
body.exportcsv ul {
	margin-left: 0;
	padding-left: 1em;
}
body.exportcsv ul.instituer li a {
	display: block;
	padding: .1em;
	margin: .1em 0;
}
/*
 * /exec/exportcsv_tous > cadre d'aide
 */
.exportcsv_ol {
margin-left:14px;
padding-left:14px;
}
.exportcsv_ol li {
margin-bottom:.8em;
}
.exportcsv_ol ul {
margin-left:4px;
padding-left:4px;
}
.exportcsv_ol ul li {
margin-top:.8em;
margin-bottom:0;
}
.cadre-info {
margin-bottom:5px;
}
/*
 * FORM CFG /fonds/cfg_exportcsv.html
 */
.cadre-info .spip img {
float:left;
margin:auto 7px auto 3px;
}
.center {text-align:center;}
#form_exportcsv fieldset {
border:1px solid #999;
-moz-border-radius:8px;
margin-bottom:.6em;
background:#f4f4f4;
}
#form_exportcsv legend {
font-size:1.2em;
font-weight:bold;
font-variant:small-caps;
letter-spacing:1px;
}
#form_exportcsv input {
vertical-align:middle;
}
#form_exportcsv select {
width:96%;
margin:1%;
height:14em;
}
#form_exportcsv label {
display:block;
cursor:pointer;
margin:.1em auto;
padding:.2em;
}
#form_exportcsv label:hover {
background:#ddd;
}
#form_exportcsv label.racine, #form_exportcsv ul.racine li, .bold {
font-weight:bold;
}
#form_exportcsv ul {
list-style:none;
margin-left:0;
padding-left:0;
}
#form_exportcsv ul ul {
margin-left:1.6em;
padding-left:1em;
padding-bottom:.5em;
width:35em;
height:15em;
overflow:auto;
border:1px solid #ccc;
background:#fff;
}
html>body #form_exportcsv ul ul {
height:auto;
max-height:15em;
}
#form_exportcsv ul ul ul {
width:auto;
height:auto;
margin-right:1em;
}
#form_exportcsv .ss_field {
width:42%;
float:left;
margin:2% 1.8%;
background:#fff;
}
#form_exportcsv .ss_field label {
font-size:x-small;
}