.diapo_menu{border-bottom:2px solid #dadada;padding:3px 0;margin-bottom:2px;}
.diapo_ico {background-color:#ffffff;}
.diapo_icones a { 
	float:right;
	font-size:8px;
	width:9px;
	margin:2px 5px 2px 2px;
	text-align:center;
	border:1px solid #dadada;
	border-color:#dadada;
	text-decoration: none;
}
.diapo_icones a:hover, .diapo_icones a.selected { 
	border:1px solid #006169; 
	border-color:#006169;
	text-decoration: none;
}
.diapo_icones a.diapo_icoleft {
	border-left-width:4px;
}
.diapo_icones a.diapo_icoright {
	border-right-width:4px;
}
.diapo_icones .diapo_icocenter{
	background-color:#dadada;
}
.diapo_icones a.diapo_icocenter,
.diapo_icones a.diapo_ico{
	width:12px;
}
.diapo_icones a.diapo_icocenter.selected,
.diapo_icones a.diapo_icocenter:hover{
	background-color:#006169;
}

.diapo_vignettes {
	margin-top:5px;
	position:relative;
	text-align:center;
}
.diapo_vignettes, .diapo_vignettes_center {
	margin-left:4px;
}
.diapo_vignettes_right {
	float:right;
	display:block;
	width:180px;
}
.diapo_vignettes_left {
	float:left;
	display:block;
	width:180px;
}
.diapo_vignettes_invisible {
	display:none;
}
.diapo_vignette {
	float:left;
	display:block;
	position:relative;
	text-align:center;
	width:89px;
	height:89px;
}
.diaporama {
	float:left;
	display:block;
	position:relative;
	text-align:left;
	margin-top:5px;
}
.diapo {
	position:relative;
	display:inline;
}
.diapo_grand {
	width:550px;
}
.diapo_petit {
	width:370px;
}
.diaporama{position:relative;width:560px;}