<plugin>
	<nom> <!-- Nom du plugin -->
	Diapo
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	[bill->spipcarto@gmail.com]
	</auteur>
	<version>
	0.3
	</version>
	<etat>
	stable
	</etat>
	<description>
		modele galerie/diaporama
	</description>
	<options> <!-- fichier charge a chaque hit -->
	diapo_options.php
	</options>
	<pipeline>
  		<nom>insert_head</nom>
  		<inclure>diapo_fonctions.php</inclure>
  	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>diapo_fonctions.php</inclure>
	</pipeline>
	<prefix> 
	diapo
	</prefix>
</plugin>