<plugin>
	<nom>Nivo Slider</nom>
	<slogan>
		<multi>
			[fr]Diaporama jQuery avec de belles transitions !
			[en]JQuery slideshow with nice transitions!
		</multi>
	</slogan>
	<auteur>[Gr&#233;gory Pascal->http://www.spip-contrib.net/ngombe]</auteur>
	<version>0.1.2</version>
	<licence>GNU/GPL</licence>
	<etat>test</etat>
	<description><multi>
	[fr]Ajoute les balises <code><nivosliderXX></code>, <code><nivoslider_doc></code> et <code><nivoslider_rub></code> pour cr&#233;er un diaporama [Nivo Slider->http://nivo.dev7studios.com/] param&#233;trable.
	[en]Add <code><nivosliderXX></code>, <code><nivoslider_doc></code> and <code><nivoslider_rub></code> tags to create a [Nivo Slider->http://nivo.dev7studios.com/] slideshow.
	</multi></description>
	<lien>http://www.spip-contrib.net/Nivo-Slider-pour-SPIP</lien>
	<icon>img_pack/nivoslider-32.png</icon>
	<prefix>nivoslider</prefix>
	<pipeline>
		<nom>insert_head_css</nom>
		<inclure>nivoslider_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>nivoslider_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>nivoslider_pipelines.php</inclure>
	</pipeline>
	<noisette>modeles/nivoslider.html</noisette>
	<noisette>modeles/nivoslider_doc.html</noisette>
	<noisette>modeles/nivoslider_rub.html</noisette>
	<categorie>multimedia</categorie>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<necessite id='cfg' version='[1.16.0;]' />
</plugin>
