/* --------------------------------------------------------------

   galcaro.css
   Style minimal de la galerie Caro

-------------------------------------------------------------- */

.galcaro { clear: both; }
.galcaro h2 { display: none; }
.galcaro li { float: left; margin: 0 1.5em 1.5em 0; }
.galcaro li.first { margin-left: 0; }
.galcaro li.last { margin-right: 0; }
.galcaro li a { display: block; border: 0; text-decoration: none; }
.galcaro li a img { background: #fff; margin: 0; padding: 0; border: 4px solid #ddd; }
.galcaro li a:focus img,
.galcaro li a:hover img,
.galcaro li a:active img { border-color: #ccc; }

/* pagination */
.galcaro .pagination a { float: none; display: inline; }

/* end */