ul.nuage {
	margin:0;
	padding: 0;
	list-style: none;
}
ul.nuage li {
	display: inline;
	white-space: nowrap;
	line-height:2em;
}
ul.nuage span.frequence {
	display: block;
	float: left;
	height: 0;
	overflow: auto;
	width: 0;
}
