<plugin>
	<nom>Nihongo</nom>
	<slogan>Ecrire les hiragana et katakana japonais</slogan>
	<version>0.1.0</version>
	<prefix>nihongo</prefix>
	<auteur>[erational->http://www.erational.org]</auteur>
	<licence>(c) 2008 - GNU/GPL V3</licence>
	<etat>test</etat>
	<lien>http://contrib.spip.net/Plugin-Nihongo</lien>
	<description>
		Le plugin Nihongo ajoute un mod&#232;le pour saisir en r&#244;maji des cha&#238;nes hiragana et katakana japonaises
	</description>
	<icon>nihongo.png</icon>
	<fonctions>nihongo_fonctions.php</fonctions>
	<necessite id="SPIP" version="[1.9.0;2.0.99]" />
	<categorie>edition</categorie>
</plugin>