/* --------------------------------------------------------------
   faq.css
   Style des Questions-Réponse
   inspiré du plugin FAQ et définitions de romy.tetue.net
-------------------------------------------------------------- */

dl.faq { border: 0; }
dl.faq dt,
dl.faq dd { padding: .4em; background: inherit; border: 0; }
dl.faq dt { position: relative; padding-right: 3em; background-color: #ddd; margin-bottom: .4em; }
dl.faq dd { margin-left: 1em; margin-bottom: 2em; padding-right: 1em; border-left: 1px solid #ddd; }
dl.faq.js dt { background-position: 0 0.6em; }
