		.caption,th,td {
			text-align:left;
			font-weight:normal;
			vertical-align:middle;
		}
		.caption a{
			color:#fff;
			text-decoration:none;
		}
		.caption a:hover{
			color:#fafafa;
			text-decoration:underline;
		}
		ul.pagination {
			-moz-box-sizing:content-box;
			-webkit-box-sizing:content-box;
			-ms-box-sizing:content-box;
			box-sizing:content-box;
			padding:10px 0 !important;
			overflow:hidden;
		}
		ul.pagination li {
			text-indent:10000px;
			height:8px;
			width:8px;
			-moz-border-radius:10px;
			-webkit-border-radius:10px;
			-o-border-radius:10px;
			-ms-border-radius:10px;
			-khtml-border-radius:10px;
			border-radius:10px;
			background:rgba(0, 0, 0, 0.6);
			-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.1);
		}
		ul.pagination li.current {
			background:silver;
		}
