<plugin>
	<nom><multi>
	[fr]Interface d'administration des forums
	[en]Interface administration forums
	[ar]&#1608;&#1575;&#1580;&#1607;&#1577; &#1573;&#1583;&#1575;&#1585;&#1577; &#1575;&#1604;&#1605;&#1606;&#1578;&#1583;&#1609;
	</multi></nom>
	<icon>images/forum-48.png</icon>
	<auteur>C&eacute;dric Morin et Superyms</auteur>
	<licence>GPL</licence>
	<version>0.1</version>
	<etat>stable</etat>
	<description><multi>
	[fr]Interface d'administration des forums
	[en]Interface administration forums
	[ar]&#1608;&#1575;&#1580;&#1607;&#1577; &#1573;&#1583;&#1575;&#1585;&#1577; &#1575;&#1604;&#1605;&#1606;&#1578;&#1583;&#1609;
	</multi></description>
	<prefix>forum</prefix>
	<necessite id="SPIP" version="[2.0.8;]" />
	<categorie>communication</categorie>
</plugin>
