<plugin>
	<nom>C(R)UD Interface</nom>
	<auteur>C&eacute;dric Morin</auteur>
	<licence>GNU/GPL</licence>
	<version>0.3.4</version>
	<etat>dev</etat>
	<description>
	Une interface C(r)UD pour SPIP qui peut s'utiliser par appel action par url, ou
	par appel direct.
	</description>
	<prefix>crud</prefix>
	<categorie>?</categorie>
	<necessite id="SPIP" version="[2.1.0;]" />
</plugin>