<plugin>
	<nom><multi>[fr]Redirections HTTPS[es]Redireciones HTTPS</multi></nom>
	<auteur>Severo</auteur>
	<licence>GNU/GPL</licence>
	<version>0.1.0</version>
	<etat>test</etat>
	<prefix>redirhttps</prefix>
 	<categorie>performance</categorie>
	<slogan>S&#233;curiser l'acc&#232;s &#224; certaines pages du site</slogan>
	<description>
		<multi>
			[fr]Redirection vers HTTPS quand le contenu le n&#233;cessite (espace priv&#233;, login, pages publiques avec utilisateur connect&#233;)
			[es]Redirecci&#243;n hac&#237;a HTTPS cuando el contendio le necesita (espacio privado, login, p&#225;ginas p&#250;blicas con el usuario conectado)
		</multi>
	</description>
	<lien>http://contrib.spip.net/Rediriger-en-HTTPS-quand-l-utilisateur-est-connecte</lien>
	<icon>images/redirhttps-128.png</icon> <!-- http://www.iconfinder.com/icondetails/25388/128/high_security_thick_icon -->

	<options>redirhttps_options.php</options>

	<necessite id="SPIP" version="[2.1.11;3.0.99]" />
</plugin>
