<plugin>
	<nom> <!-- Nom du plugin -->
	  <multi>
	  [fr]Tri par mots clefs
	  [en]Sorting according to keywords
	  [it]Ordine in funzione delle parole chiave
	  </multi>
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	  Pierre Andrews (Mortimer)
	</auteur>
	<version>
	  0.1
	</version>
	<etat>
	 experimental 
	</etat>
	<description>
	  <multi>
		[fr]
		Pour trier les articles en fonction d'un mot. 

		Plus besoin d'utiliser le num&eacute;ros dans le titre, on peut associer un mots &agrave; plusieurs &eacute;l&eacute;ments. On peut alors ordonner tous les &eacute;l&eacute;ments associ&eacute;s au m&ecirc;me mot par simple glisser-d&eacute;poser.

		Comme le tri est local au mot clef, on peut donner plusieurs ordres diff&eacute;rents au m&ecirc;me &eacute;l&eacute;ment.
		[en]
		This plugin provides a simple sorting by keywords.

		No more need for numbers in the title. By associatint a keyword to multiple elements, you can then sort them with simple drag and drop operations.

		As the sorting is local to a keyword, you can have different orders for the same element.		
		[it]
		Questo plugin permette di ordinare semplicemente mediante una parola chiave.

		Non &egrave; necessario utilizzare numeri nel titolo. Adesso, associate una parola chiave a differenti elementi e potete ordinare quelli mediante un semplice trascinamento.

		Poich&eacute; l'ordine &egrave; interno a una parola chiave, potete dare un ordine diverso allo stesso elemento.
		</multi>
	</description>
	<!-- classe d'implementation : espace de nommage qui prefixera les appels de fonction
	sur le mode Rien::
	ainsi les fonctions hors espace de nommage ne peuvent etre appelees
	ce parametre est obligatoire et doit etre non vide
	-->
	<prefix> 
	  TriMots
	</prefix>
	<fonctions>balise_rang.php</fonctions>
	<!-- Definitions des fonctions qui s'inserent dans les pipelines -->
	<pipeline>
		<nom>affiche_droite</nom>
		<action>affiche_droite</action>
		<inclure>TriMots.php</inclure>
	</pipeline>
	<!-- Le parametre action est facultatif : en son absence la methode de la classe portant le nom du pipeline est appelee. Le parametre inclure est facultatif.	-->
</plugin>
