<plugin>
<nom>Metas +</nom>
<prefix>metasplus</prefix>
<icon>opengraph.png</icon>

<version>1.0.0</version>
<etat>stable</etat>
<categorie>divers</categorie>

<slogan>
	<multi>[fr]Métadonnées pour booster vos articles[en]Metadata to boost your articles[es]Metadatos para impulsar sus artículos[de]Metadaten, um Ihre Artikel zu steigern.</multi>
</slogan>
<description>Améliorez l'indexation de vos articles dans les moteurs et leur affichage sur les réseaux sociaux grâce aux métadonnées Dublin Core, Open Graph et Twitter Card.</description>
<auteur>[tetue->http://spip.tetue.net] - 2015</auteur>

<necessite id="SPIP" version="[2.1.0;3.1.99]" />
</plugin>