.notrans {
	transition: all 0s !important;
}
.spip_documents_left, .spip_documents_right {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.spip_documents_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.spip_documents_right {
	float: right;
	clear: right;
	margin-left: 2em;
}
.spip_documents_left {
	float: left;
	clear: left;
	margin-right: 2em;
}
.spip_documents_center_forcer,
.spip_documents_center_forcer .fond {
	float: none !important;
	margin: 1em auto !important;
}
.spip_documents_center_forcer .spip_doc_intitules_shape {
	text-align: center;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.spip_documents_center_forcer .spip_doc_intitules_shape:after{
	clear: both;
}
.spip_documents > a {
	display: block;
}
.spip_documents picture {
	display: block;
}
.spip_documents .logo_document {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.spip_documents .spip_doc_intitules {
	margin-top: 0.5em;
}
.spip_documents_shape.spip_documents_left {
	float: none;
}
.spip_documents_shape.spip_documents_left .spip_doc_intitules_shape {
	float: left; 
	position: relative !important;
}
.spip_documents_shape .fond {
	-webkit-shape-margin: 2em;
	shape-margin: 2em;
}
.spip_documents_shape.spip_documents_left .fond {	
	float: left;
	margin-right: 2em;
}
.spip_documents_shape.spip_documents_right {
	float: none;
}
.spip_documents_shape.spip_documents_right .spip_doc_intitules_shape {
	float: right; 
	position: relative !important;
}
.spip_documents_shape.spip_documents_right .fond {	
	float: right;
	margin-left: 2em;
}
.spip_documents_shape picture {
	z-index: -1;
}
.spip_documents.rond {
	-webkit-shape-margin: 2em;
	shape-margin: 2em;
	-webkit-shape-outside: content-box circle(50%);
	shape-outside: content-box circle(50%);
}
.spip_documents.rond picture {
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}
.spip_documents.kenburns:not(.rond) picture {
	overflow: hidden;
}
.spip_documents.kenburns_actif picture img {
	-webkit-transform: scale(2);
    -webkit-animation-name: kenburns;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: ease-in-out;
	transform: scale(2);
    animation-name: kenburns;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}
.spip_documents.kenburns_actif picture img {
}
@-webkit-keyframes kenburns {
	from {-webkit-transform: scale(1);}
	to {-webkit-transform: scale(2);}
}
@keyframes kenburns {
	from {transform: scale(1);}
	to {transform: scale(2);}
}

.spip_documents_flip {
	-webkit-perspective: 500px;
	perspective: 500px;
}
.spip_documents_flip picture {
	-webkit-transform: rotateY(450deg);
	transform: rotateY(450deg);
}
.spip_documents_flip_actif picture {
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
	-webkit-transform-origin: center center;
	transform-origin: center center;
	 -webkit-transform-style: preserve-3d;
	  transform-style: preserve-3d;
	
    -webkit-animation-name: spipflip;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    animation-name: spipflip;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.col_deux_trois .spip_documents_flip_actif picture,
.col_deux_quatre .spip_documents_flip_actif picture,
.col_droite .spip_documents_flip_actif picture
{
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.col_trois_trois .spip_documents_flip_actif picture,
.col_trois_quatre .spip_documents_flip_actif picture
{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.col_quatre_quatre .spip_documents_flip_actif picture
{
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}


@-webkit-keyframes spipflip {
	from {-webkit-transform: rotateY(450deg); -webkit-opacity: 1;}
	to {-webkit-transform: rotateY(0deg);-webkit-opacity: 1;}
}
@keyframes spipflip {
	from {transform: rotateY(450deg); opacity: 1;}
	to {transform: rotateY(0deg); opacity: 1}
}

ul.portfolio_ligne {
	margin-bottom: 2em;
	list-style: none;
}
.spip_documents_ligne {
	margin: 0;
	clear: both;
}
* + ul.portfolio_ligne {
	margin-top: 2em;
}
ul.portfolio_ligne:after {
	content: "";
	display:block;
	clear: left;
}
ul.portfolio_ligne li {
	float: left;
	margin-right: 10px;
	padding: 0;
}
ul.portfolio_ligne li .fond {
		width: 100%;
		height: 300px;
		display: block;
}
.label_ligne_precedent {
	float: left;
}
.label_ligne_suivant {
	float: right;
}
.label_ligne_precedent span, .label_ligne_suivant span {
	font-weight: bold;
	font-size: 70%;
	display: inline-block;
}
.label_ligne_precedent:hover span, .label_ligne_suivant:hover span {
	text-decoration: underline;
}
.label_ligne_precedent:before {
	content: "←︎︎ ";
	font-family: verdana, arial, sans;
	font-size: 14px;
}
.label_ligne_suivant:after {
	content: " →";
	font-family: verdana, arial, sans;
	font-size: 14px;
}
.label_ligne {
	display: none;
	padding-top: 5px;
}


.portfolio_slide_radio {
	display: none;
}
ul.portfolio_slide {
	clear: both;
	transition: transform 0.3s;
	transform: translate3d(0%,0,0);
	touch-action: pan-y;

}
ul.portfolio_slide .spip_doc_intitules {
	text-align: center;
}
ul.portfolio_slide:after {
	content: " ";
	display: block;
	width: 100%;
	height: 1px;
	clear: left;
}
.portfolio_slide_container:after {
	content: " ";
	display: block;
	width: 100%;
	height: 1px;
	clear: both;
	margin-bottom: 2em;
}
ul.portfolio_slide li {
	position: relative;
	float: left;
	width: 100%;
	margin-right: -100%;
}
ul.portfolio_slide .spip_img { padding-bottom: 75%; background-size: contain; display: block; width: 100%;  background-repeat: no-repeat; background-position: bottom center;}
@media (orientation: portrait) {
	ul.portfolio_slide .spip_img { padding-bottom: 134%;}
}


input.portfolio_slide_radio.sel0:checked ~ .label_ligne_0 { display: block; }
input.portfolio_slide_radio.sel1:checked ~ ul.portfolio_slide { transform: translate3d(-104%,0,0); }
input.portfolio_slide_radio.sel1:checked ~ .label_ligne_1 { display: block; }
input.portfolio_slide_radio.sel2:checked ~ ul.portfolio_slide { transform: translate3d(-208%,0,0); }
input.portfolio_slide_radio.sel2:checked ~ .label_ligne_2 { display: block; }
input.portfolio_slide_radio.sel3:checked ~ ul.portfolio_slide { transform: translate3d(-312%,0,0); }
input.portfolio_slide_radio.sel3:checked ~ .label_ligne_3 { display: block; }
input.portfolio_slide_radio.sel4:checked ~ ul.portfolio_slide { transform: translate3d(-416%,0,0); }
input.portfolio_slide_radio.sel4:checked ~ .label_ligne_4 { display: block; }
input.portfolio_slide_radio.sel5:checked ~ ul.portfolio_slide { transform: translate3d(-520%,0,0); }
input.portfolio_slide_radio.sel5:checked ~ .label_ligne_5 { display: block; }
input.portfolio_slide_radio.sel6:checked ~ ul.portfolio_slide { transform: translate3d(-624%,0,0); }
input.portfolio_slide_radio.sel6:checked ~ .label_ligne_6 { display: block; }
input.portfolio_slide_radio.sel7:checked ~ ul.portfolio_slide { transform: translate3d(-728%,0,0); }
input.portfolio_slide_radio.sel7:checked ~ .label_ligne_7 { display: block; }
input.portfolio_slide_radio.sel8:checked ~ ul.portfolio_slide { transform: translate3d(-832%,0,0); }
input.portfolio_slide_radio.sel8:checked ~ .label_ligne_8 { display: block; }
input.portfolio_slide_radio.sel9:checked ~ ul.portfolio_slide { transform: translate3d(-936%,0,0); }
input.portfolio_slide_radio.sel9:checked ~ .label_ligne_9 { display: block; }
input.portfolio_slide_radio.sel10:checked ~ ul.portfolio_slide { transform: translate3d(-1040%,0,0); }
input.portfolio_slide_radio.sel10:checked ~ .label_ligne_10 { display: block; }

ul.portfolio_slide li+li { transform:translate3d(104%,0,0); }
ul.portfolio_slide li+li+li { transform:translate3d(208%,0,0); }
ul.portfolio_slide li+li+li+li { transform:translate3d(312%,0,0); }
ul.portfolio_slide li+li+li+li+li { transform:translate3d(416%,0,0); }
ul.portfolio_slide li+li+li+li+li+li { transform:translate3d(520%,0,0); }
ul.portfolio_slide li+li+li+li+li+li+li { transform:translate3d(624%,0,0); }
ul.portfolio_slide li+li+li+li+li+li+li+li { transform:translate3d(728%,0,0); }
ul.portfolio_slide li+li+li+li+li+li+li+li+li { transform:translate3d(832%,0,0); }
ul.portfolio_slide li+li+li+li+li+li+li+li+li+li { transform:translate3d(936%,0,0); }
ul.portfolio_slide li+li+li+li+li+li+li+li+li+li+li { transform:translate3d(1040%,0,0); }


[dir=rtl] ul.portfolio_slide li+li { transform:translate3d(-104%,0,0); }
[dir=rtl] ul.portfolio_slide li+li+li { transform:translate3d(-208%,0,0); }
[dir=rtl] ul.portfolio_slide li+li+li+li { transform:translate3d(-312%,0,0); }
[dir=rtl] ul.portfolio_slide li+li+li+li+li { transform:translate3d(-416%,0,0); }
[dir=rtl] ul.portfolio_slide li+li+li+li+li+li { transform:translate3d(-520%,0,0); }
[dir=rtl] ul.portfolio_slide li+li+li+li+li+li+li { transform:translate3d(-624%,0,0); }
[dir=rtl] ul.portfolio_slide li+li+li+li+li+li+li+li { transform:translate3d(-728%,0,0); }
[dir=rtl] ul.portfolio_slide li+li+li+li+li+li+li+li+li { transform:translate3d(-832%,0,0); }
[dir=rtl] ul.portfolio_slide li+li+li+li+li+li+li+li+li+li { transform:translate3d(-936%,0,0); }
[dir=rtl] ul.portfolio_slide li+li+li+li+li+li+li+li+li+li+li { transform:translate3d(-1040%,0,0); }
[dir=rtl] input.portfolio_slide_radio.sel1:checked ~ ul.portfolio_slide { transform: translate3d(104%,0,0); }
[dir=rtl] input.portfolio_slide_radio.sel2:checked ~ ul.portfolio_slide { transform: translate3d(208%,0,0); }
[dir=rtl] input.portfolio_slide_radio.sel3:checked ~ ul.portfolio_slide { transform: translate3d(312%,0,0); }
[dir=rtl] input.portfolio_slide_radio.sel4:checked ~ ul.portfolio_slide { transform: translate3d(416%,0,0); }
[dir=rtl] input.portfolio_slide_radio.sel5:checked ~ ul.portfolio_slide { transform: translate3d(520%,0,0); }
[dir=rtl] input.portfolio_slide_radio.sel6:checked ~ ul.portfolio_slide { transform: translate3d(624%,0,0); }
[dir=rtl] input.portfolio_slide_radio.sel7:checked ~ ul.portfolio_slide { transform: translate3d(728%,0,0); }
[dir=rtl] input.portfolio_slide_radio.sel8:checked ~ ul.portfolio_slide { transform: translate3d(832%,0,0); }
[dir=rtl] input.portfolio_slide_radio.sel9:checked ~ ul.portfolio_slide { transform: translate3d(936%,0,0); }
[dir=rtl] input.portfolio_slide_radio.sel10:checked ~ ul.portfolio_slide { transform: translate3d(1040%,0,0); }

