<plugin>
	<nom>Corrections typographiques (guillemets)</nom>
	<version>1.0</version>
	<prefix>typo_guillemets</prefix>
	<etat>stable</etat>
	<auteur>[Vincent Ramos->mailto:www-lansargues@kailaasa.net]</auteur>
	<description>Ce plugin remplace automatiquement les guillemets droits (") par les guillemets typographiques (&laquo;&raquo;&ldquo;&rdquo;&bdquo;) de la langue de composition. Le remplacement, transparent pour l'utilisateur, ne modifie pas le texte mais seulement l'affichage final.

	Ce plugin est distribu&eacute; sous licence GNU/GPL.
	</description>
	<pipeline>
		<nom>post_typo</nom>
		<action>remplacements</action>
		<inclure>typo_guillemets_fonctions.php</inclure>
	</pipeline>
</plugin>