#op #erreur {
	display: block;
	height: 50px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	background-color: red;
	margin-left: 5px;
	margin-right: 15px;
}

#op #block-op {
	display: block;
	margin-left:5px;
	margin-right: 15px;
	background-color: #8a5e99;
}

#op #block-op-footer {
	display: block;
	color: #fff;
	background-color: #8a5e99;
	border-top: 1px solid #d7b8e1;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0em;
	padding-top: 4px;
	padding-bottom: 4px;
}

#op #block-op-center {
	display: block;
	background-color: #fff;
	color: #333;
	border: medium solid #8a5e99;
	width: 98%;
	margin-right: 0px;
	margin-left: 2px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	-moz-border-radius: 10px;
}

#op #block-op-center-titre {
	display: block;
	padding: 0em;
	text-align: center;
	line-height: 18px;
	background-color: #fff;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
	padding-bottom: 4px;
	color: #829891;
	text-shadow: 0px 0px 3px #999999;
	font-family:georgia, times, serif;
	font-weight: bold;
}

#op #block-op-publie-titre {
	display: block;
	padding: 0em;
	text-align: left;
	line-height: 18px;
	background-color: #fff;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
	padding-bottom: 4px;
	color: #829891;
	text-shadow: 0px 0px 3px #999999;
	font-family:georgia, times, serif;
	font-weight: bold;
}

#op #block-op-content small {
	text-align: justify;
}

#op #block-op-content p {
	text-align: justify;
	color: black;
	margin-left: 10px;
	margin-right: 10px;
	
}

#op #block-op-content hr {
	margin-left : 10px;
	margin-right : 10px;
}

#op #op-textearea {
	margin-left : 10px;
	margin-right : 10px;
}

#op #op-identif {
	font-size : 0.8em;
	margin-left : 10px;
	margin-bottom : 10px;
}

#op #op-barre {
	text-align : center;
}

