<plugin>
	<nom>Base CSS</nom>
	<prefix>basecss</prefix>
	<icon>prive/img/basecss.png</icon>
	
	<version>3.0.3</version>
	<etat>dev</etat>
	<categorie>outil</categorie>
	
	<slogan>Framework CSS pour SPIP</slogan>
	<description>Ce framework CSS pour SPIP fournit une base de travail pour l'int&eacute;gration, sous la forme d'un jeu de feuilles de style dynamiques et param&eacute;trables, proposant les pr&eacute;r&eacute;glages fondamentaux.
	</description>
	<lien>http://www.spip-contrib.net/?rubrique214</lien>
	<auteur>[romy.tetue.net->http://romy.tetue.net] - 2010</auteur>
	
	<necessite id="SPIP" version="[3.0.0;3.0.99]"/>
	<bouton id='basecss' parent='bando_squelette'>
		<icone>prive/img/basecss-16.png</icone>
		<titre>Base&nbsp;CSS</titre>
		<url>configurer_basecss</url>
	</bouton>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>basecss_pipelines.php</inclure>
	</pipeline>
	<utilise id="typoenluminee" />
</plugin>