/*  ----------------------------------------------------------- */
/*  Feuilles de styles des squelettes spip-thelia		*/
/*  ----------------------------------------------------------- */

/* styles thelia */

.titrePage {
	text-align: center;
	color: #000;
	font-family: 'Helvetica-Bold','Helvetica','Arial',sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 22px;
}

.sousTitrePage {
	color:  #7a6d2c;
	text-align: left;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}

.textePage {
	color: #141414;
	text-align: left;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 5px;
}

.separation {
	height: 1px;
	background-color: #7a6d2c;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow:hidden;
	zoom:1;
}


/* Produit petit & grand
-------------------------------------------------------- */

.ListeProduitsPetits {
	float: left;
	margin: 0;
	padding: 0;
}

.produitPetit {
	float: left;
	width: 150px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 0;
	padding: 0;
}

.contourImage {
	border: 1px dashed #cccccc;
	margin-bottom: 5px;
	float: left;
}

.titreProduit {
	color: #12335B;
	text-align: left;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
}

.chapoProduit {
	color: #12335B;
	text-align: left;
	font-style: italic;
	font-size: 0.9em;
	line-height: 1.2em;
	margin-bottom: 5px;
	width: 100%;
}

.descriptionProduit {
	color: #12335B;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 10px;
}

.prixProduit {
	color: #EC8000;
	text-align: left;
	font-weight: bold;
	margin-top: 5px;
}

.ficheProduit {
	float:left;
	width: 470px;
	margin-left: 10px;
}


a.LIEN_commander {
	color: #acac90;
	text-decoration: none;
	font-weight: bold;
}



/* Nombre de pages
-------------------------------------------------------- */

#pages {
	float: left;
	text-align: right;
	font-size: 0.9em;
	padding-top: 10px;
	margin: 0;
	padding-bottom: 10px;
	color: #12335B;
}
.page_produit #pages {
	clear: left;
}

a.LIEN_pages:link {
	color: #12335B;
	text-decoration: none;
	font-weight: bold;
}

a.LIEN_pages:visited {
	color: #12335B;
	text-decoration: none;
	font-weight: bold;
}

a.LIEN_pages:hover {
	color: #12335B;
	text-decoration: underline;
	font-weight: bold;
}




/* Divers éléments de formulaires & tableaux
-------------------------------------------------------- */

.enteteTableau {
	font-weight: bold;
	border: 1px dashed #cccccc;
}

.ligneTableau {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c6cdde;
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 3px;
}

.footerTableau {
	color: #12335B;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}

.boutonMonCompteContenu {
	font-weight: bold;
	text-align: right;
	margin: 10px;
}


.zoneDeSaisie {
	color: #7a6d2c;
	font-weight: bold;
	font-size: 0.9em;
}

.obligatoire {
	color: #FF0000;
}

.commentaires {
	font-size: 0.9em;
	font-style: italic;
	font-weight: bold;
	color: #7a6d2c;
}

/* style propre aux modeles <produit>*/

.produits_thelia {
	width: 200px;
	text-align: left;
	border: 1px dashed #cccccc;
	padding: 1em;
}
.thelia_promo {
	font-size: 1.2em;
	color: #F60;
}
.thelia_reappro {
	font-style: italic;
	font-size: .9em;
}
.autres-images-produit {
	clear: both;
}
#etapes-achat ul  {
	margin: 0;
	padding: 0;
	list-style: none;
}
#etapes-achat ul li {
	float: left;
	color: #939393;
	height: 70px;
	padding: 0;
	margin: 0;
	padding-right: 30px;
	background-image: url(img_pack/fleche.jpg);
	background-position: right 11px;
	background-repeat: no-repeat;
	font-size: .8em;
	
}
#etapes-achat ul li.derniere-etape {
	background-image: none;
	padding-right: 0;
}
	
#etapes-achat ul li div {
	width: 75px;
	padding: 5px;
	padding-left: 10px;
	/* border: 0px solid #ccc; */
}
#etapes-achat ul li.etape-courante {
	color: #F60;
	font-weight: bold;
}
#etapes-achat ul li.etape-courante div {
	/* border: 0px solid #F60; */
}

#etapes-achat ul li a{
	color: #808080;
	}

#etapes-achat ul li a:hover{
	color: #F60;
	}
	
	
