<plugin>
	<nom>Switcher</nom>
	<slogan>Switcheur de squelettes</slogan>
	<auteur>Philippe Drouot, adaptation en plugin de la contrib switcher de Fil</auteur>
	<licence>&#169; 2006, GNU/GPL</licence>
	<version>0.2.1</version>
	<etat>test</etat>
	<description>
		<multi>
		[fr]
		Ajoute une liste d&#233;roulante permettant de basculer entre les squelettes par d&#233;faut du site, les squelettes de la dist de SPIP et l'ensemble des squelettes contenus dans le r&#233;pertoire nomm&#233; <code>squelettes-test</code>	(un sous-r&#233;pertoire par jeu de squelettes).
	
		Si vous souhaitez modifier le nom du r&#233;pertoire contenant les squelettes, &#233;ditez le fichier <code>inc/switcher_config.php</code>. Il est &#233;galement possible dans ce m&#234;me fichier de sp&#233;cifier si les non administrateurs ont la possibilit&#233; de jouer avec les jeux de squelettes en mettant a FALSE la variable <code>$afficherSeulementPourLesAdmins</code>.
	
		Pour se faire une id&#233;e, voir [d&#233;mo->http://spiptest.africa-web.org/].
		[it]
		Aggiunge un menù a tendina che permette di scegliere tra diversi modelli, quello di default del sito. La scelta &#232; tra i modelli della dist di SPIP e tutti i modelli contenuti nella cartelle squelettes-test (una sottocartella di modelli di prova). 
		
		Se desiderate modificare il nome della cartella che contiene i modelli, modificate il file inc/switcher_config.php. In questo file &#232; anche possibile precisare se assegnare ai non amministratori la possibilit&#224; di modificare le impostazioni di modelli, impostando FALSE la variabile <code>$afficherSeulementPourLesAdmins</code>.
		
		Per farsi un'idea, vedere [d&#233;mo->http://spiptest.africa-web.org/].
		</multi>
	</description>
	<lien>http://zine.spip.org/spip.php?article8</lien>
	<prefix>switcher</prefix>	
	<options>switcher_options.php</options>
	<pipeline>
		<nom>affichage_final</nom>
		<action>affichage_final</action>
		<inclure>switcher_fonctions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>head.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[1.9.0;2.9]" />
	<necessite id="saisies" />
	<categorie>maintenance</categorie>
</plugin>
