<plugin>
  <nom>
<!-- Nom du plugin -->
	Belles puces
	</nom>
  <auteur>
<!-- Auteur du plugin -->[J&#233;r&#244;me Combaz->http://conseil-recherche-innovation.net/le-cri/jerome-combaz] - Distribu&#233; sous licence GNU/GPL
	</auteur>
  <version>
	0.1
	</version> <!-- Version du plugin -->
  <etat>
        stable
	</etat>
  <description>Remplace les puces - (tiret) des articles par des puces -* (&lt;li>...)</description>
	<lien></lien> <!-- URI de documentation -->
  <prefix>bellespuces
	</prefix>
<!-- Definitions des fonctions qui s'inserent dans les pipelines -->  <pipeline>
    <nom>pre_typo</nom>
    <action>pre_typo</action>
    <inclure>bellespuces.php</inclure>
  </pipeline>
</plugin>
