#lePlayer{ width:336px; position:relative; padding:0 0 16px 0; }

.radiobox{ background-color:#000000; padding:20px; width:296px; margin-bottom:0px;}
div#playing{ float:right; width:160px; color:#999999; position:relative; }
div#now_playing{ float:none; border:none; color:#fff; width:auto; }
.radiobox img {display: inline}
#scrollbar{ margin:10px 0px; }
div.controles{ clear:both; text-align:left; height:74px }
.leplayer, .position{ font-size:2em; font-weight:bold; color:#FFFFFF; font-familly:verdanna; }
.leplayer{ margin-bottom:10px; }
#scrollbar{ margin-top:0px; }
.duration{ font-size:9px; float:right; width:33%; }
.play{ width:70px; float:left; }
.time{ width:100px; float:left; }
.autres_boutons{ text-align:right; }
ul.playliste{ clear:both; margin : 1px 0px 10px 0px; padding:0px; background-color:#e74455; border:none; height:100px; overflow:auto; }
#playliste_video{ clear:both; margin : 1px 0px 15px 0px; padding:0px; background-color:#FF3C00; border:none; }
#playliste_podcast{ clear:both; margin : 1px 0px 15px 0px; padding:0px; background-color:#FEBD00; border:none; }
ul.playliste a, #playliste_video a{ color:#fff; }
ul.playliste li, #playliste_video li{ border-top:1px solid black; padding:2px; margin:Opx; cursor:pointer; cursor:hand; }
ul.playliste li.over, #playliste_video li.over{ background-color:#a22c38; }
ul.playliste li.play_on, li.overli.play_on{ background-color:#a22c38; }


/* Scroller Box */
#scroller_container { position: relative; width:160px; height: 30px; overflow: hidden; float:none; border:none; }
#scroller { width:160px; height: 15px; position: absolute; left:0; top:0; margin: 0; }

/* CSS Hack Safari */
#dummy {;# }
#scroller_container { overflow: auto; }
#media{ margin-bottom:10px; }
#video{ background:#000; }
#menu_affiche{ margin:0; padding:0; clear:both; width:100%; }
#menu_affiche td div{ width:96px; text-align:center; padding:2px 0px; }
#menu_affiche td a{ color:#fff; font-size:13px; font-weight:bold; }
#affiche_musique{ background:#E74455; height:20px; }
#affiche_podcast{ background:#FEBD00; }
#affiche_video{ background:#FF3C00; border-left: 2px solid black; border-right: 2px solid black; width:98px; }
