/* --------------------------------------------------------------

   varicelle.css
   Style des boutons (a, input, button)
   by Tetue - 2010-2016

-------------------------------------------------------------- */

.submit {
	position: relative;
	display: inline-block;
	width: auto;
	padding: .5em 1em;
	overflow: visible;
	/*white-space: nowrap;*/
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;

	background: #767676 url(img/sprite/varicelle.png) left top repeat-x;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);

	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	text-align: center;
	font-size: 100%;
	line-height: 1;

	font-weight: bold;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
* html .submit { background-image: none; border: none; color: #FFF !important; } /*IE6*/
.submit,
.submit:visited,
.submit * { color: #FFF; text-decoration: none; }

.submit:hover {
	background-color: #555;
	color: #FFF;
	text-decoration: none;
}
.submit:active {
	-webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);
	transform: translateY(1px);
	/*outline: none !important;*/
}
.submit:active {
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.7);
 	/*IE*/ border-bottom: 0\9; border-top: 1px solid #666\9;
 }
.submit::-moz-focus-inner { border: 0 none; padding: 0; }

/* tailles */
.submit.small			{ font-size: 80%; }
.submit.big				{ font-size: 130%; }
.submit.super			{ font-size: 200%;
						-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }

/* couleurs */
.submit.purple			{ background-color: #8c198c; }
.submit.purple:hover	{ background-color: #730073; }
.submit.pink			{ background-color: #E20B8D; }
.submit.pink:hover		{ background-color: #b40870; }
.submit.red				{ background-color: #E62623; }
.submit.red:hover		{ background-color: #b81e1c; }
.submit.orange			{ background-color: #ff5c00; }
.submit.orange:hover	{ background-color: #D45500; }
.submit.yellow			{ background-color: #FFB515; }
.submit.yellow:hover	{ background-color: #FC9200; }
.submit.green			{ background-color: #91BD09; }
.submit.green:hover		{ background-color: #22891F; }
.submit.blue			{ background-color: #2673E5; }
.submit.blue:hover		{ background-color: #1a50a0; }
.submit.black			{ background-color: #222; }
.submit.black:hover		{ background-color: #000; }
.submit.gray			{ background-color: #767676; }
.submit.gray:hover		{ background-color: #555; }
.submit.white			{ background-color: #FFF; border: 1px solid #CCC; color: #666 !important; font-weight: normal; text-shadow: 0 1px 1px #FFF; }
.submit.white:hover		{ background-color: #EEE; }

/* styles */
.submit.metal			{ background: #FFF url(img/sprite/varicelle.png) repeat-x scroll bottom; border: 1px solid #BBB; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1); color: #555 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5); }
.submit.metal:focus,
.submit.metal:hover,
.submit.metal:active	{ background-color: #EEE; border-color: #999; color: #444; }

.submit.spip			{ background-color: #75507B; }
.submit.spip:hover		{ background-color: purple; }
.submit.spip:focus,
.submit.spip:active		{ background-color: #F57900 !important; border-color: #F57900 !important; }

/* boutons d'admin SPIP */
.spip-admin .submit			{ background-color: #75507B; }
.spip-admin .submit:hover	{ background-color: purple; }
.spip-admin .submit:focus,
.spip-admin .submit:active	 { background-color: #F57900 !important; border-color: #F57900 !important; }

/* system */
.submit.primary 		{ background-color: #222; }
.submit.primary:hover	{ background-color: #000; }
.submit.secondary 		{} /* = default */
.submit.secondary 		{} /* = default */

.submit.success 		{ background-color: #91BD09; }
.submit.success:hover	{ background-color: #22891F; }
.submit.info 			{ background-color: #2673E5; }
.submit.info:hover		{ background-color: #1a50a0; }
.submit.warning 		{ background-color: #FFB515; }
.submit.warning:hover	{ background-color: #FC9200; }
.submit.danger 			{ background-color: #E62623; }
.submit.danger:hover	{ background-color: #b81e1c; }

/* light */
.submit.light 			{ background: transparent; box-shadow: 0 0 0; border: 0; border-radius: 0; text-shadow: 0 0 0; color: inherit; font-weight: normal; }
.submit.light:hover		{ background: transparent; color: inherit; text-decoration: underline; }

/* disabled */
.submit.disabled,
.submit.disabled:focus,
.submit.disabled:hover,
.submit.disabled:active {
	background: #F7F7F7 !important;
	box-shadow: 0 0 0;
	border: 1px solid #D6D6D6 !important;
	color: #666 !important;
	text-shadow: 0 0 0;
	font-weight: normal;
	opacity: .5;
	cursor: not-allowed;
	transform: none;
}

/* D'apres :
http://speckyboy.com/2010/02/15/20-css3-tutorials-and-techiques-for-creating-buttons/
et en particulier Pretty CSS3 buttons : http://papermashup.com/pretty-css3-buttons/
sans oublier : http://v4-alpha.getbootstrap.com/components/buttons/
*/

/* end */