#calendar {
	text-align:center;
	padding-top:26px;
	}
#calendar h2 {
	text-align: left;
}
#calendar table {
	width:90%;
	font-size:0.8em;
	text-align:center;
	margin:0 auto;
	border-collapse:collapse;
	}
#calendar table caption {
	margin:0 auto;
	font-size:1.1em;
	color:#666;
	}
#calendar table th {
	color:#666;
	background:transparent;
	}
#calendar table td {
	width:14%;
	line-height:2em;
	border:1px solid #ddd;
	}
#calendar table td a {
	display:block;
	background:#ddd;
	font-weight:bold;
	text-decoration:none;
	}
#calendar table td a:hover {
	background:#ce2155;
	color:#fff;
	border: none;
	}
#calendar table td.active a {
	background: #21aace;
	color: #fff;
	}