<plugin>
	<nom>Fulltext</nom>
	<slogan>
		<multi>
			[fr]Indexation FULLTEXT pour acc&#233;l&#233;rer les recherches
			[en]FULLTEXT indexation to speed up searches
		</multi>
	</slogan>
	<auteur>Fil, Gael Chareyre</auteur>
	<version>0.7.1</version>
	<version_base>0.2</version_base>
	<etat>test</etat>
	<licence>&#169; 2009-2012 GNU/GPL</licence>
	<description>
Ce plugin permet d'une part d'exploiter le mode de recherche FULLTEXT de MySQL et d'am&#233;liorer ainsi &#233;norm&#233;ment les recherches par rapport au fonctionnement natif de SPIP, et d'autre part d'indexer le contenu de certains documents.
-* exploite le mode FULLTEXT SEARCH IN BOOLEAN MODE de MySQL, cf. [->http://dev.mysql.com/doc/refman/5.0/fr/fulltext-boolean.html]
Pour un fonctionnement optimal, il faut installer des programmes compl&#233;mentaires et param&#233;trer leur utilisation dans <code>mes_options.php</code> ou via le panneau de configuration :
-** Tous les types de documents doivent avoir une constante de type <code>_FULLTEXT_EXT_EXE</code> de d&#233;finie (ou EXT est l'extension du document) ou l'&#233;quivalent dans le panneau de configuration.
-** L'indexation de document est inactive par d&#233;faut (aucune constantes de d&#233;finies).
-* Pour les {{PDF}} :
-** Installer [Xpdf->http://www.foolabs.com/xpdf/]
-*** Sur [Ubuntu->http://packages.ubuntu.com/fr/hardy/xpdf-utils],
-*** Sur Mac OS X via [MacPorts->http://xpdf.darwinports.com/] ou avec cette [version compil&#233;e->http://users.phg-online.de/tk/MOSXS/xpdf-tools-3.dmg],
-*** Sur d'[autres OS->http://www.foolabs.com/xpdf/download.html]
-** D&#233;finir ces constantes (ou utiliser le panneau de configuration):
-*** <code>_FULLTEXT_PDF_EXE</code> (par exemple <code>/usr/bin/pdftotext</code>) : Chemin vers l'ex&#233;cutable <code>pdftotext</code> de [Xdpf->http://www.foolabs.com/xpdf/] afin de transformer les fichiers PDF en texte brut
-*** <code>_FULLTEXT_PDF_CMD_OPTIONS</code> (par exemple <code>-enc UTF-8</code>) : Options d'appel de l'ex&#233;cutable
-*<code>_FULLTEXT_TAILLE</code> : Taille maximum conserv&#233;e pour la version texte des fichiers (50000 par d&#233;faut)
-* Pour les {{DOC, PPT, XLS}} :
-** Installer [Catdoc->http://www.wagner.pp.ru/~vitus/software/catdoc/]
-*** Sur [Ubuntu/Linux->http://www.wagner.pp.ru/~vitus/software/catdoc/],
-*** Sur [Windows->http://blog.brush.co.nz/2009/09/catdoc-windows/]
-** D&#233;finir les constantes correspondantes (ou utiliser le panneau de configuration) de la meme mani&#234;re que pour les PDF.
-* Pour les {{ODT, DOCX, PPTX, XLSX}} :
-** Utilise des fonctions et des classes PHP (n&#233;cessite PHP 5.2 au minimum, ainsi que l'option -enable-zip).
	</description>
	<lien>http://www.spip-contrib.net/Fulltext</lien> <!-- URI de documentation -->
	<prefix>
	Fulltext
	</prefix>
	<fonctions>fulltext_fonctions.php</fonctions>
	<icon>fulltext.png</icon>
	<install>base/fulltext_install.php</install>
	<chemin dir='' />
	<onglet id="fulltext" parent="configuration">
		<icone>images/fulltext-24.png</icone>
		<titre>Fulltext</titre>
	</onglet>
	<bouton id='fulltext' parent='bando_configuration'>
		<titre>Fulltext - Index</titre>
		<icone>images/fulltext-16.png</icone>
	</bouton>
	<bouton id='fulltext_document' parent='bando_configuration'>
		<titre>Fulltext - Documents</titre>
		<icone>images/fulltext-16.png</icone>
	</bouton>
	<pipeline>
    	<nom>declarer_tables_principales</nom>
    	<inclure>base/fulltext.php</inclure>
  	</pipeline>
	<pipeline>
    	<nom>autoriser</nom>
    	<inclure>fulltext_autoriser.php</inclure>
  	</pipeline>
	<pipeline>
		<nom>taches_generales_cron</nom>
		<inclure>fulltext_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.0.0;3.0.99]" />
	<categorie>navigation</categorie>
	<traduire gestionnaire="salvatore" module="fulltext" reference="fr" />
</plugin>
