<plugin>
	<nom>Animate CSS pour SPIP</nom>
	<auteur>Mikha</auteur>
	<licence>GPL v3</licence>
	<version>1.0.0</version>
	<etat>test</etat>
	<slogan>Permet d'utiliser Animate CSS sous SPIP</slogan>
	<description></description>
	<categorie>edition</categorie>
	<icon>images/animatecss-48.jpg</icon>
	<lien>https://contrib.spip.net/animatecss</lien>

	<prefix>animatecss</prefix>


	<pipeline>
		<nom>insert_head_css</nom>
		<inclure>animatecss_pipelines.php</inclure>
	</pipeline>




	<necessite id="SPIP" version="[3.1;]" />


</plugin>
