/* englobe tout. Permet d'ajouter des choses ou des fondsà droite, à gauche, au dessus et en dessous du surcontent. */
#container {
  height: 100%;
  min-height: 100%;
  text-align: left;
}

#container,
#surcontent,
#width {
  /* max-width hack for IE since it doesn't understand the valid css property */
  width: expression(document.body.clientWidth > 1000 ? "1000px" : "98%");
  max-width: 1000px;
  margin: 10px auto;
}

#container[id],
#surcontent[id],
#width[id] {
  width: 98%;
  height: auto;
}
#content{
        width:100%;
        clear:left;
        margin:0 auto;
	}
/* englobe le content et le pied de page mais pas le header. Permet de placer des choses sous le header. */
#surcontent{
	width:98%;
        margin: 0 auto;
	}
#header{
        width:98%;
        margin: 0 auto;
	height:100px;
	}
/* position colonne */
.coldroit{
	width:33%;
	}
#colgau{
	width:67%;
	}
/* boites */
.grande_boite{
       	width:95%;
	}
.boite{
	width:96%;
	}

.boite_cellule_droite h4,.boite_cellule_gauche h4,.grande_boite_cellule h4,.grande_boite_cellule h1,.formulaire_cellule h4,.formulaire_cellule h1{
	padding: 3px 3px 3px 28px;
	position:relative;
	}
.boite_cellule_gauche{
	margin:6px 0 0 6px;
	width:95%;
        }
.boite_cellule_droite{
	margin:6px 6px 0 0;
	width:95%;
        }

.grande_boite_cellule{
	width:95%;
	padding: 8px 0;
	margin:6px 0 0 6px;
	}
.formulaire_som label{
	width:94%;
	}
.formulaire_som input{
	width:94%;
        }

.formulaire_cellule{
        float:left;
	width:97%;
        position:relative;
	padding:4px 0 4px 0;
	margin:6px 0 0 2px;
        }
.formulaire_cellule input{
        float:right;
	width:37%;
        position:relative;
	padding: 0;
	margin: 0;
        }
.formulaire_cellule select{
        float:right;
	width:37%;
        position:relative;
	padding: 0;
	margin: 0;
        }

.formulaire_cellule label{
        float:left;
	width:60%;
        position:relative;
	padding: 0;
	margin: 0;
                }

.formulaire_cellule legend{
         font-size:1.15em;
         color:#666;
         }
.formulaire_cellule label span{
        float:left;
        position:relative;
        margin-left: 24px;
        padding: 3px 0 0 0.5em;
        }

.formulaire_cellule label span strong em.obligatoire{
	color: #FF0000;
}
.formulaire_cellule h4 p span{
        position:relative;
        margin-left: 24px;
        padding: 0 0 0 10px;
        }
.formulaire_cellule h4 p{
        float:left;
	width:97%;
        position:relative;
	padding: 0;
	margin: 0;
        }
.formulaire_cellule h4 p.icone_obligatoire{
	height:25px;
	position:relative;
}

.commentaires {
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
	color: #12335B;
}
.icone_panier,.icone_identifier,.icone_compte,icone_obligatoire{
	height:25px;
	position:relative;
	padding: 4px;
}
label.icone_obligatoire{
	height:25px;
	position:relative;
}

#cel,#celbas{
	width:100%;
	}
#cel li, #celbas li{
	width:46%;
	}

#cel li img,#celbas li img{
        max-width: 46%;
	}
.cellule{
	float:left;
	display:inline;
        width:100%;
	}
.cellule ul{
	list-style-type: none;
	display:inline;
	margin:0;
	padding:0;
	clear:both;
}

.cellule li{
        width:47%;
	float:left;
	display:inline;
	margin: 6px 0 6px 6px;
	padding:0;
	}
.cellule_produit{
	float:left;
	display:inline;
        width:100%;
	}
.cellule_produit ul{
	list-style-type: none;
	display:inline;
	margin:0;
	padding:0;
	clear:both;
}

.cellule_produit li{
        width:100%;
	float:left;
	display:inline;
	margin: 6px 0 6px 6px;
	padding:0;
	}
/* 5 colonnes */
.cellule li.cel19{
        width:18.8%;
	}
/* 4 colonnes */
.cellule li.cel24{
        width:23.8%;
	}
.cellule_produit li.cel24{
        width:23.8%;
	}
.cellule li.cel24 h4{
        word-spacing: 0.1em;
	display:block;
	-height:1%;
	}
.cellule_produit li.cel24 h4{
        word-spacing: 0.1em;
	display:block;
	-height:1%;
	}

.cellule li.cel19{
        width:18.8%;
	}
/* 1 colonnes */
.cellule li.cel95{
        width:94.8%;
	}
.cellule_produit li.cel95{
        width:94.8%;
	}
.cellule li.cel95 h4{
        word-spacing: 0.1em;
	display:block;
	-height:1%;
	}
.cellule_produit li.cel95 h4{
        word-spacing: 0.1em;
	display:block;
	-height:1%;
	}
.cellule_produit li img{
	margin: 0;
        width:100%;
        max-width: 100%;
	}
/* 3 colonnes */
.cellule li.cel31{
        width:31.8%;
	}
/* 2 colonnes */
.cellule li.cel47{
        width:47.8%;
	}
/* 1 colonnes */
.cellule li.celRight{
        float:right;
        margin: 6px 6px 0 0;
	}

.cellule li img{
	margin: 0 6px;
        max-width: 47%;
	}

.cellule li h4{
	word-spacing: 0.1em;
	display:block;
	-height:1%;
	}

.splickrbox{
/*width:100%;*/
}

#minipics{
	width:96%;
	}
#minipics li{
             width:20%;
             }
#menu{
	width:100%;
	}
.interforumgrand{
width:64%;
}

blockquote.spip{
	width: 91%;
	}

.carte{
width:13%;
}

.width100 {
  width: 100%;
}

.width75 {
  width: 75%;
}

.width50 {
  width: 50%;
}

.width33 {
  width: 33%;
}

.width25 {
  width: 25%;
}

.width20 {
  width: 20%;
}
.width16 {
  width: 16%;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clearleft {
  clear:left;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.clear {
  clear: both;
}
.icone_panier{
	height:22px;
	position:relative;
	padding: 4px;
}
.grande_boite_une h4,.grande_boite_une h1{
	padding: 3px 3px 3px 28px;
	position:relative;
	}
.grande_boite_une{
	clear:left;
	width:97.7%;
	padding: 8px 0;
	margin: 6px 0 6px 10px;
	}
/* Nombre de pages
-------------------------------------------------------- */

#pages {
	float: left;
	text-align: right;
	font-size: 0.9em;
	padding-top: 10px;
	margin: 0;
	padding-bottom: 10px;
	color: #12335B;
}

a.LIEN_pages:link {
	color: #12335B;
	text-decoration: none;
	font-weight: bold;
}

a.LIEN_pages:visited {
	color: #12335B;
	text-decoration: none;
	font-weight: bold;
}

a.LIEN_pages:hover {
	color: #12335B;
	text-decoration: underline;
	font-weight: bold;
}
/* Produit petit & grand
-------------------------------------------------------- */

.ListeProduitsPetits {
	float: left;
	margin: 0;
	padding: 0;
}

.produitPetit {
	float: left;
	width: 170px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 0;
	padding: 0;
}

.contourImage {
	border: 1px dashed #cccccc;
	/*margin-bottom: 5px;*/
	float: left;
}

.titreProduit {
	color: #12335B;
	text-align: left;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
}

.chapoProduit {
	color: #12335B;
	text-align: left;
	font-style: italic;
	font-size: 0.9em;
	line-height: 1.2em;
	margin-bottom: 5px;
	width: 100%;
}

.descriptionProduit {
	color: #12335B;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 10px;
}

.prixProduit {
	color: #EC8000;
	text-align: left;
	font-weight: bold;
	margin-top: 5px;
}

.ficheProduit {
	float:left;
	width: 470px;
	margin-left: 10px;
}


a.LIEN_commander {
	color: #acac90;
	text-decoration: none;
	font-weight: bold;
}
.menu_thelia{
         float:left;
         position:relative;
	 padding:0;
         margin:6px 6px 0 0;
	 width:95%;
}

.menu_thelia li{
         float:left;
         position:relative;
         list-style-type:none;
         margin:0;
	 padding:0;
         clear: both;
}

.menu_thelia li a.sous_menu {
       	color:#666;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin:0;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
	zoom: 1;
}

.menu_thelia h4{
	padding: 3px 3px 3px 28px;
	position:relative;
}

ul#ssmenu_thelia li a.sousmenu1 {
       	color:#666;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin:0;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
	zoom: 1;
}

ul#ssmenu_thelia li a.selected1 {
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin:0;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
	zoom: 1;
}

ul#ssmenu_thelia li a.sousmenu2 {
	font-size: 1em;
	color:#666;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin:0;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
	zoom: 1;
}

ul#ssmenu_thelia li a.selected2 {
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin:0;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
	zoom: 1;
}

ul#ssmenu_thelia li a.sousmenu1:hover {
	color: #9B2614;
}

ul#ssmenu_thelia li.selected1 {
	color:#666;
}

ul#ssmenu_thelia li a.sousmenu2:hover {
	color: #9B2614;
}

ul#ssmenu_thelia li.selected2 {
	color: #EC8000;
}
