/*
 * Plugin Alertes
 * Distribué sous licence GPL
 *
 * CSS en partie reprise du plugin Mes favoris (version 32px) de Olivier Sallou, Cedric Morin.
 */
.formulaire_alerte{float:right;}
.formulaire_alerte form button {cursor: pointer;border:0;background-color:transparent;text-align:right;padding:2px 0;}

.formulaire_alerte form button span {display:block;padding-bottom:5px;width:50px;}
.formulaire_alerte form button.ajouter_alertes img {visibility: hidden;width:32px;height:32px}
.formulaire_alerte form button.ajouter_alertess pan {visibility:hidden;}
.formulaire_alerte form button.ajouter_favori:hover span {visibility:visible;}

.formulaire_alerte form button.retirer_alertes img {visibility: hidden;width:32px;height:32px}
.formulaire_alerte form button.retirer_alertes span {visibility:hidden;}
.formulaire_alerte form button.retirer_favori:hover span {visibility:visible;}

.formulaire_alertes_email .choix {display:block;margin-right:8px;float:left;}