<plugin>
    <version>
    0.0.1
    </version>
    <nom>
    Animated GIF
    </nom>
    <auteur>
       [Renato Formato->mailto:rformato@gmail.com] - &#169; 2010
    </auteur>
    <licence>
       GNU/GPL
    </licence>
    <etat>
    dev
    </etat>
    <description>
    <multi>
      [fr]Permet de pr&#233;server les GIF anim&#233;s lors de l'utilisation des filtres d'images.
      [en]Allow to preserve animated GIF when using image filters.
    </multi>
    </description>
    <lien></lien>
    <prefix> 
    animatedGIF
    </prefix>
    <fonctions>
      animated_GIF_fonctions.php
    </fonctions>
    <pipeline>
      <nom>image_preparer_filtre</nom>
      <inclure>animated_GIF_pipelines.php</inclure>
    </pipeline>
	<categorie>multimedia</categorie>
	<necessite id="SPIP" version="[3.0.0-dev;]" />
</plugin>
