/* spiplistes CSS Document */

table.spiplistes-abos {
	font-size:80%;
	border:1px solid gray;
}
table.spiplistes-abos tr.onglets {
	border-bottom: 10px solid #ccc;
	line-height:1.8em;
	margin-bottom:1em;
	padding:1em;
}
table.spiplistes-abos td {
	line-height:1.25em;
	border-bottom: 1px solid #ccc;
}

table.spiplistes-tab {
	margin-top:5px;
	font-size:90%;
}
table.spiplistes-tab tr {
	text-align:center;
	padding:5px;
}
table.spiplistes-tab th {
	font-weight:bold;
	background-color:#eec;
}
table.spiplistes-tab td {
	text-align:center;
	padding:3px;
	width:33%;
}
table.spiplistes-tab tr.row-even {
	background-color:#fff;
}
.spiplistes-legend-titre {
	font-weight:bold;
	font-size:110%;
}
.spiplistes-legend-stitre {
	font-weight:bold;
	font-size:90%;
	color:gray;
}
#boite-result-chercher-auteur {
	text-align:left;
	margin-bottom:1.5em;
}
#boite-result-chercher-auteur ul {
	padding-left:3ex;
}
#boite-result-chercher-auteur  .nom_auteur {
	font-weight:bold;
	font-size:130%;
	line-height:1.4em;
}
ul.liste-listes {
	padding-left:0;margin:0;list-style:none;
}
ul.liste-listes li {
	margin:0 0 0.25em;
}
ul.liste-listes li img {
	margin: 0 0.5ex;
}
ul.liste-listes li .titre {
	font-size:110%;
}
ul.liste-listes li .description {
	font-size:90%;color:gray;
}
ul.liste-listes li .periodicite {
	font-size:90%;
}
ul.liste-format, ul.liste-format-desabo {
	padding-left:0;margin:0;list-style:none;
}
ul.liste-format li, ul.liste-format-desabo li {
	display:block;
}