<plugin>

	<nom>Encarts</nom>

	<auteur>Camille Lafitte [Webelys->http://www.webelys.com], Cyril MARION [Ateliers CYM->http://www.cym.fr]</auteur>

	<licence>&#169; 2011 - GNU/LGPL</licence>

	<version>1.2</version>
	
	<version_base>1.0</version_base>

	<icon>img/frame_edit-32.png</icon>

	<etat>dev</etat>

	<description><multi>[fr]Permet aux r&eacute;dacteurs d'ajouter des encarts (ou encadr&eacute;s) dans leurs articles, et aux graphistes les placer n'importe o&ugrave; dans leurs mises-en-page.[en]Allows authors to add framed texts int their articles, and grpahists to place those frames anywher in their layouts.</multi></description>

	<prefix>encarts</prefix>

	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/encarts.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/encarts.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/encarts.php</inclure>
	</pipeline>

	<install>base/encarts.php</install>

	<pipeline>
		<nom>afficher_fiche_objet</nom>
		<inclure>encarts_pipelines.php</inclure>
	</pipeline>

	<pipeline>
		<nom>post_edition</nom>
		<inclure>encarts_pipelines.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>pre_propre</nom>
		<inclure>encarts_pipelines.php</inclure>
	</pipeline>
	

	<categorie>outils</categorie>

	<necessite id="SPIP" version="[2.0.10;]" />
	<necessite id="afficher_objets" version="[1.1;]" />
	<necessite id="saisies" version="[1.8;]" />

</plugin>
