<plugin>
	<nom>messagerie</nom>
	<auteur>Cedric MORIN
 	[yterium.net->http://www.yterium.net]
_ &#169; 2008 - Licence GPL
	</auteur>
	<icon>habillage/messagerie-32.png</icon>
	<version>2.0.1</version>
	<version_base>1.0.0</version_base>
	<etat>stable</etat>
	<lien></lien> <!-- URI de documentation -->
	<description>
	Gestion de la messagerie interne entre auteurs dans les squelettes publics.
	</description>
	<prefix>messagerie</prefix>
	<install>base/messagerie_install.php</install>
	<fonctions>messagerie_fonctions.php</fonctions>
	<options>messagerie_options.php</options>
	<pipeline>
		<nom>messagerie_signer_message</nom>
		<inclure>messagerie_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>messagerie_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>notifications</nom>
		<inclure>messagerie_pipelines.php</inclure>
	</pipeline>
	<necessite id='SPIP' version='[2.0.0;]' />
	<categorie>communication</categorie>
</plugin>
