<plugin>
	<nom><multi>[fr]Squelette egt[nl]Sjabloon egt</multi></nom>
	<icon>img_pack/egt.png</icon>
	<auteur><a href="http://egt.bardourel.com">sBa</a>, <a href="http://www.genrespluriels.be">damazone</a></auteur>
	<licence>GPL &#169; 2006-2009</licence>
	<version>0.3</version>
	<etat>test</etat>
	<description>
	<multi>[fr]Ce plugin installe les fichiers n&eacute;scessaires pour mettre en place le squelette egt.
Pour supprimer ce squelette, d&eacute;sactiver simplement ce plugin et &eacute;ventuellement supprimez-le du r&eacute;pertoire plugins.

Ce squelette ne cr&eacute;e pas de nouvelles tables dans la base de donn&eacute;es. Il se personnalise &agrave; l'aide de mots cl&eacute;s.

Une page dnans le menu configuration permet de cr&eacute;er automatiquement tous les mots cl&eacute;s. 

Attention, il faut valider ce plugin avant de l'utiliser.

Vider le cache avant de voir le r&eacute;sultat.

[nl]Deze plugin installeert de nodige bestanden om het sjabloon egt te implementeren.
Om deze sjabloon te verwijderen maak gewoon deze plugin inactief en nadien verwijder deze eventueel volledig uit de folder plugins.

Deze skelet genereert geen enkel tabel in de gegevensdatabank. Het gebruik van sleutelwoorden laat toe deze sjabloon te configureren.

Een pagina in het configuratiemenu van het private deel laat toe automatisch sleutelwoorden te cree&euml;ren. 

Opgelet, vooraleer deze plugin te gebruiken moet u deze valideren.

Maak vooraf de cache leeg om het resultaat te zien.</multi></description>
	<lien>http://www.spip-contrib.net/EGT-squelette-plugin-pour-SPIP-2</lien> <!-- URI de documentation -->
	<fonctions>egt_fonctions.php</fonctions>
	<prefix>egt</prefix>
    <pipeline>
       <nom>ajouter_boutons</nom>
       <action>ajouterBoutons</action>
       <inclure>inc-egt.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.0.0;]" />
</plugin>