<plugin>
	<nom>balise #TITRE_PARENT</nom>
	<version>1.0</version>
	<prefix>TitreParent</prefix>
	<fonctions>titre_parent.php</fonctions>
	<etat>stable</etat>
	<icon>images/titre_parent.png</icon>
	<lien>http://www.spip-contrib.net/balise-TITRE-PARENT</lien>
	<description>Une balise pour afficher le titre de la rubrique parente, sans boucle suppl&eacute;mentaire.</description>
</plugin>