<plugin>
	<nom> <!-- Nom du plugin -->
	  Export ODT
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	  Cedric
	</auteur>
	<version>
	  0.1
	</version>
	<etat>
	  dev
	</etat>
	<description>
	Export au format ODT
	S'utilise dans un squelette avec un appel au modele export_odf :
_	{ #MODELE&#123;export_odf,id_article=#ID_ARTICLE,template=article.odt,nom_fichier='#TITRE*'&#125; }
_ le template et le nom_fichier sont facultatifs.
_ les templates peuvent &ecirc;tre d&eacute;finis dans un sous dossier templates/ de votre dosier squelette. Ce sont des documents Open Document Text ecrit en SPIP (comportants squelettes et balises)
	</description>
	<lien>
	</lien>
	<fonctions>
		exportodf_fonctions.php
	</fonctions>
	<!-- classe d'implementation : espace de nommage qui prefixera les appels de fonction
	sur le mode Rien::
	ainsi les fonctions hors espace de nommage ne peuvent etre appelees
	ce parametre est obligatoire et doit etre non vide
	-->
	<prefix> 
	  spipodf
	</prefix>
</plugin>
