<plugin>
	<nom>Flattr</nom>
	<version>0.2.3</version>
	<etat>test</etat>
	<auteur>Fil</auteur>
	<licence>GNU/GPL - (c) 2010</licence>
	<description>
		<multi>
			[fr]Int&#233;gration des microdons Flattr
			[en]Integration of the Flattr micro gifts
		</multi>
	</description>
	<lien>http://zzz.rezo.net/Plugin-Flattr-pour-SPIP.html</lien>
	<prefix>flattr</prefix>
	<icon>img/flattr.png</icon>
	<pipeline>
		<nom>insert_head_css</nom>
		<inclure>flattr_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<utilise id="cfg" />
	<categorie>divers</categorie>
</plugin>