<plugin>
	<nom>Ancres intertitres</nom>
	<auteur>
collectif
_ &#169; 2006 - Distribu&#233; sous licence GNU/GPL
	</auteur>
	<version>0.7</version>
	<etat>test</etat>
	<description>
		Introduit une ancre translitter&#233;e pour les intertitres ainsi qu'une balise #TABLE_MATIERE associ&#233;e
	</description>
	<lien></lien> <!-- URI de documentation -->
	<fonctions>balises_et_filtres.php</fonctions>
	<prefix>AncresIntertitres</prefix>
	<pipeline>
		<nom>pre_propre</nom>
		<action>ancres_intertitres</action>
		<inclure>ancres_intertitres.php</inclure>
	</pipeline>
	<pipeline>
		<nom>post_typo</nom>
		<action>lien_de_retour</action>
		<inclure>ancres_intertitres.php</inclure>
	</pipeline>
</plugin>