/* --------------------------------------------------------------

   skiplink.css

-------------------------------------------------------------- */

/* skiplinks */
#skiplinks { z-index: 100; }

/* yoyo */
.yoyo * { vertical-align: middle; }
.yoyo a { display: block; }
.yoyo .sep { display: none; }

/* print */
@media print {
	.skiplink { display: none; }
}

/* end */