<plugin>
	<nom>Export CSV pour SPIP 1.9.2</nom>
	
	<auteur>St&eacute;phanie De Nada&iuml;
 	[webdesigneuse.net->http://www.webdesigneuse.net]
_ &copy; 2008 - 
	<multi>
		[fr]Distribu&eacute; sous licence GNU/GPL
		[fr]<p>L'ic&ocirc;ne du plugin est r&eacute;alis&eacute;e &agrave; base du th&egrave;me [Nuvola pour KDE->http://commons.wikimedia.org/wiki/Nuvola]</p>   
		[en]Distributed under GNU/GPL license
	 </multi>
	</auteur>
	
	<version>0.2</version>
	
	<etat>test</etat>
	
	<description>
		<multi>		
			[fr]<p>Export des articles / rubriques et leurs mots-cl&eacute;s pour tableur en fichier C.S.V.</p>
			<p><strong>Ce plugin n&eacute;cessite le [plugin CFG 1.3.4 minimum->http://www.spip-contrib.net/?article1605]</strong></p> 
			<p>Plugin en phase de test : merci de vos retours (d&eacute;taill&eacute;s).</p>
			[en]<p><strong>This plugin must be run with [CFG plugin 1.3.4 at least->http://www.spip-contrib.net/?article1605]</strong></p>
		</multi>
	</description>
	
	<lien>[Configuration->.?exec=cfg&amp;cfg=exportcsv]</lien>
	<lien>[Documentation->http://www.webdesigneuse.net/carnet/index.php/2008/03/18/7-export-csv-un-plugin-pour-spip]</lien>

	<prefix>exportcsv</prefix>
	
	<icon>img_pack/exportcsv-72.png</icon>
	
	<pipeline>
		<nom>ajouter_boutons</nom>
		<action>ajouterBoutons</action>
		<inclure>exportcsv_pipe.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>header_prive</nom>
		<inclure>exportcsv_pipe.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>insert_head</nom>
		<action>insert_head</action>
		<inclure>exportcsv_pipe.php</inclure>
	</pipeline>

</plugin>