<plugin>
	<nom>csv2spip</nom>
	<slogan>Gestion des auteurs &#224; partir de fichiers CSV</slogan>
	<auteur>cy_altern, Emmanuel Saint-James</auteur>
	<licence>(c) 2006 Licence GPL</licence>
	<version>4.0.0</version>
	<etat>dev</etat>
	<description>
	Ce plugin permet de r&#233;aliser l'int&#233;gration d'auteurs et administrateurs restreints &#224; partir de fichiers CSV. Il g&#232;re &#233;galement la cr&#233;ation de rubriques pour les admins restreints ainsi que la cr&#233;ation de groupes pour les restrictions d'acc&#232;s (plugin acces_groupes). Il permet aussi la suppression des utilisateurs qui ne seraient plus souhait&#233;s avec &#233;ventuellement la sauvegarde/gestion de leurs articles.
	</description>
	<lien>http://contrib.spip.net/?article1550</lien>
	<prefix>csv2spip</prefix>
	<icon>img_pack/csv2spip-24.png</icon>
	<pipeline>
		<nom>ajouter_boutons</nom>
		<inclure>csv2spip_pipelines.php</inclure>
	</pipeline>
	<bouton id='csv2spip' parent='bando_administration'>
		<icone>img_pack/csv2spip-24.png</icone>
		<titre>csvspip:module_titre</titre>
	</bouton>        
	<categorie>edition</categorie>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<install>inc/csv2spip_install.php</install>
</plugin>