<plugin>
	<nom> <!-- Nom du plugin -->
	Marqueur de Statistiques
	</nom>
	<auteur>	<!-- Auteur du plugin -->
_ C&#233;dric MORIN [notre-ville.net->http://www.notre-ville.net]
_ &#169; 2006 - GPL
	</auteur>
	<version>
	0.1
	</version>
	<etat>
	stable
	</etat>
	<description>
	Insertion d'un marqueur sur les pages publiques pour les statistiques
	</description>
	<lien></lien> <!-- URI de documentation -->
	<prefix> 
	marqstat
	</prefix>
	<options>marqstat_options.php</options>
	<pipeline>
		<nom>ajouter_boutons</nom>
		<inclure>marqstat_fonctions.php</inclure>
	</pipeline>	
	<pipeline>
		<nom>insert_body</nom>
		<inclure>marqstat_fonctions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affichage_final</nom>
	</pipeline>
	<chemin dir='' type='prive' />	
</plugin>