#CACHE{0}
#SET{colonnes_sans_tri,'0,1'}
<B_head>
<div class='liste'>
<div style='position: relative;'>
	<div style='position: absolute; top: -12px; left: 3px;'><img src='#EVAL{_DIR_PLUGIN_FORMS}img_pack/#TYPE_FORM-24.png' alt="" /></div>
	<div style='background-color: #ENV{couleur_claire}; color: black; padding: 3px; padding-left: 30px; border-bottom: 1px solid #444444;' class='verdana2'>
	<b><:forms:tous_formulaires:></b>
	</div>
</div>
<table class="arial11" id='donnees' width='100%' cellpadding='5' cellspacing='0' border='0'>
<thead>
	<tr>
		<th class='neutre'>id</th>
		<th class='neutre'>&nbsp;</th>
		<th>Date</th>
		<th>De</th>
		<th>Page</th>
		<BOUCLE_head(FORMS_CHAMPS){id_form}{type !IN (separateur,textestatique)}{par rang}>
		<th [(#SPECIFIANT|=={oui}|?{'','class="neutre"'})#SET{colonnes_sans_tri,#GET{colonnes_sans_tri}|concat{','}|concat{#COMPTEUR_BOUCLE|plus{4}}]>#TITRE</th>
		</BOUCLE_head>
	</tr>
</thead>
<tbody>
<BOUCLE_donnees(FORMS_DONNEES){id_form}{tout}>
#SET{lien_supp,#URL_ACTION_AUTEUR{forms_donnee_supprime,#ID_FORM:#ID_DONNEE,#EVAL{_DIR_RESTREINT_ABS}|concat{#SELF}|urlencode}}
	<tr class='tr_liste'>
		<td><a href='[(#URL_ECRIRE{table_donnee_edit,id_form=#ID_FORM}|parametre_url{id_donnee,#ID_DONNEE}|parametre_url{retour,#SELF})]'>#ID_DONNEE</a></td>
		<td><a href='[(#GET{lien_supp})]'><img src="#EVAL{_DIR_PLUGIN_FORMS}img_pack/supprimer-24.png" width='12' height='12' /></a></td>
		<td>#DATE</td>
		<td><BOUCLE_auteur(AUTEURS){id_auteur}>#NOM</BOUCLE_auteur>#IP<//B_auteur></th>
		<td>#URL</td>
		<BOUCLE_body(FORMS_CHAMPS){id_form}{type !IN (separateur,textestatique)}{par rang}>
		<td>
		<BOUCLE_rep(FORMS_DONNEES_CHAMPS){id_donnee}{champ}{tout}{'<br />'}>#VALEUR</BOUCLE_rep>
		</td>
		</BOUCLE_body>
</BOUCLE_donnees>
</tbody>
</table>
</div>
	<script type="text/javascript" src="#EVAL{_DIR_PLUGIN_FORMS}javascript/jquery.tablesorter.dev.js"></script>
	<script type="text/javascript">
	var search_string='<:bouton_chercher:>';
	var clear_string='<:info_tout_afficher:>';
	var apply_string='<:bouton_valider:>';
	$(document).ready(function() {
		$("table#donnees").tableSorter({
		  
			sortClassAsc: 'headerSortUp', 		// class name for ascending sorting action to header
			sortClassDesc: 'headerSortDown',	// class name for descending sorting action to header
			headerClass: 'header', 				// class name for headers (th's)
		
			disableHeader: [#GET{colonnes_sans_tri}], // disable column can be a string / number or array containing string or number. 
			dateFormat: 'dd/mm/yyyy' // set date format for non iso dates default us, in this case override and set uk-format
		});
		$("div#sorting").hide();
	});
	$(document).sortStart(function(){
		$("div#sorting").show();
	}).sortStop(function(a){
		$("div#sorting").hide();
	});
	</script>	
	<style type="text/css">
	div.liste { clear:both; }
	.highlight {
		background-color: #3D3D3D;
		font-weight: bold;
	}
	#donnees th {
		vertical-align:top;
		background-repeat: no-repeat;
		border-left: 1px solid #FFF;
		border-right: 1px solid #000;
		border-top: 1px solid #FFF;
		height: auto;
		padding:0px;
		margin:0px;
	}
	#donnees th.neutre {padding-left: 0px;background-image: url(#EVAL{_DIR_PLUGIN_FORMS}img_pack/header.png);	}
	#donnees th.header {padding-left: 15px;background-image: url(#EVAL{_DIR_PLUGIN_FORMS}img_pack/header-bg.png);	}
	#donnees th.headerSortUp {padding-left: 15px;background-image: url(#EVAL{_DIR_PLUGIN_FORMS}img_pack/header-asc.png);	}
	#donnees th.headerSortDown {padding-left: 15px;background-image: url(#EVAL{_DIR_PLUGIN_FORMS}img_pack/header-desc.png);}
	#sorting div {
		font-weight: bold;
	}
	#filter {
		text-align: left;
		width: auto;
		padding: 5px;
		background-color: #ENV{couleur_claire};
		border: 1px solid #ENV{couleur_foncee};
		display: none;
		float: right;
	}
	#filter input {
	}
	#filter p {
		text-align: left;
		padding: 5px;
		margin:0px;
		float: left;
	}
	#filter div {
		text-align: center;
		float: left;
	}
	
	.filterIcon {
		width: 20px;
		height: 16px;
		text-align: center;
		background: url(#EVAL{_DIR_PLUGIN_FORMS}img_pack/filter.gif) no-repeat center left; 
		float: right;
		cursor: pointer;
	}
	.sorter {
		padding-right: 10px;
		text-decoration: underline;
		cursor: pointer;
		float:left;	
	}
	</style>
</B_head>
