@charset "utf-8";
/* Page */
.spip_logos{
 behavior:url("win_png.htc");
}

h2{
text-align:left;
text-indent:0;
border-bottom:1px solid;
}

h3{
text-align:left;
text-indent:0;
border-bottom:1px dotted;
}

.letitre > h2, #EntetePage > h2, #EnteteArticle > h2{
border:none;
}

li{
text-indent:0 !important;
}

body{
	background-color:#ffffff;
	margin:0;
	padding:10px;
	font-family:Tahoma, Arial Unicode MS, Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	}

.spip_code{
	font-family:Courier New, Courier, monospace;
}


*{
	font-family:Tahoma, Arial Unicode MS, Verdana, Arial, Helvetica, sans-serif;
}

div#Page, div#NoMenu{
	position:relative;
	width:975px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
	
img{
	border:none;
	}

.clear{
	clear:both;
	font-size:0;
	}

a{
	color:#2673bf;
	}
a:hover{
	color:#d37324 !important;
	}
a:visited{
	color:/*liens_visite*/ #3e78b3;
	}


/* Login */
div#Login{
	position:relative;
	width:510px;
	margin:50px auto;
	padding:5px;
	text-align:left;
	border:2px solid #adc4d9;
	background-color:#f7f7f7;
	}
div#Login div#Contenu{
	margin-top:10px;
	padding:4px;
	border:1px solid #adc4d9;
	background-color:#f7f7f7;
	}
div#Login div#Contenu img.spip_logos{
	float:left;
	}
div#Login div.formulaires{
	margin-top:10px;
	padding:4px;
	border:1px solid #adc4d9;
	background-color:#ffffff;
	}

/* Entete */
div#EntetePage{
	background-color:#e6ecf2;
	border:2px solid #adc4d9;
	-moz-border-radius:8px;

	}
div#EntetePage img.spip_logos{
	float:left;
	border:none;
	}	

div#TitreSite{
	display:none;
	}
div#EntetePage h1{
	margin:3px;
	padding:0;
	color:#5C6166;
	font-size:36px;
	font-weight:bold;
	}
div#EntetePage h2{
	margin:5px;
	padding:0;
	color:#5C6166;
	font-size:24px;
	font-weight:bold;
	vertical-align:middle;
	}
div#EntetePage ul.auteur{
	display:none;
	}

/* barre des boutons sur la page d'accueil (sommaire.html) */
div#EntetePage ul.boutons{
	position:relative;
	padding:0;
	margin:0;
	border-bottom:1px solid #adc4d9;
	background-color:#f7f7f7;
	text-align:right;
	}
div#EntetePage ul.boutons img.spip_logos{
	display:none;
	}
div#EntetePage ul.boutons span{
	display:inline;
	}		
div#EntetePage ul.boutons li{
	list-style-type:none;
	display:inline;
	margin:0 10px;
	}
div#EntetePage ul.boutons li a{
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	color:#2673bf;
	}
div#EntetePage ul.boutons li a:hover{
	color:#d37324;
	}



/* Formulaire de recherche */
div#EntetePage div.rechercher{
	float:right;
	width:180px;
	color:#2164a6;
	font-size:14px;
	font-weight:bold;
	}
div#EntetePage div.rechercher .forml{
	width:140px;
	}
div#EntetePage div.rechercher label{
	font-size:12px;
	}

/* Entete des articles */
div#EnteteArticle{
	background-color:#e6ecf2;
	border:2px solid #adc4d9;
	-moz-border-radius:8px;
	font-size:12px;
	}	
div#EnteteArticle img.spip_logos{
	float:left;
	margin:4px;
	}	
div#EnteteArticle h2{
	margin:0;
	padding:0;
	color:#5c6166;
	font-size:22px;
	font-weight:bold;
	}	
div#EnteteArticle div.surtitre, div#EnteteArticle div.soustitre{
	margin:0;
	padding:0;
	color:#5c6166;
	font-weight:bold;
	}
div#EnteteArticle dl{
	margin:4px;
	padding:4px;
	background-color:#ffffff;
	border:1px solid #adc4d9;
}

div#EnteteArticle ul.auteur{
	-moz-border-radius:4px;
	border-left:1px solid #adc4d9;
	border-bottom:1px solid #adc4d9;
	background-color:#ffffff;
	width:200px;
	float:right;
	padding:2px 8px;
	margin:0 0 0 8px;
	color:#5c6166;
	}
div#EnteteArticle ul.auteur li{
	list-style-type:none;
	padding:0;
	margin:0;
	}	
div#EnteteArticle ul.auteur li.imprimable{
	margin-top:5px;
	}		
div#EnteteArticle ul.auteur li.imprimable img{
	float:left;
	margin-right:2px;
	}	

div.BoutonsPrecedents{
	float:left;
	}
div.BoutonsSuivants{
	float:right;
	}
div.BoutonsPrecedents img,div.BoutonsSuivants img{
	border:none;
	}

div.arborescence{
	padding:2px;
	font-size:12px;
	color:#5c6166;
	}
div#Contenu div.arborescence{
	margin:10px 0;
	border-top:1px solid #adc4d9;
	background-color:#f7f7f7;
	}
div.arborescence span{
	padding:2px 4px;
	background-image:url("/plugins/eva/images/1rightarrow.png");
	background-repeat:no-repeat;
	background-position:center center;
	}
div.arborescence form{
	display:inline;
}
div.arborescence selected{
	font-size:10px;
}

/* Menu */
div#Menu{
	position:relative;
	float:left;
	width:240px;
	margin-right:10px;
	margin-top:20px;
	}

div#barre_droite{
	position:relative;
	float:right;
	width:200px;
	margin-left:5px;
	margin-top:20px;
	font-size:12px;
}

div#barre_droite dl{
	padding:2px;
	color:#5C6166;
}

div#barre_droite ul{
	padding:2px;
	color:#5C6166;
	list-style-position:inside;
	list-style-type:square;
	margin-left:0;
}

div#barre_droite ul ul{
	padding-left:4px;
	list-style-type:disc;
}

div#barre_droite li.on, div#barre_droite li.on a, div#barre_droite dt.on a{
	color:#d37324;
	font-weight:bold;
}

div#barre_droite div{
}


div.sommaire{
	background-color:#e6ecf2;
	border:2px solid #adc4d9;
	-moz-border-radius:8px;
	margin-bottom:20px;
	}
div.sommaire a{
	color:#5c6166 !important;
	text-decoration:none;
	}
div.sommaire a:hover{
	color:#d37324;
	text-decoration:none;
	}		
div.sommaire a.on{
	color:#d37324 !important;
	font-weight:bold !important;
	}
div.sommaire .articles_menu a.on{
	color:#d37324 !important;
	font-weight:normal !important;
	}

div.sommaire ul{
	margin:0;
	padding:0;
	}
div.sommaire ul li{
	margin:4px;
	padding:2px;
	border:1px solid #adc4d9;
	background-color:#f7f7f7;
	-moz-border-radius:5px;
	list-style-type:none;
	font-size:14px;
	font-weight:bold;
	}
div.sommaire ul ul{
	margin:0 0 0 5px;
	}
div.sommaire ul li li{
	margin:0;
	padding:0;
	border:none;
	background:none;
	font-size:12px;
	font-weight:normal;
	}

ul.liste_articles_menu{
	border-left:medium dotted #ADC4D9;
}

/* //Inutilisé
	.liens_sites{
	font-style:normal;
	font-size:10px;
	color:blue !important;
}*/

.articles_menu{
	font-style:italic;
}

.articles_menu:before{
	content:"\00B7\00B7\00B7";
	color:#ADC4D9;
	font-weight:bold;
}

.petites_caps{
	font-variant:small-caps;
}

div.sommaire li.on{
	border:2px solid #adc4d9;
	background-color:#ffffff;
	}

.visible{
	display:block;
}

.invisible{
	display:none;
}


div#vignettes{
	text-align:center;
	padding:2px 0 20px;
	}
div#vignettes img.spip_logos{
	padding:0;
	margin:2px;
	}

div#Menu div.spip_bouton{
	margin:4px auto;
	width:150px;
	font-size:12px;
	}
	
div.formulaires div{
	padding:4px;
	font-size:12px;
	}
div.formulaire fieldset{
	background-color:#f7f7f7;
	}

div.bloc, div.formulaires{
	border:2px solid #adc4d9;
	-moz-border-radius:8px;

	margin:0 0 20px;
	}

div#Menu h4, div#barre_droite h4{
	border-bottom:1px solid #adc4d9;
	background-color:#e6ecf2;
	margin:0;
	padding:2px 4px;
	font-size:14px;
	font-weight:bold;
	color:#5c6166;
	}	
	
div.bloc ul{
	margin:0;
	padding:0;
	}
div.bloc li{
	margin:2px;
	padding:1px;
	font-size:12px;
	list-style-position:inside;
	list-style-image:url("/plugins/eva/images/puceoff.gif");
	}	
div.bloc li.on{
	padding:2px 0;
	list-style-image:url("/plugins/eva/images/puceon.gif");
	background-color:#f7f7f7;
	border:1px solid #adc4d9;
	-moz-border-radius:5px;

	}	
div.bloc li em{
	color:#8a9199;
	font-style:italic;
	}

/* Contenu */
div#Contenu{
	position:relative;
	float:left;
	width:511px;
	margin-top:20px;
	text-align:justify;
	font-size:12px;
	color:#5c6166;
	}

div#NoMenu div#Contenu{
	float:none;
	width:100%;
	border:none;
	margin-left:0;
}

/* Affichage des blocs */
div#articles, div#sites_syndiques,
div#documents, div#petition,
div#rubriques, div#secteur,
div#edito, div#sites_web,
div#breves, div#auteurs, div#sommaire_article,
div#sites_recherche, div#groupesmots, div.groupesmots{
	border:2px solid #adc4d9;
	-moz-border-radius:8px;
	margin-bottom:20px;
	}

div#sommaire_article{
}
a.sommaire_article{
	text-decoration:inherit !important;
	color:#5c6166 !important;
}

a.sommaire_article:target{
	color:#d37324 !important;
}

a.haut{
	text-decoration:inherit;
	float:right;
	color:inherit;
	opacity:0.5;
}

.spip_doc_titre{
	font-size:70% !important;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.spip_doc_titre a{
	color:#707070;
}


.spip_documents{
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	border:1px solid #adc4d9;
	-moz-border-radius:8px;
	padding:3px;
}

.spip_documents > .spip_documents{
	border:none;
}
	

/*div.spip_documents > div > a > img{
	padding:5px;
}*/

.spip_documents_center{
	margin:auto;
	text-align:center;
	width:80%;
}

.spip_documents_left{
	float:left;
	margin-right:15px;
	text-align:center;
}

.spip_documents_right{
	float:right;
	margin-left:15px;
	text-align:center;
}

/*.spip_doc_descriptif{
	text-align:left;
}*/


TD > DIV.spip_documents{
		border:none;

}

.suite{
	text-align:right;
	font-style:italic;
	font-size:10px;
}

div#Contenu h3.titre{
	margin:0;
	padding:2px;
	border-bottom:1px solid #adc4d9;
	background-color:#e6ecf2;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	}

div#edito{
	background-color:#f7f7f7;
	}
div#edito img.spip_logos{
	float:left;
	border:none;
	}

div#Contenu dl, div#barre_droite dd{
	margin:0 0 5px 0;
	padding:4px;
	}

div#Contenu dt, div#barre_droite dt{
	margin:5px 0 0;
	padding:0;
	text-align:left;
	}
div#Contenu dt img, div#barre_droite dt img{
	float:left;
	margin:2px;
	}
div#Contenu dt strong{
	font-weight:bold;
	font-size:14px;
	}
div#Contenu dt em, div#barre_droite dt em{
	color:#8a9199;
	font-style:italic;
	}

div#Contenu dt em a, div#barre_droite dt em a{
	color:#8a9199 !important;
	font-style:normal !important;
	}

div#Contenu dt em a:hover, div#barre_droite dt em a:hover{
	border-bottom:thin dotted;
}

div#Contenu dd{
	margin:0;
	padding:2px 0 0 20px;
	}

/* dernier article sur la page d'accueil */
div#Contenu dl.premier{
	border-bottom:1px solid #adc4d9;
	}
div#Contenu div#sites_recherche dl{
	border-bottom:1px solid #adc4d9;
	}
div#Contenu div#petition dd{
	border-bottom:1px solid #adc4d9;
	padding-bottom:2px;
	margin-bottom:2px;
	}
div#Contenu div.rechercher{
	text-align:center;
	}
div#Contenu div.rechercher input.forml{
	width:150px;
	}
div#photo{
	text-align:center;
	border-bottom:1px solid #adc4d9;
	}
div#photo dl{
	margin:2px;
	padding:0;
	}
div#photo img.spip_logos{
	border:none;
	}
h3.spip{
	text-align:center;
	color:#adc4d9;
	font-size:20px;
	font-weight:bold;
	}
div#Contenu div.chapo{
	margin:5px 0;
	padding:4px;
	font-size:16px;
	font-weight:bold;
	color :#adc4d9;
	}
div#Contenu div.texte{
	margin:5px 0;
	padding:4px;
	font-size:14px;
	}		
div#Contenu div.lien{
	border-top:1px solid #adc4d9;
	text-align:center;
	padding:5px;
	font-size:16px;
	margin:5px 0;
	}		
div#Contenu div.ps{
	border:2px solid #adc4d9;
	-moz-border-radius:8px;

	margin:10px 0;
	padding:4px;
	font-size:12px;
	}

div#Contenu div.notes{
	margin:10px 0;
	padding:4px;
	font-size:12px;
}
	
div#Contenu div.ps h4{
	display:none;
}

div#Contenu div.notes h4{
	border-top:thin dotted;
}			

div#Contenu div.ps div, div#Contenu div.notes div{
}

div#Contenu p.spip, p.spip_note{
	margin:0;
	padding:4px;
}

a.spip_note:target{
	border:thin #ADC4D9 solid;
	-moz-border-radius:3px;
	background-color:#E6ECF2;
}

div#Contenu ul.auteur{
	border-top:2px solid #adc4d9;
	background-color:#e6ecf2;
	padding:2px;
	margin:10px 0 0;
	text-align:center;
	}
div#Contenu ul.auteur li{
	list-style-type:none;
	display:inline;
	padding:0;
	margin:0;
	}	
div#Contenu ul.auteur li.auteur{
	margin-right:5%;
	}		
div#Contenu ul.auteur li.date{
	margin-left:5%;
	}

/*Agenda*/
table.agenda{
	width:100%;
}
table.agenda, table.agenda tr, table.agenda th, table.agenda td{
	font-size:12px;
	padding:0;
	margin:0 0 20px 0;
}
table.agenda th form{
	display:inline;
}
table.agenda td img{
	float:left;
}
table.agenda th, table.agenda td{
	padding:2px;
	width:14%;
}	
table.agenda td{
	height:50px;
	vertical-align:top;
}	
.agendaNav{
	background-color:#e6ecf2;
	border:2px solid #adc4d9;
	text-align:center;
	-moz-border-radius:8px;

}
.agendaHead{
	background-color:#e6ecf2;
	border:1px solid #adc4d9;
	text-align:center;
	-moz-border-radius:5px;

}
.agendaThisDay{
	background-color:#ffffff;
	border:1px solid #d37324;
	-moz-border-radius:5px;

}
.agendaThisMonth{
	background-color:#f7f7f7;
	border:1px solid #adc4d9;
	-moz-border-radius:5px;

}

.agendaNotThisMonth, .agendaNotThisDay{
	background:#e6ecf2;
	border:1px solid #8a9199;
	-moz-border-radius:5px;

}

table.agenda select, table.agenda input{
	font-size:10px;
}
table.agenda option.on{
	background:#e6ecf2;
}	

/*Plan du site */
div#Contenu ul.plan{
	margin:0 4px;
	padding:0;
	}
div#Contenu ul.plan ul{
	margin:0 4px;
	padding:0;
	}
div#Contenu ul.plan li{
	list-style-type:none;
	margin:4px 0 4px 20px;
	padding:0;
	}		
div#Contenu ul.plan li.rubriques{
	margin:10px 0 10px 20px;
	}			
div#Contenu ul.plan li.rubriques strong{
	border:1px solid #adc4d9;
	-moz-border-radius:5px;

	background-color:#f7f7f7;
	padding:2px;
	font-size:14px;
	}				
div#Contenu ul.plan li.articles strong{
	border:none;
	background:none;
	padding:0;
	font-size:12px;
	}
div#Contenu ul.plan li.rubriques strong a{
	color:#5c6166;
	text-decoration:none;
	}

/* Pied de page */
ul#PiedPage{
	border:2px solid #adc4d9;
	-moz-border-radius:8px;
	background-color:#e6ecf2;
	text-align:center;
	padding:2px;
	margin:0;
	}
ul#PiedPage span{
	display:none;
	}		
ul#PiedPage li{
	list-style-type:none;
	display:inline;
	padding:0;
	margin:0;
	}
ul#PiedPage img.spip_logos{
	margin:0 30px;
	}

/* Pied de page de la page d'accueil */
div#PiedPage{
	margin-bottom:20px;
	border:2px solid #adc4d9;
	background-color:#e6ecf2;
	-moz-border-radius:8px;

	text-align:center;
	height:69px;
	}
/*div#PiedPage a{
	position:relative;
	top:20px;
	}*/			
div#PiedPage div{
	position:relative;
	float:right;
	width:230px;
	border-left:1px solid #adc4d9;
	color:#5c6166;
	font-size:12px;
	text-align:left;
	}			
div#PiedPage div a{
	position:relative;
	top:0;
	margin:0;
	padding:0;
	border:none;
	}			
div#PiedPage div img.logo{
	float:left;
	border:none;
	margin-left:4px;
	}

/* Forums */
div#forum{
	margin:10px 0;
	}		
div#forum h4{
	border:2px solid #adc4d9;
	-moz-border-radius:8px;

	background-color:#e6ecf2;
	padding:4px;
	margin:10px 0;
	
	font-size:14px;
	font-weight:normal;
	color:#5c6166;
	text-align:center;
	}		
div#forum h4 strong{
	font-size:16px;
	font-weight:bold;
	}
div#forum div.lien{
	margin:0;
	padding:5px 5px 10px;
	font-style:italic;
	}		
div#forum a{
	color:#D9591E;
	}

div#Contenu a.spip_bouton{
	font-size:14px;
	padding:2px;
	font-weight:bold;
	}
div#forum dl div.bouton{
	text-align:right;
	padding-top:2px;
	}	

div#forum dl{
	margin:20px 0;
	padding:0;
	border:2px solid #adc4d9;
	-moz-border-radius:8px;
	background-color:#f7f7f7;
	color:#5c6166;
	}
div#forum dl dl{
	margin:0 5px 10px 20px;
	padding-top:;
	background-color:#ffffff;
	border:1px solid #adc4d9;
	-moz-border-radius:5px;

	}
div#forum dt em{
	font-size:12px;
	color:#8a9199;
	}
div#forum dt{
	margin:0;
	padding:2px;
	background-color:#e6ecf2;
	border-bottom:1px solid #adc4d9;
	font-size:16px;	
	text-align:left;
	}
div#forum dl dl dt{
	font-size:14px;
	border:none;
	}
div#forum dd{
	margin:0;
	padding:5px 5px 10px;
	font-size:14px;
	}		
div#forum dl dl dd{
	font-size:12px;
	}
	
/* SPIP */
.spip_surligne{
	background-color:#FFFF66;
}
.spip_puce{
	/*list-style-position:inside;*/
}
blockquote.spip{
	margin-left :5px 0 5px 20px;
	border :solid 1px #adc4d9;
	-moz-border-radius:5px;

	background-color:#ffffff;
	padding:5px;
}

/* Barre de raccourcis */
a.spip_barre img{
	border:1px solid #adc4d9;
	padding:3px;
	background-color:#e6ecf2;
}
a.spip_barre:hover img{
	border:1px solid #adc4d9;
	padding:3px;
	background-color:#ffffff;
}

/* Boutons */
.spip_bouton{
	border:1px solid #adc4d9;
	-moz-border-radius:5px;

	background-color:#f7f7f7;
	padding:1px;
	margin:2px;
	color:#adc4d9;
	cursor:hand;
	text-decoration:none;
	font-size:10px;
	}
.spip_bouton a{
	color:#adc4d9;
	text-decoration:none;
	font-size:10px;
	}			
.spip_bouton:hover{
	background-color:#ffffff;
	}
	
/* Champs de formulaires */
.forml{
	width:98%;
	background-color:#f7f7f7;
	color:#5c6166;
	}

/* Tableaux */
table.spip{
	border:1px solid #adc4d9;
	-moz-border-radius:8px;

	padding:0;
	margin:0;
	width:97%;
	}
table.spip tr.row_first{
	background-color:#2164a6;
	color:#ffffff;
	padding:0;
	margin:0;
	font-weight:bold;
	text-align:center;
	}
table.spip tr.row_odd{
	background-color:#f7f7f7;
	padding:0;
	margin:0;
	}
table.spip tr.row_even{
	background-color:#ffffff;
	padding:0;
	margin:0;
	}
table.spip td{
	padding:2px;
	vertical-align:middle;
	border:1px solid #adc4d9;
	-moz-border-radius:5px;

	}

.center{
	text-align:center;
}

/* Boutons admins */
.spip-admin{
	text-align:left;
	left:2px;
	}

.spip-admin form{
	margin:2px;
	}


/*Barre typo enrichie*/
.texteencadre-spip{
	color:#000033;
	background:#EEF;
	border-bottom:2px solid #0066CC;
	border-left:1px solid #3399FF;
	border-right:2px solid #0066CC;
	border-top:1px solid #3399FF;
	margin:1em 0;
	padding:.25em;
	position:relative;
}

.caractencadre-spip{
	color:#F60;
	font-weight:bold;
}

.caractencadre2-spip{
	color:#009;
	font-weight:bold;
}

acronym.spip_acronym{
	cursor:help;
	border-bottom:1px dotted;
}

a[hreflang]:after{
content:"\0000a0[" attr(hreflang) "]";
color:#999;
background :transparent;
}

a.spip_blank{
	color:#F00;
}

/* Pour le mode preview dans l'admin */
#article_preview{
	display:none;
	border:1px solid #666;
	overflow:auto;
	/* background-color:#FFCCCC; */
}

/* sup{
	vertical-align:20%;
	font-variant:small-caps;
	font-size:.5em;
} */

label{
	text-align:left;
}

/* http://pompage.net/pompe/listesdefinitions/ */
#documents dl{
	border-left:1px dotted #ADC4D9;
	width: 242px;
	text-align:center;
	padding:10px;
	float:left;
	margin-right:1em;
}

#documents dt strong{
	font-size:12px !important;
	}

/* #documents dt img
{
border: 1px solid #000;
width: 100px;
height: 100px;
} */

#documents dd
{
font-size:11px !important;
margin: 0;
padding: 0;
}

#bloc_navigation{
}

.populaires{
	display:list-item;
	list-style-type:square;
	list-style-position:inside;
	font-weight:normal;
}

.populaires_menu{
	display:none;
}

.en_cours{
font-size:12px;
font-style:italic;
color:#c0c0c0;
}

.absmiddle{
	vertical-align:middle;
}