<plugin>
 	<nom>Profil &#233;tendu</nom>
	<auteur>Stephane LAURENT (Bill) - Distribu&#233; sous licence GNU/GPL</auteur>
	<version>1.0</version>
	<etat>test</etat>
	<description>gestion d'un profil &#233;tendu
	</description>
	<lien>http://zone.spip.org/trac/spip-zone/wiki/ProfilEtendu</lien> <!-- URI de documentation -->
	
	<options>profil_etendu_options.php</options>
	<fonctions>profil_etendu_fonctions.php</fonctions>
	<prefix>profil_etendu</prefix>
</plugin>
