<plugin>
	<nom> <!-- Nom du plugin -->
	Widget Calendrier
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	Cedric MORIN - [notre-ville.net->http://www.notre-ville.net]
_ 2006 - Distribu&#233; sous licence GPL
	</auteur>
	<version>
	0.11
	</version>
	<etat>
	stable
	</etat>
	<description>
	Un Widget Calendrier pr&#234;t &#224; l'emploi pour saisir vos dates
	</description>
	<lien></lien> <!-- URI de documentation -->
	<fonctions>
	inc/calendar.php
	</fonctions>
	<!-- classe d'implementation : espace de nommage qui prefixera les appels de fonction
	sur le mode Rien::
	ainsi les fonctions hors espace de nommage ne peuvent etre appelees
	ce parametre est obligatoire et doit etre non vide
	-->
	<prefix> 
	WCalendar
	</prefix>
	<!-- Definitions des fonctions qui s'inserent dans les pipelines -->
	<pipeline>
		<nom>header_prive</nom>
		<inclure>inc/calendar_init.php</inclure>
	</pipeline>
	<pipeline>
		<nom>body_prive</nom>
		<inclure>inc/calendar_init.php</inclure>
	</pipeline>

	<!-- Le parametre action est facultatif : en son absence la methode de la classe portant le nom du pipeline est appelee. Le parametre inclure est facultatif.	-->
</plugin>
