/* ------------------------------------------
   albums.css : style minimal pour les albums
   ------------------------------------------ */
.album                          { margin-bottom: 1.5em; }
.caption-album.bottom           { text-align: center; }
/* vignettes */
.album.vignettes li             { display: inline-block; margin: 0 10px 10px 0; text-align: center; }
.album.vignettes ul li:last-child { margin-right: 0; }
.album.vignettes li a           { display: block; }
/* squelettes de la dist : albums après le portfolio */
.portfolio-albums               { clear: both; }
