<plugin>
	<nom>Paniers</nom>
	<auteur>[Les Développements Durables->http://www.ldd.fr]</auteur>
	<licence>GPL v3</licence>
	<version>0.1</version>
	<version_base>0.1</version_base>
	<etat>dev</etat>
	<description>Permet de créer des sélections d'objets ayant un prix.</description>
	<icon>images/paniers-48.png</icon>
	<categorie>divers</categorie>
	
	<prefix>paniers</prefix>
	
	<install>base/paniers_installation.php</install>
	
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/paniers_tables.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/paniers_tables.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/paniers_tables.php</inclure>
	</pipeline>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>inc/paniers_autoriser.php</inclure>
	</pipeline>
	<pipeline>
		<nom>optimiser_base_disparus</nom>
		<inclure>paniers_pipelines.php</inclure>
	</pipeline>
	
	<bouton id='paniers' parent='naviguer'>
		<icone>img/picto_spip_paniers.png</icone>
		<titre>paniers:paniers</titre>
	</bouton>

	<necessite id="SPIP" version="[2.1.8;]" />
	<necessite id="prix" version="[0.1;]" />	
	<necessite id="spip_bonux" version="[2.2.17;]" />	
</plugin>
