<plugin>
	<nom>e-card</nom>
	<slogan>Envoi d'e-card &#224; partir d'un formulaire</slogan>
	<auteur>[Cedric Morin->http://www.notre-ville.net]</auteur>
	<licence>&#169; 2006 - GPL</licence>
	<version>0.1.0</version>
	<etat>stable</etat>
	<description>
Envoi d'e-card &#224; partir d'un formulaire de forms
_ N&#233;cessite le plugin forms
_ Ce plugin illustre le m&#233;canisme de personalisation des squelettes de formulaire : un formulaire d'ecard s'ins&#232;re par le raccourci <code><formxx|ecard></code> qui d&#233;clenche l'appel au formulaire personnalis&#233; modele_form_ecard.html
	</description>
	<lien></lien>
	<prefix>ecard</prefix>
	<chemin dir='' />
	<necessite id="SPIP" version="[1.9.0;1.9.2]" />
	<utilise id="forms" version="[0.10;]" />
	<categorie>communication</categorie>
</plugin>