
#wysiwyg .contenu_prix_ttc{
    font-weight: 700;
}
.abonnements_offres .abonnements,
.abonnements_offres .taxe{
	text-align: center;
}
.abonnements_offres td.prix{
	text-align: right;
	width:50px;

}
.liste-objets.abonnements_offres tr > .id {
    text-align: right;
    width: 20px;
}