<plugin>
	<nom>
	Widgets
	</nom>
	<auteur>Fil &amp; Toggg
	_ &copy; 2006 - Distribu&#233; sous licence GNU/GPL
	</auteur>
	<version>
	0.3
	</version>
	<etat>
	test
	</etat>
	<description>

Ce plugin fournit des fonctions d'&eacute;dition rapide depuis les pages publiques du site. Pour en b&eacute;n&eacute;ficier, il faut des squelettes
&#171;&#160;compatibles widgets&#160;&#187;.

Pour cela, c'est tr&#232;s simple, il suffit d'ajouter quelques classes dans les squelettes aux endroits que l'on veut rendre &#233;ditables. Par exemple, pour que le titre soit &eacute;ditable, remplacer <code><h1>#TITRE</h1></code> par :
_ <code><h1 class="widget article-titre-#ID_ARTICLE">#TITRE</h1></code>.
	</description>
	<lien>
	[Documentation->http://www.spip-contrib.net/?article1475]
	</lien>
	<prefix>
	Widgets
	</prefix>
	<fonctions>tetewidgets.php</fonctions>
	<pipeline>
		<nom>affichage_final</nom>
		<inclure>tetewidgets.php</inclure>
	</pipeline>
</plugin>
