/* css pour Widgets
 *
 *  Widgets plugin for spip (c) Fil 2006 -- licence GPL
 */

img.widget-edit {
	visibility: hidden;
}
.widget-autorise:hover img.widget-edit, .widget-hover img.widget-edit {
	visibility: visible;
}
.widget-autorise:hover, .widget-hover {
	background-color: #e3eeee;
}
