img.widget-img-changed {
    visibility: hidden;
}
.widget-changed img.widget-img-changed {
    visibility: visible;
}
img.widget-edit {
    visibility: hidden;
}
.widget-autorise:hover img.widget-edit, .widget-hover img.widget-edit {
    visibility: visible;
}
.widget-autorise:hover, .widget-hover {
    background-color: #f0f0f0;
}
.widget-boutons {
    float: right;
    width: 75px;
}
.widget-boutons div {
	position:absolute;
}
.widget-boutons a {
	cursor: pointer;
}
.widget-icones {
    float: right;
}
.widget-icones span {
    position:absolute;
}
.widget-edit {
	cursor: pointer;
}
