<plugin>
	<nom>FCKeditor</nom>
	<slogan>Edition WYSIWYG avec FCKeditor</slogan>
	<auteur>[Frank SAURET->http://electropol.free.fr], Val&#233;rian</auteur>
	<licence>&#169; 2007 - GNU/GPL</licence>
	<version>1.703.0</version>
	<etat>stable</etat>
	<lien>http://electropol.free.fr/spip/spip.php?article8</lien>
	<icon>images/edit.png</icon>	<!-- Logo [Everaldo Coelho->http://www.everaldo.com] -->
   <prefix>fckeditor</prefix>	
	<pipeline>
		<nom>header_prive</nom> 
		<action>header_prive</action>
		<inclure>fckeditor_pipelines.php</inclure>
	</pipeline>	
	
	<description>
{{Caract&#233;ristiques :}}
-* Edition des articles, des br&#232;ves et des rubriques,
-* Propose un bouton pour passer de l'&#233;diteur FCKEditor &agrave; l'&#233;diteur SPIP,
-* G&#233;n&#232;re du HTML,
-* Possibilit&#233; de lier et d'ins&#233;rer des fichiers et images envoy&#233;s par SPIP,
-* Suppression du d&#233;coupage de texte long,
-* Coloration syntaxique du code (Geshi).

{{Limitations :}}
-* Ne pas mixer pour un m&ecirc;me article l'&eacute;dition WYSIWYG et le code SPIP,
-* Les fichiers envoy&eacute;s sur le serveur par l'interm&eacute;diaire de FCKeditor sont partag&eacute;s entre tous les utilisateurs, 
-* Les fichiers envoy&eacute;s par l'interm&eacute;diaire de FCKeditor ne sont pas utilisables par SPIP,
-* Le plugin doit &#234;tre install&#233; dans la racine du r&#233;pertoire plugin de spip,
-* Le plugin n'est, &agrave; priori, pas compatible avec les plugins qui modifient les barres d'&#233;ditions (apparition de multiples boutons).

{{Info :}} De nombreux boutons peuvent &#234;tre jug&#233;s inutiles (voire dangereux) par les uns ou les autres. Pour faire vos propres barre d'outils, vous pouvez retoucher le fichier fckconfig.php (dans le dossier spip_fck). L&#224;, changez FCKConfig.ToolbarSets (BarreArticle, BarreBreve et BarreRubrique),
 
	</description>
	<categorie>edition</categorie>
	<necessite id="SPIP" version="[1.9.2;1.9.2]" />
</plugin>
