<plugin>
	<nom>hAvatar</nom>
	<slogan>Conceteur d'havatar</slogan>
	<auteur>davux</auteur>
	<icon>images/micro-smiley-64.png</icon>
	<lien>http://contrib.spip.net/hAvatar</lien>
	<version>0.1.0</version>
	<etat>dev</etat>
	<description>
Syst&#232;me de r&#233;cup&#233;ration d'avatars via hcard (microformats).

&#201;tend la balise #LOGO_AUTEUR de mani&#232;re &agrave; prendre en compte l'avatar hcard d'un auteur s'il existe, y compris dans les forums et p&#233;titions.

Fournit le filtre <code>|havatar</code>, &agrave; utiliser par exemple comme 
<code>[(#URL_AUTEUR|havatar|image_reduire{80})]</code>.
	</description>
	<prefix>havatar</prefix>
	<fonctions>inc/havatar.php</fonctions>
	<pipeline>
		<nom>affiche_gauche</nom>
		<action>affiche_gauche</action>
		<inclure>havatar_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[1.9.0;2.0.99]" />
	<categorie>communication</categorie>
</plugin>