<plugin>
	<nom>
	Formulaires Ajax
	</nom>
	<auteur>
	Collectif
	</auteur>
	<version>
	0.2.3
	</version>
	<etat>
	test
	</etat>
	<description>
	Ce plugin offre une collection de formulaires en ajax un peu rigolos ; 
	soit pour les utiliser (et pourquoi pas), soit pour s'en inspirer 
	pour construire les siens.

-* #FORMULAIRE_QUI_ES_TU
-* #FORMULAIRE_EDITER_LOGO
-* #FORMULAIRE_AJOUTER_UN_DOCUMENT
-* #FORMULAIRE_EDITER_DOCUMENT

	</description>
	<lien>
	</lien>
	<prefix>
	Ajaxforms
	</prefix>
	<fonctions>ajaxform_fonctions.php</fonctions>
	<necessite id="SPIP" version="[1.9.0;]" />
	<categorie>outil</categorie>
</plugin>
