<plugin>
	<nom>Liens entre contenus</nom>
	<slogan>Emp&#234;cher la suppression d'un objet si d'autres pointent vers lui</slogan>
	<auteur>Nicolas Hoizey</auteur>
	<licence>GNU/GPL</licence>
	<version>0.29.0</version>
	<version_base>0.4</version_base>
	<install>base/lienscontenus_upgrade.php</install>
	<etat>test</etat>
	<description>
Ce plugin permet d'identifier les liens existants entre les contenus au sein de leurs &#233;l&#233;ments textuels, et donc notamment d'{{&#233;viter la suppression par erreur}} d'une rubrique, d'un article, d'une br&#232;ve, d'un site, d'un document ou m&#234;me d'un mod&#232;le, vers lesquels pointent d'autres contenus.

Reste &#224; faire :
-* Etendre le contr&#244;le de d&#233;publication aux actions dans les listes
-* Proposer une option de configuration pour ne pas mettre d'alertes
-* Proposer une option de configuration pour interdire la suppression d'objets li&#233;s depuis des objets en ligne ou juste alerter
-* R&#233;f&#233;rencement des liens externes ? (rapprochement avec le plugin {checklink} de C&#233;dric ?)

Ic&#244;ne issue de la collection [Farm-Fresh Web Icons->http://www.fatcow.com/free-icons] de FatCow.
	</description>
   <lien>http://contrib.spip.net/Liens-entre-contenus</lien>
	<icon>images/liens_contenus.png</icon>
   <chemin dir='' />
	<prefix>lienscontenus</prefix>
	<options>lienscontenus_options.php</options>
	<fonctions>lienscontenus_fonctions.php</fonctions>
   <pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/lienscontenus.php</inclure>
   </pipeline>
	<pipeline>
		<nom>pre_edition</nom>
		<inclure>lienscontenus_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_droite</nom>
		<action>affiche_droite</action>
		<inclure>lienscontenus_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<action>header_prive</action>
		<inclure>lienscontenus_pipelines.php</inclure>
	</pipeline>
   <pipeline>
       <nom>taches_generales_cron</nom>
       <inclure>lienscontenus_pipelines.php</inclure>
   </pipeline>
	<categorie>navigation</categorie>
   <necessite id='SPIP' version='[2.1.0;2.1.99]' />
	<traduire gestionnaire='salvatore' module='lienscontenus' reference='fr' />
</plugin>