body,h1,h2 {
	background-color:#E8F3FF;
	color:#666666;
	font-family: arial, helvetica, sans-serif;
	font-size: .8em;
	margin:0;
	padding:0;
}

a:link,a:visited {color: #06c; text-decoration:none;}
a:hover {color: #f60; text-decoration:underline;}
h1,h2,h3 {font-weight:bold;}

p {margin: 0 0 10px 0; color:#666666;}

.more {
	text-align: right;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: .8em;
}
	
.more a {
	text-align: right;
}

input.text {
  	font-family:Arial,Helv,sans-serif;
	font-size:.8em;
	color: #628BC4;
	background: transparent; 
    border: 1px solid #ccc;
    font-weight: bold;
}

input.submit {
  	font-family:Arial,Helv,sans-serif;
    font-size: .8em;
    font-weight: bold;
	color: #06C;
    
	background: transparent; 
	border-width: 0px;
}
  
input.login {
  	font-family:Arial,Helv,sans-serif;
	font-size: .8em;
    color: #628BC4;
	background: transparent; 
    border: 1px solid #ccc;
    font-weight: bold;
}
  
h2 {
	margin-bottom: 2em;
	font-size: 1.2em;
	height: 20px;
	background: url(h2.gif) no-repeat;
	padding-top: 3px;
	padding-left: 5px;
	color: #f60;
}

h2 a, h2 a:visited {
	color: #f60;
}

h2 a:hover {
	color: #06c;
	text-decoration: none;
}

h3 {
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: .9em;
}

.tabs {
	text-align: left;
	padding-left: 13px;
	padding-right: 20px;
	font-weight: bold;
}
	
#container {
	width: 750px;
	margin: auto;
	padding-left: 12px;
	padding-right: 10px;
	background: #FFF url(fond.gif) no-repeat;
	color: #333;
	line-height: 130%;
}

#top {
	height: 50px;
	background: url(logo.gif) no-repeat left bottom;
	margin-bottom: 5px;
	padding-top: 20px;
	font-size: 1em;
	color: #06C;
}

.podnaslov {
	font-size: .8em;
	padding-left: 11px;
	color: #808080;
}

.poslovni {
	color: #808080;	
}


#left {
	float: left;
	width: 125px;
	margin-top:30px;

}


#left a, #left a:visited {
	display: block;
	text-decoration: none;
	height: 17px;
	padding-left: 3px;
	padding-right: 13px;
	/*border-bottom: 1px solid #ccc;*/
	
}

#left a:hover {
	text-decoration: underline;
	background: #06c;
	color: #FFF;
}

#right {
	padding-right: 10px;
	
	float: right;
	width: 200px;
	text-align:justify;
	margin-top:30px;
	
}

#content {
	padding-top: 12px;
	margin-left: 134px;
	margin-right: 230px;
	padding-right: 10px;
	max-width: 36em;
	text-align:justify;
}

 
 p.menu {
font-size: 0.8em;
font-weight:bold;
line-height: 3em;
}
	
#footer {
	margin-top: 8px;
	margin-left: 135px;
	margin-right: 240px;
	padding-top:4px;
	padding-bottom:4px;
	color:#999999;
	margin-bottom:10px;
	text-align:right;
	border-top: 2px solid #CEE4FB;
	clear:both;
}

a.lienon {
background: yellow; text-decoration: none
}

.spip_surligne {
background-color:yellow;
}

ul li {
margin:0 0 2px;
padding:0 0 0 18px;
text-indent:-18px
}

ul,dl {
list-style:none;
margin:.5em 0 1em;
padding:0
}

ul.offsite {
margin-bottom:.75em



}

ul.offsite li {
background:url("flecheliens.gif") no-repeat 1px .5em;
text-indent:0


}

/* -----------------------------------------------

Ce document fait partie de la noisette inc-forum-celadon
Created : janvier 2006
Author : romy.tetue.net
URL : http://romy.tetue.free.fr/article.php3?id_article=334

----------------------------------------------- */

#celadon { 
 }

/* * Titre */

/* * Fils de discussion */
#celadon ul, #celadon li, #celadon li ul, #celadon li ul li { list-style: none; margin: 0; padding: 0; }
#celadon ul { background: #fff; padding: 8px; border: 1px solid #ccc; }
#celadon li { margin: 15px 15px 0 15px; }
#celadon li ul { display: block; background: none; border: 0; }

/* * Messages */
#celadon .message-chapo { border-bottom: 1px solid #ccc; text-decoration: none; }
#celadon .message-chapo h3 { font-weight: bold;  }
#celadon .message-texte { margin: 0 0 5px 0; padding: 5px 0; text-align: justify; }
#celadon .message-texte p.spip { margin: 0 0 0.8em 0; padding: 0; }
#celadon .message-texte blockquote.spip { margin: 0 0 0.8em 0.8em; padding: 0; text-align: left; background: none; border: 0; }
#celadon .message-texte blockquote.spip, #celadon .message-texte q { font-style: italic; }

/* * Habillage des liens */
#celadon a { color: #06c; font-weight: bold; }
#celadon .message-chapo a, #celadon .message-chapo a:hover { text-decoration: none; }
#celadon .message-texte a { text-decoration: underline; }
#celadon a.repondre, #celadon a:hover.repondre { text-decoration: none; padding-right: 16px; background: transparent; }
#celadon a:hover { color: #f60; background: none; }











