/*
	// lilo_public.css 

	// $LastChangedRevision: 16682 $
	// $LastChangedBy: paladin@quesaco.org $
	// $LastChangedDate: 2007-12-07 19:45:20 +0100 (mer., 07 nov. 2007) $

*/

	/*
		Si modification, vider le cache (le css est compressé par 'compacte'
	*/

/* lilo login panel public area  */

#lilo_login {
	font: normal 10px/normal "Myriad Web Pro", Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background: #fff;
	text-align: left;
	white-space: nowrap;
	display: block;
	border: none;
	position: static;
	margin: 0px;
	padding: 0px;
	height: auto;
	width: auto;
}
#lilo_login label, #lilo_login .forml {
	height: 1.4em;
	width: auto;
	display:block;
}

/* lilo statut panel public area */

#lilo-statut-public {
	font: normal 11px/normal "Myriad Web Pro", Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	background: #00f;
	height: auto;
	border: 1px solid black;
	z-index:1024;
	margin:0;
	padding:2px;
	text-align:left;
	display:table;
}
#lilo-statut-public .row {
	display:table-row; font-size:100%;
}
#lilo-statut-public * {
	margin:0; padding:0;
}
#lilo-statut-public #lilo-tete {
	width:26px; height:26px;
	margin-right:2px;
	display:block;
	float:left;
	height:100%;
	padding:1px;
}
#lilo-statut-public>#lilo-tete {
	display:table-cell;
	float:none;
}
#lilo-statut-public #lilo-tete img {
	width:24px; height:24px; display:block;
}
#lilo-statut-public #lilo-buste {
	display:block; height:24px; padding:0 4px; line-height:1.4em; height: auto;
}
#lilo-statut-public>#lilo-buste {
	display:table-cell;
	background-color:red;
}
#lilo-statut-public>#lilo-buste {
	padding-left:24px;
	font-size:90%;
}
#lilo-statut-public .lilo-nom {
	font-weight:700;
}
#lilo-statut-public .lilo-login {
	font-size:75%; text-align:center;
}
#lilo-statut-public .spip-admin-bloc-lilo {
}
#lilo-statut-public .spip-admin-boutons-lilo {
	white-space: nowrap;
}
#lilo-statut-public a {
	display:block;
	color: #ff0;
	text-decoration: underline;
	margin:3px 0 0 !important;
	line-height:1.4em;
}