span.play_{
background:#E6ECFF;
cursor:hand;
cursor:pointer;
}

span.play_on{
background:#FF0000;
cursor:hand;
cursor:pointer;
}


.radiobox{
margin:10px 0px 10px 0px;
padding:0px;
width:200px;
font-size:9px;
border: thin #c0c0c0 inset;
-moz-border-radius: 15px;
}

.radiobox a, .radiobox a:hover{
text-decoration:none;
font-family:verdana, sans-serif;
}

.radiobox li.over{
background:#7A7582;
}


.radiobox li.play_on{
background:#B4ACBF;
}

.controles li{
display:inline;
background:#efefef;
/*color:#ffffff;*/
border: thin #c0c0c0 outset;
padding:3px;
margin:10px;
-moz-border-radius: 5px;
/*border-left:1px solid black;*/
cursor:hand;
cursor:pointer;
font-variant:small-caps;
font-weight:bold;
}