
.radiobox{
margin:10px 0px 10px 0px;
padding:0px;
width:200px;
font-size:9px;
font-family:verdana, sans-serif;
color:#999999;
/*
-moz-border-radius: 15px;*/
}


.controles {
cursor:hand;
cursor:pointer;
text-align:right;
margin-bottom:5px;
}

.playliste{
list-style-type:none;
padding:3px;
margin:0;
border: 1px solid #cccccc;

}

.radiobox a, .radiobox a:hover{
text-decoration:none;
font-family:verdana, sans-serif;
color:#999999;
}

.radiobox li.over{
background:#e6e6e6;
}

.playliste_pagination{
margin:5px 0px 0px 0px;
border: 1px solid #cccccc;
}


.radiobox li.play_on{
background:#e6e6e6;
}

div#now_playing{
width:120px;
height:13px;
overflow:hidden;
float:left;
text-align:left;
}

span.play_{
background:#E6ECFF;
cursor:hand;
cursor:pointer;
}

span.play_on{
background:#FF0000;
cursor:hand;
cursor:pointer;
}