<plugin>
	<nom>Admin-Public</nom>
	<auteur>contact@elastick.net</auteur>
	<version>0.1.0</version>
	<etat>test</etat>
	<icon></icon>
	<description>
		<multi>
			[fr]Administrer les pages depuis l'espace public
			[en]Administration from public space
		</multi>
	</description>
	<fonctions>adminpublic_mes_fonctions.php</fonctions>
	<prefix>adminpublic</prefix>
	<lien></lien>
	<pipeline>
		<nom>insert_head</nom>
	</pipeline>
	<necessite id="SPIP" version="[1.9.0;1.9.2]" />
	<categorie>maintenance</categorie>
</plugin>
