<plugin>
        <nom> <!-- Nom du plugin -->
			<multi>
					[fr]Boite &agrave; outils pour articles
					[es]Cojee a herramientas
			</multi>		
        </nom>
        <auteur>        <!-- Auteur du plugin -->
			<multi>
          
										[fr]christophe vallois
_ &#169; 2007 - Distribu&#233; sous licence GNU/LGPL
					[es]
					[en]christophe vallois - distributed under GNU/GPL licence
					
			</multi>		
        </auteur>
        <version>
          0.1
        </version>
        <etat>
          stable
        </etat>
        <description>
			<multi>
        
					[fr]ins&eacute;rer une panoplie d'outils pour vos articles sous forme de barre ou de boite gr&acirc;ce &agrave; deux noisettes &agrave; ins&eacute;rer dans vos squelettes : 
					<ul>
					<li><code>&lt;INCLURE{fond=inc-barre-outils}{id_article}&gt;</code> pour la version en barre</li>
					<li><code>&lt;INCLURE{fond=inc-boite-outils}{id_article}&gt;</code> pour la version en boite</li>
					</ul>
					[es]insertar una panoplia de herramientas para sus artículos en forma de barra o de cojea con dos avellanas que deben insertarse en sus esqueletos : 
					<ul>
					<li><code>&lt;INCLURE{fond=inc-barre-outils}{id_article}&gt;</code> para la versi&oacute;n barra </li>
					<li><code>&lt;INCLURE{fond=inc-boite-outils}{id_article}&gt;</code> para la versi&oacute;n cojea </li>
					</ul>
			</multi>
          
        </description>
		    <lien>
              [Documentation sur contrib->http://www.spip-contrib.net/?article2209],
		      et si vous avez cfg: [Configuration des &eacute;l&eacute;ments &agrave; afficher->.?exec=cfg&amp;cfg=outils_article]
		    </lien>
        <icon>img_pack/icone-plugin1.png</icon>
        <prefix>
          outils_article
        </prefix>
        
				
				<chemin dir='' />
</plugin>
