.image-annotate-add { background:#fff url(images/new.png) no-repeat 3px 3px; border:solid 1px #ccc!important; 
	color:#000!important; display:block; font-family:Verdana, Sans-Serif; font-size:12px; 
	height:18px; line-height:18px; padding:2px 0 2px 24px; margin:5px 5px 5px 0; width:110px; text-decoration:none; }
.image-annotate-add:hover { background-color:#eee;}
.image-annotate-canvas { border:solid 1px #ccc; background-position:left top; background-repeat:no-repeat; display:block; 
	margin:0; position:relative; }
.image-annotate-view { display:none; position:absolute;left:0;top:0; }
.image-annotate-area { border:1px solid #999; position:absolute;left:0;top:0; }
.inner { border:1px solid #fff; display:block; height: 100%; }
.image-annotate-area-editable { cursor:pointer; }
.image-annotate-area-editable-hover .inner { background: transparent url(images/edit-note.png) center 50% no-repeat; }
.image-annotate-note { width: 210px; position: absolute; z-index: 3000; display: none; padding-top: 5px; }
.image-annotate-note .note-text { display: table; background: #f5f5f5 none repeat scroll 0 0; border: 1px solid #ddd; color:#000;
	font-family:Verdana, Sans-Serif; font-size:12px; max-width:200px; padding:3px 7px; 
	box-shadow: 1px 1px 10px #333; -webkit-box-shadow: 1px 1px 10px #333; -moz-box-shadow: 1px 1px 10px #333; }
.image-annotate-note .note-text p { margin: 2px auto; }
.image-annotate-note .note-text .author { font-style: italic; color: #666; }
.image-annotate-note .actions { display:block; font-size:80%; }
.nb_notes { margin-top: 5px; }
.image-annotate-edit { display:none;position:absolute;top:0;left:0; }
.image-annotate-edit .loading { background: #333 url(images/loader.gif) center 50% no-repeat; }
#image-annotate-edit-form { position:absolute; width:300px; background:#fff; border:1px solid #ddd; margin-top: 5px; padding:5px;
	box-shadow: 1px 1px 10px #333; -webkit-box-shadow: 1px 1px 10px #333; -moz-box-shadow: 1px 1px 10px #333; left:0;top:0;}
#image-annotate-edit-form form { z-index:999; }
#image-annotate-edit-form .formulaire_spip,
#image-annotate-edit-form form fieldset { margin:0; }
#image-annotate-edit-form form legend,
#image-annotate-edit-form form label { display:none; }
#image-annotate-edit-form form .boutons { font-size: 85%; }
.image-annotate-edit-area { display:block; margin:0; padding:0 0 2px 0; width:60px; height:60px; border:1px solid #999;
	position:absolute; top:10px; left:10px; cursor:move; }
.image-annotate-edit-area .ui-resizable-handle { opacity:0.8; }
.image-annotate-edit .ui-resizable { position:inherit; }
.ui-resizable-handle { position:absolute; font-size:.1px; z-index:99999; display:block; }
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle { display:block; }
.ui-resizable-n { cursor:n-resize; height:7px; width:100%; top:-5px; left:0; }
.ui-resizable-s { cursor:s-resize; height:7px; width:100%; bottom:-5px; left:0; }
.ui-resizable-e { cursor:e-resize; width:7px; right:-5px; top:0; height:100%; }
.ui-resizable-w { cursor:w-resize; width:7px; left:-5px; top:0; height:100%; }
.ui-resizable-se { cursor:se-resize; width:12px; height:12px; right:1px; bottom:1px; }
.ui-resizable-sw { cursor:sw-resize; width:9px; height:9px; left:-5px; bottom:-5px; }
.ui-resizable-nw { cursor:nw-resize; width:9px; height:9px; left:-5px; top:-5px; }
.ui-resizable-ne { cursor:ne-resize; width:9px; height:9px; right:-5px; top:-5px; }