<plugin>
	<nom>SCSS PHP</nom>
	<slogan>Int&#233;gration de l'impl&#233;mentation php de SASS</slogan>
	<auteur>Anne-lise Martenot, elastick.net</auteur>
	<auteur>Jean-Baptiste Bourgoin</auteur>
	<licence>GPL 3</licence>
	<version>1.0.6</version>
	<etat>test</etat>
	<icon>scsscss.png</icon>
	<description>
SCSS est une syntaxe SASS, un préprocesseur CSS qui permet d'ajouter des variables, classes, op&#233;rations, ou imbrications au langage. Facilitant ainsi
l'&#233;criture de feuilles de style complexes. [->http://leafo.net/scssphp/]

	</description>
	<prefix>scssphp</prefix>
	<categorie>outil</categorie>
	<fonctions>scsscss_fonctions.php</fonctions>
	<pipeline>
		<nom>insert_head</nom>
	</pipeline>
	<necessite id="SPIP" version="[2.1.0;3.0.99]" />
</plugin>