<plugin>
<nom>Logo SPIP</nom>
<prefix>logo_spip</prefix>
<icon>icon/logo_spip.png</icon>

<version>1.0.0</version>
<etat>stable</etat>
<categorie>multimedia</categorie>

<slogan>Balise pour afficher le logo de SPIP</slogan>
<description>Affichez facilement le logo de SPIP dans vos squelettes avec la balise #LOGO_SPIP</description>
<auteur>[tetue->http://spip.tetue.net]- 2015</auteur>
<licence>GPL</licence>

<fonctions>logo_spip_fonctions.php</fonctions>

<necessite id="SPIP" version="[2.0.0;3.1.99]" />
</plugin>