<plugin>
	<nom>
		<multi>
			[fr]Crit&#232;res Suivant / Précédent
			[en]Next / Previous criteria
		</multi>
	</nom>
	
	<version>1.2</version>
	
	<etat>test</etat>
	<icon>images/precedent_suivant-128.png</icon>

	<description>
		<multi>
			[fr]Ajoute des crit&#232;res de boucles <code>{suivant}</code> et <code>{precedent}</code>
			[en]Adds loops criteria <code>{suivant}</code> and <code>{precedent}</code>
		</multi>
	</description>
	
	<auteur>Matthieu Marcillaud</auteur>
	<licence>GNU/GPL</licence>
	
	<lien>http://www.spip-contrib.net/Criteres-precedent-et-suivant</lien>
	
	<prefix>csp</prefix>
	
	<fonctions>public/csp_criteres.php</fonctions>
	
	<necessite id="SPIP" version="[2.1;]" />
	<categorie>navigation</categorie>	
</plugin>
