<plugin>

	<nom>SPIPMINE - Gestion de projets pour SPIP</nom>

	<auteur>Cyril MARION</auteur>
	
    <licence>&#169; 2009 Ateliers CYM - PARIS - Licence GNU/GPL</licence>

	<version>0.1</version>

	<etat>dev</etat>

	<icon>img_pack/ateliers_cym-24.gif</icon>

	<lien>
	[Doc en ligne, forum, FAQ sur SPIP-Contrib->http://www.spip-contrib.net/Plugin-Spipmine?var_mode=preview]
	</lien>

	<!--description>
Spimine permet de g&eacute;rer tous les aspects d'une activit&eacute; de services, plut&ocirc;t orient&eacute;e web. <br>

Il comprend 3 modules sp&eacute;cifiques fonctionnant ensemble et destin&eacute;s &agrave; la <em>gestion interne</em>, mettant en jeu <strong>8 tables principales</strong> :
_ - module 1. "clients" avec les tables [clients->../?spip.php&amp;page=table:spipmine_clients]/[contacts->../?spip.php&amp;page=table:spipmine_contacts]
_ - module 2. "projets" avec les tables [projets->../?spip.php&amp;page=table:spipmine_projets]/[actions->../?spip.php&amp;page=table:spipmine_actions]/[users->../?spip.php&amp;page=table:spipmine_users]
_ - module 3. "factures" avec les tables [factures->../?spip.php&amp;page=table:spipmine_factures]/[lignes de facture->../?spip.php&amp;page=table:spipmine_lignes_facture]/[reglements->../?spip.php&amp;page=table:spipmine_reglements]

_ Nota : les modules 2. et 3. ont besoin du module 1. pour fonctionner[[factures et projets n'existent pas sans client]].

Spipmine comporte <strong>9 tables annexes</strong> permettant de caract&eacute;riser les tables des modules sp&eacute;cifiques : [spipmine_clients_rubriques->../?spip.php&amp;page=table:spipmine_clients_rubriques][[permet d'attribuer une ou plusieurs rubriques &agrave; un client]], [spipmine_types_actions->../?spip.php&amp;page=table:spipmine_types_actions], [spipmine_types_documents->../?spip.php&amp;page=table:spipmine_types_documents], [spipmine_types_facturation->../?spip.php&amp;page=table:spipmine_types_facturation], [spipmine_types_livrables->../?spip.php&amp;page=table:spipmine_types_livrables], [spipmine_types_prestations->../?spip.php&amp;page=table:spipmine_types_prestations], [spipmine_types_reglements->../?spip.php&amp;page=table:spipmine_types_reglements], [spipmine_types_status->../?spip.php&amp;page=table:spipmine_types_status].

Spipmine comporte 6 modules additionnels moins sp&eacute;cifiques, car r&eacute;alis&eacute;s sous forme de squelettes Spip, &agrave; partir des tables par d&eacute;faut (rubriques/articles/mots-cl&eacute;), et destin&eacute;s &agrave; de la gestion <em>client</em> :</p>
_ - maquettes
_ - cahiers des charges
_ - benchmarks de sites
_ - cahiers de d&eacute;veloppement et de recette
_ - documentations
_ - formations</description-->
	
	<prefix>spipmine</prefix>
	
	<install>base/spipmine_install.php</install>
	
	<fonctions>spipmine_fonctions.php</fonctions>
	
	<options>spipmine_options.php</options>
		
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/spipmine_tables_principales.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/spipmine_tables_auxiliaires.php</inclure>
	</pipeline>

	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/spipmine_tables_interfaces.php</inclure>
	</pipeline>
	
</plugin>