<plugin>

	<version>0.1</version>
	
	<nom>SPIPMINE - Gestion de projets pour SPIP</nom>
	
	<prefix>spipmine</prefix>

	<auteur>Cyril MARION</auteur>
	
    <licence>&#169; 2009 Ateliers CYM - PARIS - Licence GNU/GPL</licence>

	<etat>dev</etat>

	<icon>img_pack/picto_spip_mine_64x64.png</icon>
	
	<description>G&egrave;re une activit&eacute; de production de sites internet.</description>

	<lien>[Doc en ligne, forum, FAQ sur SPIP-Contrib->http://www.spip-contrib.net/Plugin-Spipmine?var_mode=preview]</lien>

	<fonctions>spipmine_fonctions.php</fonctions>
	<options>spipmine_options.php</options>
	<install>base/spipmine_install.php</install>
	
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/spipmine_tables_principales.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/spipmine_tables_auxiliaires.php</inclure>
	</pipeline>

	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/spipmine_tables_interfaces.php</inclure>
	</pipeline>
	
</plugin>