<plugin>
	<nom>
		<multi>
		[fr]Tutoriel CFG (Article accueil)
		[en]CFG Tutorial (Article summary)
		</multi>
	</nom>
	<slogan>Coder un plugin simple avec cfg</slogan>
	<prefix>aa</prefix>
	<version>1.0.2</version>
	<etat>experimental</etat>
	<icon>aa.png</icon>
	<categorie>navigation</categorie>

	<auteur>cy_altern</auteur>
	<licence>GNU/LGPL - (c) 2010</licence>

	<description>Ce plugin extra-simple (aa) est le résultat d'un [tutoriel de spip-contrib->http://www.spip-contrib.net/?article1605] ayant pour sujet l'apprentissage du plugin CFG, qui permet de gérer les paramètres de configuration d'un plugin de façon simple</description>

	<pipeline>
		<nom>ajouter_boutons</nom>
		<inclure>aa_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affichage_final</nom>
		<inclure>aa_pipelines.php</inclure>
	</pipeline>

	<necessite id="SPIP" version="[1.9.2;2.1.99]" />
	<necessite id="cfg" version="[1.0.0;]" />
</plugin>
