<plugin>
	<nom>
		<multi>
			[fr]Afficher Objets
			[en]View objects
		</multi>
	</nom>
	<version>1.2.1</version>
	<prefix>afficher_objets</prefix>
    <slogan>Lister les &#233;l&#233;ments de l'espace priv&#233;</slogan>
	<!-- Oxygen theme spreadsheet : http://www.iconfinder.com/icondetails/8909/128/spreadsheet_icon -->
	<icon>afficher_objets-64.png</icon>
	<etat>test</etat>
	<auteur>cerdic, marcimat</auteur>
	<licence>GNU/GPL</licence>
	<description>
	Permet de pr&#233;senter les listes d'&#233;l&#233;ments de l'espace priv&#233; sous forme de squelettes SPIP. {Ce plugin est int&#233;gr&#233; à SPIP 3}
	</description>

	<fonctions>afficher_objets_fonctions.php</fonctions>
	<necessite id="SPIP" version="[2.0.10;2.1.99]" />
	<necessite id="spip_bonux" version="[2.2.2;]" />
	<categorie>navigation</categorie>
</plugin>
