body .spip-admin-bloc,
body .spip-admin-float { top: 5px; right: 5px; z-index: 100000; }
#minibando, #minibando * { border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%;
	font-family: inherit; line-height: 1; vertical-align: baseline; margin: 0; padding: 0; text-align: left;
	list-style-type: none; list-style-image: none; color: black; 
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -ms-box-sizing: content-box; }
#minibando { font-family: Arial,Helvetica,sans-serif; z-index: 100; }
#minibando li { position: relative; float: left; }
#minibando li li { float: none; }
#minibando li p { font-size: 14px; margin: 5px 6px; width: 190px; }
#minibando li a { display: block; background-color: #f8f8f8; height: 24px; width: 24px; text-indent: -10000px;
	font-size: 0px; margin: 2px; border: 1px solid #bdbdbd;
	border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
#minibando li a:hover,
#minibando li li a:hover { background-color: white; }
#minibando #bando1_menu_accueil { background: #f8f8f8 url(images/minibando_stripes_optim.png) 50% 0  no-repeat; }
#minibando #bando1_menu_edition { background: #f8f8f8 url(images/minibando_stripes_optim.png) 50% -168px no-repeat; }
#minibando #bando1_menu_publication { background: #f8f8f8 url(images/minibando_stripes_optim.png) 50% -264px no-repeat; }
#minibando #bando1_menu_activite { background: #f8f8f8 url(images/minibando_stripes_optim.png) 50% -96px no-repeat; }
#minibando #bando1_menu_squelette { background: #f8f8f8 url(images/minibando_stripes_optim.png) 50% -240px no-repeat; }
#minibando #bando1_menu_administration { background: #f8f8f8 url(images/minibando_stripes_optim.png) 50% -120px no-repeat; }
#minibando #bando1_menu_configuration { background: #f8f8f8 url(images/minibando_stripes_optim.png) 50% -216px no-repeat; }
#minibando #minibando_outils_rapides > a { background: #f8f8f8 url(images/minibando_stripes_optim.png) 50% -24px no-repeat; }
#minibando #minibando_bouton_modifier > a { background: #f8f8f8 url(images/minibando_stripes_optim.png) 50% -48px no-repeat; }
#minibando #minibando_bouton_statistiques > a { background: #f8f8f8 url(images/minibando_stripes_optim.png) 50% -192px no-repeat; }
#minibando #minibando_bouton_recalcul > a { background: #f8f8f8 url(images/minibando_stripes_optim.png) 50% -72px no-repeat; }
#minibando #minibando_bouton_debug > a { background: #f8f8f8 url(images/minibando_stripes_optim.png) 50% -144px no-repeat; }
#minibando li.minibando_sep { width: 1px; margin: 4px 2px 0 2px; height: 24px; background-color: #bdbdbd; }
#minibando li li a { background-image: none; text-indent: 0; width: 190px; height: auto; border: none; text-decoration: none;
	padding: 5px; color: black; margin: 1px; font-size: 12px; }
#minibando > li > span { height: 6px; width: 100%; display: block; background: url(images/arrow.png) no-repeat top center; display: none; }
#minibando ul { background-color: #bdbdbd; position: absolute; display: none; right: 2px;
	border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
#minibando li:hover ul, #minibando li:hover span { display:  block; }
