@import "css/variables.less";

.bg-primary {
  background-color: @bg-primary;
  color: white;
}

.bg-primary-light {
  background-color: @bg-primary-light;
  color: white;
}

.bg-success {
  background-color: @bg-success;
  color: white;
}

.bg-info {
  background-color: @bg-info;
  color: white;
}

.bg-warning {
  background-color: @bg-warning;
  color: white;
}

.bg-danger {
  background-color: @bg-danger;
  color: white;
}

.bg-orange {
  background-color: @bg-orange;
  color: white;
}

.bg-violet {
  background-color: @bg-violet;
  color: white;
}

.bg-dark {
  background-color: @bg-dark;
  color: white;
}

.bg-bright {
  background-color: @bg-bright;
  color: #767676;
}

.bg-reverse {
  background-color: @bg-reverse;
  color: #767676;
}

html, body {
	background-color: @bg-success;
	height: 100%;
}
.page {
	background-color: @bg-success;
}
h1 {
	small {
		color: @gray-second;
	}
}
.block {
	margin-bottom: 1em;
}
.breadcrumb {
	margin-top: 20px;
}
.icone {
	&.s24 {
		&.right {
			a {
				img {
					margin-right: 0.5em;
				}
			}
		}
		&.left {
			a {
				img {
					margin-left: 0.5em;
				}
			}
		}
	}
}

.introduction {
	text-align: justify;
}

.publication {
	color: @gray-light;
}
.pagination {
	text-align: right;
	width: 100%;
	clear: both;
	overflow: hidden;
}

table {
	margin-bottom: 20px;
	max-width: 100%;
	width: 100%;
	border: 1px solid #ddd;
	+ .pagination {
		margin-top: 0;
	}
	> caption {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	> caption + thead, > thead:first-child {
		> tr {
			&:first-child {
				> th, > td {
				}
			}
		}
	}
	> thead {
		> tr {
			> th, > td {
			}
		}
	}
	tr {
		> td {
			&.bg-warning {
				background-color: @bg-warning !important;
				table {
					color: @black;
				}
			}
		}
	}
}

.liste-objets {
	margin-top: 1em;
	border-top: 1px solid @gray-third;
}

.liste {
	&.documents_joints {
		ul {
			padding-left: 0;
			list-style: none;
			li {
				padding-left: 50px;
				position: relative;
				border-top: 1px solid @gray-second;
				padding-top: 1em;
				margin-bottom: 1em;
				.spip_logos {
					position: absolute;
					left: 0;
				}
			}
		}
	}
	&.resultats {
		background-color: @bg-bright;
		border: 1px solid @gray-third;
		padding: 1em;
		margin-bottom: 2em;
		h2 {
			margin-top: 0;
		}
		.pagination {
			margin-bottom: 0;
		}
	}
}

// --------
// Les boutons d'action
// --------
.boutons_block {
	display: block;
	border-collapse: collapse;
	width: 100%;
	overflow: hidden;
	.boutons_action {
		list-style: none;
		padding-left: 0;
		margin-bottom: 1em;
		overflow: hidden;
		width: 100%;
		.action {
			display: inline-block;
			float: left;
			width: 50%;
			padding: 15px 5%;
			font-size: 1.250em;
			&:nth-child(odd) {
				clear: left;
			}
			.bouton {
				color: @white;
				display: block;
				padding: 15px 12.75%;
				margin: -15px -12.5%;
				background-color: @bg-info;
				&:hover {
					background-color: darken(@bg-info, 10%);
					text-decoration: none;
				}
				&.creer {
					background-color: @bg-info;
					color: @white;
					&:hover {
						background-color: darken(@bg-info, 10%);
					}
				}
				&.modifier {
					background-color: @bg-success;
					color: @white;
					&:hover {
						background-color: darken(@bg-success, 10%);
					}
				}
				&.supprimer {
					background-color: @bg-danger;
					color: @white;
					&:hover {
						background-color: darken(@bg-danger, 10%);
					}
				}
				&.editer_liens {
					background-color: @bg-primary-light;
					color: @white;
					&:hover {
						background-color: darken(@bg-primary-light, 10%);
					}
				}
			}
		}
	}
}

.col-md-3 {
	.boutons_action {
		.action {
			width: 100%;
		}
	}
}


// --------
// Les grands blocs de pages
// --------
#header {
	background-color: transparent;
	> .row {
		background-color: @gray-dark;
	}
	header {
		h1 {
			color: @white;
			a {
				color: @gray-lighter;
			}
		}
	}
	.form-search {
		margin-top: 1em;
		padding-top: 1em;

		#formulaire_recherche {
			.form-inline {
				.form-group {
					&:first-of-type {
						width: 85%;
						input {
							width: 100%;
						}
					}
				}
			}
		}

	}
}
#extra {
	padding-bottom: 1em;
}
#aside {
	color: @white;
	a {
		color: @white;
		&:hover {
			color: @black;
		}
	}
	.menu {
		&.menu_pages {
			margin-top: 1em;
			padding-top: 1px;
			z-index: 1000;
			ul {
				margin-bottom: 2em;
				> li {
					font-size: 1.25em;
					&:hover {
						background-color: @gray-dark;
					}
					a {
						color: @gray-light;
						&.active {
							color: @black;
						}
						&:hover {
							color: @white;
							background-color: transparent;
						}
						&.active {
						}
						i {
							height: 45px;
							margin: -15px 10px -15px -15px;
							width: 55px;
							padding: 15px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

#content {
	background-color: @white;
	overflow: hidden;
}

// On va styler tous les formulaires d'édition d'un objet.
.formulaire_spip {
	padding: 0.5em;
	background-color: @gray-lighter;
	overflow: hidden;
	ul {
		padding-left: 0;
		list-style: none;
		li {
			overflow: hidden;
			padding-bottom: 0.5em;
			margin-bottom: 1em;
			label {
				width: 25%;
				margin-right: 3%;
				float: left;
				text-align: right;
				word-break:break-all;
			}
			input, .edition, .explication, select, textarea {
				width: 72%;
				float: right;
			}
			.edition {
				textarea {
					width: 100%;
				}
			}
			.choix {
				float: left;
				margin-right: 1em;
				overflow: hidden;
				width: auto;
				label {
					width: auto;
					margin-right: 0.5em;
				}
				input {
					width: auto;
				}
			}
		}
	}
	p.boutons {
		width: 72%;
		float: right;
		input {
		}
	}
}

.cadre-formulaire-editer {
	.formulaire_spip {
		&:extend{.formulaire_spip};
	}
}

#footer {
	background-color: @bg-success;
	color: @white;
	text-align: left;
	padding-top: 2em;
	padding-bottom: 2em;
	background-image: url('images/spip_forme_web_dark.png');
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: auto 50%;
	a {
		color: @white;
	}
	.menu_rubriques {

		h2 {
			display: none;
		}
		ul {
			> li {
				font-size: 1em;
				a {
					color: @gray-second;
					&:hover {
						color: @white;
						background-color: transparent;
					}
					i {
						min-width: 45px;
					}
				}
			}
		}
	}
}

// On style les inclures prive/objets/contenu/xxxx.html
	.champ {
		overflow: hidden;
		border-top: 1px solid @gray-lighter;
		padding-top: 1em;
		padding-bottom: 1px;
		margin-bottom: 1em;
		&.vide {
			visibility: hidden;
			display: none;
		}
		.label {
			color: black;
			display: block;
			float: left;
			font-size: 0.95em;
			hyphens: auto;
			line-height: 1.25em;
			margin-right: 1%;
			overflow: hidden;
			text-align: left;
			white-space: normal;
			width: 25%;
			word-wrap: break-word;
		}
		.span {
			width: 70%;
			float: right;
			text-align: left;
			display: block;
		}
	}

// formulaire de liens dans le front
.formulaire_editer_liens, .formulaire_editer_liens_simples {
	margin: 1em 0;
	display: block;
	overflow: hidden;
	position: relative;
	padding: 0.5em;
	border: 1px solid @brand-primary;
	.over {
		height: 1%;
		left: -3000em;
		position: absolute;
	}
	.toggle_box_link {
		position: absolute;
		right: 5px;
		top: 5px;
	}
	.selecteur {
		display: block;
		h3.titrem {
			background-color: @brand-primary;
			margin: 0 -0.5em 0.5em;
			font-size: 1.25em;
			font-weight: bold;
			padding: 0.5em;
		}
		.boutons {
			padding: 0.5em;
			border: 1px solid @brand-primary;
			background-color: lighten(@brand-primary, 10%);
			margin: 0.5em -0.5em -0.5em;
			text-align: right;
		}
	}
}
button {
	&.link {
		background: none repeat scroll 0 0 transparent;
		border: 0 none;
		color: @gray-dark;
		&:hover {
			text-decoration: underline;
		}
	}
}

// page de connexion au back office
.page_login {
	background-color: @bg-success;
	body {
		background-color: @bg-success;
	}
	#content {
		.cartouche {
			h1 {
				margin: 0 auto;
				width: 50%;
			}
		}
		.formulaire_menu_lang {
			width: 50%;
			float: right;
			margin: 1em auto;
			text-align: right;
		}
	}
	.container {
		margin-top: 2em;
		padding-top: 2em;
		padding-bottom: 2em;
		background-color: @white;
		> .row {
			position: relative;
			header {
				text-align: right;
				margin-bottom: 1em;
				h1 {
					overflow: hidden;
					margin-top: 0;
					margin-bottom: 1em;
					small {
						display: block;
					}
				}
			}
			div.col-md-6 {
				background-color: @white;
				padding-top: 2em;
				padding-bottom: 2em;
			}
		}
	}
}
.formulaire_login {
	#formulaire_login {
		width: auto;
		margin: 0 auto;
	}
	ul {
		padding-left: 0;
		margin: 0;
		list-style: none;
		li {
			position: relative;
			overflow: hidden;
			label {
				display: block;
				float: left;
				width: 42%;
				margin-right: 3%;
				padding: 10px 0;
				font-weight: normal;
			}
			&.obligatoire {
				label {
					font-weight: bold;
				}
			}
			.erreur_message {
				display: block;
				padding: 10px;
			}
			input {
				width: 55%;
				float: right;
				display: block;
				padding: 10px;
				font-size: 1em;
				height: auto;
				box-sizing: border-box;
				position: relative;
				&.password, &[type='password'] {
					&:before {
						content: "hello";
						display: block;
						width: auto;
						background-color: gray;
					}
				}
				&[type='checkbox'] {
					text-align: left;
					width: auto;
					float: left;
					margin: 10px 10px 10px 0;

				}
			}
			.details {
				width: 55%;
				float: right;
				display: block;
				padding: 5px 0;
			}
			#pass_securise {
				position: absolute;
				top: 10px;
				right: 5px;
			}
		}
	}
}

@media (max-width: 767px) {
	#aside {
		.menu {
			&.menu_pages {
				ul {
					> li {
						a {
							padding: 10px 0;
							text-align: center;
							i {
								min-width: inherit;
							}
						}
					}
				}
			}
		}
	}

}