@import 'css/variables.less';

html, body {
	height: 100%;
}

body {
	padding-top: 4em;
	padding-bottom: 4em;
	background-color: @main-color;
	background-image: url("https://unsplash.it/1280/800/?random&gravity=east");
	background-position: center;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;

}
div {
	background-color: transparent;
	section {
		max-width: 350px;
		margin: 0 auto;
		padding: 2em;
		background-color: contrast(@main-color);
		border-radius: 2em;
		box-shadow: 0 0 3em darken(@main-color, 20%);
		header {
			h1 {
				margin-top: 0;
				small {
					display: block;
				}
			}
		}
		.main {
			.formulaire_login {
				margin-top: 2em;
			}
		}
	}
}
