//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-darker:           lighten(#000, 13.5%); // #222
@gray-dark:             lighten(#000, 20%);   // #333
@gray:                  lighten(#000, 33.5%); // #555
@gray-light:            lighten(#000, 46.7%); // #777
@gray-lighter:          lighten(#000, 93.5%); // #eee

@gray-second:           #a8a8a8;
@gray-third:            #efefef;

@white:                 #ffffff;
@black:                 #000000;

@brand-primary:         #428bca;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

@bg-primary:            #1c7ebb;
@bg-primary-light:      #449dd5;
@bg-success:            #23ae89;
@bg-info:               #2ec1cc;
@bg-warning:            #ffb61c;
@bg-danger:             #e94b3b;
@bg-orange:             #f98e33;
@bg-violet:             #4A5171;
@bg-dark:               #666666;
@bg-bright:             #fafafa;
@bg-reverse:            white;
@bg-site:				#C9C9C9;


