<plugin>
	<nom> <!-- Nom du plugin -->
	oEmbed
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	b_b
	<br />Licence: [GPL3->http://www.gnu.org/licenses/gpl-3.0.html]
	</auteur>
	<version>
	0.9.10
	</version>
	<etat>
	test
	</etat>
	<description>
	oEmbed pour SPIP 2.1<br/>
	cette version limit&#xE9;e affiche le contenu associ&#xE9; aux URLs de type Flickr, YouTube, etc.
	</description>
	<prefix>
	oembed
	</prefix>

<!--
	<pipeline>
		<nom>renseigner_document_distant</nom>
		<inclure>oembed_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>post_edition</nom>
		<inclure>oembed_pipelines.php</inclure>
	</pipeline>
-->
	<pipeline>
		<nom>pre_propre</nom>
		<inclure>oembed_pipelines.php</inclure>
	</pipeline>
<!--
	<pipeline>
		<nom>insert_head</nom>
		<inclure>oembed_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head_css</nom>
		<inclure>oembed_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive_css</nom>
		<inclure>oembed_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>formulaire_charger</nom>
		<inclure>oembed_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>recuperer_fond</nom>
		<inclure>oembed_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>oembed_lister_providers</nom>
		<action></action>
	</pipeline>
-->
<!-- manque aussi le menu -->
	<necessite id='tw' version='[0.8.0;]' />
	<necessite id="SPIP" version="[2.1.0;]" />
	<categorie>multimedia</categorie>
</plugin>
