#minibando #minibando_bouton_feuillederoute > a#btn_feuillederoute {
	background-image: url("prive/themes/spip/images/feuillederoute-24.png");
	background-repeat:no-repeat;
	background-position:center center;
}