/* boutonstexte.css */
.boutonstexte {
	float: right;
}
.boutonstexte a {
    display: inline-block;
	position:relative;
	top: -10px;
	padding: 2px;
    height: 16px;
    width:16px;
}


div.onlytext {
	text-align: left;
	margin:0 auto!important;
	border:0 !important;
	padding:0 !important;
	float: none !important;
	color: black;
	width:19cm!important;
	font-size: 1em;
}

div.onlytext p {
	padding-bottom:0.5em!important;
}

.onlytext_wrapper {
	text-align:center !important;
	font-size: 76%;
	background-color:white;
}

@media print {

/* boutonstexte.css */
.boutonstexte {
	display:none;
}

div.onlytext {
	width:auto!important;
}

}
