/* --------------------------------------------------------------

	link.css
	Style des liens du site
	romy.tetue.net - GPL - 2011

-------------------------------------------------------------- */

a { background: transparent no-repeat right center; }

/* Liens internes */
a.spip_note {} /* liens vers notes de bas de page */
a.spip_ancre {} /* liens internes a la page */
a.spip_in {} /* liens internes */

/* Liens externes */
a.spip_out,
a.spip_url,
a.external { padding-right: 14px; background-image: url(img/external.gif); }

/* hreflang */
a[hreflang]:after { background: transparent; content: "\0000a0(" attr(hreflang) ")"; }

/* Liens courriel */
a.spip_mail,
a[href ^="mailto:"] { padding-right: 14px; background-image: url(img/mail.gif); }
a.spip_mail:before { content: ''; }

/* Liens vers encyclopedie */
a.spip_glossaire { padding-right: 14px; background-image: url(img/glossaire.gif); }

/* Documents a telecharger */
a.external[href$=".pdf"], a.external[href$=".PDF"],
a.external[href*=".pdf#"], a.external[href*=".PDF#"],
a.external[href*=".pdf?"], a.external[href*=".PDF?"],
a.download { padding-right: 14px; background-image: url(img/download.gif); }

/* Liens exposes */
.on { font-weight: bold; }

@media print {
a.external { padding-right: 0; background: none; text-decoration: underline; }
a.external:after { content: " (" attr(href) ") "; font-size: 90%; font-weight: normal; }
}