/* --------------------------------------------------------------

	link.css
	Style des liens du site
	romy.tetue.net - GPL - 2011

-------------------------------------------------------------- */

a {}

/* Couleurs des liens de SPIP */
a.spip_note {} /* liens vers notes de bas de page */
a.spip_ancre {} /* liens internes a la page */
a.spip_in {} /* liens internes */
a.spip_mail { color: #900; }
a.spip_mail:before { content: "\002709"; } /* liens vers un email */
a.spip_out { color: #009; } /* liens sortants */
a.spip_url { color: #009; } /* liens url sortants */
a.spip_glossaire { color: #060; } /* liens vers encyclopedie */
a.spip_glossaire:hover { text-decoration: underline overline; }
.on { font-weight: bold; } /* liens exposes */

/* Download */
#content a.external[href$=".pdf"], #content a.external[href$=".PDF"], #content a.external[href*=".pdf#"], #content a.external[href*=".PDF#"], #content a.external[href*=".pdf?"], #content a.external[href*=".PDF?"], .link-document {
    background: url(img/document.png) no-repeat scroll right center transparent;
    padding: 0 13px 0 0;
}

/* Services */
.spip_mail {}

/* External links */
a.external { padding-right: 14px; background: transparent url(img/external.gif) no-repeat right; }
a[hreflang]:after { background: transparent; content: "\0000a0(" attr(hreflang) ")"; }

@media print {
a.external { padding-right: 0; background: none; text-decoration: underline; }
a.external:after { content: " (" attr(href) ") "; font-size: 90%; font-weight: normal; }
}