<plugin>
	<nom>Ldap++</nom>
	<auteur>VincentL</auteur>
	<licence>&#169; 2009 - GPL</licence>
	<lien>http://contrib.spip.net/LDAP</lien>
	<icon>ldaplus.png</icon>
	<version>0.1.0</version>
	<etat>dev</etat>
    <slogan>Lier les auteurs &#224; un annuaire LDAP</slogan>
    <description>
		Ce plugin permet de choisir les valeurs du LDAP qui seront associ&#233;es &#224; la table auteur.
	</description>
	<prefix>ldaplus</prefix>
	<fonctions>
		ldaplus_fonctions.php
	</fonctions>
	<options>
		ldaplus_options.php
	</options>
	<pipeline>
		<nom>champs_ldap</nom>
		<inclure>ldaplus_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>champs_auteurs</nom>
		<inclure>ldaplus_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>champs_auteurs_elargis</nom>
		<inclure>ldaplus_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>memberOf</nom>
		<inclure>ldaplus_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version='[2.0.0;2.0.99]' />
	<chemin dir='' />
	<categorie>auteur</categorie>
</plugin>