.liste ul {
	background-color: #eeeeee;
   list-style-type: none;
   margin: 0;
   padding: 4px 0;
}

.liste ul li {
  display: inline;
  margin-left: 5px;
}

.liste ul {
	border-bottom: 1px solid #cccccc;
}

.liste ul.avec { 
  background: #b8ffb8;
 }

.liste ul.partie { 
  background: #b8b8dd;
 }

.liste ul li select {
	font-size: 90%;
}
