html { 
    -ms-content-zooming: none;
}
img { 
	border: 0;
	-ms-interpolation-mode: bicubic; 
}
body {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust:100%; 
	-moz-text-size-adjust:100%; 
	-ms-text-size-adjust:100%; 
	text-size-adjust:100%; 
}
