body {
	color: #000000;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	margin: auto;
	width: 640px;
}

#infos_ville {
	float: left;
	width: 400px;
	background: #FFFFFF;
	border: 2px solid #798F74;
	margin: 4px 0px 17px 0px;
	padding:0 0 5px 0;
}

#coordonnees {
	float: left;
	line-height: 12px;
	padding: 0px 0px 0px 10px;
}

#today_current {
	float: left;
	width: 400px;
	background: #C9EFC2;
	border: 2px solid #798F74;
	margin: 4px 0px 17px 0px;
	padding:0 0 5px 0;
}

#current_title {
	margin: 5px 0px 5px 10px;
	padding:0 0 0px 0;
}

#current_left {
	float: left;
	width: 260px;
}

#current_box {
	float: left;
	width: 234px;
	border: 1px solid #AFCFA8;
	background: #ffffff;
	margin: 11px 0px 0px 11px;
	padding:0 0 5px 0;
}

#current_box_icon {
	float: left;
	margin: 3px 0px -5px 7px;
}

#current_box_temp {
	float: left;
	color: #333333;
	font-size: 33px;
	font-weight: bold;
	margin: 20px 0px 0px 15px;
}

#current_box_cond {
	float: left;
	width: 95px;
	color: #333333;
	margin: 0px 0px 0px 15px;
}

#current_updated {
	float: left;
	font-size: 10px;
	color: #000000;
	width: 236px;
	padding: 6px 0px 0px 11px;
}

#current_right {
	float: left;
	color: #000000;
	line-height: 12px;
	width: 134px;
	padding: 12px 5px 5px 1px;
}

#current_bottom {
	float: left;
	width: 354px;
	text-align: center;
	font-weight: bold;
	padding: 12px 0px 0px 0px;
}
