/*
+--------------------------------------------+
| Tableau de bord 2.6 (06/2007) - SPIP 1.9.2
+--------------------------------------------+
| H. AROUX . Scoty . koakidi.com
| Script certifié KOAK2.0 strict, mais si !
+--------------------------------------------+
*/

/********* les tableaux *********/
table.tabbord td { border-bottom:1px solid #A2A2A2; }

table.tabbord td.right { text-align:right; }

table.tabbord td.center { text-align:center; }

tr.liste, th.liste { background-color: #FFFFFF; }

tr.stotal { font-weight: bold; background-color:#efefef;}

tr.entete {font-size: 120%; font-weight: bold; }

tr.comment { background-color:#FFFFFF; font-style: italic;}


/********* page tabbord_arbre *********/
.blocrub_at{
float:left;
max-width:75px;
min-height:30px;
padding:4px 0px 5px 3px;
text-align:left;
overflow:hidden;
/*background-color:#efefef;*/
}

.colint_at {
float:left;
min-width:40px;
min-height:30px;
padding-left:3px;
border-left:1px solid #bababa;
border-bottom:1px solid #bababa;
-moz-border-radius:5px;
/*background-color:#efefef;*/
}

.collien {
float:left;
min-width:10px;
padding-left:5px;
/*background-color:#efefef;*/
}

.colpuce {
position:relative;
z-index:10;
top:1px;
left:0px;
width:0px;
height:0px;
}

.lg_art {
border:1px solid #5F8F5F;
color:#307830; /* vert */
padding:0px 3px 0px 3px;
}

.datetab {
color:#969696;
}
