<plugin>
	<nom> <!-- Nom du plugin -->
	  <multi>
		[fr]Coloration Code
		[en]Code higlighting
		[it]Colorazione del codice
		</multi>
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	  Pierre Andrews (Mortimer) &amp; ARNO*
	</auteur>
	<version>
	  0.2
	</version>
	<etat>
	  stable
	</etat>
	<description>
	<multi>
	[fr]
	  Coloration syntaxique du code source dans SPIP

	  il suffit de mettre le code entre {{&lt;code class="langage">...&lt;/code>}} ou {{&lt;cadre class="langage">...&lt;/cadre>}}.
	  Les langages support&eacute;s sont ceux fournis par [->http://sourceforge.net/projects/geshi/].
	  [en]
	  Syntax higlighting of code placed in SPIP articles.

	  You just have to put it between the tags:{{&lt;code class="language">...&lt;/code>}} or  ou {{&lt;cadre class="langage">...&lt;/cadre>}}.
	  The possible languages are the ones supported by [->http://sourceforge.net/projects/geshi/].
	[it]
	Colorazione sintattica del codice utilizzato nel testo.

	Dovete solo utilizzare il segnaposto:  {{&lt;code class="linguaggio">...&lt;/code>}},  ou {{&lt;cadre class="langage">...&lt;/cadre>}}.
	&Egrave; compatibile con i linguaggi di [->http://sourceforge.net/projects/geshi/].
	  </multi>
	</description>
    <fonctions> <!-- fichier charge a chaque recalul de page -->
        coloration_code.php
    </fonctions>
	<prefix> 
	  coloration_code
	</prefix>
	<!-- Definitions des fonctions qui s'inserent dans les pipelines 
	La liste des pipelines disponibles est dans ecrire/inc_version ($spip_pipeline = ... ) 
	-->
	<pipeline>
		<nom>pre_typo</nom>
		<action>echappe</action>
		<inclure>coloration_code.php</inclure>
	</pipeline>
</plugin>
