/* CSS */
#galerie_carree { clear: both; }
#galerie_carree h2 { display: none; }
#galerie_carree .spip_logos { background: #fff; margin: 0 1em 2em 1em; padding: 0; border: 4px solid #dfdfdf; }
#galerie_carree .spip_logos.modulo1 { margin-left: 0; }
#galerie_carree .spip_logos a:focus .spip_logos,
#galerie_carree .spip_logos a:hover .spip_logos,
#galerie_carree .spip_logos a:active .spip_logos { border-color: #ccc; }