/* Oembed generique */
.oe-reference {}
.oe-cite {}

figure.oe-image-block {border: 1px solid #eee;background: #fff;text-align: center;width:80%;margin: 3em auto;overflow:hidden;padding:4px;}
figure.oe-image-block img {background: #fff;padding-bottom:4px;}
figure.oe-image-block figcaption {background:#eee;padding: 10px;text-align: left;}

.oe-link-block {overflow: hidden;}
.oe-link-block .link_logo {float: right;margin:0;margin-bottom: 10px;margin-left: 10px;border: 5px solid #ddd;}

.spip_documents .oembed {
	display: block;background: #f8f8f8;padding: 5px;border: 1px solid #eee;
}
.spip_documents span.oembed {display:inline-block;}

/* Photo */
.oembed_photo .oembed-source {display: none;}

/* Rich */
.oembed_rich {max-width:100%;position:relative;}
.oembed_rich .oe-rich {max-width:none !important;}
.oembed_rich .rwd-rich-container {position: relative;}
.oembed_rich .rwd-rich-container iframe {position: absolute;top:0;left: 0;width: 100%;height: 100%;z-index:2;}
.oembed_rich .rwd-rich-container>:last-child {margin-bottom:0;}
.oembed_rich .oembed.oe-rich {display: block;text-align: left}
.oembed_rich .oe-rich+.spip_doc_titre {margin-top: 0.5em;}
.oembed_rich .spip_doc_titre+.oembed-source {display: none;}
.oe-rich.async .rwd-rich-container {
	-webkit-transition: height .4s linear;
     -moz-transition: height .4s linear;
       -o-transition: height .4s linear;
          transition: height .4s linear;
}
.oe-rich.async .rwd-rich-container.oe-play-button {height:80px !important;}
@media (min-width:480px){
	.oembed_rich .async+.spip_doc_titre {position:absolute;top:0.5em;left:90px;width:auto;right:90px;text-align:left;}
	.oembed_rich .oe-play-button button {left:40px;}
	.oembed_rich .oe-play-button {background-position:top right !important;background-size:contain !important;}
}

.oembed.oe-link.oe-rich .oe-html {display: block;}
.oe-rich > .rwd-rich-container >blockquote {font-style: normal;}

/* Video */
.oembed_video {max-width: 100%;}
.oembed_video .rwd-video-container {position: relative;}
.oembed_video .rwd-video-container iframe {position: absolute;top:0;left: 0;width: 100%;height: 100%;}
.oembed_video .oembed-source {display: none;}
.oembed_video .oe-video {margin-left: auto;margin-right: auto;}
.oembed_video .oe-video+.spip_doc_titre {margin-top: 0.5em;}

/* Play button */
.oe-play-button {position: relative;cursor: pointer;}
.oe-play-button button {text-indent:-5000em; cursor: pointer; position: absolute;display: block;padding:0;left: 50%;top: 50%;border: none;background:#000;width: 66px;height: 66px;margin-left: -33px;margin-top: -33px;z-index:10;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.oe-play-button button:before {content:"";position: absolute;top:-1px;left:-1px;display: block;padding:0;border:4px solid #ddd;width: 68px;height: 68px;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.oe-play-button button:after {content:"";position: absolute;display: block;left: 50%;top: 50%;border-left:20px solid #ddd;border-top:10px solid transparent;border-bottom:10px solid transparent;margin-left: -7px;margin-top: -10px;z-index:11;}
.oe-play-button_label {position: fixed; left: -5000em;}
.oe-play-button:hover button,.oe-play-button button:focus {background-color: #DD2826;}
.oe-play-button:hover button:before,.oe-play-button button:focus:before{border-color:#fff;}
.oe-play-button:hover button:after,.oe-play-button:hover button:focus:after{border-left-color:#fff;}

/* Legende */
.oe-title {}
.oe-author {font-style: italic;}
.oe-author_name {}

/* Cas particuliers */
/* Storify */
.oembed .storify .oembed {margin: 3em auto;text-align: center;}
.oembed .storify .oembed iframe,.oembed .storify .oembed object {margin: 0 auto;}
.storify .oe-quote-text {margin-bottom:0;}

/* Twitter */
.oe-quote-block {padding-right: 80px;position: relative;}
.oembed_twitter .oembed-source {display: none;}
.oembed_twitter .oe-rich {max-width:none !important;}

.oe-descriptif {font-style: italic;}
.oe-quote-text {}
.oe-quote-user-block img {position: absolute;top:0;right:20px;max-width: 48px;height: auto;}
.oe-quote-meta,.oe-quote-user-block {display: inline;}
.oe-quote-meta .via {display: none;}

.oe-fb-user-block img {float:left;margin-right: 10px;margin-bottom:10px;}
.oe-imdb-title img {float:left;margin-right: 10px;margin-bottom:10px;}

/* Soundcloud */
.oembed_audio .oe-play-button button {background:#FF4B00;}
.oembed_audio .oe-play-button button:before {border-color:#eee;}
.oembed_audio .oe-play-button:hover button{background-color: #DD2826;}
.oembed_audio .oe-play-button:hover button:before{border-color:#fff;}

/* Mastodon */
.oembed_mastodon .oe-rich {max-width:none !important;background: #f8f8f8;padding: 15px;border-radius: 4px;margin: 1em auto;}
.oembed_mastodon .rwd-rich-container {height: auto !important;}
.oembed_mastodon .oembed-source {display: none;}
.oembed_mastodon .spip_doc_titre {display: none;}
.mastodon-toot {padding:0;margin:0;padding-left:63px;font-family: Arial,Helvetica,Sans-Serif;font-size: 1.0em;line-height: 1.5em;}
.mastodon-toot a {background: transparent !important;text-decoration: none !important;}
.mastodon-toot .emoji-sizer {vertical-align: top;}
.mastodon-toot .toot-published {float: right;color:#9baec8;}
.mastodon-toot .toot-published:active,.mastodon-toot .toot-published:focus,.mastodon-toot .toot-published:hover {text-decoration: underline !important;}
.mastodon-toot .toot-author-url {color:#9baec8;}
.mastodon-toot .toot-author-thumbnail {float: left;margin-left:-63px;margin-top:4px;width: 48px;height: 48px;border-radius: 4px;}
.mastodon-toot .toot-author-screen-name {color:#282c37;}
.mastodon-toot .toot-author-url:active .toot-author-screen-name,.mastodon-toot .toot-author-url:focus .toot-author-screen-name,.mastodon-toot .toot-author-url:hover .toot-author-screen-name {text-decoration: underline;}
.mastodon-toot .toot-content {display:block;margin: 0.75em 0 0.25em;}
.mastodon-toot .toot-content p {margin-bottom: 0.75em;}
.mastodon-toot .toot-content p:last-child {margin-bottom: 0;}
.mastodon-toot .toot-content a {color:#2b90d9;}
.mastodon-toot .toot-content a:active,.mastodon-toot .toot-content a:focus,.mastodon-toot .toot-content a:hover {text-decoration: underline !important;}
.mastodon-toot .invisible {display: none}
.mastodon-toot .ellipsis::after {display: inline;content:'\2026'}
.mastodon-toot .toot-enclosure {display: inline-block;position: relative;width: 100%;height: 0;padding-bottom:40%;margin: 0.25em 0;}
.mastodon-toot .toot-enclosure .toot-enclosure-inner {display:block;position:absolute;top:0;left: 0;height: 100%;width: 100%;vertical-align: middle;overflow: hidden;background-position: center;background-repeat: no-repeat;background-size: cover;}
