<plugin>
	<nom>
		<multi>[fr]Varicelle[en]Varicella[es]Varicela</multi>
	</nom>
	<prefix>varicelle</prefix>
	<icon>icon/varicelle.png</icon>

	<version>2.2.6</version>
	<etat>test</etat>
	<categorie>outil</categorie>
	
	<slogan>
		<multi>[fr]De jolis boutons&nbsp;![en]Pretty buttons![es]¡Botones bonitos!</multi>
	</slogan>
	<description>
		<multi>
			[fr]De jolis boutons&nbsp;: s&#233;duisants, l&#233;gers et performants, pour styler tous les boutons du site. S'applique &#224; tout ce qui porte le s&#233;lecteur <code>.btn</code> y&nbsp;compris les boutons des formulaires&nbsp;SPIP.
			[en]Pretty buttons: seductive, light and powerful, to stylize all buttons on the site. Applies to anything with the <code>.btn</code> selector, including SPIP forms buttons.
			[es]Botones bonitos: seductor, ligero y potente, para estilizar todos los botones en el sitio. Se aplica a cualquier cosa con el selector <code>.btn</code> incluyendo los botones SPIP formas.
		</multi>
	</description>
	<lien>https://contrib.spip.net/Varicelle-2?var_mode=preview</lien>
	<auteur>[Tetue->http://spip.tetue.net] - 2010-2016</auteur>

	<options>varicelle_options.php</options>
	<pipeline>
		<nom>insert_head_css</nom>
		<inclure>varicelle_pipelines.php</inclure>
	</pipeline>

	<necessite id="SPIP" version="[1.9.1;3.2.99]" />
</plugin>
