<plugin>
	<nom> <!-- Nom du plugin -->
	  tag-machine
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	  Pierre Andrews (mortimer.pa@free.fr), BoOz (booz@rezo.net)
	</auteur>
	<version>
	  0.1
	</version>
	<etat>
	  dev
	</etat>
	<description>
	  <multi>
		[fr] outil pour ajouter des tags (mots clefs) (un peu le bordel actuellement). Necessite un groupe de mot cles nomme tags
		[en] tool to add tags (keywords) (a bit of a mess right now)
	  </multi>
	</description>
	<lien></lien> <!-- URI de documentation -->
	<options>
		tag-machine_options.php
	</options>
	<fonctions>
		tag-machine_fonctions.php
	</fonctions>
	<prefix>
	  tag_machine
	</prefix>
	<!--rien d'autre, on fournit juste un inc-->
</plugin>
