<plugin>
  <nom> <!-- Nom du plugin -->
  Menus deroulants
  </nom>
  <auteur>        <!-- Auteur du plugin -->
  cedric@notre-ville.net [notre-ville.net->http://www.notre-ville.net]
  </auteur>
  <version>
  0.1
  </version>
  <etat>
  dev
  </etat>
  <description>
  Fonctionalit&eacute; menu d&eacute;roulant
  </description>
	<lien></lien> <!-- URI de documentation -->
  <fonctions>
  menuder_fonctions.php
  </fonctions>
  <prefix>
  menuder
  </prefix>
  <pipeline>
  	<nom>insert_head</nom>
  	<inclure>menuder_fonctions.php</inclure>
  </pipeline>
</plugin>
