div#top h1{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#contenu{margin: 0}
div#conteneur{float:left;width:70%}
div#navigation{float:right;width:29.9%}
div#extra{clear:both;width:100%}