/* Style des liens externes
---------------------------------------------- */
a {}
a[hreflang]:after { background : transparent; content: "\0000a0(" attr(hreflang) ")"; color: #CCC; }
a.spip_out { padding-right: 14px; background: transparent url(img/spip_out.gif) no-repeat right; }