<plugin>
<nom>Liens explicites</nom>
<icon>icon.png</icon>
<description>Styles et pictos explicitant les liens du site : documents &agrave; t&eacute;l&eacute;charger, liens externes, mailto, etc.</description>
<lien>http://www.spip-contrib.net/liens-sortants-ouvrants</lien>
<auteur>[romy.tetue.net->http://romy.tetue.net] et C&eacute;dric Morin</auteur>
<licence>(c) GPL 2011</licence>
<version>2.0</version>
<etat>dev</etat>
<prefix>links</prefix>
<necessite id='SPIP' version='[2.0.0;]' />
<pipeline>
	<nom>insert_head</nom>
	<inclure>links_pipelines.php</inclure>
</pipeline>
<categorie>navigation</categorie>
</plugin>