<plugin>
	<nom> <!-- Nom du plugin -->
	Mode "propres2" personalis&eacute;
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	Gilles Vincent
_ &copy; 2006 - Distribu&eacute; sous licence GNU/GPL
	</auteur>
	<version>
	0.1
	</version>
	<etat>
	test
	</etat>
	<description>
	Pour un site dont l'architecture est essentiellement bas&eacute;e sur des rubriques, la r&eacute;&eacute;criture classique des urls peut &ecirc;tre g&ecirc;nante. Ce plugin permet d'inverser les repr&eacute;sentations des rubriques et des articles. Seuls ces derniers commencent donc par un tiret (un seul, car deux m'ont paru inutiles). Ce plugin se substitue au mode propre2. Donc pour l'activer il faut aussi pr&eacute;ciser dans mes_options.php : $type_urls = "propres2";
	</description>
	<dependances>
		<spip>
			<version>
			1.9.2 alpha 2 SVN [7956] (version testée)
			</version>
		</spip>
		<plugins>
		</plugins>
	</dependances>
	<prefix> 
	propres3
	</prefix>
	<options>
	</options>
</plugin>
