<plugin>
	<nom><multi>[fr]SPIP-Listes[en]SPIP-Lists[ar]&#1604;&#1608;&#1575;&#1574;&#1581; SPIP</multi></nom>
	<auteur>[BoOz->BoOz@rezo.net]</auteur>
	<version>1.97.0</version>
	<etat>test</etat>
	<icon>spip-listes.png</icon>
	<slogan>
		<multi>
			[fr]Listes d'informations par email
			[en]Newsletter by e-mail
			[ar]&#1606;&#1588;&#1585;&#1577; &#1576;&#1585;&#1610;&#1583;&#1610;&#1577;
			[es]Listas para informar por email (emails y boletines informativos)
		</multi>
	</slogan>
	<description>
		<multi>
			[fr]SPIP-listes permet la gestion et l'envoi de lettres d'information (newsletters) au moyen d'un courriel au format html ou texte. Il est possible d'envoyer des messages aux abonn&#233;s qui se sont formellement inscrits &#224; une ou plusieurs lettres d'information via un formulaire d'inscription.
			[en]Newsletter by e-mail
			[ar]&#1606;&#1588;&#1585;&#1577; &#1576;&#1585;&#1610;&#1583;&#1610;&#1577;
			[es]Listas para informar por email (emails y boletines informativos)
		</multi>
	</description>
	<options>spiplistes_mes_options.php</options>
	<fonctions>spiplistes_mes_fonctions.php</fonctions>
	<prefix>spiplistes</prefix>
	<install>base/spiplistes_upgrade.php</install>
	<lien>http://contrib.spip.net/SPIP-Listes</lien>
	<pipeline>
		<nom>ajouter_boutons</nom>
		<action>ajouterBoutons</action>
		<inclure>spiplistes_boutons.php</inclure>
	</pipeline>
	<pipeline>
		<nom>taches_generales_cron</nom>
	</pipeline>
	<chemin dir='' />
	<necessite id="SPIP" version="[1.9.0;1.9.2]" />
	<categorie>communication</categorie>
</plugin>
