<plugin>

    <nom>En grève</nom>
	<licence>GPL</licence>
    <categorie>communication</categorie>
    <auteur>[Maïeul Rouquette->http://www.maieul.net]</auteur>
    <version>0.1.0</version>
    <version_base>0.1</version_base>
  	<slogan>Ce n'est qu'un début, continuons le combat !</slogan>
    <etat>dev</etat>
	<install>base/greves_upgrade.php</install>
    <description>Permet de mettre temporairement un site hors service pour protester</description>
      <prefix>greves</prefix>
   	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<pipeline>
        <nom>declarer_tables_interfaces</nom>
        <inclure>base/greves.php</inclure>
	</pipeline>
	<pipeline>
        <nom>declarer_tables_principales</nom>
        <inclure>base/greves.php</inclure>
	</pipeline>
	<bouton id='greves' parent='naviguer'>
        <titre>greves:greves</titre>
	</bouton>
	<bouton id='greves2' parent='bando_edition'>
        <titre>greves:greves</titre>
        <url>greves</url>
	</bouton>
	<pipeline>
        <nom>autoriser</nom>
        <inclure>greves_autorisations.php</inclure>
	</pipeline>
	<necessite id='spip_bonux' />
	<necessite id='saisies' />
	<utilkse id="Z" />
	<options>greves_options.php</options>
	<pipeline>
		<nom>styliser</nom>
		<inclure>greves_pipelines.php</inclure>
	</pipeline>
</plugin>
