h1 { text-align: center }

#sitra_menu {
    list-style: none;
    padding: .2em;
    border: 1px silver dotted;}
   
#sitra_menu li {
    margin: 5px;
    padding: .5em;
    border: 1px silver dotted;
    background-color: #f0f0f0;}
   
#sitra_menu li.en_cours { font-weight: 700;}

/* partie principale */
.sitra_main { min-height: 400px; }

/* liste */
#liste_objets { }
#liste_objets dd {
    margin: 0;
    padding: .5em;
    background-color: #f0f0f0;
    border: 1px silver dotted;
}
#liste_objets dt strong:hover {
    text-decoration: underline overline;
    cursor: pointer;
}
/* un objet */
dl.objet > dt { margin-top: 1em }
dl.objet > dt strong:hover {
    text-decoration: underline overline;
    cursor: pointer;
}
dl.objet > dd { margin: 0 }
/*clic */
.afficher_masquer:hover {
    cursor: pointer;
    text-decoration: underline overline;
}
.action_clic { text-align: right }