<plugin>
	<nom>
	<multi>
	[fr]Formulaire Upload
	[it]Modulo di upload
	</multi>
	</nom>
	<slogan>Formulaire public pour charger des documents</slogan>
	<auteur>fil@rezo.net</auteur>
	<version>0.3.3</version>
	<etat>dev</etat>
	<icon>images/formupload-32.png</icon>
	<description>
		<multi>
		[fr]Permet &#224; chaque r&#233;dacteur d'uploader des documents dans sa bo&#238;te perso
		[it]Consente ad ogni redattore di effettuare l'upload di documenti in un suo spazio personale
		</multi>
	</description>
	<prefix>FormulaireUpload</prefix>
	<lien>http://contrib.spip.net/Formulaire-upload</lien>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/formulaire_upload.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>formulaire_upload_pipelines.php</inclure>
	</pipeline>
	<necessite id='spip' version='[2.0.0;2.1.99]' />
	<categorie>outil</categorie>
</plugin>