<plugin>
	<nom> <!-- Nom du plugin -->
	<multi>
	[es]
	Edicion grupal de articulos
	</multi>
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	Martin Gaitan
	</auteur>
	<version>
	0.1
	</version>
	<description>
	Este plugin permite la edición grupal de atributos de los articulos. Estado, asignacion de palabras claves, seccion, etc. 
	</description>
	<!-- classe d'implementation : espace de nommage qui prefixera les appels de fonction-->
	<prefix>
	EdicionGrupal
	</prefix>
	<!-- Definitions des fonctions qui s'inserent dans les pipelines -->
	<pipeline>
  	<nom>header_prive</nom>
	 <inclure>edicion_grupal.php</inclure>
	 </pipeline>
	<pipeline>
		<nom>ajouter_boutons</nom>
		<action>ajouterBoutons</action>
		<inclure>edicion_grupal.php</inclure>
	</pipeline>



	<chemin dir='' type='prive' />
</plugin>
