<plugin>
	<nom>Interface Th&eacute;lia</nom>
 	<version>1.4</version>
	<prefix>spip_thelia</prefix>
 	<auteur><br />Arnault Pachot et Gilles Vincent : d&eacute;veloppement<br />Claude Chadoutaud : squelettes pour beeSpip<br />Aur&eacute;lien Dumas : squelettes par d&eacute;faut</auteur>
 	<description>Plugin permettant d'utiliser les boucles Th&eacute;lia dans vos squelettes <br/>
	[acc&egrave;s au panneau de configuration du plugin spipTh&eacute;lia->.?exec=cfg&amp;cfg=spip_thelia] 
	<br/>Distribu&eacute; sous licence GNU/GPL   </description>
	
	<lien>http://www.spip-contrib.net/Plugin-Thelia</lien> <!-- URI de documentation -->
 	<etat>stable</etat>
 	<options> <!-- fichier charge a chaque hit -->
		spip_thelia_mes_options.php
	</options>
	<fonctions>
		spip_thelia_fonct.php
	</fonctions>
	<pipeline>
  		<nom>affichage_final</nom>
  		<action>appeler_moteur_thelia</action>
  		<inclure>spip_thelia_fonct.php</inclure>
 	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<action>header_prive</action>
		<inclure>spip_thelia_fonct.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head</nom>
		<action>insert_head</action>
		<inclure>spip_thelia_fonct.php</inclure>
	</pipeline>
	<pipeline>
		<nom>ajouter_boutons</nom>
		<action>ajouter_boutons</action>
		<inclure>spip_thelia_fonct.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_milieu</nom>
		<action>affiche_milieu</action>
		<inclure>spip_thelia_fonct.php</inclure>
	</pipeline>
	<pipeline>
		<nom>post_typo</nom>
  		<action>supprimer_balises_thelia</action>
  		<inclure>spip_thelia_fonct.php</inclure>
	</pipeline>
	
	<install>base/spip_thelia_upgrade.php</install>
	<icon>img_pack/logo_thelia.png</icon>
 	<necessite id="CFG" version="[1.0;]" />
	<necessite id='SPIP' version='[1.9.0;]' />
	<categorie>divers</categorie>
	<utilise Z />
</plugin>
