/*  ----------------------------------------------------------- */
/*  Feuilles de styles des squelettes spip-thelia		*/
/*  ----------------------------------------------------------- */
.ficheProduit { float: left; width: 470px; margin-left: 10px; }
.caracteristiqueProduit ul { padding-left: 0; }
.caracteristiqueProduit ul li { list-style: none; }

.formulaire_livraison label, .formulaire_paiement label, .formulaire_reduction label { display: inline; }

.bouton-actualiser { border: none; background: none; text-decoration: underline; color: #7A6D2C; vertical-align:text-bottom; }

.boutonMonCompteContenu, .lien-etapes-thelia { text-align: right; margin: 10px; }
.boutonMonCompteContenu a, .lien-etapes-thelia { color: #7A6D2C; text-decoration: underline; }
.bouton-etapes-thelia { float: right; }

a.lien-retour-thelia { color: #666; text-decoration: underline; font-size: .9em; }

.lien-thelia-precedent { float: left; clear: left; }

.obligatoire { color: #FF0000; }

.formulaire-thelia fieldset, .formulaire-produit fieldset { border: none; padding: 0; }
.formulaire-produit { float: left; }
.formulaire-produit .boutons { margin-top: .5em; }
.formulaire-produit .declinaisonProduit select { width: auto; display: inline; padding-right:1em; }
.formulaire-produit .prixProduit small { display: block; } 
/* style propre aux modeles <produit>*/

.produits_thelia { float: left; clear: left; margin-right: 1em; }
.thelia_promo {	font-size: 1.1em; color: #F60; font-weight: bold; }
.thelia_reappro { font-style: italic; font-size: .9em; }
.autres-images-produit { clear: both; }

#infos_etapes { height: 63px; overflow: hidden; margin: 0; padding: 0; padding-left: 10px; background: #8c8c8c url(../../../prive/images/degrade-etapes-clair-left.gif) no-repeat right top; text-align: left; font-family: helvetica, arial, sans; list-style: none; }
#infos_etapes.infos_etape_4 { background-image: url(../../../prive/images/degrade-etapes-vert-left.gif); background-color: green; }
#infos_etapes li { float: left; margin-left: -28px; padding-left: 24px; background: url(../../../prive/images/degrade-etapes-fonce-left.gif) no-repeat left top; color: #555; text-align: left; font-size: 0.85em; line-height: 1.05em; }
#infos_etapes li .fond { width: 8em; height: 69px; padding-right: 2em; padding-top: 10px; background: url(../../../prive/images/degrade-etapes-fonce-left.gif) no-repeat -30px top; }
#infos_etapes li a {color: #555555; }
#infos_etapes li em {float:left;position:absolute;top:-1000px;}
#infos_etapes li span.numero_etape { float: left; display: block; height: 50px; padding: 7px 3px 0 3px; font-weight: bold; font-size: 3em; }
#infos_etapes li.on { background-image: url(../../../prive/images/degrade-etapes-vert-left.gif); color: #fff; font-weight: bold; }
#infos_etapes li.on .fond { background-color: #88f560; background-image:  url(../../../prive/images/degrade-etapes-vert-left.gif); }
#infos_etapes li.erreur { background-image: url(../../../prive/images/degrade-etapes-rouge-left.gif); }
#infos_etapes li.erreur .fond { background-color: #ff6868; background-image: url(../../../prive/images/degrade-etapes-rouge-left.gif); }
#infos_etapes li.prochains { background-image: url(../../../prive/images/degrade-etapes-clair-left.gif); }
#infos_etapes li.prochains .fond { background-color: #dbdbdb;background-image: url(../../../prive/images/degrade-etapes-clair-left.gif); }
