<plugin>
	<nom><multi>[en]Invoices &amp; Quotations[fr]Factures &amp; Devis</multi></nom>
	<icon>images/factures-32.png</icon>

	<version>0.0.3</version>
	<version_base>1.0.1</version_base>
	<install>base/factures_upgrade.php</install>

	<auteur>Cyril Marion, [Ateliers CYM->http://www.cym.fr], Camille Lafitte, [Webelys->http://www.webelys.com], Matthieu Marcillaud, [Magraine->http://magraine.net]</auteur>	
	<licence>GPL</licence>
	<etat>experimental</etat>
	
	<slogan><multi>
	[fr]Faire des devis et facturer
	[en]Making quotations and invoicing
	</multi></slogan>

	<description><multi>
	[fr]Le plugin Factures & Devis permet de créer facilement des offres commeciales et des factures avec SPIP.
_ Chaque facture est liée à un auteur SPIP, qui peut (ou pas) être un Contact ou une Organisation.

Le plugin nécessite les plugins suivants :
- Coordonnées, pour pouvoir gérer les adresses postales
- C&amp;O, afin de pouvoir différencier Contacts et Organisations

Le plugin utilise (sans les nécessiter) les plugins suivants :
- Commandes, afin de pouvoir éditer la facture correspondant à une commande
- Projets, afin que les actions d'un projet puissent etre liés à une facture

	[en]Invoicing with SPIP (description to be translated when stable...)
	</multi></description>
	<lien></lien>
	
	<prefix>factures</prefix>
	
	<categorie>edition</categorie>
	<fonctions>factures_fonctions.php</fonctions>


	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/factures.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/factures.php</inclure>
	</pipeline>

	<!-- configurer le plugin -->
	<bouton id="config_factures21" parent="bando_configuration">
		<titre>factures:bouton_configurer_factures</titre>
		<icone>images/factures-16.png</icone>
		<url>config_factures</url>
	</bouton>

	<!-- éditer les factures -->
	<bouton id='factures21' parent='bando_edition'>
		<icone>images/factures-16.png</icone> 
		<titre>factures:bouton_factures</titre> 
		<url>factures</url> 
	</bouton>
	<!-- si le bandeau n'est pas présent -->
	<bouton id='factures' parent='naviguer'> 
		<icone>images/factures-16.png</icone> 
		<titre>factures:bouton_factures</titre> 
		<url>factures</url> 
	</bouton>
	<bouton id="config_factures" parent="naviguer">
		<titre>factures:bouton_configurer_factures</titre>
		<icone>images/factures-16.png</icone>
		<url>config_factures</url>
	</bouton>


	<!--pipeline>
		<nom>insert_head</nom>
		<inclure>factures_pipelines.php</inclure>
	</pipeline-->
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<necessite id="coordonnees" version="[1.4.0;]" />
    <necessite id="mots_objets" version="[1.0.0;]" />

    <utilise id="contacts" version="[1.4.0;]" />

</plugin>
