<plugin>
        <nom>Plugin phpmailer</nom>
        <auteur>BoOz@rezo.net</auteur>
        <version>1.9</version>
        <etat>dev</etat>
        <description>Class email phpmailer http://phpmailer.sourceforge.net/ , mise en plugin de par BoOz BoOz@rezo.net </description>
        <options></options>
        <fonctions></fonctions>
        <prefix>phpmailer</prefix>
		<lien></lien>
        <pipeline>
                <nom></nom>
                <action></action>
                <inclure></inclure>
        </pipeline>
      
</plugin>