<plugin>
<nom>Commentaires</nom>
<auteur>[romy.tetue.net->http://romy.tetue.net] - 2009</auteur>
<licence>GPL</licence>
<version>1.0</version>
<etat>dev</etat>
<description>PLUGIN INSTABLE, encore en d&eacute;veloppement.
_ Remplace le traditionnel #FORMULAIRE_FORUM de SPIP par un formulaire de commentaires (plus succint) et affiche une liste des commentaires.
_ Le plugin gravatar ajoutera un avatar &agrave; chaque message.</description>
<prefix>commentaires</prefix>
<necessite id='SPIP' version='[1.9.0;]' />
</plugin>