<plugin>
	<nom>Belles puces</nom>
	<prefix>bellespuces</prefix>
	<icon>bellespuces.png</icon>	
	<version>0.1.4</version>
	<etat>stable</etat> 	
	<auteur>[J&#233;r&#244;me Combaz->http://conseil-recherche-innovation.net/le-cri/jerome-combaz]</auteur>
	<licence>GNU/GPL</licence>
	
	<slogan>De vraies listes &#224; puces avec &#171;&#160;<code>-</code>&#160;&#187;, comme &#171;&#160;<code>-*</code>&#160;&#187; !</slogan>
	<description>
	Ce plugin traite le raccourci SPIP &#171;&#160;<code>-</code>&#160;&#187; comme &#171;&#160;<code>-*</code>&#160;&#187;, g&#233;n&#233;rant de vraies listes (<code>ul/li</code>) dans les deux cas.
	</description>
	<lien>http://contrib.spip.net/3724</lien>
	
	<pipeline>
		<nom>pre_typo</nom>
		<action>pre_typo</action>
	 <inclure>bellespuces.php</inclure>
	</pipeline>
	
	<categorie>edition</categorie>
	<necessite id="SPIP" version="[1.9.0;3.1.99]" />
</plugin>