<plugin>
        <nom>Plugin SPIP-Lettres</nom>
        <auteur>[Atypik Cr&eacute;ations->http://www.atypik-creations.fr]</auteur>
        <version>SVN</version>
        <etat>dev</etat>
        <description>Gestion de lettres d'information</description>
        <options>lettres.php</options>
        <fonctions>lettres.php</fonctions>
        <prefix>lettres</prefix>
		<lien>[Documentation->http://trac.rezo.net/trac/spip-zone/wiki/SpipLettres]</lien>
        <pipeline>
                <nom>ajouter_boutons</nom>
                <action>ajouter_boutons</action>
                <inclure>lettres.php</inclure>
        </pipeline>
</plugin>