<plugin>
        <nom>Plugin SPIP-Lettres</nom>
        <auteur>[Atypik Cr&eacute;ations->http://www.atypik-creations.fr]</auteur>
        <version>1.3</version>
        <etat>stable</etat>
        <description>Gestion de lettres d'information</description>
        <options>lettres.php</options>
        <fonctions>lettres.php</fonctions>
        <prefix>lettres</prefix>
		<lien>[Documentation->http://trac.rezo.net/trac/spip-zone/wiki/SpipLettres]</lien>
        <pipeline>
                <nom>ajouter_boutons</nom>
        </pipeline>
        <pipeline>
                <nom>header_prive</nom>
        </pipeline>
        <pipeline>
                <nom>taches_generales_cron</nom>
        </pipeline>
</plugin>