<plugin>

	<version>0.1</version>
	
	<nom><multi>[fr]Bolo - Outils pour cr&eacute;er du faux texte[en]Bolo - Tools to create fake text</multi></nom>
	
	<prefix>bolo</prefix>

	<auteur>Cyril MARION - &#169; 2010 - [Ateliers CYM->http://www.cym.fr]</auteur>
	
    <licence>Licence GNU/GPL</licence>

	<etat>stable</etat>
	
	<icon>images/bolo-128.png</icon>
	
	<lien>http://www.spip-contrib.net/Bolo</lien>

	<description><multi>[fr]Ce plugin permet d'ins&eacute;rer tr&egrave;s facilement du faux texte dans les articles ou dans les squelettes, en sp&eacute;cifiant le nombre de caract&egrave;res souhait&eacute;s. La version actuelle permet d'ins&eacute;rer du texte latin; une future version permettra d'ins&eacute;rer du texte latin ou fran&ccedil;ais accentu&eacute;.[en]This plugin allows to easily insert fake text with an ajustable number of characters, into SPIP articles or into SPIP templates. This version inserts text in latin language, a future version will offer the choice between latin or French language texts.</multi></description>

	<fonctions>bolo_fonctions.php</fonctions>
	
	<categorie>divers</categorie>
	
</plugin>