<plugin>
	<nom> <!-- Nom du plugin -->
	Supprimer le numéro
	</nom>
	<auteur>	<!-- Auteur du plugin -->
 	collectif 
_ &copy; 2006 - Distribu&eacute; sous licence GPL
	</auteur>
	<version> <!-- Version du plugin -->
	0.1
	</version>
	<etat> <!-- Etat du plugin, au choix : dev (developpement), test, stable, experimental -->
	test
	</etat>
	<description>
	Applique la fonction spip supprimer_numero à l'ensemble des titres du site, sans qu'elle soit présente dans les squelettes. 
	</description>
	<options> <!-- fichier options (comme l'ancien mes_options.php) charge a chaque hit !! ne surtout pas l'appeler mes_options -->
	supprimer_numero_options.php
	</options>
</plugin>