<plugin>
	<nom>S&eacute;lection d'objets</nom>
	<auteur>[Rainer Müller->websolutions@mychacra.net] -  [www.mychacra.net->http://www.mychacra.net/]</auteur>
	<version>0.2.0</version>
	<version_base>0.1</version_base>
	<etat>stable</etat>
	<description>
	Le plugin S&eacute;lection d'objets, est une adaptation du plugin sélection d'objet, mais perrmet de choisir égalemen,t des rubriques. Prise en compte des langues des objets</description>
	<lien></lien> <!-- URI de documentation -->
	<licence>GPL 3</licence>
	<prefix>so</prefix>
	<icon>imgs/emblem-favorite.png</icon>
	<bouton id="selection_objet_edit" parent="naviguer">
		<icone>imgs/emblem-favorite.png</icone>
		<titre>Favoris</titre>   
		<url>favoris</url>   
    	</bouton>
	<install>base/so_upgrade.php</install>
	<fonctions>so_fonctions.php</fonctions>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/so_install.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/so_tables_interfaces.php</inclure>
		<action>init_tables_interfaces</action>
	</pipeline>	
	<pipeline>
		<nom>affiche_milieu</nom>
		<inclure>so_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_gauche</nom>
		<inclure>so_pipelines.php</inclure>
	</pipeline>

	<necessite id="SPIP" version="[2.1.0;]" />
	<necessite id="spip_bonux" version="[2.2.10;]" />
	<necessite id="cfg" version="[1.15.2;]" />	
</plugin>

