@charset 'UTF-8';

.tmp-upload {
  clear: both;
  width: 100%;

  &:after {
      content: "\0020";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
      overflow: hidden;
  }

  .image {
      float: left;
      border: 1px solid;
      text-align: center;
      margin: {
        left: 5px;
        right: 5px;
        bottom: 5px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      padding: 10px;

      .supprimer {
        clear: both;
      }
  }
}
