/*
DW2 2.14 03/2007 
class formulaires dw2_alerte(1,2 et 3)
*/
#dw2_alerte {
	position:absolute;
	z-index: 1000;
	top:50%;
	left:50%;
	margin-top:-150px;
	margin-left:-150px;
	width:300px;
	min-height:200px;
	padding:10px;
	background-color: #F1F0CA; /* jaune */
	border: 4px solid #A00000; /* rouge */
	-moz-border-radius:9px;
	/* -moz-opacity: 0.8; filter: alpha(opacity=80); */
	font-size: 12px;
	font-family:Verdana, Arial;
	text-align:center;
}
