<plugin>
<nom>Mod&#232;le <code><doc></code> unifi&eacute;</nom>
<prefix>medoc</prefix>
<icon>icon/medoc.png</icon>

<version>0.1.6</version>
<etat>dev</etat>
<categorie>edition</categorie>

<slogan>Insertion facile des documents</slogan>
<description>Rustine unifiant le comportement et la syntaxe d'insertion des documents, pour soigner l'inconstance d'affichage dont souffrent les documents de&nbsp;SPIP. D&eacute;sormais, c'est vous qui d&eacute;cidez !

- Une seule syntaxe d'insertion&nbsp;: <code><doc324|left></code>
- Le mod&egrave;le <code><doc></code> affiche une vignette cliquable et n'en change plus
- Compatibilit&eacute; pr&eacute;serv&eacute;e&nbsp;: les mod&egrave;les historiques <code><img></code> et <code><emb></code> ne sont pas modifi&eacute;és et fonctionnent toujours => pas besoin de corriger les articles pr&eacute;c&eacute;dents.
</description>
<auteur>[tetue->http://spip.tetue.net] - 2011</auteur>

<necessite id="SPIP" version="[2.1.0;3.0.99]" />
<utilise id="medias" version="[;]" />
</plugin>