<plugin>
<nom>Mod&#232;le &#60;doc&#62; unifi&#233;</nom>
<prefix>medoc</prefix>
<icon>icon/medoc.png</icon>

<version>0.1.7</version>
<etat>stable</etat>
<categorie>edition</categorie>

<slogan>Insertion facile des documents</slogan>
<description>Patch unifiant le comportement et la syntaxe d'insertion des documents, pour soigner l'inconstance d'affichage dont souffrent les documents de&nbsp;SPIP. D&eacute;sormais, c'est vous qui d&eacute;cidez !

- Le mod&egrave;le &lt;doc&gt; affiche toujours une vignette cliquable
- Syntaxe d'insertion unifi&eacute;e. Exemples&nbsp;: &lt;doc324|left&gt;, &lt;doc324|img|right&gt;, &lt;doc324|emb|center&gt;
- R&eacute;trocompatibilit&eacute; pr&eacute;serv&eacute;e
</description>
<lien>http://contrib.spip.net/4026</lien>
<auteur>[tetue->http://spip.tetue.net] - 2011</auteur>

<necessite id="SPIP" version="[2.1.0;3.0.99]" />
<utilise id="medias" version="[;]" />
</plugin>