<plugin>
	<nom>Player Flash MP3</nom>
	<slogan>Flashons les mp3 pour &#234;tre &#224; la mode !</slogan>
	<auteur>Cedric, d'apr&#232;s Booz. Mod&#232;le ajout&#233; par Olivier G.</auteur>
	<version>0.2.0</version>
	<etat>stable</etat>
	<description>Ce plugin a pour effet de rajouter le player Flash dewplayer &#224; la fin des articles dont le texte contient des url de fichiers mp3. Un mod&#232;le est &#233;galement fourni et permet d'ins&#233;rer le player dans un article en utilisant le raccourci <code><docXX|dewplayer></code>.</description>
	<lien>http://www.guiderdoni.net/Le-plugin-dewplayer-pour-SPIP-un.html</lien>
	<prefix>dewplayer</prefix>
	<fonctions>dew_player.php</fonctions>
	<pipeline>
		<nom>post_propre</nom>
		<action>post_propre</action>
		<inclure>dew_player.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[1.9.0;2.1.99]" />
	<categorie>multimedia</categorie>
</plugin>