<plugin>

  <nom>LESSpip</nom>
  <auteur>Jean-Baptiste Bourgoin</auteur>
  <licence>MIT</licence>
  <version>0.2</version>
  <categorie>outils</categorie>
  <description>
  LESSpip est un plugin d'intégration de l'implémentation php de LESS.
  
  LESS est une extension de CSS ajoutant les variables, les classes,
  les opérations, les imbrications au langage. Facilitant ainsi
  l'écriture de feuilles de style complexes.

  Ce plugin créé les fichiers css correspondant à vos fichiers less dans
  le répertoire où ces derniers ont été créés.
  </description>
  <etat>dev</etat>
  <prefix>lesspip</prefix>
  <icon>img/lesspip.png</icon>
  <lien>http://leafo.net/lessphp/</lien>

  <fonctions>lessphp/gen_styles.php</fonctions>
</plugin>