<plugin>
	<nom>Typographie avanc&eacute;e</nom>
	<auteur>ARNO*</auteur>
	<version>0.2</version>
	<etat>dev</etat>
	<description>
		Ce plugin impl&eacute;mente automatiquement l'extension [PHP-Typography de Kingdesk->http://kingdesk.com/projects/php-typography/]. 
		Il active notamment:
-* la c&eacute;sure automatique dans plus de 40 langues, de mani&egrave;re intelligente,
-* la gestion des veuves et orphelines (&eacute;viter un mot court isol&eacute; en derni&egrave;re ligne),
-* le contr&ocirc;le par CSS de certains &eacute;l&eacute;ments (espuerl&egrave;te, nombres, mots enti&egrave;rement en majuscules...),
-* le remplacement de certains caract&egrave;res (symboles math&eacute;matiques, trademark, trois points...).

{{Attention.}} Ce plugin s'active sur tous les &eacute;l&eacute;ments passant par <code>|typo</code>, il peut donc se montrer tr&egrave;s intrusif. Si vous utilisez ce plugin, n'utilisez plus le plugin &laquo;C&eacute;sure&raquo;.

{{Attention.}} N&eacute;cessite {{PHP~5}} au minimum.
	</description>
	<lien></lien> <!-- URI de documentation -->
	<prefix>typo_avancee</prefix>
	<fonctions>typo_avancee.php</fonctions>
	<pipeline>
		<nom>pre_typo</nom>
		<action>typo</action>
		<inclure>typo_avancee.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.0.0;]" />
	<categorie>edition</categorie>
</plugin>

