/* sjcycle.css */
#form_cfg_sjcycle {
	font-size:0.9em;
}

#form_cfg_sjcycle ul {
	padding:0px;
	margin:5px 0px;
}

#form_cfg_sjcycle li{
	display:block;
	padding:0px;
	margin:5px 0px;
	clear:left;
	list-style-type:none;
}

#form_cfg_sjcycle ul li.erreur{
	background: red;
}

.erreur_message, .formulaire_erreur, .formulaire_message {
	display:block;
	padding:5px;
	font-weight:700;
	font-size:1.1em;
}
.erreur_message, .formulaire_erreur {
	background: red;
	color:white;
}

.formulaire_message {
	background: #999;
	color:white;
}

#form_cfg_sjcycle fieldset legend {
	font-weight:700;
	font-size:1.3em;
}
#form_cfg_sjcycle label.configuration {
	width:200px;
	padding:5px;
	margin:5px;
	float:left;
	display:block;
	text-align:right;
	font-weight:700;
}

#form_cfg_sjcycle div.configuration_radio {
	padding:5px;
	margin:5px 0px;
	float:left;
	display:block;
}

#form_cfg_sjcycle label.configuration_radio {
	text-align:left;
}

#form_cfg_sjcycle input.configuration, select.configuration {
	width:10em;
	margin:5px;
	float:left;
	display:block;
}

#form_cfg_sjcycle p.explication {
	clear:left;
	padding:5px;
	margin:0px 5px 10px 5px;
	font-weight:500;
	font-style:italic;
	text-align:left;
	display:none;
	background:#eee;
	border:1px solid #ddd;
	width:auto;
}

#form_cfg_sjcycle img.aide {
	cursor:pointer;
}

#form_cfg_sjcycle label span.note {
	color:#555;
	font-weight:500;
	font-style:italic;
}
