.ui-datepicker {
    display:block;
    padding:0.2em 0.2em 0;
    width:17em;
    font-size:0.9em;
}

.ui-widget-header {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background-image:none;
    background-color:#817865;
    border:1px solid #494437;
    color:#FFFFFF;
    font-weight:bold;
}

.ui-widget-content {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background-image:none;
    background-color:#feeebd;
    border:1px solid #8e846b;
    color:#383838;
}

/* Jours quelconques du mois */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background-image:none;
    background-color:#fece2f;
    border:1px solid #d19405;
    color:#4c3000;
    font-weight:normal;
}

/* Jour J */
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background-image:none;
    background-color:#fff9e5;
    border:1px solid #eeb420;
    color:#1f1f1f;
}

/* Jour Actif */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background-image:none;
    background-color:#ffffff;
    border:1px solid #655e4e;
    color:#0074c7;
    font-weight:normal;
}

/* Jours des mois precedent/suivant */
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    background-image:none;
    opacity:0.35;
}