/*
	VERT
*/

/*couleur des liens */
a{color:#360;}
/*couleurs des titres et des liens survolés */
h1,h2,h3,h4,h5,h6,label,.post-title a,a:hover{color:#693;}
/*icones colorées*/
#sidebar li a,.post-content li{
	padding-left:16px;
	background:transparent url(images/bullet_green.png) no-repeat left center;}
.post-tags li a,.tags strong a{
	padding:0px 0px 2px 18px;
	background:transparent url(images/tag_green.png) no-repeat left center;}
	