<plugin>
	<nom>Splickrbox</nom>
	<slogan>Afficher des photos &#224; la Flickr</slogan>
	<auteur>[BoOz->booz@rezo.net], Pierre Andrews (mortimer)</auteur>
	<version>0.4.6</version>
	<etat>stable</etat>
	<icon>images/splickrbox-64.png</icon>
	<description>
	Noisette pour afficher les dernieres photos &#224; la Flickr (le "badge"), tout &#231;a en javascript via <code>#INSERT_HEAD</code> et JQuery.

-* On peut l'utiliser en modele avec <code><splickrbox></code> en lui passant en option un parametre d'id pour limiter la boucle document,
-* On peut l'utiliser dans les squelettes avec la balise <code>#MODELE{splickrbox}</code>
-* On peut l'utiliser avec diff&#233;rent param&#232;tres (qu'on peut aussi combiner):
-** <code><splickrbox|right></code> et <code><splickrbox|left></code> pour les alignements
-** <code><splickrbox|taille=24></code> permet de sp&#233;cifier le nombre de vignettes &#224; afficher. Ce nombre devrait &#234;tre un multiple du nombre de colonnes.
-** <code><splickrbox|colonnes=10></code> permet de sp&#233;cifier le nombre de colonnes &#224; afficher.
-** <code><splickrbox|masque=carre-100.png></code> permet de d&eacute;finir la taille des vignettes (le masque correspond &#224; la grande vignette).
-** <code><splickrbox|tri=date></code> permet de sp&#233;cifier le classement (date, hasard...).
-** <code><splickrbox|senstri=1></code> permet d'inverser le sens de classement choisi ci-dessus.
	</description>
	<lien>http://trac.rezo.net/trac/spip-zone/wiki/SplickrBox</lien>
	<prefix>Splickr</prefix>
	<fonctions>
	Splickr_fonctions.php
	</fonctions>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>head.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[1.9.0;3.1.99]" />
	<categorie>multimedia</categorie>
</plugin>
