.quickflip-wrapper {
	margin: 10px auto;
}
.quickflip-image {
	position: relative;
	margin: auto;
}
.quickflip-lien {
	position: absolute;
	top: 0;
	right: 0;
}
.quickflip-image img {
	width: 100%;
	height: 100%;
}
.quickflip-texte, .quickflip-licence, .quickflip-credits{
	background-color: #E5E5E5;
}
.quickflip-texte {
	border: 2px dotted grey;
	position: relative;
}
.quickflip-titre {
	margin: 15px 80px 0 15px;
    min-height: 40px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.quickflip-descriptif {
	margin: 10px
    font-size: 12px;
}
.quickflip-licence {
	text-align: left;
	position: absolute;
	bottom: 20px;
}
.quickflip-licence img {
	width: 100px;
	height: auto;
	margin: 10px;
}
.quickflip-credits {
	text-align: right;
	font-size: 10px;
	position: absolute;
	bottom: 0;
	height: 20px;
}
.quickflip-credits-texte {
	margin-right: 10px;
}

/* css spécifiques au modèle quickflip-logoart */

.quickflip-logoart:hover{
    opacity: 0.8;
}
.quickflip-lienart{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    text-align: center;
}
.quickflip-lienart a{
    color: white !important;
    font-size: 18px;
    padding-left: 15px;
}