/* **************** FORMULAIRE AJOUTER PLUGIN ***************** */
.liste-items .item.installe{ color: #999; background: url('../prive/themes/spip/images/fond-installe.gif') repeat; }
.liste-items .item span.installe { color: red; }

.liste-objets.depots .caption {
    background-image: url("../themes/spip/images/depot-24.png");
    padding-left: 30px;
}
/* **************** LISTE EXTENSIONS          ***************** */
.verrou {
	background:url('../themes/spip/images/fond-verrou.png') repeat fixed 0 0 #FDFDFD !important;
}
.verrou:hover {
	background-color:#F0F0F0 !important;
}

/* Validation des actions par popin */
#colorbox #charger_plugin_confirm {font-size:110%;}
#colorbox #charger_plugin_confirm .reponse_formulaire {margin-bottom:1em; line-height: 1.4em;}
#colorbox #charger_plugin_confirm .boutons {
	font-size:120%;
	margin-top:.5em; margin-bottom:0;
	display:block;
	text-align:right;
	background:#b8beb2;
	border-radius:3px;
	position:absolute; bottom:0; width:100%;
}
#colorbox #charger_plugin_confirm .boutons .submit {
	margin:.5em .5em .5em 0;
}

/* Presentation des actions effectuees */
#actionner .fail {color:#c30000;}
#actionner ul {margin-left: 0.5em;}
#actionner li {list-style-type:square; margin-left: 0.5em;}
