/* **************** FORMULAIRE AJOUTER PLUGIN ***************** */
.liste-items .item.installe{ color: #999; background: url('../prive/themes/spip/images/fond-installe.gif') repeat; }
.liste-items .item span.installe { color: red; }

.liste-objets.depots .caption {
    background-image: url("../themes/spip/images/depot-24.png");
    padding-left: 30px;
}
/* **************** LISTE EXTENSIONS          ***************** */
.verrou {
	background:url('../themes/spip/images/fond-installe.gif') repeat fixed 0 0 #EEEEEE !important;
}
.verrou:hover {
	background:url('../themes/spip/images/fond-installe.gif') repeat fixed 0 0 #E8E8E8 !important;
}
