.image-massicot {
  text-align: center;
}

.massicoter_image .boutons {
  position: relative;
  top: -17px;
  margin-bottom: 0;
  text-align: right;
}

#formulaire_massicoter_image {
  position: relative;
}

.massicoter_image .zoom_wrap {
  padding: 1px 14px 7px 11px;
  border: 1px solid #ccc;
  background-color: #eee;
}

.zoom_wrap .ui-state-default {
  background-color: #b3b3b3;
  background-image: none;
  border-color: #a2a2a2;
}

.massicoter_image .wrap_dimensions {
  position: absolute;
  top: -10px;
  left: 256px;
  background-color: white;
  padding: 1px 6px;
  border: solid 1px #ccc;
}

.massicoter_image .dimensions {
  font-weight: bold;
}

#formulaire_massicoter_image ul {
  position: relative;
  top: 6px;
  display: inline-block;
  z-index: 100;
  height: 25px;
}