<plugin>
	<nom>Acc&#232;s &Eacute;largi - 1</nom>
	<version>1.0</version>
	<prefix>AE1</prefix>
	<description>Surcharge permettant aux r&#233;dacteurs du site de modifier leurs articles apr&#232;s leur publication</description>
	<lien></lien> <!-- URI de documentation -->
	<etat>experimental</etat>
	<options>options.php</options>
</plugin>