<plugin>
	<nom>Visites SPIP</nom>
	<auteur>BoOz</auteur>
	<licence>
		&#169; 2014 - GNU/GPL
	</licence>
	<version>
	1.0.1
	</version>
	<version_base>
	1.0.0
	</version_base>
	<etat>
	test
	</etat>
	<description>
		Ajouter les vistes en cours aux stats etc...
	</description>
	<lien></lien>
	<prefix>
	stats_data
	</prefix>
	<chemin dir='' />
	<categorie>statistiques</categorie>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>stats_data_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/stats_data.php</inclure>
	</pipeline>
	<options>stats_data_options.php</options>
	<install>stats_data_administrations.php</install> 
	<necessite id="SPIP" version="[2.0.10;3.2.99]" />
</plugin>