div.choix {
    margin-left:150px;
}
.formulaire_spip li label, .formulaire_spip li.gauche label{
width : 280px;
}
input#champ_rubrique_defaut{
    width:200px;
}
input#champ_nom_rubrique_archive{
    width:160px;
}
li.editer_nom_rubrique_archive{
    padding-left:180px;
}
li.editer_nom_rubrique_archive,li.editer_rubrique_parent_archive{
    background-color:#E1F4F2;
}
