div.choix {
    margin-left:150px;
}
.formulaire_spip li label, .formulaire_spip li.gauche label{
width : 280px;
}
input#champ_rubrique_defaut{
    width:220px;
}
li.editer_transfere_article,li.editer_nom_rubrique_archive,li.editer_rubrique_parent_archive,div#exporter,li.editer_suppression_article_efface{
    display:none;
}
input#champ_nom_nouvel_auteur,input#champ_rubrique_defaut{
    width:200px;
}
input#champ_nom_rubrique_archive{
    width:160px;
}

li.editer_transfere_article{
    padding-left:160px;
}
li.editer_nom_rubrique_archive{
    padding-left:180px;
}

li.editer_transfere_article,li.editer_nom_rubrique_archive,li.editer_rubrique_parent_archive,li.editer_suppression_article_efface{
    background-color:#E1F4F2;
}
li.editer_avenir_auteurs, li.editer_nom_nouvel_auteur{
    background-color:#f2e5b1;
    
}
