<plugin>
	<nom>Associaspip</nom>
	<auteur>
	Bernard Blazin - Fran&#231;ois de Montlivault (V1)
	Emmanuel Saint-James - Jeannolapin (V2)
	</auteur>
	<version>2.1.0</version>
	<version_base>47731</version_base>
	<meta>association_metas</meta>
	<etat>stable</etat>
	<description>Gestion d'associations</description>
	<prefix>association</prefix>
	<install>base/association_gestion.php</install>
	<lien>http://www.spip-contrib.net/Associaspip-2-1</lien>
	<icon>img_pack/annonce.gif</icon>

	<options>association_options.php</options>

	<pipeline><nom>header_prive</nom></pipeline>
	<pipeline><nom>delete_tables</nom></pipeline>

	<pipeline>
		<nom>ajouter_boutons</nom>
		<action>ajouterBoutons</action>
	</pipeline>

	<pipeline>
		<nom>post_edition</nom>
		<inclure>inc/post_edition.php</inclure>
	</pipeline>

	<categorie>divers</categorie>
	<necessite id="SPIP" version="[2.1.8;]" />
</plugin>
