<plugin>
	<nom>Gravatar</nom>
	<auteur>Thomas Beaumanoir, [Clever Age->http://www.clever-age.com], Fil et Cedric</auteur>
	<icon>images/gravatar-64.png</icon>
	<version>1.4.0</version>
	<etat>stable</etat>
	<slogan>
		<multi>
		[fr]Afficher le Gravatar d'un auteur ou d'un contributeur de forum
		[en]Display Gravatar for author or forum poster
		</multi>
	</slogan>
	<description>
		<multi>
			[fr]Permet d'utiliser un cache pour stocker les gravatars.
_ &#192; utiliser dans une boucle de cette mani&#232;re : <code>#GRAVATAR{email, taille, url image par
d&#233faut}</code>
_ Exemple : <code>#GRAVATAR{#EMAIL,80,#URL_SITE_SPIP/defaut-gravatar.gif}</code>

&#201;tend la balise #LOGO_AUTEUR de mani&#232;re &#224; prendre en compte le gravatar d'un auteur s'il existe, y compris dans les forums et p&#233;titions.
_ Permet de configurer une image par defaut, et la taille des images.

Fournit le filtre <code>|gravatar</code>, &#224; utiliser par exemple comme 
<code>[(#EMAIL|gravatar|image_reduire{80})]</code>.
			[en]Enables to use a cache system to store the gravatars.
_ To use it in a loop in this manner : <code>#GRAVATAR{email, size, URL of the default image}</code>
_ Example : <code>#GRAVATAR{#EMAIL,80,#URL_SITE_SPIP/defaut-gravatar.gif}</code>

Also extend the #LOGO_AUTEUR tag in order to take into account the gravatar of an author if it exists, including in forums and petitions.
_ Configures a default image, and image size.
		</multi>
	</description>
	<lien>http://www.spip-contrib.net/gravatar</lien>
	<prefix>gravatar</prefix>
	<fonctions>gravatar_fonctions.php</fonctions>
	<pipeline>
		<nom>affiche_gauche</nom>
		<inclure>gravatar_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>recuperer_fond</nom>
		<inclure>gravatar_pipelines.php</inclure>
	</pipeline>

	<bouton id='gravatar' parent='configuration'>
		<icone>prive/themes/spip/images/gravatar-16.png</icone>
		<titre>gravatar:cfg_titre_gravatar</titre>
		<url>configurer_gravatar</url>
	</bouton>

	<bouton id='gravatar21' parent='bando_squelette'>
		<icone>images/gravatar-16.png</icone>
		<titre>gravatar:cfg_titre_gravatar</titre>
		<url>configurer_gravatar</url>
	</bouton>

	<necessite id="SPIP" version="[2.0.0;3.0.99]" />
	<categorie>communication</categorie>
</plugin>