<plugin>
	<nom>OrthoGoogle</nom>
	<slogan>Correcteur orthographique Google pour SPIP</slogan>
	<auteur>[Amir Salihefendic->http://orangoo.com/spell/], [adaptation cam.lafit->http://km.azerttyu.net]</auteur>
	<version>0.3.0</version>
	<etat>dev</etat>
	<description>
		Ce plugin ajoute le correcteur orthographique de Google &#224; l'ensemble des zone de texte de SPIP (forum, article, ps,...) aussi bien dans la partie priv&#233;e que publique.
	</description>
	<lien>http://contrib.spip.net/OrthoGoogle-correcteur</lien>
	<prefix>orthogoogle</prefix>

	<pipeline>
		<nom>header_prive</nom>
		<inclure>orthogoogle_head.php</inclure>
	</pipeline>

	<icon>googiespell.png</icon>

	<install>base/orthogoogle_install.php</install>
	
	<necessite id="SPIP" version="[2.0.0;2.0.99]" />
	<necessite id="cfg" version="[1.0.4;]" />
	<necessite id="lib:googiespell_v4_0" src="http://orangoo.com/labs/uploads/googiespell_v4_0.zip" />
	<categorie>edition</categorie>
	<chemin dir='' />
</plugin>