<plugin>
	<nom>
	Sphinx - Moteur de recherche
	</nom>
	<auteur>
	Fil
	</auteur>
	<licence>
		&#169; 2013 - GNU/GPL
	</licence>
	<version>
	0.1.0
	</version>
	<etat>
	test
	</etat>
	<description>
	Intégration du moteur de recherche SPHINX
	</description>
	<prefix>
	sphinx
	</prefix>
	<lien>http://contrib.spip.net/Sphinx</lien>
	<icon>sphinx-128.png</icon>
	<fonctions>inc/sphinx.php</fonctions>
	<chemin dir='' />
	<categorie>edition</categorie>
	<necessite id="SPIP" version="[2.1.0;]" />
	<necessite id="fulltext" />
	<necessite id="iterateurs" />
</plugin>
