<plugin>
	<nom>SpipCarto</nom>
	<slogan>Gestion de cartes et d'images interactives</slogan>
	<auteur>Stephane Laurent (Bill)</auteur>
	<lien>http://contrib.spip.net/Spipcarto-V1-0</lien>
	<version>2.0.4</version>
	<etat>test</etat>
	<description>
Ce module permet d'ins&#233;rer des &#171; cartes &#187; (simple image interactive ou carte g&#233;or&#233;f&#233;renc&#233;e) dans Spip.

SPIP-Carto vise &#224; mettre de la cartographie dans un site interactif et participatif plut&#244;t que de l'interactivit&#233; dans un site cartographique. Ceci plus g&#233;n&#233;ralement pour tout ce qui concerne des visuels interactifs.
	</description>
	<prefix>spipcarto</prefix>

	<pipeline>
		<nom>ajouter_boutons</nom>
		<action>ajouterBoutons</action>
		<inclure>spipcarto.php</inclure>
	</pipeline>

	<pipeline>
		<nom>affiche_droite</nom>
		<action>affiche_droite</action>
		<inclure>spipcarto.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>ajouter_onglets</nom>
		<action>ajouterOnglets</action>
		<inclure>spipcarto.php</inclure>
	</pipeline>

	<fonctions>spipcarto_fonctions.php</fonctions>

	<pipeline>
		<nom>header_prive</nom>
		<inclure>spipcarto_prive.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>pre_propre</nom>
		<action>pre_propre</action>
		<inclure>spipcarto.php</inclure>
	</pipeline>
	<categorie>divers</categorie>
	<necessite id="SPIP" version="[1.9.0;1.9.1]" />
</plugin>
