<plugin>
	<nom>Tablesorter</nom>
	<slogan>Avec tableSorter, le tri sera top !</slogan>
	<auteur>[Chistian Bach->http://lovepeacenukes.com/], portage sous SPIP par cym, b_b, Eric Lupinacci et BoOz</auteur>
	<version>1.3.1</version>
	<etat>stable</etat>
	<icon>images/tablesorter-32.png</icon>
	<description>
	Ce plugin permet de trier les tableaux portant la class CSS "spip" en cliquant simplement sur l'ent&#234;te d'une colonne (le tableau HTML doit donc poss&#233;der les tags thead et tbody). Voir en ligne toutes les options de tri, sur le site de [->http://tablesorter.com].
	</description>
	<lien>http://contrib.spip.net/Tablesorter-pour-SPIP</lien>
	<prefix>tablesorter</prefix>
	<pipeline>
		<nom>insert_head_css</nom>
		<inclure>tablesorter_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>tablesorter_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>tablesorter_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[1.9.0;3.0.99]" />
	<categorie>navigation</categorie>
</plugin>
