<plugin>
	<nom>Typographie MOIS</nom>
	<version>1.0.0</version>
	<prefix>typo_mois</prefix>
	<etat>stable</etat>
	<auteur>Fil</auteur>
	<slogan>Eviter de couper une date en fin de ligne</slogan>
	<description>
Ce plugin propose un filtre qui reconnait les dates au format "10 Mars" et remplace l'espace entre le jour et le mois par un espace ins&#233;cable.
Par exemple, <code>"1er mars"</code> devient <code>"1er&nbsp;mars"</code>.
	</description>
	<pipeline>
		<nom>pre_typo</nom>
		<action>mois</action>
		<inclure>typo_mois_fonctions.php</inclure>
	</pipeline>
	<categorie>edition</categorie>
	<icon>typo_mois.png</icon>
	<necessite id="SPIP" version="[1.9.2;2.1.99]" />
</plugin>