<plugin>
	<nom>Corrections typographiques des dates (<code>"1er mars"</code> donne <code>"1er&nbsp;mars"</code>)</nom>
	<version>1.0</version>
	<prefix>typo</prefix>
	<etat>stable</etat>
	<auteur>Fil</auteur>
	<description></description>
	<pipeline>
		<nom>pre_typo</nom>
		<action>mois</action>
		<inclure>typo_mois_fonctions.php</inclure>
	</pipeline>
	<categorie>edition</categorie>
	<necessite id="SPIP" version="[1.9.0;]" />
</plugin>