<plugin>
	<!-- Nom du plugin -->
	<nom>
		<multi>
			[fr]Menus deroulants Babbibel
			[en]Babbibel Dropdown
		</multi>
	</nom>
	<version>2.2</version>
	<prefix>babbi</prefix>
	<!-- Fin des balises indispensables -->

	<!-- Auteur du plugin -->
	<auteur>
		<multi>
			[fr][babbibel->http://www.spip-contrib.net/babbibel]			
			<br />Exemple: [Le Cri du peuple->http://www.cridupeuple.com]
			<br /> &copy; 2009 - Distribué sous licence GNU/GPL
			[en][babbibel->http://www.spip-contrib.net/babbibel]
			<br />Exemple: [Le Cri du peuple->http://www.cridupeuple.com]
			<br />_ &copy; 2009 - distributed under GNU/GPL licence
		</multi>
	</auteur>
	<icon>img/logo_menu.png</icon>
	<etat>stable</etat>

	<description><multi>
	[fr]Le menu d&#233;roulant propose diff&eacute;rent types de menu. Rendez-vous &agrave; la page de configuration.
	<br />Ce plugin fonctionne sur les squelettes disposant de la balise #_INSERT_HEAD
	<br />Il n&#233;cessite:
	<ol>
		<li>le plugin [CFG->http://www.spip-contrib.net/cfg-references] version > 1.14.0</li>
		<li>le plugin [jQuery->http://plugins.spip.net/Jquery-1-2-6-pour-SPIP-1-92x] pour les versions de SPIP &lt; 1.9.2.</li>
	</ol>

	Pour configurer et tester les diff&#233;rents menus cliquez sur 
	<ul>
		<li>[CFG Menu Babbibel->./?exec=cfg&cfg=babbi]</li>
	</ul>
	
	[en]The menu offer several types of menu. Go to cfg to configure.
	<br />
	<ol>
		<li>This plugin works with the skeletons of the tag #_INSERT_HEAD</li>
		<li>It requires the cfg plugin</li>
		<li>It requires the jQuery plugin for versions of SPIP &lt;1.9.2</li>
	</ol>
	
	To configure and  try them go to 
	<ul>
		<li>[CFG Babbibel Dropdown->./?exec=cfg&cfg=babbi]</li>
	</ul>
	</multi></description>
	<!-- URI de documentation -->
	<lien>Doc [spip-contrib.net->http://www.spip-contrib.net/Le-menu-deroulant-Babbibel]</lien>
	
	<fonctions>fonctions_menu.php</fonctions>

	<pipeline>
		<nom>insert_head</nom>
		<action>headeur</action>
		<inclure>fonctions_menu.php</inclure>
	</pipeline>

	<pipeline>
		<nom>insert_head_css</nom>
		<action>headeur_css</action>
		<inclure>fonctions_menu.php</inclure>
	</pipeline>

	<categorie>navigation</categorie>
	<necessite id="SPIP" version="[1.9.2x;)" />
	<necessite id="cfg" version="[1.14.0;)" />
	<utilise id="jQuery pour SPIP 1.9.2x" version="1.1.0">
</plugin>
