<plugin>
	<nom>Party</nom>
	<prefix>party</prefix>
	<version>1.0.0</version>
	<etat>stable</etat>
	<slogan>Les derniers rendez-vous SPIP</slogan>
	<description>
Ce plugin fournit une noisette permettant d'afficher la liste des derniers rendez-vous SPIP publi&eacute;s sur SPIP Party. 
_Pour cela il ajoute &agrave; l'installation la syndication automatique &agrave; SPIP Party.
	</description>
	<install>party_install.php</install>
	<options>party_options.php</options>
	<pipeline>
		<nom>insert_head</nom> 
		<inclure>party_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>boussole</nom> 
		<inclure>party_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[1.9.0;]" />
	<categorie>divers</categorie>
</plugin>