
.charger_ticketspublics { display:none;position:fixed; right:0; top:0; padding:2em 0 0; width:600px; height:100%; background:url('images/fond_ticketspublics.png'); overflow-y:auto; text-align:left; z-index:4999; font-size:.95em; color:#333; }
/* z-index:4999; car crayons place ses outils a 5000 donc 4999 est le plus grand possible */
.content_ticketspublics { padding:1em 1em 3em; }

a.poignee { border:1px solid #ddd; color:#3E3E3E; background:#ddd url('images/ferme.png') right center no-repeat; font-size:.75em; padding:.2em 14px 0 .3em; outline:0;}
a.poignee.ouvert { background-image:url('images/ouvert.png'); }
a.poignee:focus { border-color:#bbb; color:#3E3E3E; background-color:#bbb; }
a.poignee:hover { border-color:#777777; background-color:#777777; }
a.details {  }
.content_ticketspublics .tiroir { margin:0 0 .5em 0; padding:1em; border:1px solid #bbb; margin-bottom:-1px; background:#fff; }
.content_ticketspublics h2 { margin:0; font-size:1.3em; }
.content_ticketspublics .formulaire_spip li { margin:0; padding:1em 0;}
.content_ticketspublics .explication { font-size:.8em; margin:0; }
.content_ticketspublics .explication:before { content:'['; }
.content_ticketspublics .explication:after { content:']'; }
.content_ticketspublics .choix { float:left; margin:0 .5em; }
.content_ticketspublics hr { margin:.5em 0; }
.content_ticketspublics p { margin-bottom:.5em;}

/* .fermer { display:block; height:auto; width:600px; position:fixed; top:0; right:0; border-bottom:1px solid #ccc; color:#ccc; font-size:.8em; text-align:center;  background:#fff; } */
a.fermer:hover, a.fermer:focus { color:#bbb; }

/* masquer les bouton d'admin automatique du bloc ajax, a defaut de ne pas les generer... */
.charger_ticketspublics #spip-admin { display:none; }

/* si mini-bando present */
#minibando #btn_ticketspublics { background:url('images/ticketspublics_minibando-24.png') center center no-repeat; }

/* ecrans moins larges */
@media (max-width:600px) {
	
	.charger_ticketspublics { width:100%; }
	
}