<plugin>
	<nom>
	<multi>
	[en]Chess
	[fr]Echecs
	</multi>
	</nom>
	<auteur>
	S&#233;bastien Boureux, Jacques Bouthier, <br />
  original script Alf Magne Kalleland owner of DHTMLGoodies
	</auteur>
	<version>
	0.6
	</version>
	<etat>
	dev
	</etat>
	<description>
Ce plugin est destin&#233; &#224; lire des parties d&#39;&#233;checs grace &agrave; des fichiers PGN.
_ {{Ce plugin n&#233;cessite le plugin CFG version 1.0.6 ou plus}}<br />
_ Il suffit de d&#39;ins&#233;rer la balise &#60;chessXX&#62; o&#249; XX est le num&#233;ro de l&#39;article et de t&#233;l&#233;charger les documents pgn.
_ Documentation sur [Spip&#212;Toulouse->http://www.spipotoulouse.org/spip.php?article9]
	</description>
	<lien>http://www.spipotoulouse.org/spip.php?article9</lien>
	<prefix>
	chess
	</prefix>
	<fonctions>chess_fonctions.php</fonctions>
	<pipeline>
	  <nom>insert_head</nom>
	  <inclure>chess_fonctions.php</inclure>
	  <action>insert_head</action>
  </pipeline>
  
  <!-- Definitions des fonctions qui s'inserent dans les pipelines -->
	<pipeline>
        <nom>header_prive</nom>
        <inclure>chess_fonctions.php</inclure>
    </pipeline>
	<necessite id="cfg" version="[1.0.6;]" />
</plugin>
