<plugin>
	<nom>Mot-croisé</nom>
	<etat>stable</etat>
	<version>2.0 pour Spip 1.9.1 minimum.
	
	</version>
	<auteur>Maïeul Rouquette
	maieulrouquette@tele2.fr
	[http://maieul.ouvaton.org->http://maieul.ouvaton.org]
	</auteur>
	<description>Des mots-croisés avec Spip !
	Exemple : <code><grille>

|a|a|a|
|b|*|g|
|a|*|d|

</grille>

<horizontal>
-#def 1
-#def 2
-#def 3
</horizontal>

<vertical>
-#def 1
-#def 2
-#def 3
</vertical></code>
	</description>
	<fonctions>mot_croises_fonctions.php</fonctions>
	<options>mot_croises_options.php</options>
	<prefix>mot_croises</prefix>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>mot_croises_insert_head.php</inclure>
		<action>insert_head</action>
	</pipeline>
	<pipeline>
		<nom>pre_propre</nom>
		<inclure>mot_croises_avant_propre.php</inclure>
		<action>pre_propre</action>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>mot_croises_header_prive.php</inclure>
		<action>header_prive</action>
	</pipeline>
</plugin>