.formulaire_configurer_updateheaders #champ_expires_quantity {
	width: 50%;
}
.formulaire_configurer_updateheaders .editer_expires_unity {
	padding-left: 0px;
	margin-left: 350px;
	margin-top: -48px;
}