.formulaire_spip .choix > .fichier_precedent {
	display:block; 
	clear:right; 
	overflow:auto;
	margin-bottom: 1em;
	padding:.5em;
	border:1px solid #ddd; 
	border-radius:5px;
	word-wrap: break-all;
}

.formulaire_spip .choix .fichier_precedent .description {
	float:left; 
	width:10%;
}
.formulaire_spip .choix .fichier_precedent .choix {
	float:right;
	width:90%;
}
.formulaire_spip .choix .fichier_precedent .choix label{
	display:inline;
}
