.formulaire_spip .saisie_fichiers input[type=file] {
	display:       block;
	margin-bottom: 1em;
}

.formulaire_spip .editer .cvtup-fichier-precedent {
	display:       block;
	width:         100%;
	overflow: auto;
	margin-bottom: 1em;
	border:        1px solid #DDD;
	border-radius: 5px;
}

.formulaire_spip .editer .cvtup-fichier-precedent .cvtup-description,
.formulaire_spip .editer .cvtup-fichier-precedent .cvtup-action {
	display: block;
	overflow: visible;
	padding: .5em;
	vertical-align: top;
}
.formulaire_spip .editer .cvtup-fichier-precedent .cvtup-description {
	overflow: visible;
}
.formulaire_spip .editer .cvtup-fichier-precedent .cvtup-description img {
	max-width: 100%;
	height: auto;
	margin-bottom: .5em;
}
.formulaire_spip .editer .cvtup-fichier-precedent .cvtup-description .cvtup-filename {
	display: block;
}

.formulaire_spip .editer .cvtup-fichier-precedent .cvtup-action label {
	display: inline;
}

.formulaire_spip .editer .cvtup-fichier-precedent .cvtup-remplacer {
	clear:both;
	padding:.5em;
}
