.clearfix 								{ height:1%;}
.clearfix:after							{ content:".";clear:both;height:0;line-height:0;font-size:0;display:block;visibility:hidden;}
.italique 								{ font-style:italic}

fieldset.cat,
fieldset.fiche,
fieldset.cat fieldset 					{ border:1px solid white !important; padding:12px; margin:8px auto; }
/*
fieldset.cat ul							{ float:left; }*/
fieldset.cat ul.colonne li label				{ width:150px; float:left;}

fieldset.cat ul li input,
fieldset.cat ul li select				{ border:1px solid black }

fieldset.cat dt 						{ font-weight:bold;}
label.suivant,
input.suivant							{ float:right; }

.cat dl 								{ /* border:1px dashed orange; indique qu'on est en travaux ... */} 
.cat dl:after 							{ content:".";clear:both;height:0;line-height:0;font-size:0;display:block;visibility:hidden; margin-bottom:8px;}

.cat dd 								{ float:left; line-height:19px; padding:auto; margin:0 1%; }
.cat dd.radio 							{ width: 5%}
.cat dd.desc 							{ width: 77%}
.cat dd.prix 							{ width: 12%; text-align:right;}
.cat dd.label							{ width: 25%; }
.cat dd.champ							{ width: 50%; }
.cat dd.champ input[type=text]			{ width: 97%; }
.cat dd input.numero					{ width: 9% !important;}	/* 9% pour ie */
.cat dd input.voie						{ width: 84% !important;}	
.cat dd input.code_postal 				{ width: 24% !important;}	/* 24% pour ie */
.cat dd input.ville						{ width: 69% !important;}
.cat dd.champ textarea					{ width: 100%; }
.textarea {width:100%;}
.cat dd.long							{ width: 70%; }
.cat dd.oui_non							{ width: 25%; }
.cat dd select.pays						{ width: 99%; }

.formulaire_erreur, span.erreur { font-size:1.1em; font-weight:bold; color:orange}
dd.erreur {color:red}
dl.prop * {color:#5FC6FF;font-style:italic;}
