<plugin>
	<nom>Plugin GuestBook</nom>
	<auteur>Bernard Blazin - Novembre 2006 &amp; Yohann Prigent - Septembre 2008</auteur>
	<version>1</version>
	<etat>dev</etat>
	<description>Livre d'or Spip</description>
	<fonctions>livre.php</fonctions>
	<prefix>livre</prefix>
	<pipeline>
		<nom>ajouter_boutons</nom>
		<action>ajouterBoutons</action>
		<inclure>livre.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
	</pipeline>
</plugin>