<plugin>
	<nom>&#201;dition plein &#233;cran</nom>
	<slogan>&#201;diter les textarea en plein &#233;cran</slogan>
	<auteur>[ARNO*->arnaud@paris-beyrouth.net]</auteur>
	<licence>(c) 2009 GPL</licence>
	<version>1.0.0</version>
	<etat>stable</etat>
	<lien>http://contrib.spip.net/Edition-en-plein-ecran</lien>
	<description>
	Tous les champs multilignes (textarea) peuvent d&#233;sormais &#234;tre &#233;dit&#233;s en mode plein &#233;cran. Pour cela: double-cliquer dans un champ: la page dispara&#238;t et seul le champ d'&#233;dition occupe tout l'&#233;cran. Pour sortir de ce mode d'&#233;dition, utiliser la touche &#171;Esc&#187; (escape).
	
	{Ne fonctionne pas sous Internet Explorer 6 (mais ne devrait pas provoquer de dysfonctionnement).}
	</description>
	<prefix>edition_plein_ecran</prefix>
	<pipeline>
		<nom>header_prive</nom>
		<action>charger_script</action>
		<inclure>edition_plein_ecran.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[1.9.2;2.1.99]" />
	<categorie>edition</categorie>
</plugin>