/* ---------adresse de la bibliotheque d'images-------------
http://www.famfamfam.com/archive/silk-icons-thats-your-lot/
-----------------------------------------------------------*/ 

/* Couleurs des liens de SPIP */ 
a.spip_out {color: #009; background:url(img/out.gif) no-repeat right; padding-right:16px} /* liens sortants */ 

/* Documents */
.logo_document {float:left; margin:0 11px 0 0;}
.document {background:#FFFFFF none repeat scroll 0 0;margin-top:15px;padding: 10px 15px 10px;}
.document p {padding:10px 0 0 0;}

/* Edit */
.add {background: url(img/add.png) no-repeat;padding:1px 0 0 20px;}

/* News feed */
#content .post ul#feed {list-style: none;}
ul#feed li {margin-bottom:.5em;background:none;padding:2px 0;border-bottom:1px solid #e9e9e9;color:#777;}
ul#feed li em {font-size:.82em;font-style:normal;padding:3px 0 3px 25px;margin-right:1em;}
ul#feed li small {font-size:.82em;}
.file em {background:url(img/page.png) no-repeat;}
.com em {background:url(img/comment.png) no-repeat;}
.mes em {background:url(img/page_white_text.png) no-repeat;}
.pdf em {background:url(img/page_white_acrobat.png) no-repeat;}
.doc em {background:url(img/page_white_word.png) no-repeat;}
.xls em {background:url(img/page_white_excel.png) no-repeat;}
.ppt em, .pps em {background:url(img/page_white_powerpoint.png) no-repeat;}
.jpg em, .jpeg em, .gif em, .png em {background:url(img/picture.png) no-repeat;}
.zip em {background:url(img/package.png) no-repeat;}
.sites em {background:url(img/site-16.png) no-repeat;}
.breves em {background:url(img/breve.png) no-repeat;}

/* Login (menu) */
#login {font-size: 11px;color: #8F8F8F;}

.edit {background: url(img/edit.png) no-repeat;padding:1px 0 0 20px;}

/*------------------------*/
/* Style pour les plugins */
/*------------------------*/

/* Shoutbox (avec plugin) */
#contenu_shoutbox_normal, #formulaire_shoutbox_normal {font-size:13px;}
#formulaire_shoutbox_normal legend {font-size: 15px;}
#formulaire_shoutbox_normal form {font-size:13px;margin:.5em 0;border:0;}
#formulaire_shoutbox_normal form .spip_bouton input {margin-top: 3px;background:#bce681;
        border: solid 1px #81c227;color:#4f4f4f;}
#formulaire_shoutbox_normal form .spip_bouton input:hover {cursor:pointer;color:#4f4a4a;
        border: solid 1px #7bbf17;background: #b1df6f;}
#contenu_shoutbox_normal div {padding:4px 0;border-bottom: 1px solid #e9e9e9;}
#contenu_shoutbox_normal div small {font-size:11px;}
#contenu_shoutbox_normal {margin-bottom:1em;}

/* Notation (avec plugins) */
.formulaire_notation {float: right;}

/* Spip listes (avec plugins) */
.message-formulaire {background: #fff;margin-top: 15px;padding: 5px 15px 15px 15px;}

/* Instituer article */
ul.instituer_article {list-style-type: none; padding: 0px; }
ul.instituer ul {padding: 0px; }
ul.instituer li {list-style: none outside none; padding: 0px; }
ul.instituer li ul li img {border: 1px solid #F8F7F3; margin: 1px 5px -1px 1px; visibility: hidden; }
ul.instituer li.selected img, ul.instituer li a:hover img {visibility: visible; }
img.aide {height: 12px;  margin-bottom: -1px; margin-top: -1px; vertical-align: middle; width: 12px; }
