<plugin>
    <nom>
    Multi-Dossier (plugins)
    </nom>
    <auteur>potter64, cy_altern</auteur>
    <version>
    1.2
    </version>
    <etat>
    stable
    </etat>
    <description>
   	Ce plugin est un fork du core pour int&#233;grer les multi dossiers pour les plugins en 2.0
_ Les SPIP autoris&#233;s &#224; avoir un dossier /plugins sp&#233;cifique doivent &#202;tres d&#233;clar&#233;s dans le mes_options.php central par:
_ $GLOBALS['multiplug_autorise'] = array('nom_dossier_spip1','nom_dossier_spip2', ...);    
    </multi>
    </description>
    <prefix>
    multiplugin
    </prefix>
    <options>multiplug_options.php</options>
	<necessite id="SPIP" version="[2.0.10;2.1.0]" />
</plugin>