<plugin>
	<nom>Association_2</nom>
	<auteur>												<!-- Auteur du plugin -->
	Bernard Blazin - Fran&ccedil;ois de Montlivault 
	</auteur>
	<version>0.65</version>
	<etat>test</etat>
	<description>
		Gestion de petites associations
_ Ce plugin n&eacute;cessite l'installation des plugin cfg et Inscription2
	</description>
	<prefix>association</prefix>	
	<install>base/association_gestion.php</install>
	<lien>
         [Documentation->http://www.spip-contrib.net/Plugin-Gestion-d-associations]
	    [Configuration->.?exec=cfg&amp;cfg=association]
    </lien>
    <icon>img_pack/annonce.gif</icon>

	<!-- fichier charge a chaque hit -->
	<options>association_options.php</options>

	<!-- Definitions des fonctions qui s'inserent dans les pipelines -->
	<pipeline>
		<nom>ajouter_boutons</nom>
		<action>ajouterBoutons</action>
	</pipeline>
	
	<pipeline>
		<nom>I2_cfg_form</nom>
		<action>I2_cfg_form</action>		
	</pipeline>
		
	<pipeline>
		<nom>header_prive</nom>
		<action>header_prive</action>		
	</pipeline>
	
	<categorie>divers</categorie>
	<necessite id="cfg" version="[1.10.1;]" />
	<necessite id="SPIP" version="[2.0.0;]" />
</plugin>
