<plugin>
	<nom> <!-- Nom du plugin -->
	  FpipR
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	  Pierre Andrews (mortimer)
	</auteur>
	<version>
	  0.1
	</version>
	<etat>
	  dev
	</etat>
	<description>
	  <multi>[fr] associer des photos et sets Flickr.com &agrave; vos articles.
	  </multi>
	</description>
	<prefix> 
	  FpipR
	</prefix>
	<pipeline>
	  <nom>affiche_milieu</nom>
	  <inclure>FpipR.php</inclure>
	</pipeline>
	<pipeline>
	  <nom>affiche_gauche</nom>
	  <inclure>FpipR.php</inclure>
	</pipeline>

</plugin>
