<plugin>
	<nom>Guillemets typographiques</nom>
	<prefix>typo_guillemets</prefix>
	<icon>icon/typo_guillemets.png</icon>
	
	<version>1.5.6</version>
	<etat>stable</etat>
	<categorie>edition</categorie>
	
	<slogan>Correction automatique des guillemets, selon la langue</slogan>
	<description>Ce plugin remplace automatiquement les guillemets droits (") par les guillemets typographiques (&#171;&#187;&#8220;&#8221;&#8222;) de la langue de composition et guillemette correctement la balise <code><q></code>. Les liens automatiques <code>[->1]</code> vers des articles dont le titre contient des &#171;guillemets fran&#231;ais&#187; passent en guillemets &#8220;de second niveau&#8221;. Le remplacement, transparent pour l'utilisateur, ne modifie pas le texte mais seulement l'affichage final.</description>
	<lien>https://contrib.spip.net/article1592.html</lien>
	<auteur>[Vincent Ramos->https://contrib.spip.net/auteur7639.html]</auteur>
	<licence>GNU/GPL</licence>

	<fonctions>typo_guillemets_fonctions.php</fonctions>
	<options>typo_guillemets_options.php</options>
	<pipeline>
		<nom>post_typo</nom>
		<action>remplacements</action>
		<inclure>typo_guillemets_fonctions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head_css</nom>
		<inclure>typo_guillemets_fonctions.php</inclure>
	</pipeline>
	
	<necessite id="SPIP" version="[1.9.0;3.2.99]" />
</plugin>
