<plugin>
	<nom>Guillemets typographiques</nom>
	<prefix>typo_guillemets</prefix>
	<icon>icon.png</icon>
	
	<version>1.4.0</version>
	<etat>stable</etat>
	<categorie>edition</categorie>
	
	<slogan>Affecte les guillemets corespondant &#224; la langue d'affichage</slogan>
	<description>Ce plugin remplace automatiquement les guillemets droits (") par les guillemets typographiques (&#171;&#187;&#8220;&#8221;&#8222;) de la langue de composition et guillemette correctement la balise <code><q></code>. Les liens automatiques <code>[->1]</code> vers des articles dont le titre contient des &#171;guillemets fran&#231;ais&#187; passent en guillemets &#8220;de second niveau&#8221;. Le remplacement, transparent pour l'utilisateur, ne modifie pas le texte mais seulement l'affichage final.</description>
	<lien>http://www.spip-contrib.net/article1592.html</lien>
	<auteur>[Vincent Ramos->http://www.spip-contrib.net/auteur7639.html]</auteur>
	<licence>GNU/GPL</licence>
	
	<pipeline>
		<nom>post_typo</nom>
		<action>remplacements</action>
		<inclure>typo_guillemets_fonctions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>insert_head_css</nom>
		<inclure>typo_guillemets_pipelines.php</inclure>
	</pipeline>
	
	<necessite id="SPIP" version="[1.9.0;2.1.99]" />
</plugin>