<plugin>
<nom>Corrections typographiques (guillemets)</nom>
<icon>icon.png</icon>
<version>1.3</version>
<prefix>typo_guillemets</prefix>
<etat>stable</etat>
<auteur>[Vincent Ramos->http://www.spip-contrib.net/auteur7639.html]</auteur>
<licence>GNU/GPL</licence>
<lien>http://www.spip-contrib.net/article1592.html</lien>
<description>Ce plugin remplace automatiquement les guillemets droits (") par les guillemets typographiques (&laquo;&raquo;&ldquo;&rdquo;&bdquo;) de la langue de composition et guillemette correctement la balise <code><q></code>. Les liens automatiques <code>[->1]</code> vers des articles dont le titre contient des &#171;guillemets fran&#231;ais&#187; passent en guillemets &#8220;de second niveau&#8221;.
_ Le remplacement, transparent pour l'utilisateur, ne modifie pas le texte mais seulement l'affichage final.
</description>
<pipeline>
	<nom>post_typo</nom>
	<action>remplacements</action>
	<inclure>typo_guillemets_fonctions.php</inclure>
</pipeline>
<pipeline>
	<nom>insert_head_css</nom>
	<inclure>typo_guillemets_pipelines.php</inclure>
</pipeline>
<categorie>edition</categorie>
<necessite id="SPIP" version="[1.9.0;]" />
</plugin>