#formulaire_recherche .recherche{
border:1px solid;
}

.formulaire_recherche_avancee
{
width: 190px;
background-color: #fff;
padding: 8px 0px;
border: thin solid ;
-moz-border-radius: 0px 0px 8px 8px;
-khtml-border-radius: 0px 0px 8px 8px;
-webkit-border-radius: 0px 0px 8px 8px;
border-radius: 0px 0px 8px 8px;
}
#formulaire_avancee{
margin: 15px;
border:0px;
}

.formulaire_recherche_avancee #formulaire_avancee select {
padding:1px 0px 1px 1px;
width:160px;
border:1px solid ;
}

div .patience{
text-align: center;
margin-top: 25px;
font-size: 16px;
font-weight:bold;


}

#formulaire_avancee input.text{
margin-top: 5px;
width:130px;
border:0px;
}

#formulaire_avancee select{
margin-top:15px;

}

.formulaire_recherche_avancee input.submit{height:25px;width:20px;font-size:0;background-repeat:no-repeat;background-color:transparent;cursor:pointer}
