<plugin>
        <nom>
           g&#233;n&#233;rateur de contenu
        </nom>
        <auteur> 
           <multi>
					[fr]cy_altern
_ &#169; 2007 - Distribu&#233; sous licence GNU/LGPL
					[en]cy_altern - distributed under GNU/GPL licence
					</multi>
        </auteur>
        <version>
        	 0.3
        </version>
        <etat>
          dev
        </etat>
        <description>
          Permet de cloner en xx exemplaires une rubriques "source" avec ses articles vers une rubrique "cible"
					<br />
					N'oubliez pas de configurer les secteurs contenant les rubriques "sources" et "cibles" 
					dans [l'interface de configuration->.?exec=cfg&amp;cfg=gener_cont]
					<!-- 	en tête du fichier /exec/gener_cont.php  -->
        </description>
				<lien>  
						http://extranet-eze.dyndns.org/portail/spip_SVN/
				</lien>
        <prefix>
            gener_cont
        </prefix>
        <!-- Definitions des fonctions qui s'inserent dans les pipelines -->
        <pipeline>
        		<nom>ajouter_boutons</nom>
        		<inclure>gener_cont_pipelines.php</inclure>
       	</pipeline>
</plugin>
