/* listes */
.liste_items {list-style:none;margin:1em 0;padding:0;border-top:1px solid #eee;clear:both;}
.liste_items li.item {border-bottom:1px solid #eee;padding:0.8em 0;}
.liste_items li.item:hover {background-color:#eee;}
.liste_items li.item.on {background-color:#F4FFBF;}
.liste_items li.item.on:hover {background-color:#EEFF9F;}
