/* listes */
.liste_items {list-style:none;margin:1em 0;padding:0;border-top:1px solid #ddd;clear:both;}
.liste_items li.item {border-bottom:1px solid #ddd;padding:0.4em 0;}
.liste_items li.item:hover {background-color:#eee;}
.liste_items li.item.on {background-color:#F4FFBF;font-weight:normal;}
.liste_items li.item.on:hover {background-color:#EEFF9F;}

/* vevent */
li.item div.vevent h3 {margin:0;font-size:1.1em;}
li.item div.vevent p {margin-bottom:0;}
li.item div.vevent p.date {margin-top:0;}
ul.evenements li.item.court p {display:none;}

/* liste des evenements */
.plier_deplier {float:right;font-size:0.9em;}
.evenements li.item {padding-left:130px;}
.evenements li.item .jour {width:120px;margin-left:-130px;float:left;display:inline;position:relative;}

li.item .repetitions {margin-top:0.5em;font-size:0.9em;}
li.item .repetitions ul,
li.item .repetitions li {display:inline;margin:0;padding:0;}

.evenements p.actions {text-align:right;font-size:0.9em;margin:0;}

.clicable {cursor:hand;cursor:pointer;}

/* sur la fiche article */
.articles .fiche_objet .plier_deplier {float:right;font-size:0.9em;}
.articles .fiche_objet .evenements li.item {padding-left:100px;}
.articles .fiche_objet .evenements li.item .jour {width:95px;margin-left:-100px;}
.articles .fiche_objet .evenements {font-size:0.9em;}
.articles .fiche_objet .evenements span.lien_article {display:none;}

/* edition d'un evenement */
.formulaire_editer_evenement .editer_horaire {padding:0;margin:-2em 0 0 0;float:right;}
.formulaire_editer_evenement .editer_horaire label {margin:0;display:inline;width:auto;float:none;}
.formulaire_editer_evenement li.editer_date,
.formulaire_editer_evenement li.editer_date li {clear:left;}

.formulaire_editer_evenement input.date {width:7em;}
.formulaire_editer_evenement span.afficher_horaire label {float:none;display:inline;padding:0;margin:0;}
.formulaire_editer_evenement input.heure {width:5em;}