/*************** LOCUTIONS ETRANGERES */
.champ span[lang], .markItUpPreview span[lang] { background-color: #eef; }
.champ div[lang], .markItUpPreview div[lang] { background-color: #eef; }
.champ div[lang]:after, .champ span[lang]:after, .markItUpPreview div[lang]:after, .markItUpPreview span[lang]:after { content: " [" attr(lang) "] "; color:#009;  font-size: 0.7em; position: relative; top: -0.6em; }