.formidable_tablesorter #conteneur, .formidable_tablesorter #contenu{
	width:100%;
}
.formidable_tablesorter .boutons{
	text-align:left;
}
.boutons > * {
	display:inline;
}
.tablesorter-ignoreRow th {
	border:1px black solid;
	text-align:center;
	font-size:1.25em;
	padding-top:1em;
	padding-bottom:1em;
}
#columnSelector label{
	display:block;
}
}
#colSelect1:checked + label {
  background: #5797d7;
  border-color: #555;
}
#colSelect1:checked ~ #columnSelector {
  display: block;
}
#columnSelector {
  display: none;
}


