<plugin>
    <nom>pgn4spip</nom>
    <version>2.61.0</version>
	<auteur>Matt Chesstale</auteur>
	<icon>pgn4spip.png</icon>
	<licence>GNU GPL 3.0 - &#169; 2012</licence>
    <prefix>pgn4spip</prefix>
	<description>
		<multi>
		[en] &#91;pgn&#93; 1. e4 Nf6 &#91;/pgn&#93; in your articles. 
		Help: click the chessboard.<br/>
		Based on Paolo Casaschi's [pgn4web->http://pgn4web.casaschi.net] 2.61
		[fr] &#91;pgn&#93; 1. e4 Nf6 &#91;/pgn&#93; dans vos articles. 
		Aide : cliquer sur l'&#233;chiquier.
		Bas&#233; sur [pgn4web->http://pgn4web.casaschi.net] 2.61 de Paolo Casaschi.
		</multi>
	</description>
	<lien>http://contrib.spip.net/pgn4spip</lien>
	<etat>stable</etat>
    <pipeline>
        <nom>pre_propre</nom>
        <action>prepropre</action>
        <inclure>pgn4spip_fonctions.php</inclure>
    </pipeline>	
    <pipeline>
        <nom>post_propre</nom>
        <action>postpropre</action>
        <inclure>pgn4spip_postpropre.php</inclure>
    </pipeline>	
    <options>pgn4spip_options.php</options>
	<categorie>divers</categorie>
	<necessite id="SPIP" version="[2.0.0;3.0.99]" />
	<utilise id="cfg" version="[1.15.2]" />	
</plugin>