/* Dewplayer */
.mejs__container.mejs__eraplayer {
	background: none;
	height:20px !important;
	width:24px !important;
	margin: 0 auto;
}
.mejs__eraplayer .mejs__controls {
	background: none;
	height:20px;
}
.mejs__eraplayer .mejs__controls .mejs__playpause-button {
	width: 24px;
	height:20px;
}
.mejs__eraplayer .mejs__controls .mejs__playpause-button button {
	position:relative;
	background: url(img/controls-eraplayer.png) no-repeat center -2px;
	width: 24px;
	height:20px;
	margin: 0;
}
.mejs__eraplayer .mejs__controls .mejs__playpause-button button:hover {
	background-position: center -26px;
}


.mejs__eraplayer .mejs__controls .mejs__time-rail {
	display: none;
}
.mejs__eraplayer .mejs__controls .mejs__currenttime-container {
	display: none;
}
.mejs__eraplayer .mejs__controls .mejs__duration-container {
	display: none;
}
.mejs__eraplayer .mejs__controls .mejs__volume-button {
	display: none;
}
.mejs__eraplayer .mejs__controls .mejs__horizontal-volume-slider {
	display: none;
}