<plugin>
	<nom>Loupe Photo</nom>
	<slogan>Un mod&#232;le pour afficher une loupe sur une image</slogan>
	<auteur>[Pierre Andrews->mortimer.pa@free.fr], J&#224;nos T&#242;th</auteur>
	<licence>GNU/GPL</licence>
	<version>0.1.0</version>
	<etat>stable</etat>
	<description>
	  Ce plugin ajoute un mod&#232;le pour afficher une loupe et offrir un agrandissement localis&#233; : <code><img|zoom></code>.

Encore mieux, on peut utiliser une image de plus forte r&#233;solution pour l'agrandissement, mais laisser une petite vignette pour l'image de base.

La page de configuration permet de sp&#233;cifier un style pour la loupe et des styles personalis&#233;s peuvent&#234;tre cr&#233;&#233;s.

Le code est bas&#233; sur [TJPZoom->http://valid.tjp.hu/tjpzoom/] par J&#224;nos T&#242;th.

Le plugin ne marche qu'avec les squelettes utilisant la balise <code>#INSERT_HEAD</code>

Si vous utilisez SPIP 1.9.2, il faut t&#233;l&#233;charger la biblioth&#232;que javascript [TJPZoom->http://valid.tjp.hu/tjpzoom/tjpzoom.zip] et placer le contenu de l'archive dans un r&#233;pertoire {tjpzoom} dans votre r&#233;pertoire {squelettes}. Si vous avec SPIP 2, cela sera fait automatiquement pour vous.
	</description>
	<prefix>tjpzoom</prefix>
	<lien>http://contrib.spip.net/Une-Loupe-pour-les-Vignettes</lien>

	<pipeline>
		<nom>insert_head</nom> 
		<inclure>tjpzoom_pipelines_public.php</inclure>
	</pipeline>

	<pipeline>
	  <nom>header_prive</nom>
	  <inclure>tjpzoom_pipelines_public.php</inclure>
	</pipeline>


	<necessite id="SPIP" version="[1.9.0;2.0.99]" />
	<necessite id='CFG' version='[1.10.3;]' />
	<necessite id="lib:tjpzoom" src="http://valid.tjp.hu/tjpzoom/tjpzoom.zip" />
	<categorie>multimedia</categorie>
	<traduire gestionnaire="salvatore" module="tjpzoom" reference="fr" />
</plugin>