<plugin>
	<nom>Formidable, générateur de formulaires</nom>
	<auteur>RastaPopoulos</auteur>
	<licence>GPL v3</licence>
	<version>0.1</version>
	<version_base>0.1</version_base>
	<etat>dev</etat>
	<description>Génère des formulaires à partir de descriptions sérialisées.</description>
	<lien>http://www.spip-contrib.net/Formidable-le-generateur-de</lien>
	<icon>images/formidable-64.png</icon>
	
	<prefix>formidable</prefix>
	
	<install>base/formidable_installation.php</install>
	<options>formidable_options.php</options>
	
	<pipeline>
		<nom>autoriser</nom>
		<inclure>inc/formidable_autoriser.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/formidable_tables.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/formidable_tables.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/formidable_tables.php</inclure>
	</pipeline>
	<pipeline>
		<nom>rechercher_liste_des_champs</nom>
		<inclure>base/formidable_tables.php</inclure>
	</pipeline>
	
	<bouton id="formulaires" parent="naviguer">
		<icone>images/formulaire-24.png</icone>
		<titre>formidable:bouton_formulaires</titre>	
		<url>formulaires_tous</url>	
	</bouton>
	
	<necessite id="SPIP" version="[2.0.10;]" />
	<necessite id="cfg" version="[1.14.1;]" />
	<necessite id="spip_bonux" version="[1.8.8;]" />
	<necessite id="saisies" version="[1.6.8;]" />
	<necessite id="verifier" version="[0.1;]" />
	<necessite id="yaml" version="[1.1;]" />
</plugin>

