<plugin>
	<nom>Lire aussi... (groupes d'articles)</nom>
	<auteur>ARNO*</auteur>
	<version>1.0</version>
	<version_base>1.0</version_base>
	<etat>stable</etat>
	<description>
		Ce plugin permet de grouper des articles, 
		afin de proposer ponctuellement des articles en "lire aussi..." 
		sans avoir &agrave; cr&eacute;er des mots-cl&eacute;s &agrave; chaque occasion.
	</description>
	<lien></lien> <!-- URI de documentation -->
	<prefix>lire_aussi</prefix>
	<install>base/lire_aussi_install.php</install>
	<pipeline>
		<nom>affiche_milieu</nom>
		<action>interface</action>
		<inclure>lire_aussi.php</inclure>
	</pipeline>
	
	<categorie>navigation</categorie>
	<necessite id="SPIP" version="[1.9.0;]" />
	
</plugin>

