<plugin>
	<nom>
		<multi>
			[fr]Galleria plugin pour SPIP
			[en]Galleria plugin for SPIP
		</multi>
	</nom>
	<auteur>LUU-THO Th&#224;nh
_ [emthanh@free.fr->emthanh@free.fr]	
	</auteur>
	<slogan>
		<multi>
			[fr]Galerie d'image avec Galleria
			[en]Image gallery with Galleria
		</multi>
	</slogan>
	<version>1.3.2</version>
	<icon>galleria.png</icon>
	<etat>stable</etat>
	<description>
		<multi>
			[fr]Une galerie d'images qui utilise la librairie javascript Galleria. Le plugin propose un mod&#232;le SPIP galleria.
			SPIP n&#233;cessite le plugin {{jQuery}} pour les versions de SPIP &lt; 1.9.2
 
Vous pouvez cr&#233;er des galeries d'images qui utilisent la librairie javascript Galleria.
_ Pour cr&#233;er une galerie d'images, ajoutez une balise &lt;galleriaXX&gt; dans un article ,ou XX est l'ID de l'article.
 
Les options du mod&#232;le sont :
-* width
-* height
-* lightbox :[true|false]
-* transition :[fade|flash|pulse|slide|fadeslide|doorslide]
-* theme : le nom d'un theme Galleria
-* pagesize : le nombre d'image par page
 
ex : <code><galleria22></code> une galerie dans l'article 22 ; <code><galleria22|lightbox=true></code> activation de l'effet lightbox.
[emthanh@free.fr->mailto:emthanh@free.fr] 
[Le site du plugin->http://www.spip-contrib.net/Galleria]
[Galleria, librairie javascript->http://galleria.aino.se/]
| version 1.3.1 | fix plusieurs galleries |
| version 1.3.0 | galleria js librairie 1.2.9 |
| version 1.2.0 | galleria js librairie 1.2.7 |
| version 1.1.0 | 90% des options de galleria |
| version 1.0.0 | support des options essentielles |
[en]An image gallery that use the javascript library Galleria.The plugin implement a SPIP modele galleria.
spip need the plugin {{jQuery}} for the SPIP version  &lt; 1.9.2
 
You can create image gallery that use the javascript librairy Galleria.
_ To create an image gallery add this tag &lt;galleria##> in an article where ## is the ID of the article.
 
The options of the modele are :
-* width
-* height
-* lightbox :[true|false]
-* transition :[fade|flash|pulse|slide|fadeslide|doorslide]
-* theme : the name of the Galleria theme
-* pagesize : the number of image per page
 
ex : <code><galleria22></code> a gallery in the article 22 ; <code><galleria22|lightbox=true></code> activate the lightbox effect.
[emthanh@free.fr->mailto:emthanh@free.fr] 
[the plugin's website->http://www.spip-contrib.net/Galleria]
[Galleria, javascript library->http://galleria.aino.se/]
| version 1.3.1 | fix several galeries |
| version 1.3.0 | galleria js librairy 1.2.9 |
| version 1.2.0 | galleria js librairy 1.2.7 |
| version 1.1.0 | 90% of the Galleria's options |
| version 1.0.0 | support of the critical options |
		</multi>
	</description>
	<necessite id="SPIP" version="[1.9.2;3.0.99]" />
	<categorie>multimedia</categorie>
	<lien>http://www.spip-contrib.net/Galleria</lien>
	<prefix>galleria</prefix>
	<pipeline>
	 <nom>insert_head</nom>
	 <inclure>galleria_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>galleria_pipelines.php</inclure>
		<action>insert_head</action>
	</pipeline>
    <fonctions>galleria_functions.php</fonctions>
</plugin>
