<plugin>
	<nom> <!-- Nom du plugin -->
	revision_nbsp
	</nom>
	<auteur>	<!-- Auteur du plugin -->
 	fil@rezo.net
_ &copy; 2005 - Distribue sous licence GNU/GPL
	</auteur>
	<version>
	0.1
	</version>
	<description>
	Dans l'espace prive, souligne en grise les espaces insecables
	</description>
	<!-- classe d'implementation : espace de nommage qui prefixera les appels de fonction
	sur le mode Rien::
	ainsi les fonctions hors espace de nommage ne peuvent etre appelees
	ce parametre est obligatoire et doit etre non vide
	-->
	<class> 
	RevisionNbsp
	</class>
	<!-- Definitions des fonctions qui s'inserent dans les pipelines -->
	<pipeline>
		<nom>post_typo</nom>
		<action>revision_nbsp</action>
		<inclure>revision_nbsp.php</inclure>
	</pipeline>
	<!-- Le parametre action est facultatif : en son absence la methode de la classe portant le nom du pipeline est appelee. Le parametre inclure est facultatif.	-->
</plugin>