<plugin>
	<nom>R&#233;vision ins&#233;cables &#38; notes</nom>
	<slogan>Faciliter la relecture et l'insertion de notes</slogan>
	<auteur>fil@rezo.net</auteur>
	<licence>&#169; 2005-2011 - GNU/GPL</licence>
	<version>0.4.0</version>
	<etat>stable</etat>
	<description>
	Dans l'espace priv&#233;:
-* souligne en gris les espaces ins&#233;cables, en orange les sauts de ligne, pour faciliter la relecture
-* propose un bouton pour transformer les notes r&#233;dig&#233;es &#171; en dur &#187; -- de la forme (1), (2), (3)... -- en raccourcis SPIP.
	</description>
	<prefix>RevisionNbsp</prefix>
	<pipeline>
		<nom>post_typo</nom>
		<action>revision_nbsp</action>
		<inclure>revision_nbsp.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_droite</nom>
		<action>ajoute_bouton_corriger_les_notes</action>
		<inclure>revision_nbsp.php</inclure>
	</pipeline>
	<categorie>edition</categorie>
	<necessite id="SPIP" version="[1.9.2;2.0.99]" />
</plugin>
