/* formulaire editer seance */
#formulaire_seance select {
	font-size: 1em;
	width: auto;}

#formulaire_seance li {
	padding-left: 90px;}

#formulaire_seance label {
	margin-left: -80px;
	width: 60px;}