<plugin>
	<nom>
	jtransition
	</nom>
	<auteur>
    christophe vallois
	</auteur>
	<version>
		0.1
	</version>
	<etat>
		dev
	</etat>
	<description>
Affiche al&eacute;atoirement 5 images tir&eacute;es de l'ensemble des images du site et les affiches dans un encadr&eacute; avec un le javascript Plugin cycle<br/>
 
	</description>
	<icon>css/images/logo_article.png</icon>
	<lien>http://contrib.spip.net/Une-image-aleatoire-en-page-d-accueil-ou-ailleurs</lien>
	<prefix>
	jtransition
	</prefix>
	<necessite id="SPIP" version="[1.9.0;]" />
	<necessite id='cfg' version='[1.3.8;]' />



</plugin>