/* --------------------------------------------------------------
   qr.css
   Style des Questions-Réponse
   inspiré du plugin FAQ et définitions de romy.tetue.net
-------------------------------------------------------------- */

dl.qr { border: 0; }
dl.qr dt,
dl.qr dd { padding: .4em; background: inherit; border: 0; }
dl.qr dt { position: relative; padding-right: 3em; background-color: #ddd; margin-bottom: .4em; }
dl.qr dt .retour { display: block; position: absolute; top: 0; right: 0; padding: .4em .5em 0 0; text-align: right; font-weight: normal; }
dl.qr dd { margin-left: 1em; margin-bottom: 2em; padding-right: 1em; border-left: 1px solid #ddd; }

@media print { dl.qr dd { display: block !important; } }
