/*  ----------------------------------------------------------- */
/*  Feuilles de styles des squelettes par defaut pour SPIP 1.9  */
/*  ----------------------------------------------------------- */

/* taille typo
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur MSIE
 */

/*  ------------------------------------------
/*  Correction des styles HTML par defaut
/*  ------------------------------------------ */
body {
	background: #FFF;
	margin: 1.5em;
	text-align: center;
	font-size: 1em;
	color: #333;
}

img, table { margin: 0; padding: 0; border: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 1em; font-weight: normal; }

/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */
#page {
	width: 920px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#conteneur { width: 100%; }

#conteneur #contenu {
	float: left;
	width: 700px;
}

#conteneur #navigation {
	float: right;
	width: 200px;
	text-align: center;
}

/* Blocs du contenu (c-a-d. la colonne principale) */
#contenu .contre-encart {
	float: left;
	width: 21em;
}

#contenu .encart {
	float: right;
	width: 11em;
	margin: 0;
	margin-bottom: 1em;
}

/* Entete */
#entete {
	width: 100%;
	border-bottom: 2px solid #333; }
#entete #nom_site_spip, #entete a .spip_logos {
	display: block;
	float: left;
	font-weight: bold;
	font-size: 1.5em; }
#entete a { text-decoration: none; }
#entete .formulaire_recherche { float: right; }

/* Fil d'Ariane */
#hierarchie {
	clear: both;
	margin-bottom: 2em;
	font-size: 0.77em; }

/* Pied de page */
#pied {
	clear: both;
	width: 100%;
	margin-top: 4em;
	border-top: 1px dotted #CCC;
	padding: 2px;
	text-align: center; }
#pied small { font-size: 0.77em; }
#pied img { vertical-align: bottom; }

/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: none; height: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }


/*  ------------------------------------------
/*  Typographie generale du site
/*  ------------------------------------------ */

/* Typo pour les menus et la navigation */
body, #navigation, .encart, .formulaire_spip {
	font-family: Verdana, Tahoma, Arial, sans-serif; }

/* Typo pour le contenu */
#contenu {
	font-family: "Trebuchet MS", Helvetica, sans-serif; }

/* Typo pour les citations et extraits introductifs */
q, blockquote, .liste-articles li .texte, h3.spip, .voirskel {
	font-family: Georgia, Times, serif; }


/*  ------------------------------------------
/*  Habillage des menus et de la navigation
/*  ------------------------------------------ */

/*  Habillage general des menus de navigation
---------------------------------------------- */
.rubriques, .breves, .syndic, .forums, .divers {
	min-width: 10em;
	border: 1px solid #CCC;
	margin-bottom: 1em;
	font-size: 0.77em;
}

.menu-titre {
	padding: 0.2em 0.4em;
	border-bottom: 1px dotted #CCC;
	text-align: center;
	font-weight: bold;
}

#navigation p, .encart p { margin: 0; padding: 0.2em 0.7em; text-align: left;  }
#navigation ul, .encart ul { margin: 0; padding: 0.2em 0; text-align: left; list-style: none; }
#navigation li, .encart li { margin: 0; padding: 0 0.7em; }

/*  Des couleurs specifiques selon les types de menus
---------------------------------------------- */
.rubriques { background: #EAFFEA;}
.rubriques .menu-titre { background: #F2FFF2; }

.breves { background: #FFEAEA; }
.breves .menu-titre { background: #FFF2F2; }

.syndic { background: #E8F8F8; }
.syndic .menu-titre { background: #F0FCFC; }

.forums { background: #EAEAFF; }
.forums .menu-titre { background: #F2F2FF; }

.divers { background: #F8F8E8; }
.divers .menu-titre { background: #FCFCF0; }

/*  ------------------------------------------
/*  Habillage du contenu
/*  ------------------------------------------ */

/*  Cartouche et titraille
---------------------------------------------- */
.cartouche { margin-bottom: 2em; }

.cartouche .titre {
	font-size: 1.27em;
	font-weight: bold;
	color: #000; }
#contenu .surtitre, #contenu .soustitre { font-size: 0.82em; }

.cartouche .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px; }

.cartouche p { margin: 0; padding: 0; clear: left; }
.cartouche small { font-size: 0.71em; }

.cartouche .traductions { font-size: 0.71em; }
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-left: 1em; }


/*  Mise en forme des textes du contenu
---------------------------------------------- */
.chapo {
	margin-bottom: 1.5em;
	font-weight: bold;
	line-height: 1.4em; }

.lien {
	background: #EEE;
	margin: 1em;
	margin-bottom: 1.5em;
	padding: 0.82em;
	border: 1px solid #CCC;
	font-size: 0.82em;
	font-weight: bold; }

.texte { color: #000; font-size: 0.96em; }

.ps, .notes {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
.ps { font-size: 0.82em; }
.notes { clear: both; font-size: 0.77em; }
.ps h2, .notes h2 { font-size: 1.19em; font-weight: bold; }

/*  Portfolio
---------------------------------------------- */
#documents_portfolio {
	clear: both;
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_portfolio h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }

#document_actif { margin-top: 1em; }

/*  Listes de documents joints (a un article ou une rubrique)
---------------------------------------------- */
#documents_joints {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_joints h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }
#documents_joints ul { margin: 0; padding: 0; list-style: none; }
#documents_joints li { margin-bottom: 0.4em; }
#documents_joints li .spip_doc_titre {}
#documents_joints li .spip_doc_titre small { font-weight: normal; }
#documents_joints li .spip_doc_descriptif {}

/* Listes d'articles et extraits introductifs
----------------------------------------------- */
.liste-articles ul { margin: 0; padding: 0; list-style: none; }
.liste-articles li { margin-bottom: 1em; clear: both; }

.liste-articles li .titre {
	font-size: 1.03em;
	font-weight: bold; }

.liste-articles li .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px;
	clear: right; }

.liste-articles li p { margin: 0; padding: 0; }

.liste-articles li .enclosures {
	float: right;
	text-align: right;
	max-width: 60%;
	margin: 0; }

.liste-articles li small {
	display: block;
	font-size: 0.71em; }

.liste-articles li .texte {
	margin-top: 5px;
	margin-bottom: 2em;
	border: 1px solid #CCC;
	padding: 0.9em;
	font-size: 0.82em;
	line-height: 1.4em; }

.pagination { font-size: 0.90em; }

/*  ------------------------------------------
/*  Habillage specifique du plan du site
/*  ------------------------------------------ */

.page_plan .cartouche { display: none; }

.page_plan #contenu h2 {
	clear: both;
	background: #EEE;
	border: 1px solid #CCC;
	padding: 0.5em;
	margin-bottom: 1em;
	font-weight: bold;
	text-align: center; }

.page_plan #contenu .contre-encart ul {
	display: block;
	clear: left;
	margin-top: 0;
	margin-bottom: 1em;
	padding-top: 0; }
.page_plan #contenu .contre-encart li {}

/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */

.formulaire_spip { text-align: left; font-size: 0.77em; }
.formulaire_spip p { margin: 0.5em 0; padding: 0; }

.formulaire_spip fieldset {}
.formulaire_spip legend {}

.formulaire_spip label {}
.formulaire_spip .forml { width: 99%; font-family: inherit; font-size: inherit; }

/* Boutons */
.spip_bouton { text-align: right; }
.spip_bouton input { float: right; }

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #e86519; }
fieldset.reponse_formulaire { border-color: #e86519; font-weight: normal; }

/* Previsualisation du message */
fieldset.previsu { padding: 1em; }

/* Formulaire de login au forum */
.formulaire_login_forum .forml { width: 12em; }
.formulaire_login_forum .spip_logos { float: right; padding-left: 10px; }

/* Choix des mots-clefs */
ul.choix_mots { float: left; width: 47%; margin: 0; padding: 0; list-style: none; } 
ul.choix_mots label { display: inline; }

/* Formulaire de recherche */
.formulaire_recherche { width: 12em; text-align: left; }
.formulaire_recherche label { display: none; }

/*  ------------------------------------------
/*  Habillage des forums
/*  ------------------------------------------ */

.forum-repondre, .forum-decompte {
	clear: both;
	margin-top: 2.5em;
	padding-top: 2px;
	border-top: 2px solid #CCC;
	font-size: 0.88em;
	font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }
.forum-fil { margin-top: 1.5em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; text-decoration: none; color: #333; }
.forum-chapo small {}
.forum-texte { margin: 0; padding: 0.5em 1em 0 1em; color: #333; font-size: 0.82em; }
.forum-texte .forum-lien {}
.forum-texte .forum-repondre-message { margin: 0; padding: 1px 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: none; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; font-size: 0.88em; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }

/*  ------------------------------------------
/*  Habillage des petitions
/*  ------------------------------------------ */

#signatures { clear: both; font-size: 0.77em; }

#signatures h2 {
	padding: 0.5em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold; }

#signatures table { width: 100%; margin: 1em 0; }
#signatures thead { display: none; } /* On n'affiche pas les titres du tableau */

#signatures td.signature-date {
	background: #E4F0F0;
	padding: 0.5em;
	white-space: nowrap; }

#signatures td.signature-nom {
	background: #ECF4F4;
	padding: 0.2em;
	text-align: center;
	font-weight: bold; }

#signatures td.signature-message {
	background: #F4F8F8;
	padding: 0.4em;
	font-size: 0.96em; }

/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */
a { text-decoration: none; color: #333; }
a:hover { text-decoration: underline; }



/* styles thelia */

.titrePage {
	text-align: left;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
}

.sousTitrePage {
	color: #12335B;
	text-align: left;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

.textePage {
	color: #141414;
	text-align: left;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

.separation {
	height: 1px;
	background-color: #7f8eb9;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow:hidden;
	zoom:1;
}




/* Entête
-------------------------------------------------------- */


.logo {
	float: left;
	width: 260px;
	margin: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
}

#monCompte {
	float: left;
	width: 400px;
	margin: 0;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #FFFFFF;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
}

.formMonCompte {
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 0;
	margin-top: 0;
	margin-right: 3px;
	margin-bottom: 0;
	margin-left: 0;
}

.blocMonCompte {
	float: left;
	padding:0;
	margin: 0;
}

.champFormMonCompte {
	font-size: 0.9em;
	padding: 0;
	margin: 0;
	color: #12335B;
	background-color: #e9f4fb;
	border: 1px solid #12335B;
	overflow: hidden;
	zoom: 1;
}

.menuMonCompte {
	float: left;
	color: #a9c9e9;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	width: 100%;
	padding: 0;
}

#monPanier {
	float: left;
	width: 250px;
	margin: 0;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #FFFFFF;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
}

.boutonMonCompteEntete {	
	float: left;
	margin: 0;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

a.LIEN_entete:link {
	font-size: 0.8em;
	color: #a9c9e9;
	text-decoration: none;
	font-weight: bold;
}

a.LIEN_entete:visited {
	font-size: 0.8em;
	color: #a9c9e9;
	text-decoration: none;
	font-weight: bold;
}

a.LIEN_entete:hover {
	font-size: 0.8em;
	color: #a9c9e9;
	text-decoration: underline;
	font-weight: bold;
}



/* Produit petit & grand
-------------------------------------------------------- */

.ListeProduitsPetits {
	float: left;
	margin: 0;
	padding: 0;
}

.produitPetit {
	float: left;
	width: 170px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 0;
	padding: 0;
}

.contourImage {
	border: 1px dashed #cccccc;
	margin-bottom: 5px;
	float: left;
}

.titreProduit {
	color: #12335B;
	text-align: left;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
}

.chapoProduit {
	color: #12335B;
	text-align: left;
	font-style: italic;
	font-size: 0.9em;
	line-height: 1.2em;
	margin-bottom: 5px;
	width: 100%;
}

.descriptionProduit {
	color: #12335B;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 10px;
}

.prixProduit {
	color: #EC8000;
	text-align: left;
	font-weight: bold;
	margin-top: 5px;
}

.ficheProduit {
	float:left;
	width: 470px;
	margin-left: 10px;
}


a.LIEN_commander {
	color: #acac90;
	text-decoration: none;
	font-weight: bold;
}



/* Nombre de pages
-------------------------------------------------------- */

#pages {
	float: left;
	text-align: right;
	font-size: 0.9em;
	padding-top: 10px;
	margin: 0;
	padding-bottom: 10px;
	color: #12335B;
}

a.LIEN_pages:link {
	color: #12335B;
	text-decoration: none;
	font-weight: bold;
}

a.LIEN_pages:visited {
	color: #12335B;
	text-decoration: none;
	font-weight: bold;
}

a.LIEN_pages:hover {
	color: #12335B;
	text-decoration: underline;
	font-weight: bold;
}


/* Pied de page
-------------------------------------------------------- */

#footer{
	float: left;
	width: 960px;
	color: #0066CC;
	font-size: 0.9em;
	text-align: right;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #0066CC;
	margin: 10px;
	padding-top: 10px;
}

a.LIEN_footer:link {
	color: #0066CC;
	text-decoration: none;
	font-weight: bold;
}

a.LIEN_footer:visited {
	color: #0066CC;
	text-decoration: none;
	font-weight: bold;
}

a.LIEN_footer:hover {
	color: #0066CC;
	text-decoration: underline;
	font-weight: bold;
}

/* Divers éléments de formulaires & tableaux
-------------------------------------------------------- */

.enteteTableau {
	font-weight: bold;
	border: 1px dashed #cccccc;
}

.ligneTableau {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c6cdde;
	font-size: 0.9em;
}

.footerTableau {
	color: #12335B;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}

.boutonMonCompteContenu {
	font-weight: bold;
	text-align: right;
	margin: 10px;
}

.zoneDeSaisie {
	color: #12335B;
	font-weight: bold;
	font-size: 0.9em;
}

.obligatoire {
	color: #FF0000;
}

.commentaires {
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
	color: #12335B;
}


/* Menu général
-------------------------------------------------------- */

#menuGeneral {
	float: left;
	width:175px;
	padding: 0;
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 10px;

}


dl, dt, dd, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu {
	position: relative;
	padding: 0;
	margin: 0;
}

dl#menu {
	width: 175px;
}


dl#menu dt {
	cursor: pointer;
}

dl#menu dt a {
	font-size: 1.2em;
	color: #ec8000;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin: 0;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 5px;
	overflow: hidden;
	zoom: 1;
}

dl#menu dt a:hover, dl#menu dt .selected {
	color: #FFFFFF;
	background-color: #EC8000;
}

dl#menu dd {
}

dl#menu li {
}

dl#menu li a {
	font-size: 1em;
	color: #EC8000;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin:0;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
	zoom: 1;
}

dl#menu li a:hover, dl#menu li .selected {
	color: #FFFFFF;
	background-color: #EC8000;
}

.invisibleW3C {
	width: 0; 
	height: 0;
	padding: 0; 
	margin: 0;
}

/* Signature
-------------------------------------------------------- */

#signature {
	padding: 0;
	width: 980px;
	color: #808185;
	font-size: 0.8em;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	font-weight: bold;
}

.W3C {
	width: 88px;
	margin: 0;
	padding: 0;
	float: right;
}

a.LIEN_signature:link {
	color: #808185;
	text-decoration: none;
	font-weight: bold;
}

a.LIEN_signature:visited {
	color: #808185;
	text-decoration: none;
	font-weight: bold;
}

a.LIEN_signature:hover {
	color: #808185;
	text-decoration: underline;
	font-weight: bold;
}


/* style propre aux modeles <produit>*/

#contenu .produits_thelia {
	width: 200px;
	clear: right;
	text-align: left;
	border: 1px dashed #cccccc;
	padding: 1em;
}
a.spip_url {
	color: #acac90;
}
