/* 

	// exec/barrac_public.css
	
	// $LastChangedRevision: 16668 $
	// $LastChangedBy: paladin@quesaco.org $
	// $LastChangedDate: 2007-11-07 10:33:02 +0100 (mer., 07 nov. 2007) $

*/

#barrac_boutons, #barrac_boutons *
, #barrac_boutons .item a:link, #barrac_boutons .item a:visited, #barrac_boutons .item a:hover, #barrac_boutons .item a:active {
	display:block;
	margin:0; padding:0;	border:0;
}
#barrac_boutons {
	position: absolute;
	width:42px; /* calculé par insert_head */
	height:42px; /* calculé par insert_head */
	z-index: 32000;
	list-style: none;
}
#barrac_boutons .item, #barrac_boutons .item a {
	display:block;
	width:24px;
	height:24px;
	background: url(none) no-repeat center center;
	overflow: hidden;
}
#barrac_boutons .item div { }

#barrac_boutons a:link, #barrac_boutons a:visited, #barrac_boutons a:hover, #barrac_boutons a:active {
	text-decoration: none;
}

