<plugin>
	<nom>Groupe de mots pour Zpip</nom>
	<slogan>Ajout d'une page groupe_mots.html pour zpip</slogan>
	<auteur>Denis Chenu et surtout Matthieu Marcillaud, C&#233;dric Morin, Romy Tetue, Collectif SPIP</auteur>
	<licence>GNU/GPL</licence>
	<icon>img/zgroupemots-64.png</icon>
	<version>2.0.0</version>
	<etat>stable</etat>
	<description>Avec ce plugin, une page pour les groupe de mots cl&#233;s est ajout&#233;e. On peut y acc&#233;der avec un lien directement dans son squelette <code>#URL_PAGE{groupes_mot,id_groupe=#ID_GROUPE}</code>.</description>
	<lien>http://contrib.spip.net/?article3341</lien>
	<prefix>zgroupemots</prefix>
	<categorie>navigation</categorie>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<necessite id="Z" version="[1.7.0;]" />
</plugin>
