<plugin>
	<nom>Associaspip</nom>
	<auteur>Fran&#231;ois de Montlivault</auteur>
	<version>1.9.1</version><!-- 0.50 -->
	<etat>test</etat>
	<lien>http://www.spip-contrib.net/1611</lien>
	<slogan>Gestion d'associations</slogan>
	<description>Gestion d'associations</description>
	<prefix>association</prefix>
	<fonctions>association_mes_fonctions.php</fonctions>
	<pipeline>
		<nom>ajouter_boutons</nom>
		<action>ajouterBoutons</action>
		<inclure>inc_association.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<action>header_prive</action>
		<inclure>association_mes_fonctions.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[1.9.0;1.9.1]" />
	<necessite id="Agenda" version="[0.11;0.12]" />
	<categorie>divers</categorie>
</plugin>
