.codewrap { border: 1px solid #333; background: #fff; font-size: 1rem; clear: both; position: relative }
.CodeMirror-fullscreen {
  z-index: 1200;
   /* height: auto; max-height: 550px; */
  }
.searched {background: yellow;}
