<plugin>
	<nom> <!-- Nom du plugin -->
	Notifications
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	fil@rezo.net
	</auteur>
	<version>
	0.3
	</version>
	<etat>
	dev
	</etat>
	<description>
		Active les notifications par email de certaines actions, notamment des forums et de la messagerie de l'espace priv&#233;.


	[Configuration par CFG->./index.php?exec=cfg&amp;cfg=notifications]
	</description>
	<prefix>
	Notifications
	</prefix>

	<pipeline>
		<nom>pre_edition</nom>
		<action>pre_edition</action>
		<inclure>notifications.php</inclure>
	</pipeline>

	<pipeline>
		<nom>notifications</nom>
		<!-- action vide pour provoquer l'inclusion de notifications.php -->
		<action>go</action>
		<inclure>notifications.php</inclure>
	</pipeline>

	<icon>notifications.png</icon>

	<pipeline>
		<nom>taches_generales_cron</nom>
		<inclure>cron.php</inclure>
	</pipeline>

	<necessite id='spip' version='[1.9259;]' />
	<necessite id='cfg' version='[0;]' />

</plugin>