<plugin>
	<nom>PageRank</nom>
	<slogan>Afficher le PageRank Google</slogan>
	<auteur>ARNO*</auteur>
	<version>0.2.0</version>
	<etat>stable</etat>
	<description>Ce plugin affiche le PageRank Google de votre site sur la page &#171;A suivre&#187;.</description>
	<lien>http://www.spip-contrib.net/Afficher-Pagerank</lien>
	<prefix>pb_pagerank</prefix>
	<options>pb_pagerank_options.php</options>
	<pipeline>
		<nom>affiche_gauche</nom>
		<action>interface</action>
		<inclure>pb_pagerank.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<action>header</action>
		<inclure>pb_pagerank.php</inclure>
	</pipeline>

	<necessite id="SPIP" version="[1.9.0;2.1.99]" />
	<categorie>statistique</categorie>
</plugin>