/* Oembed twitter */
.oe-tweet-block {}
.oe-tweet-user-screen_name,.oe-tweet-user-name {display: block;}
.oe-tweet-user-block img {float:left;margin-right: 10px;margin-bottom:10px;}
.oe-tweet-text {clear:left; font-size: 1.3em;margin: 10px 0;}

/* Oembed generique */
.oembed.oe-rich {display: block;background: #fff;padding: 10px;border: 1px solid #eee;margin: 1em 0;}
.oembed.oe-link.oe-rich .oe-html {display: block;}

.oe-reference {}
.oe-cite {}