/*
 * CodePress color styles for LilyPond syntax highlighting
 */
 
big, big i, big b, big strong, big ins, big cite, big em, big ins, big s, big i, big a {color:#EF952C;font-weight:normal;font-size:small;} /* comments */
i , i b, i em, i ins, i s  {color:#EF0ED5;} /* names etc */
u {background-color:red;font-size:3px;margin-left:2px;} /* end of lines*/
em {color:#000080;} /* blocs */
strong {color:#3FBBFF} /*markup commands*/
ins {color:#3398CF;font-weight:bold;} /*music functions and identifiers*/
cite {color:#447c44;font-weight:bold;} /*commands*/
span {color:green;font-weight:bold;} /*contexts, engravers, interfaces*/
s {color:red;font-weight:normal;} /* digits */
span {color:#800000;} /* polyphony */
a  {background-color:#CFD3FF}

