/* classes de positionnement */
.table {
  display: table; }

.td {
  display: table-cell;
  width: 100%;
  vertical-align: top; }

/* premier niveau de li */
li.saisie_liste {
  padding: 0 10px; }
  li.saisie_liste label {
    float: none;
    margin-left: 0; }

.saisie-liste {
  border: none; }
  .saisie-liste .objet {
    vertical-align: middle;
    text-align: center; }
  .saisie-liste .liste-saisies {
    margin: 0;
    padding: 0; }
    .saisie-liste .liste-saisies > li {
      padding: 5px;
      text-align: left; }
  .saisie-liste fieldset {
    border: none;
    margin: 0;
    padding: 0; }
  .saisie-liste > li {
    padding: 3px; }

/* effets pour jqueryui.sortable */
.saisie-liste.ui-sortable > li {
  cursor: move;
  border: 1px solid #D0D0D0;
  background-color: #F4F4F4;
  margin: 5px; }
  .saisie-liste.ui-sortable > li:hover {
    background-color: #EBE7E7;
    background-color: rgba(232, 232, 232, 0.69); }

/* Boutons */
.boutons-bouger {
  vertical-align: middle;
  width: 40px;
  padding-right: 5px; }
  .boutons-bouger input {
    border: none;
    text-indent: -99999px;
    cursor: pointer;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 0;
    width: 29px;
    height: 30px;
    background-position: 3px 4px;
    margin: 0; }
    .boutons-bouger input:hover, .boutons-bouger input:focus {
      box-shadow: 0px 0px 3px rgba(129, 129, 129, 0.46) inset; }
    .boutons-bouger input.bouton-monter {
      background-image: url("images/up-icon-24x24.png"); }
    .boutons-bouger input.bouton-descendre {
      background-image: url("images/down-icon-24x24.png"); }

.bouton-supprimer input {
  border: none;
  text-indent: -99999px;
  cursor: pointer;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("images/delete-icon.png");
  padding: 0;
  width: 20px;
  height: 20px;
  margin-left: 4px; }
  .bouton-supprimer input:hover, .bouton-supprimer input:focus {
    box-shadow: 0px 0px 3px rgba(129, 129, 129, 0.46) inset; }
